openapi: 3.2.0
info:
  title: Nexscope Ecommerce Data and Creative TikTok / Social…
  version: 2026-08-28-public-catalog-v1
  description: Nexscope APIs provide ecommerce marketplace intelligence and creative generation capabilities through REST and MCP. Authentication uses a Nexscope API key. Pricing is credit-based and actual usage varies by endpoint and workload; current estimates are shown in the Nexscope account.
  termsOfService: https://www.nexscope.ai/terms
  contact:
    name: Nexscope Support
    email: service@nexscope.ai
    url: https://www.nexscope.ai/api-docs
  license:
    name: Proprietary API; use subject to Nexscope Terms
    url: https://www.nexscope.ai/terms
servers:
- url: https://api.nexscope.ai
  description: Production
security:
- bearerAuth: []
tags:
- name: TikTok / Social Commerce
  description: TikTok Shop products, sellers, videos, creators, livestreams and rankings.
  x-category-slug: tiktok-social-commerce
paths:
  /api/skill-api/v1/skills/chuhaijiang-tiktok-creative-detail/run:
    post:
      tags:
      - TikTok / Social Commerce
      summary: Chuhaijiang TikTok Creative Detail
      description: Chuhaijiang TikTok Creative Detail. Execute only this operation; no automatic retries or pagination. Preserve provider fields and metric units.
      operationId: runChuhaijiangTiktokCreativeDetail
      externalDocs:
        description: Chuhaijiang TikTok Creative Detail documentation
        url: https://www.nexscope.ai/api-docs/chuhaijiang-tiktok-creative-detail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - country
              - id
              additionalProperties: false
              properties:
                country:
                  enum:
                  - br
                  - de
                  - es
                  - fr
                  - gb
                  - id
                  - it
                  - jp
                  - mx
                  - my
                  - ph
                  - sg
                  - th
                  - us
                  - vn
                  type: string
                  description: Lowercase request market. Returned country_code may differ; preserve both.
                id:
                  minLength: 1
                  type: string
                  description: Creative ID returned by its search operation. Keep identifiers as strings to avoid precision loss.
                include:
                  pattern: ^(analysis|embedding)(,(analysis|embedding))*$
                  type: string
                  description: 'Comma-separated expansions: analysis, embedding. Request only needed expansions.'
              type: object
            example:
              include: analysis,embedding
              country: us
              id: '7668708053428047118'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      items:
                        nullable: true
                        items:
                          properties:
                            id:
                              nullable: true
                              description: 'Creative author and product identity: id.'
                              type: string
                            video_id:
                              nullable: true
                              description: 'Creative author and product identity: video id.'
                              type: string
                            uid:
                              nullable: true
                              description: 'Creative author and product identity: uid.'
                              type: string
                            unique_id:
                              nullable: true
                              description: 'Creative author and product identity: unique id.'
                              type: string
                            nickname:
                              nullable: true
                              description: 'Creative author and product identity: nickname.'
                              type: string
                            share_url:
                              nullable: true
                              description: 'Creative author and product identity: share url.'
                              type: string
                            product_id:
                              nullable: true
                              description: 'Creative author and product identity: product id.'
                              type: string
                            product_name:
                              nullable: true
                              description: 'Creative author and product identity: product name.'
                              type: string
                            follower_count:
                              nullable: true
                              description: 'Author follower count: follower count.'
                              type: integer
                            product_images:
                              description: Provider product images. The source establishes this field name; preserve its runtime JSON type and missing values.
                          additionalProperties: true
                          type: object
                        type: array
                      embedding:
                        additionalProperties: true
                        properties:
                          items:
                            type: array
                            items:
                              properties:
                                id:
                                  type: string
                                  nullable: true
                                  description: 'Creative embedding identity: id.'
                                video_id:
                                  type: string
                                  nullable: true
                                  description: 'Creative embedding identity: video id.'
                                video_uri:
                                  type: string
                                  nullable: true
                                  description: 'Creative embedding identity: video uri.'
                                country_code:
                                  type: string
                                  nullable: true
                                  description: 'Creative embedding identity: country code.'
                                platform:
                                  type: string
                                  nullable: true
                                  description: 'Creative embedding identity: platform.'
                                embedding:
                                  type: array
                                  nullable: true
                                  description: Numeric embedding vector; returned only when requested. Avoid inlining the vector in summaries.
                                  items:
                                    type: number
                                matched_tags:
                                  description: Tags matched during creative embedding analysis; preserve the provider representation.
                                extracted_content:
                                  description: Content extracted for creative similarity analysis; preserve the provider representation.
                                video_cover:
                                  description: Creative video cover media; preserve the provider representation.
                              additionalProperties: true
                              type: object
                        type: object
                        nullable: true
                      analysis:
                        additionalProperties: true
                        properties:
                          items:
                            type: array
                            items:
                              properties:
                                id:
                                  type: string
                                  nullable: true
                                  description: 'Creative analysis identifier or classification: id.'
                                video_id:
                                  type: string
                                  nullable: true
                                  description: 'Creative analysis identifier or classification: video id.'
                                video_uri:
                                  type: string
                                  nullable: true
                                  description: 'Creative analysis identifier or classification: video uri.'
                                country_code:
                                  type: string
                                  nullable: true
                                  description: 'Creative analysis identifier or classification: country code.'
                                platform:
                                  type: string
                                  nullable: true
                                  description: 'Creative analysis identifier or classification: platform.'
                                hook_type:
                                  type: string
                                  nullable: true
                                  description: 'Creative analysis identifier or classification: hook type.'
                                hook_subtype:
                                  type: string
                                  nullable: true
                                  description: 'Creative analysis identifier or classification: hook subtype.'
                                formula_type:
                                  type: string
                                  nullable: true
                                  description: 'Creative analysis identifier or classification: formula type.'
                                formula_subtype:
                                  type: string
                                  nullable: true
                                  description: 'Creative analysis identifier or classification: formula subtype.'
                                angle_type:
                                  type: string
                                  nullable: true
                                  description: 'Creative analysis identifier or classification: angle type.'
                                angle_subtype:
                                  type: string
                                  nullable: true
                                  description: 'Creative analysis identifier or classification: angle subtype.'
                                is_aigc_video:
                                  type: boolean
                                  nullable: true
                                  description: 'Provider AIGC flag: is aigc video.'
                                transcription_with_structure:
                                  description: Creative transcription with provider structural annotations; preserve its original JSON representation.
                                video_cover:
                                  description: Creative video cover media; preserve the provider representation.
                                storyboards:
                                  description: Creative storyboard and scene analysis; preserve the returned structure.
                              additionalProperties: true
                              type: object
                        type: object
                        nullable: true
                    additionalProperties: true
                    type: object
                  errmsg:
                    type: string
                  request_id:
                    type: string
                  errcode:
                    type: integer
                additionalProperties: true
                type: object
              example:
                errmsg: ok
                errcode: 200
                data:
                  items: []
        '400':
          ? ''
          : '#/components/responses/BadRequest'
        '401':
          ? ''
          : '#/components/responses/Unauthorized'
        '403':
          ? ''
          : '#/components/responses/Forbidden'
        '429':
          ? ''
          : '#/components/responses/TooManyRequests'
        '500':
          ? ''
          : '#/components/responses/ServerError'
      x-nexscope-slug: chuhaijiang-tiktok-creative-detail
      x-nexscope-mcp-tool-name: nexscope_chuhaijiang_tiktok_creative_detail
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/chuhaijiang-tiktok-creative-search/run:
    post:
      tags:
      - TikTok / Social Commerce
      summary: Chuhaijiang TikTok Creative Search
      description: Chuhaijiang TikTok Creative Search. Execute only this operation; no automatic retries or pagination. Preserve provider fields and metric units.
      operationId: runChuhaijiangTiktokCreativeSearch
      externalDocs:
        description: Chuhaijiang TikTok Creative Search documentation
        url: https://www.nexscope.ai/api-docs/chuhaijiang-tiktok-creative-search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - country
              additionalProperties: false
              properties:
                country:
                  enum:
                  - br
                  - de
                  - es
                  - fr
                  - gb
                  - id
                  - it
                  - jp
                  - mx
                  - my
                  - ph
                  - sg
                  - th
                  - us
                  - vn
                  type: string
                  description: Lowercase request market. Returned country_code may differ; preserve both.
                page:
                  minimum: 1
                  default: 1
                  type: integer
                  description: Page number, starting at 1. No automatic pagination.
                pageSize:
                  minimum: 1
                  maximum: 10
                  type: integer
                  description: Items per page, from 1 to 10. Omission preserves the upstream default.
                keyword:
                  type: string
                  description: Creative search keyword.
                category:
                  type: string
                  description: Provider-approved creative category.
                hasProduct:
                  type: boolean
                  description: Whether products are associated.
                isSponsored:
                  type: boolean
                  description: Whether content is sponsored.
                isAigc:
                  type: boolean
                  description: Whether content is generated by AI.
                sort:
                  default: gmv:desc
                  pattern: ^[^:]+:(asc|desc)$
                  type: string
                  description: Provider-approved field followed by :asc or :desc. No complete field enum is published.
              type: object
            example:
              page: 1
              pageSize: 3
              country: us
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      items:
                        nullable: true
                        items:
                          properties:
                            id:
                              nullable: true
                              description: 'Creative identity and copy: id.'
                              type: string
                            video_id:
                              nullable: true
                              description: 'Creative identity and copy: video id.'
                              type: string
                            product_id:
                              nullable: true
                              description: 'Creative identity and copy: product id.'
                              type: string
                            author_uid:
                              nullable: true
                              description: 'Creative identity and copy: author uid.'
                              type: string
                            author_unique_id:
                              nullable: true
                              description: 'Creative identity and copy: author unique id.'
                              type: string
                            author_nickname:
                              nullable: true
                              description: 'Creative identity and copy: author nickname.'
                              type: string
                            video_desc:
                              nullable: true
                              description: 'Creative identity and copy: video desc.'
                              type: string
                            country_code:
                              nullable: true
                              description: 'Creative identity and copy: country code.'
                              type: string
                            platform:
                              nullable: true
                              description: 'Creative identity and copy: platform.'
                              type: string
                            follower_cnt:
                              nullable: true
                              description: 'Creative audience and engagement count: follower cnt.'
                              type: integer
                            video_play_count:
                              nullable: true
                              description: 'Creative audience and engagement count: video play count.'
                              type: integer
                            video_like_count:
                              nullable: true
                              description: 'Creative audience and engagement count: video like count.'
                              type: integer
                            video_comment_count:
                              nullable: true
                              description: 'Creative audience and engagement count: video comment count.'
                              type: integer
                            video_share_count:
                              nullable: true
                              description: 'Creative audience and engagement count: video share count.'
                              type: integer
                            video_collect_count:
                              nullable: true
                              description: 'Creative audience and engagement count: video collect count.'
                              type: integer
                            video_engagement_rate:
                              nullable: true
                              description: 'Provider engagement ratio: video engagement rate.'
                              type: number
                            video_30d_gmv:
                              nullable: true
                              description: 'Monetary metric with original unit and value: video 30d gmv.'
                              type: object
                            video_total_gmv:
                              nullable: true
                              description: 'Monetary metric with original unit and value: video total gmv.'
                              type: object
                            video_30d_gpm:
                              nullable: true
                              description: 'Monetary metric with original unit and value: video 30d gpm.'
                              type: object
                            video_launch_time:
                              description: Provider video launch time. The source establishes this field name; preserve its runtime JSON type and missing values.
                            video_date:
                              description: Provider video date. The source establishes this field name; preserve its runtime JSON type and missing values.
                            video_duration:
                              description: Provider video duration. The source establishes this field name; preserve its runtime JSON type and missing values.
                            content_intent:
                              description: Provider content intent. The source establishes this field name; preserve its runtime JSON type and missing values.
                            user_avatar:
                              description: Provider user avatar. The source establishes this field name; preserve its runtime JSON type and missing values.
                            is_aigc_video:
                              description: Provider is aigc video. The source establishes this field name; preserve its runtime JSON type and missing values.
                            content_tag_v2:
                              description: Provider content tag v2. The source establishes this field name; preserve its runtime JSON type and missing values.
                          additionalProperties: true
                          type: object
                        type: array
                      total_count:
                        type: integer
                        nullable: true
                    additionalProperties: true
                    type: object
                  errmsg:
                    type: string
                  request_id:
                    type: string
                  errcode:
                    type: integer
                additionalProperties: true
                type: object
              example:
                errmsg: ok
                errcode: 200
                data:
                  items: []
                  total_count: 0
        '400':
          ? ''
          : '#/components/responses/BadRequest'
        '401':
          ? ''
          : '#/components/responses/Unauthorized'
        '403':
          ? ''
          : '#/components/responses/Forbidden'
        '429':
          ? ''
          : '#/components/responses/TooManyRequests'
        '500':
          ? ''
          : '#/components/responses/ServerError'
      x-nexscope-slug: chuhaijiang-tiktok-creative-search
      x-nexscope-mcp-tool-name: nexscope_chuhaijiang_tiktok_creative_search
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/chuhaijiang-tiktok-ad-related-products/run:
    post:
      tags:
      - TikTok / Social Commerce
      summary: Chuhaijiang TikTok Ad Related Products
      description: Chuhaijiang TikTok Ad Related Products. Execute only this operation; no automatic retries or pagination. Preserve provider fields and metric units.
      operationId: runChuhaijiangTiktokAdRelatedProducts
      externalDocs:
        description: Chuhaijiang TikTok Ad Related Products documentation
        url: https://www.nexscope.ai/api-docs/chuhaijiang-tiktok-ad-related-products
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - country
              - id
              additionalProperties: false
              properties:
                country:
                  enum:
                  - br
                  - de
                  - es
                  - fr
                  - gb
                  - id
                  - it
                  - jp
                  - mx
                  - my
                  - ph
                  - sg
                  - th
                  - us
                  - vn
                  type: string
                  description: Lowercase request market. Returned country_code may differ; preserve both.
                id:
                  minLength: 1
                  type: string
                  description: Ad ID returned by its search operation. Keep identifiers as strings to avoid precision loss.
                page:
                  minimum: 1
                  default: 1
                  type: integer
                  description: Page number, starting at 1. No automatic pagination.
                pageSize:
                  minimum: 1
                  maximum: 10
                  type: integer
                  description: Items per page, from 1 to 10. Omission preserves the upstream default.
              type: object
            example:
              pageSize: 3
              page: 1
              country: us
              id: '7658119807128046879'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      items:
                        nullable: true
                        items:
                          properties:
                            id:
                              nullable: true
                              description: 'Related product identity: id.'
                              type: string
                            tiktok_product_detail_product_name:
                              nullable: true
                              description: 'Related product identity: tiktok product detail product name.'
                              type: string
                            tiktok_product_detail_floor_price:
                              nullable: true
                              description: 'Price with original unit and value: tiktok product detail floor price.'
                              type: object
                            tiktok_product_detail_ceiling_price:
                              nullable: true
                              description: 'Price with original unit and value: tiktok product detail ceiling price.'
                              type: object
                            tiktok_product_detail_product_rating:
                              nullable: true
                              description: 'Provider product rating: tiktok product detail product rating.'
                              type: number
                            tiktok_ads_detail_product_id:
                              nullable: true
                              description: 'Ad related product identity: tiktok ads detail product id.'
                              type: string
                            tiktok_ads_detail_video_id:
                              nullable: true
                              description: 'Ad related product identity: tiktok ads detail video id.'
                              type: string
                            tiktok_ads_detail_product_country_code:
                              nullable: true
                              description: 'Ad related product identity: tiktok ads detail product country code.'
                              type: string
                            tiktok_ads_detail_product_total_sold_count:
                              nullable: true
                              description: 'Ad attributed sales count: tiktok ads detail product total sold count.'
                              type: integer
                            tiktok_ads_detail_video_30d_sold_count:
                              nullable: true
                              description: 'Ad attributed sales count: tiktok ads detail video 30d sold count.'
                              type: integer
                            tiktok_ads_detail_product_total_gmv:
                              nullable: true
                              description: 'GMV preserving original unit and value: tiktok ads detail product total gmv.'
                              type: object
                            tiktok_ads_detail_video_30d_gmv:
                              nullable: true
                              description: 'GMV preserving original unit and value: tiktok ads detail video 30d gmv.'
                              type: object
                            tiktok_product_detail_commission_rate:
                              description: Provider tiktok product detail commission rate. The source establishes this field name; preserve its runtime JSON type and missing values.
                            tiktok_product_detail_l1_category:
                              description: Provider tiktok product detail l1 category. The source establishes this field name; preserve its runtime JSON type and missing values.
                            tiktok_product_detail_product_status:
                              description: Provider tiktok product detail product status. The source establishes this field name; preserve its runtime JSON type and missing values.
                            tiktok_product_detail_l2_category:
                              description: Provider tiktok product detail l2 category. The source establishes this field name; preserve its runtime JSON type and missing values.
                            tiktok_ads_detail_product_launch_time:
                              description: Provider tiktok ads detail product launch time. The source establishes this field name; preserve its runtime JSON type and missing values.
                            tiktok_product_detail_l3_category:
                              description: Provider tiktok product detail l3 category. The source establishes this field name; preserve its runtime JSON type and missing values.
                            tiktok_product_detail_product_images:
                              description: Provider tiktok product detail product images. The source establishes this field name; preserve its runtime JSON type and missing values.
                            tiktok_product_detail_product_sku_props:
                              description: Provider tiktok product detail product sku props. The source establishes this field name; preserve its runtime JSON type and missing values.
                            tiktok_product_detail_region:
                              description: Provider tiktok product detail region. The source establishes this field name; preserve its runtime JSON type and missing values.
                            tiktok_product_detail_product_skus:
                              description: Provider tiktok product detail product skus. The source establishes this field name; preserve its runtime JSON type and missing values.
                          additionalProperties: true
                          type: object
                        type: array
                      total_count:
                        type: integer
                        nullable: true
                    additionalProperties: true
                    type: object
                  errmsg:
                    type: string
                  request_id:
                    type: string
                  errcode:
                    type: integer
                additionalProperties: true
                type: object
              example:
                errmsg: ok
                errcode: 200
                data:
                  items: []
                  total_count: 0
        '400':
          ? ''
          : '#/components/responses/BadRequest'
        '401':
          ? ''
          : '#/components/responses/Unauthorized'
        '403':
          ? ''
          : '#/components/responses/Forbidden'
        '429':
          ? ''
          : '#/components/responses/TooManyRequests'
        '500':
          ? ''
          : '#/components/responses/ServerError'
      x-nexscope-slug: chuhaijiang-tiktok-ad-related-products
      x-nexscope-mcp-tool-name: nexscope_chuhaijiang_tiktok_ad_related_products
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/chuhaijiang-tiktok-ad-detail/run:
    post:
      tags:
      - TikTok / Social Commerce
      summary: Chuhaijiang TikTok Ad Detail
      description: Chuhaijiang TikTok Ad Detail. Execute only this operation; no automatic retries or pagination. Preserve provider fields and metric units.
      operationId: runChuhaijiangTiktokAdDetail
      externalDocs:
        description: Chuhaijiang TikTok Ad Detail documentation
        url: https://www.nexscope.ai/api-docs/chuhaijiang-tiktok-ad-detail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - country
              - id
              additionalProperties: false
              properties:
                country:
                  enum:
                  - br
                  - de
                  - es
                  - fr
                  - gb
                  - id
                  - it
                  - jp
                  - mx
                  - my
                  - ph
                  - sg
                  - th
                  - us
                  - vn
                  type: string
                  description: Lowercase request market. Returned country_code may differ; preserve both.
                id:
                  minLength: 1
                  type: string
                  description: Ad ID returned by its search operation. Keep identifiers as strings to avoid precision loss.
                include:
                  pattern: ^(core)(,(core))*$
                  type: string
                  description: 'Comma-separated expansions: core. Request only needed expansions.'
              type: object
            example:
              include: core
              country: us
              id: '7658119807128046879'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      items:
                        nullable: true
                        items:
                          properties:
                            id:
                              nullable: true
                              description: 'Ad identity and copy: id.'
                              type: string
                            ad_title:
                              nullable: true
                              description: 'Ad identity and copy: ad title.'
                              type: string
                            advertiser_id:
                              nullable: true
                              description: 'Ad identity and copy: advertiser id.'
                              type: string
                            advertiser_name:
                              nullable: true
                              description: 'Ad identity and copy: advertiser name.'
                              type: string
                            ad_url:
                              nullable: true
                              description: 'Ad identity and copy: ad url.'
                              type: string
                            web_url:
                              nullable: true
                              description: 'Ad identity and copy: web url.'
                              type: string
                            button_text:
                              nullable: true
                              description: 'Ad identity and copy: button text.'
                              type: string
                            advertiser_avatar:
                              nullable: true
                              description: 'Provider image object: advertiser avatar.'
                              type: object
                            ad_cover:
                              nullable: true
                              description: 'Provider image object: ad cover.'
                              type: object
                            duration:
                              nullable: true
                              description: 'Provider time or duration; preserve original units: duration.'
                              type: integer
                            ad_create_time:
                              nullable: true
                              description: 'Provider time or duration; preserve original units: ad create time.'
                              type: integer
                            create_time:
                              nullable: true
                              description: 'Provider time or duration; preserve original units: create time.'
                              type: integer
                            last_update_time:
                              nullable: true
                              description: 'Provider time or duration; preserve original units: last update time.'
                              type: integer
                          additionalProperties: true
                          type: object
                        type: array
                      core:
                        additionalProperties: true
                        properties:
                          items:
                            type: array
                            items:
                              properties:
                                id:
                                  type: string
                                  nullable: true
                                  description: 'Core ad identity or provider ad type: id.'
                                core_creative_id:
                                  type: string
                                  nullable: true
                                  description: 'Core ad identity or provider ad type: core creative id.'
                                core_ad_type:
                                  type: string
                                  nullable: true
                                  description: 'Core ad identity or provider ad type: core ad type.'
                                core_ad_day_count:
                                  type: integer
                                  nullable: true
                                  description: 'Core ad performance count: core ad day count.'
                                core_total_sc:
                                  type: integer
                                  nullable: true
                                  description: 'Core ad performance count: core total sc.'
                                core_video_play_count:
                                  type: integer
                                  nullable: true
                                  description: 'Core ad performance count: core video play count.'
                                core_video_like_count:
                                  type: integer
                                  nullable: true
                                  description: 'Core ad performance count: core video like count.'
                                core_video_comment_count:
                                  type: integer
                                  nullable: true
                                  description: 'Core ad performance count: core video comment count.'
                                core_video_share_count:
                                  type: integer
                                  nullable: true
                                  description: 'Core ad performance count: core video share count.'
                                core_video_collect_count:
                                  type: integer
                                  nullable: true
                                  description: 'Core ad performance count: core video collect count.'
                                core_ad_play_ratio:
                                  type: number
                                  nullable: true
                                  description: 'Provider ratio or score; preserve original metric definition: core ad play ratio.'
                                core_ad_gmv_ratio:
                                  type: number
                                  nullable: true
                                  description: 'Provider ratio or score; preserve original metric definition: core ad gmv ratio.'
                                core_ad_roas:
                                  type: number
                                  nullable: true
                                  description: 'Provider ratio or score; preserve original metric definition: core ad roas.'
                                core_video_popularity:
                                  type: number
                                  nullable: true
                                  description: 'Provider ratio or score; preserve original metric definition: core video popularity.'
                                core_ad_maximum_cost:
                                  type: object
                                  nullable: true
                                  description: 'Provider monetary metric; preserve original unit and value: core ad maximum cost.'
                                core_total_gmv:
                                  type: object
                                  nullable: true
                                  description: 'Provider monetary metric; preserve original unit and value: core total gmv.'
                                core_video_gpm_30d:
                                  type: object
                                  nullable: true
                                  description: 'Provider monetary metric; preserve original unit and value: core video gpm 30d.'
                              additionalProperties: true
                              type: object
                        type: object
                        nullable: true
                    additionalProperties: true
                    type: object
                  errmsg:
                    type: string
                  request_id:
                    type: string
                  errcode:
                    type: integer
                additionalProperties: true
                type: object
              example:
                errmsg: ok
                errcode: 200
                data:
                  items: []
        '400':
          ? ''
          : '#/components/responses/BadRequest'
        '401':
          ? ''
          : '#/components/responses/Unauthorized'
        '403':
          ? ''
          : '#/components/responses/Forbidden'
        '429':
          ? ''
          : '#/components/responses/TooManyRequests'
        '500':
          ? ''
          : '#/components/responses/ServerError'
      x-nexscope-slug: chuhaijiang-tiktok-ad-detail
      x-nexscope-mcp-tool-name: nexscope_chuhaijiang_tiktok_ad_detail
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/chuhaijiang-tiktok-ad-search/run:
    post:
      tags:
      - TikTok / Social Commerce
      summary: Chuhaijiang TikTok Ad Search
      description: Chuhaijiang TikTok Ad Search. Execute only this operation; no automatic retries or pagination. Preserve provider fields and metric units.
      operationId: runChuhaijiangTiktokAdSearch
      externalDocs:
        description: Chuhaijiang TikTok Ad Search documentation
        url: https://www.nexscope.ai/api-docs/chuhaijiang-tiktok-ad-search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - country
              additionalProperties: false
              properties:
                country:
                  enum:
                  - br
                  - de
                  - es
                  - fr
                  - gb
                  - id
                  - it
                  - jp
                  - mx
                  - my
                  - ph
                  - sg
                  - th
                  - us
                  - vn
                  type: string
                  description: Lowercase request market. Returned country_code may differ; preserve both.
                page:
                  minimum: 1
                  default: 1
                  type: integer
                  description: Page number, starting at 1. No automatic pagination.
                pageSize:
                  minimum: 1
                  maximum: 10
                  type: integer
                  description: Items per page, from 1 to 10. Omission preserves the upstream default.
                keyword:
                  type: string
                  description: Ad search keyword.
                category:
                  type: string
                  description: Provider-approved product category.
                adType:
                  type: string
                  description: Provider-approved ad type value; no enum is published.
                excludeSparkAds:
                  type: boolean
                  description: Whether to exclude Spark Ads.
                minViews:
                  type: number
                  description: Provider filter value; retain the provider metric definition without unit conversion.
                maxViews:
                  type: number
                  description: Provider filter value; retain the provider metric definition without unit conversion.
                minGmv:
                  type: number
                  description: Provider filter value; retain the provider metric definition without unit conversion.
                maxGmv:
                  type: number
                  description: Provider filter value; retain the provider metric definition without unit conversion.
                minDays:
                  type: number
                  description: Provider filter value; retain the provider metric definition without unit conversion.
                maxDays:
                  type: number
                  description: Provider filter value; retain the provider metric definition without unit conversion.
                sort:
                  default: gmv:desc
                  pattern: ^[^:]+:(asc|desc)$
                  type: string
                  description: Provider-approved field followed by :asc or :desc. No complete field enum is published.
              type: object
            example:
              page: 1
              pageSize: 3
              country: us
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      items:
                        nullable: true
                        items:
                          properties:
                            id:
                              nullable: true
                              description: 'Ad identity and copy: id.'
                              type: string
                            video_id:
                              nullable: true
                              description: 'Ad identity and copy: video id.'
                              type: string
                            product_id:
                              nullable: true
                              description: 'Ad identity and copy: product id.'
                              type: string
                            advertiser_id:
                              nullable: true
                              description: 'Ad identity and copy: advertiser id.'
                              type: string
                            ad_url:
                              nullable: true
                              description: 'Ad identity and copy: ad url.'
                              type: string
                            web_url:
                              nullable: true
                              description: 'Ad identity and copy: web url.'
                              type: string
                            advertiser_url:
                              nullable: true
                              description: 'Ad identity and copy: advertiser url.'
                              type: string
                            ad_title:
                              nullable: true
                              description: 'Ad identity and copy: ad title.'
                              type: string
                            advertiser_name:
                              nullable: true
                              description: 'Ad identity and copy: advertiser name.'
                              type: string
                            button_text:
                              nullable: true
                              description: 'Ad identity and copy: button text.'
                              type: string
                            product_title:
                              nullable: true
                              description: 'Ad identity and copy: product title.'
                              type: string
                            video_play_count:
                              nullable: true
                              description: 'Ad delivery count: video play count.'
                              type: integer
                            video_like_count:
                              nullable: true
                              description: 'Ad delivery count: video like count.'
                              type: integer
                            ad_day_count:
                              nullable: true
                              description: 'Ad delivery count: ad day count.'
                              type: integer
                            video_like_rate:
                              nullable: true
                              description: 'Provider engagement ratio: video like rate.'
                              type: number
                            video_engagement_rate:
                              nullable: true
                              description: 'Provider engagement ratio: video engagement rate.'
                              type: number
                            total_gmv:
                              nullable: true
                              description: 'Monetary metric with original unit and value: total gmv.'
                              type: object
                            video_gpm_30d:
                              nullable: true
                              description: 'Monetary metric with original unit and value: video gpm 30d.'
                              type: object
                            ad_roas:
                              description: Provider return on ad spend; preserve the runtime JSON type and metric definition.
                            duration:
                              description: Provider duration. The source establishes this field name; preserve its runtime JSON type and missing values.
                            create_time:
                              description: Provider create time. The source establishes this field name; preserve its runtime JSON type and missing values.
                            product_l1_category:
                              description: Provider product l1 category. The source establishes this field name; preserve its runtime JSON type and missing values.
                            product_l2_category:
                              description: Provider product l2 category. The source establishes this field name; preserve its runtime JSON type and missing values.
                            product_l3_category:
                              description: Provider product l3 category. The source establishes this field name; preserve its runtime JSON type and missing values.
                            ad_maximum_cost:
                              description: Maximum ad spend as returned; preserve monetary units and the runtime JSON type.
                            ad_create_time:
                              description: Provider ad create time. The source establishes this field name; preserve its runtime JSON type and missing values.
                            total_sc:
                              description: Provider total sc. The source establishes this field name; preserve its runtime JSON type and missing values.
                            last_update_time:
                              description: Provider last update time. The source establishes this field name; preserve its runtime JSON type and missing values.
                            video_popularity:
                              description: Provider video popularity. The source establishes this field name; preserve its runtime JSON type and missing values.
                          additionalProperties: true
                          type: object
                        type: array
                      total_count:
                        type: integer
                        nullable: true
                    additionalProperties: true
                    type: object
                  errmsg:
                    type: string
                  request_id:
                    type: string
                  errcode:
                    type: integer
                additionalProperties: true
                type: object
              example:
                errmsg: ok
                errcode: 200
                data:
                  items: []
                  total_count: 0
        '400':
          ? ''
          : '#/components/responses/BadRequest'
        '401':
          ? ''
          : '#/components/responses/Unauthorized'
        '403':
          ? ''
          : '#/components/responses/Forbidden'
        '429':
          ? ''
          : '#/components/responses/TooManyRequests'
        '500':
          ? ''
          : '#/components/responses/ServerError'
      x-nexscope-slug: chuhaijiang-tiktok-ad-search
      x-nexscope-mcp-tool-name: nexscope_chuhaijiang_tiktok_ad_search
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/chuhaijiang-tiktok-video-reviews/run:
    post:
      tags:
      - TikTok / Social Commerce
      summary: Chuhaijiang TikTok Video Reviews
      description: Chuhaijiang TikTok Video Reviews. Execute only this operation; no automatic retries or pagination. Preserve provider fields and metric units.
      operationId: runChuhaijiangTiktokVideoReviews
      externalDocs:
        description: Chuhaijiang TikTok Video Reviews documentation
        url: https://www.nexscope.ai/api-docs/chuhaijiang-tiktok-video-reviews
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - country
              - id
              additionalProperties: false
              properties:
                country:
                  enum:
                  - br
                  - de
                  - es
                  - fr
                  - gb
                  - id
                  - it
                  - jp
                  - mx
                  - my
                  - ph
                  - sg
                  - th
                  - us
                  - vn
                  type: string
                  description: Lowercase request market. Returned country_code may differ; preserve both.
                id:
                  minLength: 1
                  type: string
                  description: Video ID returned by its search operation. Keep identifiers as strings to avoid precision loss.
                page:
                  minimum: 1
                  default: 1
                  type: integer
                  description: Page number, starting at 1. No automatic pagination.
                pageSize:
                  minimum: 1
                  maximum: 10
                  type: integer
                  description: Items per page, from 1 to 10. Omission preserves the upstream default.
              type: object
            example:
              pageSize: 3
              page: 1
              country: us
              id: '6788833646091504902'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      items:
                        nullable: true
                        items:
                          properties:
                            tiktok_video_detail_comment_id:
                              nullable: true
                              description: 'Comment identity and text: tiktok video detail comment id.'
                              type: string
                            tiktok_video_detail_comment_text:
                              nullable: true
                              description: 'Comment identity and text: tiktok video detail comment text.'
                              type: string
                            tiktok_video_detail_comment_unique_id:
                              nullable: true
                              description: 'Comment identity and text: tiktok video detail comment unique id.'
                              type: string
                            tiktok_video_detail_comment_nickname:
                              nullable: true
                              description: 'Comment identity and text: tiktok video detail comment nickname.'
                              type: string
                            tiktok_video_detail_video_id:
                              nullable: true
                              description: 'Comment identity and text: tiktok video detail video id.'
                              type: string
                            tiktok_video_detail_comment_create_time:
                              nullable: true
                              description: 'Provider comment timestamp or count; preserve original units: tiktok video detail comment create time.'
                              type: integer
                            tiktok_video_detail_comment_like_count:
                              nullable: true
                              description: 'Provider comment timestamp or count; preserve original units: tiktok video detail comment like count.'
                              type: integer
                            tiktok_video_detail_comment_reply_count:
                              nullable: true
                              description: 'Provider comment timestamp or count; preserve original units: tiktok video detail comment reply count.'
                              type: integer
                            tiktok_video_detail_comment_user_avatar:
                              nullable: true
                              description: 'Avatar object with thumb_url and url: tiktok video detail comment user avatar.'
                              type: object
                          additionalProperties: true
                          type: object
                        type: array
                      total_count:
                        type: integer
                        nullable: true
                    additionalProperties: true
                    type: object
                  errmsg:
                    type: string
                  request_id:
                    type: string
                  errcode:
                    type: integer
                additionalProperties: true
                type: object
              example:
                errmsg: ok
                errcode: 200
                data:
                  items: []
                  total_count: 0
        '400':
          ? ''
          : '#/components/responses/BadRequest'
        '401':
          ? ''
          : '#/components/responses/Unauthorized'
        '403':
          ? ''
          : '#/components/responses/Forbidden'
        '429':
          ? ''
          : '#/components/responses/TooManyRequests'
        '500':
          ? ''
          : '#/components/responses/ServerError'
      x-nexscope-slug: chuhaijiang-tiktok-video-reviews
      x-nexscope-mcp-tool-name: nexscope_chuhaijiang_tiktok_video_reviews
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/chuhaijiang-tiktok-video-related-products/run:
    post:
      tags:
      - TikTok / Social Commerce
      summary: Chuhaijiang TikTok Video Related Products
      description: Chuhaijiang TikTok Video Related Products. Execute only this operation; no automatic retries or pagination. Preserve provider fields and metric units.
      operationId: runChuhaijiangTiktokVideoRelatedProducts
      externalDocs:
        description: Chuhaijiang TikTok Video Related Products documentation
        url: https://www.nexscope.ai/api-docs/chuhaijiang-tiktok-video-related-products
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - country
              - id
              additionalProperties: false
              properties:
                country:
                  enum:
                  - br
                  - de
                  - es
                  - fr
                  - gb
                  - id
                  - it
                  - jp
                  - mx
                  - my
                  - ph
                  - sg
                  - th
                  - us
                  - vn
                  type: string
                  description: Lowercase request market. Returned country_code may differ; preserve both.
                id:
                  minLength: 1
                  type: string
                  description: Video ID returned by its search operation. Keep identifiers as strings to avoid precision loss.
                page:
                  minimum: 1
                  default: 1
                  type: integer
                  description: Page number, starting at 1. No automatic pagination.
                pageSize:
                  minimum: 1
                  maximum: 10
                  type: integer
                  description: Items per page, from 1 to 10. Omission preserves the upstream default.
              type: object
            example:
              pageSize: 3
              page: 1
              country: us
              id: '7672655263672864013'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      items:
                        nullable: true
                        items:
                          properties:
                            id:
                              nullable: true
                              description: 'Related product identity: id.'
                              type: string
                            tiktok_product_detail_product_name:
                              nullable: true
                              description: 'Related product identity: tiktok product detail product name.'
                              type: string
                            tiktok_product_detail_floor_price:
                              nullable: true
                              description: 'Price with original unit and value: tiktok product detail floor price.'
                              type: object
                            tiktok_product_detail_ceiling_price:
                              nullable: true
                              description: 'Price with original unit and value: tiktok product detail ceiling price.'
                              type: object
                            tiktok_product_detail_product_rating:
                              nullable: true
                              description: 'Provider product rating: tiktok product detail product rating.'
                              type: number
                            tiktok_video_detail_product_id:
                              nullable: true
                              description: 'Product and video identifier: tiktok video detail product id.'
                              type: string
                            tiktok_video_detail_video_id:
                              nullable: true
                              description: 'Product and video identifier: tiktok video detail video id.'
                              type: string
                            tiktok_video_detail_product_total_sold_count:
                              nullable: true
                              description: 'Video attributed sales count: tiktok video detail product total sold count.'
                              type: integer
                            tiktok_video_detail_video_30d_sold_count:
                              nullable: true
                              description: 'Video attributed sales count: tiktok video detail video 30d sold count.'
                              type: integer
                            tiktok_video_detail_product_total_gmv:
                              nullable: true
                              description: 'GMV with original unit and value: tiktok video detail product total gmv.'
                              type: object
                            tiktok_video_detail_video_30d_gmv:
                              nullable: true
                              description: 'GMV with original unit and value: tiktok video detail video 30d gmv.'
                              type: object
                            tiktok_product_detail_product_images:
                              description: Provider tiktok product detail product images. The source establishes this field name; preserve its runtime JSON type and missing values.
                            tiktok_product_detail_l1_category:
                              description: Provider tiktok product detail l1 category. The source establishes this field name; preserve its runtime JSON type and missing values.
                            tiktok_product_detail_product_skus:
                              description: Provider tiktok product detail product skus. The source establishes this field name; preserve its runtime JSON type and missing values.
                            tiktok_product_detail_l2_category:
                              description: Provider tiktok product detail l2 category. The source establishes this field name; preserve its runtime JSON type and missing values.
                            tiktok_product_detail_l3_category:
                              description: Provider tiktok product detail l3 category. The source establishes this field name; preserve its runtime JSON type and missing values.
                            tiktok_product_detail_product_status:
                              description: Provider tiktok product detail product status. The source establishes this field name; preserve its runtime JSON type and missing values.
                            tiktok_product_detail_commission_rate:
                              description: Provider tiktok product detail commission rate. The source establishes this field name; preserve its runtime JSON type and missing values.
                            tiktok_product_detail_product_sku_props:
                              description: Provider tiktok product detail product sku props. The source establishes this field name; preserve its runtime JSON type and missing values.
                          additionalProperties: true
                          type: object
                        type: array
                      total_count:
                        type: integer
                        nullable: true
                    additionalProperties: true
                    type: object
                  errmsg:
                    type: string
                  request_id:
                    type: string
                  errcode:
                    type: integer
                additionalProperties: true
                type: object
              example:
                errmsg: ok
                errcode: 200
                data:
                  items: []
                  total_count: 0
        '400':
          ? ''
          : '#/components/responses/BadRequest'
        '401':
          ? ''
          : '#/components/responses/Unauthorized'
        '403':
          ? ''
          : '#/components/responses/Forbidden'
        '429':
          ? ''
          : '#/components/responses/TooManyRequests'
        '500':
          ? ''
          : '#/components/responses/ServerError'
      x-nexscope-slug: chuhaijiang-tiktok-video-related-products
      x-nexscope-mcp-tool-name: nexscope_chuhaijiang_tiktok_video_related_products
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/chuhaijiang-tiktok-video-detail/run:
    post:
      tags:
      - TikTok / Social Commerce
      summary: Chuhaijiang TikTok Video Detail
      description: Chuhaijiang TikTok Video Detail. Execute only this operation; no automatic retries or pagination. Preserve provider fields and metric units.
      operationId: runChuhaijiangTiktokVideoDetail
      externalDocs:
        description: Chuhaijiang TikTok Video Detail documentation
        url: https://www.nexscope.ai/api-docs/chuhaijiang-tiktok-video-detail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - country
              - id
              additionalProperties: false
              properties:
                country:
                  enum:
                  - br
                  - de
                  - es
                  - fr
                  - gb
                  - id
                  - it
                  - jp
                  - mx
                  - my
                  - ph
                  - sg
                  - th
                  - us
                  - vn
                  type: string
                  description: Lowercase request market. Returned country_code may differ; preserve both.
                id:
                  minLength: 1
                  type: string
                  description: Video ID returned by its search operation. Keep identifiers as strings to avoid precision loss.
                include:
                  pattern: ^(core)(,(core))*$
                  type: string
                  description: 'Comma-separated expansions: core. Request only needed expansions.'
              type: object
            example:
              include: core
              country: us
              id: '6788833646091504902'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      items:
                        nullable: true
                        items:
                          properties:
                            id:
                              nullable: true
                              description: 'Video detail identity: id.'
                              type: string
                            unique_id:
                              nullable: true
                              description: 'Video detail identity: unique id.'
                              type: string
                            nickname:
                              nullable: true
                              description: 'Video detail identity: nickname.'
                              type: string
                            share_url:
                              nullable: true
                              description: 'Video detail identity: share url.'
                              type: string
                            video_cover:
                              nullable: true
                              description: 'Provider image object: video cover.'
                              type: object
                            user_avatar:
                              nullable: true
                              description: 'Provider image object: user avatar.'
                              type: object
                            video_duration:
                              nullable: true
                              description: 'Provider duration or author count; preserve original units: video duration.'
                              type: integer
                            follower_count:
                              nullable: true
                              description: 'Provider duration or author count; preserve original units: follower count.'
                              type: integer
                            video_count:
                              nullable: true
                              description: 'Provider duration or author count; preserve original units: video count.'
                              type: integer
                            video_avg_play_count:
                              nullable: true
                              description: 'Author historical average metric: video avg play count.'
                              type: number
                            video_avg_like_count:
                              nullable: true
                              description: 'Author historical average metric: video avg like count.'
                              type: number
                            author_avg_engagement_rate:
                              nullable: true
                              description: 'Author historical average metric: author avg engagement rate.'
                              type: number
                            had_product:
                              nullable: true
                              description: 'Provider content flag: had product.'
                              type: boolean
                            has_comment:
                              nullable: true
                              description: 'Provider content flag: has comment.'
                              type: boolean
                          additionalProperties: true
                          type: object
                        type: array
                      core:
                        additionalProperties: true
                        properties:
                          items:
                            type: array
                            items:
                              properties:
                                core_country_code:
                                  type: string
                                  nullable: true
                                  description: 'Country of the returned video: core country code.'
                                core_video_play_count:
                                  type: integer
                                  nullable: true
                                  description: 'Core video engagement count: core video play count.'
                                core_video_like_count:
                                  type: integer
                                  nullable: true
                                  description: 'Core video engagement count: core video like count.'
                                core_video_comment_count:
                                  type: integer
                                  nullable: true
                                  description: 'Core video engagement count: core video comment count.'
                                core_video_share_count:
                                  type: integer
                                  nullable: true
                                  description: 'Core video engagement count: core video share count.'
                                core_video_collect_count:
                                  type: integer
                                  nullable: true
                                  description: 'Core video engagement count: core video collect count.'
                                core_video_engagement_rate:
                                  type: number
                                  nullable: true
                                  description: 'Core video decimal ratio: core video engagement rate.'
                                core_video_like_play_ratio:
                                  type: number
                                  nullable: true
                                  description: 'Core video decimal ratio: core video like play ratio.'
                                core_video_30d_gpm:
                                  type: object
                                  nullable: true
                                  description: 'Thirty-day GPM with original unit and value: core video 30d gpm.'
                              additionalProperties: true
                              type: object
                        type: object
                        nullable: true
                    additionalProperties: true
                    type: object
                  errmsg:
                    type: string
                  request_id:
                    type: string
                  errcode:
                    type: integer
                additionalProperties: true
                type: object
              example:
                errmsg: ok
                errcode: 200
                data:
                  items: []
        '400':
          ? ''
          : '#/components/responses/BadRequest'
        '401':
          ? ''
          : '#/components/responses/Unauthorized'
        '403':
          ? ''
          : '#/components/responses/Forbidden'
        '429':
          ? ''
          : '#/components/responses/TooManyRequests'
        '500':
          ? ''
          : '#/components/responses/ServerError'
      x-nexscope-slug: chuhaijiang-tiktok-video-detail
      x-nexscope-mcp-tool-name: nexscope_chuhaijiang_tiktok_video_detail
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/chuhaijiang-tiktok-video-search/run:
    post:
      tags:
      - TikTok / Social Commerce
      summary: Chuhaijiang TikTok Video Search
      description: Chuhaijiang TikTok Video Search. Execute only this operation; no automatic retries or pagination. Preserve provider fields and metric units.
      operationId: runChuhaijiangTiktokVideoSearch
      externalDocs:
        description: Chuhaijiang TikTok Video Search documentation
        url: https://www.nexscope.ai/api-docs/chuhaijiang-tiktok-video-search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - country
              additionalProperties: false
              properties:
                country:
                  enum:
                  - br
                  - de
                  - es
                  - fr
                  - gb
                  - id
                  - it
                  - jp
                  - mx
                  - my
                  - ph
                  - sg
                  - th
                  - us
                  - vn
                  type: string
                  description: Lowercase request market. Returned country_code may differ; preserve both.
                page:
                  minimum: 1
                  default: 1
                  type: integer
                  description: Page number, starting at 1. No automatic pagination.
                pageSize:
                  minimum: 1
                  maximum: 10
                  type: integer
                  description: Items per page, from 1 to 10. Omission preserves the upstream default.
                keyword:
                  type: string
                  description: Video copy or related keyword.
                category:
                  type: string
                  description: Use only provider-approved categories; no category enum is published.
                isCommercial:
                  type: boolean
                  description: Filter videos promoting products.
                minViews:
                  type: number
                  description: Provider filter value; retain the provider metric definition without unit conversion.
                maxViews:
                  type: number
                  description: Provider filter value; retain the provider metric definition without unit conversion.
                minLikes:
                  type: number
                  description: Provider filter value; retain the provider metric definition without unit conversion.
                maxLikes:
                  type: number
                  description: Provider filter value; retain the provider metric definition without unit conversion.
                minGmv30d:
                  type: number
                  description: Provider filter value; retain the provider metric definition without unit conversion.
                maxGmv30d:
                  type: number
                  description: Provider filter value; retain the provider metric definition without unit conversion.
                minEngagement:
                  type: number
                  description: Provider filter value; retain the provider metric definition without unit conversion.
                maxEngagement:
                  type: number
                  description: Provider filter value; retain the provider metric definition without unit conversion.
                accountType:
                  enum:
                  - 0
                  - 3
                  - 4
                  type: integer
                  description: Provider account type; business labels are unpublished.
                sort:
                  default: views:desc
                  pattern: ^[^:]+:(asc|desc)$
                  type: string
                  description: Provider-approved field followed by :asc or :desc. No complete field enum is published.
              type: object
            example:
              page: 1
              pageSize: 3
              country: us
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      items:
                        nullable: true
                        items:
                          properties:
                            id:
                              nullable: true
                              description: 'Video identity: id.'
                              type: string
                            video_desc:
                              nullable: true
                              description: 'Video identity: video desc.'
                              type: string
                            share_url:
                              nullable: true
                              description: 'Video identity: share url.'
                              type: string
                            author_id:
                              nullable: true
                              description: 'Video identity: author id.'
                              type: string
                            author_unique_id:
                              nullable: true
                              description: 'Video identity: author unique id.'
                              type: string
                            author_nickname:
                              nullable: true
                              description: 'Video identity: author nickname.'
                              type: string
                            country_code:
                              nullable: true
                              description: 'Video identity: country code.'
                              type: string
                            video_play_count:
                              nullable: true
                              description: 'Engagement count: video play count.'
                              type: integer
                            video_like_count:
                              nullable: true
                              description: 'Engagement count: video like count.'
                              type: integer
                            video_comment_count:
                              nullable: true
                              description: 'Engagement count: video comment count.'
                              type: integer
                            video_share_count:
                              nullable: true
                              description: 'Engagement count: video share count.'
                              type: integer
                            video_collect_count:
                              nullable: true
                              description: 'Engagement count: video collect count.'
                              type: integer
                            video_engagement_rate:
                              nullable: true
                              description: 'Decimal engagement ratio: video engagement rate.'
                              type: number
                            video_launch_time:
                              nullable: true
                              description: 'Provider video metadata: video launch time.'
                              type: integer
                            video_duration:
                              nullable: true
                              description: 'Provider video metadata: video duration.'
                              type: integer
                            account_type:
                              nullable: true
                              description: 'Provider video metadata: account type.'
                              type: integer
                            video_30d_gpm:
                              nullable: true
                              description: 'Thirty-day GPM with original unit and value: video 30d gpm.'
                              type: object
                            is_ad:
                              nullable: true
                              description: 'Optional provider flag: is ad.'
                              type: boolean
                            is_aigc_video:
                              nullable: true
                              description: 'Optional provider flag: is aigc video.'
                              type: boolean
                            video_total_like_count_to_follower_count_ratio:
                              description: Provider video total like count to follower count ratio. The source establishes this field name; preserve its runtime JSON type and missing values.
                          additionalProperties: true
                          type: object
                        type: array
                      total_count:
                        type: integer
                        nullable: true
                    additionalProperties: true
                    type: object
                  errmsg:
                    type: string
                  request_id:
                    type: string
                  errcode:
                    type: integer
                additionalProperties: true
                type: object
              example:
                errmsg: ok
                errcode: 200
                data:
                  items: []
                  total_count: 0
        '400':
          ? ''
          : '#/components/responses/BadRequest'
        '401':
          ? ''
          : '#/components/responses/Unauthorized'
        '403':
          ? ''
          : '#/components/responses/Forbidden'
        '429':
          ? ''
          : '#/components/responses/TooManyRequests'
        '500':
          ? ''
          : '#/components/responses/ServerError'
      x-nexscope-slug: chuhaijiang-tiktok-video-search
      x-nexscope-mcp-tool-name: nexscope_chuhaijiang_tiktok_video_search
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/chuhaijiang-tiktok-live-related-products/run:
    post:
      tags:
      - TikTok / Social Commerce
      summary: Chuhaijiang TikTok Live Related Products
      description: Chuhaijiang TikTok Live Related Products. Execute only this operation; no automatic retries or pagination. Preserve provider fields and metric units.
      operationId: runChuhaijiangTiktokLiveRelatedProducts
      externalDocs:
        description: Chuhaijiang TikTok Live Related Products documentation
        url: https://www.nexscope.ai/api-docs/chuhaijiang-tiktok-live-related-products
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - country
              - id
              additionalProperties: false
              properties:
                country:
                  enum:
                  - br
                  - de
                  - es
                  - fr
                  - gb
                  - id
                  - it
                  - jp
                  - mx
                  - my
                  - ph
                  - sg
                  - th
                  - us
                  - vn
                  type: string
                  description: Lowercase request market. Returned country_code may differ; preserve both.
                id:
                  minLength: 1
                  type: string
                  description: Livestream ID returned by its search operation. Keep identifiers as strings to avoid precision loss.
                page:
                  minimum: 1
                  default: 1
                  type: integer
                  description: Page number, starting at 1. No automatic pagination.
                pageSize:
                  minimum: 1
                  maximum: 10
                  type: integer
                  description: Items per page, from 1 to 10. Omission preserves the upstream default.
              type: object
            example:
              pageSize: 3
              page: 1
              country: us
              id: '7643101948819835678'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      items:
                        nullable: true
                        items:
                          properties:
                            id:
                              nullable: true
                              description: 'Livestream product identity: id.'
                              type: string
                            tiktok_live_detail_product_id:
                              nullable: true
                              description: 'Livestream product identity: tiktok live detail product id.'
                              type: string
                            tiktok_live_detail_product_title:
                              nullable: true
                              description: 'Livestream product identity: tiktok live detail product title.'
                              type: string
                            tiktok_live_detail_product_country_code:
                              nullable: true
                              description: 'Livestream product identity: tiktok live detail product country code.'
                              type: string
                            tiktok_live_detail_product_seller_id:
                              nullable: true
                              description: 'Livestream product identity: tiktok live detail product seller id.'
                              type: string
                            tiktok_live_detail_product_seller_name:
                              nullable: true
                              description: 'Livestream product identity: tiktok live detail product seller name.'
                              type: string
                            tiktok_live_detail_product_floor_price:
                              nullable: true
                              description: 'Monetary metric with original unit and value: tiktok live detail product floor price.'
                              type: object
                            tiktok_live_detail_product_ceiling_price:
                              nullable: true
                              description: 'Monetary metric with original unit and value: tiktok live detail product ceiling price.'
                              type: object
                            tiktok_live_detail_product_gmv:
                              nullable: true
                              description: 'Monetary metric with original unit and value: tiktok live detail product gmv.'
                              type: object
                            tiktok_live_detail_product_images:
                              nullable: true
                              description: 'Image with url and thumb_url: tiktok live detail product images.'
                              type: object
                            tiktok_live_detail_product_seller_avatar:
                              nullable: true
                              description: 'Image with url and thumb_url: tiktok live detail product seller avatar.'
                              type: object
                            tiktok_live_detail_product_sold_count:
                              nullable: true
                              description: 'Livestream attributed sold units: tiktok live detail product sold count.'
                              type: integer
                            tiktok_live_detail_product_commission_rate_num:
                              nullable: true
                              description: 'Decimal ratio, which may be absent: tiktok live detail product commission rate num.'
                              type: number
                            tiktok_live_detail_product_conversion_rate:
                              nullable: true
                              description: 'Decimal ratio, which may be absent: tiktok live detail product conversion rate.'
                              type: number
                            tiktok_live_detail_product_seller_category_name_label:
                              description: Provider tiktok live detail product seller category name label. The source establishes this field name; preserve its runtime JSON type and missing values.
                            tiktok_live_detail_product_l2_category:
                              description: Provider tiktok live detail product l2 category. The source establishes this field name; preserve its runtime JSON type and missing values.
                            tiktok_live_detail_product_seller_info:
                              description: Provider tiktok live detail product seller info. The source establishes this field name; preserve its runtime JSON type and missing values.
                            tiktok_live_detail_product_l3_category:
                              description: Provider tiktok live detail product l3 category. The source establishes this field name; preserve its runtime JSON type and missing values.
                            tiktok_live_detail_product_l1_category:
                              description: Provider tiktok live detail product l1 category. The source establishes this field name; preserve its runtime JSON type and missing values.
                          additionalProperties: true
                          type: object
                        type: array
                      total_count:
                        type: integer
                        nullable: true
                    additionalProperties: true
                    type: object
                  errmsg:
                    type: string
                  request_id:
                    type: string
                  errcode:
                    type: integer
                additionalProperties: true
                type: object
              example:
                errmsg: ok
                errcode: 200
                data:
                  items: []
                  total_count: 0
        '400':
          ? ''
          : '#/components/responses/BadRequest'
        '401':
          ? ''
          : '#/components/responses/Unauthorized'
        '403':
          ? ''
          : '#/components/responses/Forbidden'
        '429':
          ? ''
          : '#/components/responses/TooManyRequests'
        '500':
          ? ''
          : '#/components/responses/ServerError'
      x-nexscope-slug: chuhaijiang-tiktok-live-related-products
      x-nexscope-mcp-tool-name: nexscope_chuhaijiang_tiktok_live_related_products
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/chuhaijiang-tiktok-live-detail/run:
    post:
      tags:
      - TikTok / Social Commerce
      summary: Chuhaijiang TikTok Live Detail
      description: Chuhaijiang TikTok Live Detail. Execute only this operation; no automatic retries or pagination. Preserve provider fields and metric units.
      operationId: runChuhaijiangTiktokLiveDetail
      externalDocs:
        description: Chuhaijiang TikTok Live Detail documentation
        url: https://www.nexscope.ai/api-docs/chuhaijiang-tiktok-live-detail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - country
              - id
              additionalProperties: false
              properties:
                country:
                  enum:
                  - br
                  - de
                  - es
                  - fr
                  - gb
                  - id
                  - it
                  - jp
                  - mx
                  - my
                  - ph
                  - sg
                  - th
                  - us
                  - vn
                  type: string
                  description: Lowercase request market. Returned country_code may differ; preserve both.
                id:
                  minLength: 1
                  type: string
                  description: Livestream ID returned by its search operation. Keep identifiers as strings to avoid precision loss.
[...]
