openapi: 3.2.0
info:
  title: Nexscope Ecommerce Data and Creative Temu Marketplace…
  version: 2026-08-28-public-catalog-v1
  description: Nexscope APIs provide ecommerce marketplace intelligence and creative generation capabilities through REST and MCP. Authentication uses a Nexscope API key. Pricing is credit-based and actual usage varies by endpoint and workload; current estimates are shown in the Nexscope account.
  termsOfService: https://www.nexscope.ai/terms
  contact:
    name: Nexscope Support
    email: service@nexscope.ai
    url: https://www.nexscope.ai/api-docs
  license:
    name: Proprietary API; use subject to Nexscope Terms
    url: https://www.nexscope.ai/terms
servers:
- url: https://api.nexscope.ai
  description: Production
security:
- bearerAuth: []
tags:
- name: Temu Marketplace Intelligence
  description: Temu product, category and store source APIs.
  x-category-slug: temu-marketplace
paths:
  /api/skill-api/v1/skills/geekbi-temu-goods-image-search/run:
    post:
      tags:
      - Temu Marketplace Intelligence
      summary: GeekBI Temu Image Search
      description: Execute the selected image search operation and preserve provider business fields and extensions.
      operationId: runGeekbiTemuGoodsImageSearch
      externalDocs:
        description: GeekBI Temu Image Search documentation
        url: https://www.nexscope.ai/api-docs/geekbi-temu-goods-image-search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                imageUrl:
                  type: string
                  description: Provider OSS temporary image URL, obtained through presignedPut and a successful PUT upload with the signature query removed. Replace the example.invalid placeholder before calling; external URLs are rejected upstream. Actual image must be at most 10 MB and JPEG, PNG, GIF, WebP or BMP.
                  minLength: 1
                  maxLength: 2048
                  format: uri
                contentType:
                  type: string
                  description: Must match OSS response and actual image bytes; omitted means server detection.
                  maxLength: 100
                  enum:
                  - image/jpeg
                  - image/png
                  - image/gif
                  - image/webp
                  - image/bmp
              required:
              - imageUrl
            example:
              imageUrl: https://example.invalid/replace-with-provider-oss-image
              contentType: image/jpeg
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                properties:
                  errcode:
                    type:
                    - integer
                    - 'null'
                    description: Provider business status; observed success is 200.
                  errmsg:
                    type:
                    - string
                    - 'null'
                    description: Provider business status message.
                  columns:
                    type:
                    - array
                    - 'null'
                    description: Render column definitions; business records are separate.
                    items: {}
                  title:
                    type:
                    - string
                    - 'null'
                    description: 'Provider render/source metadata: title.'
                  type:
                    type:
                    - string
                    - 'null'
                    description: 'Provider render/source metadata: type.'
                  sourceTool:
                    type:
                    - string
                    - 'null'
                    description: 'Provider render/source metadata: sourceTool.'
                  sourceType:
                    type:
                    - string
                    - 'null'
                    description: 'Provider render/source metadata: sourceType.'
                  items:
                    type:
                    - array
                    - 'null'
                    description: Returned records, including valid empty results; preserve duplicate records and unknown fields.
                    items:
                      type: object
                      properties:
                        isAd:
                          type:
                          - boolean
                          - 'null'
                          description: 'Provider product flag: isAd.'
                        isCustom:
                          type:
                          - boolean
                          - 'null'
                          description: 'Provider product flag: isCustom.'
                        isPresale:
                          type:
                          - boolean
                          - 'null'
                          description: 'Provider product flag: isPresale.'
                        goodsId:
                          type:
                          - string
                          - 'null'
                          description: Provider goodsId; preserve identifier and timestamp strings.
                        mallId:
                          type:
                          - string
                          - 'null'
                          description: Provider mallId; preserve identifier and timestamp strings.
                        thumbnail:
                          type:
                          - string
                          - 'null'
                          description: Provider thumbnail; preserve identifier and timestamp strings.
                        goodsName:
                          type:
                          - string
                          - 'null'
                          description: Provider goodsName; preserve identifier and timestamp strings.
                        goodsNameCn:
                          type:
                          - string
                          - 'null'
                          description: Provider goodsNameCn; preserve identifier and timestamp strings.
                        goodsNameEn:
                          type:
                          - string
                          - 'null'
                          description: Provider goodsNameEn; preserve identifier and timestamp strings.
                        brand:
                          type:
                          - string
                          - 'null'
                          description: Provider brand; preserve identifier and timestamp strings.
                        sku:
                          type:
                          - string
                          - 'null'
                          description: Provider sku; preserve identifier and timestamp strings.
                        onSaleTime:
                          type:
                          - string
                          - 'null'
                          description: Provider onSaleTime; preserve identifier and timestamp strings.
                        mallOpenTime:
                          type:
                          - string
                          - 'null'
                          description: Provider mallOpenTime; preserve identifier and timestamp strings.
                        createTime:
                          type:
                          - string
                          - 'null'
                          description: Provider createTime; preserve identifier and timestamp strings.
                        updateTime:
                          type:
                          - string
                          - 'null'
                          description: Provider updateTime; preserve identifier and timestamp strings.
                        sold:
                          type:
                          - number
                          - 'null'
                          description: Provider sold; monetary values use the selected site's currency unless identified as supply prices.
                        quantity:
                          type:
                          - number
                          - 'null'
                          description: Provider quantity; monetary values use the selected site's currency unless identified as supply prices.
                        mallSold:
                          type:
                          - number
                          - 'null'
                          description: Provider mallSold; monetary values use the selected site's currency unless identified as supply prices.
                        sales:
                          type:
                          - number
                          - 'null'
                          description: Provider sales; monetary values use the selected site's currency unless identified as supply prices.
                        minPrice:
                          type:
                          - number
                          - 'null'
                          description: Provider minPrice; monetary values use the selected site's currency unless identified as supply prices.
                        maxPrice:
                          type:
                          - number
                          - 'null'
                          description: Provider maxPrice; monetary values use the selected site's currency unless identified as supply prices.
                        supplyPrice:
                          type:
                          - number
                          - 'null'
                          description: Provider supplyPrice; monetary values use the selected site's currency unless identified as supply prices.
                        minSupplyPrice:
                          type:
                          - number
                          - 'null'
                          description: Provider minSupplyPrice; monetary values use the selected site's currency unless identified as supply prices.
                        medianSupplyPrice:
                          type:
                          - number
                          - 'null'
                          description: Provider medianSupplyPrice; monetary values use the selected site's currency unless identified as supply prices.
                        maxSupplyPrice:
                          type:
                          - number
                          - 'null'
                          description: Provider maxSupplyPrice; monetary values use the selected site's currency unless identified as supply prices.
                        goodsScore:
                          type:
                          - number
                          - 'null'
                          description: Provider goodsScore; monetary values use the selected site's currency unless identified as supply prices.
                        reviewNum:
                          type:
                          - number
                          - 'null'
                          description: Provider reviewNum; monetary values use the selected site's currency unless identified as supply prices.
                        hostingMode:
                          type:
                          - number
                          - 'null'
                          description: Provider hostingMode; monetary values use the selected site's currency unless identified as supply prices.
                        status:
                          type:
                          - number
                          - 'null'
                          description: Provider status; monetary values use the selected site's currency unless identified as supply prices.
                        similarNum:
                          type:
                          - number
                          - 'null'
                          description: Provider similarNum; monetary values use the selected site's currency unless identified as supply prices.
                        catIds:
                          type:
                          - array
                          - 'null'
                          description: Associated category identifiers.
                          items: {}
                        catItems:
                          type:
                          - array
                          - 'null'
                          description: 'Category paths: catId, catName, catLevel, parentCatId and isLeaf.'
                          items: {}
                        daySold:
                          type:
                          - number
                          - 'null'
                          description: Provider day Sold metric; sales revenue uses site currency.
                        daySoldRate:
                          type:
                          - number
                          - 'null'
                          description: Provider growth rate for day Sold.
                        daySales:
                          type:
                          - number
                          - 'null'
                          description: Provider day Sales metric; sales revenue uses site currency.
                        daySalesRate:
                          type:
                          - number
                          - 'null'
                          description: Provider growth rate for day Sales.
                        weekSold:
                          type:
                          - number
                          - 'null'
                          description: Provider week Sold metric; sales revenue uses site currency.
                        weekSoldRate:
                          type:
                          - number
                          - 'null'
                          description: Provider growth rate for week Sold.
                        weekSales:
                          type:
                          - number
                          - 'null'
                          description: Provider week Sales metric; sales revenue uses site currency.
                        weekSalesRate:
                          type:
                          - number
                          - 'null'
                          description: Provider growth rate for week Sales.
                        monthSold:
                          type:
                          - number
                          - 'null'
                          description: Provider month Sold metric; sales revenue uses site currency.
                        monthSoldRate:
                          type:
                          - number
                          - 'null'
                          description: Provider growth rate for month Sold.
                        monthSales:
                          type:
                          - number
                          - 'null'
                          description: Provider month Sales metric; sales revenue uses site currency.
                        monthSalesRate:
                          type:
                          - number
                          - 'null'
                          description: Provider growth rate for month Sales.
                  total:
                    type:
                    - integer
                    - 'null'
                    description: Provider match count, possibly capped at 10000 for searches.
                additionalProperties: true
                type: object
              example:
                errmsg: ok
                errcode: 200
                columns: []
                items: []
                total: 0
        '400':
          ? ''
          : '#/components/responses/BadRequest'
        '401':
          ? ''
          : '#/components/responses/Unauthorized'
        '403':
          ? ''
          : '#/components/responses/Forbidden'
        '429':
          ? ''
          : '#/components/responses/TooManyRequests'
        '500':
          ? ''
          : '#/components/responses/ServerError'
      x-nexscope-slug: geekbi-temu-goods-image-search
      x-nexscope-mcp-tool-name: nexscope_geekbi_temu_goods_image_search
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/geekbi-temu-mall-search/run:
    post:
      tags:
      - Temu Marketplace Intelligence
      summary: GeekBI Temu Shop Search
      description: Execute the selected shop search operation and preserve provider business fields and extensions.
      operationId: runGeekbiTemuMallSearch
      externalDocs:
        description: GeekBI Temu Shop Search documentation
        url: https://www.nexscope.ai/api-docs/geekbi-temu-mall-search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                regionId:
                  type: integer
                  description: Temu region from sites[].regionId; never siteId.
                  minimum: 1
                  default: 211
                page:
                  type: integer
                  description: Page number.
                  minimum: 1
                  default: 1
                size:
                  type: integer
                  description: Items per page; page times size must not exceed 10000.
                  minimum: 1
                  maximum: 200
                  default: 20
                keyword:
                  type: string
                  description: User keyword; preserve the supplied language.
                  maxLength: 300
                sort:
                  type: string
                  description: Confirmed provider sort field; omit when unnecessary.
                  maxLength: 100
                order:
                  type: string
                  description: Sort direction, case-insensitive.
                  pattern: ^([aA][sS][cC]|[dD][eE][sS][cC])$
                catIds:
                  type: array
                  description: Category identifiers obtained from category lookup.
                  items:
                    type: integer
                    minimum: 0
                hostingMode:
                  type: integer
                  description: 1 fully managed, 2 semi-managed.
                  enum:
                  - 1
                  - 2
                mallSoldMin:
                  type: integer
                  description: Lower bound for mallSold; minimum must not exceed maximum.
                  minimum: 0
                mallSoldMax:
                  type: integer
                  description: Upper bound for mallSold; minimum must not exceed maximum.
                  minimum: 0
                reviewNumMin:
                  type: integer
                  description: Lower bound for reviewNum; minimum must not exceed maximum.
                  minimum: 0
                reviewNumMax:
                  type: integer
                  description: Upper bound for reviewNum; minimum must not exceed maximum.
                  minimum: 0
                goodsNumMin:
                  type: integer
                  description: Lower bound for goodsNum; minimum must not exceed maximum.
                  minimum: 0
                goodsNumMax:
                  type: integer
                  description: Upper bound for goodsNum; minimum must not exceed maximum.
                  minimum: 0
                followerNumMin:
                  type: integer
                  description: Lower bound for followerNum; minimum must not exceed maximum.
                  minimum: 0
                followerNumMax:
                  type: integer
                  description: Upper bound for followerNum; minimum must not exceed maximum.
                  minimum: 0
                mallSalesMin:
                  type: number
                  description: Lower bound for mallSales; minimum must not exceed maximum.
                  minimum: 0
                mallSalesMax:
                  type: number
                  description: Upper bound for mallSales; minimum must not exceed maximum.
                  minimum: 0
                avgPriceMin:
                  type: number
                  description: Lower bound for avgPrice; minimum must not exceed maximum.
                  minimum: 0
                avgPriceMax:
                  type: number
                  description: Upper bound for avgPrice; minimum must not exceed maximum.
                  minimum: 0
                mallStarMin:
                  type: number
                  description: Lower bound for mallStar; minimum must not exceed maximum.
                  minimum: 0
                  maximum: 5
                mallStarMax:
                  type: number
                  description: Upper bound for mallStar; minimum must not exceed maximum.
                  minimum: 0
                  maximum: 5
                mallOpenTimeMin:
                  type: string
                  description: Earliest mallOpenTime in ISO-8601 date-time; minimum must not exceed maximum.
                  maxLength: 40
                  format: date-time
                mallOpenTimeMax:
                  type: string
                  description: Latest mallOpenTime in ISO-8601 date-time; minimum must not exceed maximum.
                  maxLength: 40
                  format: date-time
              required: []
            example:
              regionId: 211
              page: 1
              size: 3
              mallStarMin: 4
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                properties:
                  errcode:
                    type:
                    - integer
                    - 'null'
                    description: Provider business status; observed success is 200.
                  errmsg:
                    type:
                    - string
                    - 'null'
                    description: Provider business status message.
                  columns:
                    type:
                    - array
                    - 'null'
                    description: Render column definitions; business records are separate.
                    items: {}
                  title:
                    type:
                    - string
                    - 'null'
                    description: 'Provider render/source metadata: title.'
                  type:
                    type:
                    - string
                    - 'null'
                    description: 'Provider render/source metadata: type.'
                  sourceTool:
                    type:
                    - string
                    - 'null'
                    description: 'Provider render/source metadata: sourceTool.'
                  sourceType:
                    type:
                    - string
                    - 'null'
                    description: 'Provider render/source metadata: sourceType.'
                  items:
                    type:
                    - array
                    - 'null'
                    description: Returned records, including valid empty results; preserve duplicate records and unknown fields.
                    items:
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          description: Provider id; preserve identifier and timestamp strings.
                        mallId:
                          type:
                          - string
                          - 'null'
                          description: Provider mallId; preserve identifier and timestamp strings.
                        mallLogo:
                          type:
                          - string
                          - 'null'
                          description: Provider mallLogo; preserve identifier and timestamp strings.
                        mallName:
                          type:
                          - string
                          - 'null'
                          description: Provider mallName; preserve identifier and timestamp strings.
                        mallOpenTime:
                          type:
                          - string
                          - 'null'
                          description: Provider mallOpenTime; preserve identifier and timestamp strings.
                        createTime:
                          type:
                          - string
                          - 'null'
                          description: Provider createTime; preserve identifier and timestamp strings.
                        updateTime:
                          type:
                          - string
                          - 'null'
                          description: Provider updateTime; preserve identifier and timestamp strings.
                        regionId:
                          type:
                          - number
                          - 'null'
                          description: Provider regionId; monetary values use the selected site's currency unless identified as supply prices.
                        hot:
                          type:
                          - number
                          - 'null'
                          description: Provider hot; monetary values use the selected site's currency unless identified as supply prices.
                        mallStar:
                          type:
                          - number
                          - 'null'
                          description: Provider mallStar; monetary values use the selected site's currency unless identified as supply prices.
                        reviewNum:
                          type:
                          - number
                          - 'null'
                          description: Provider reviewNum; monetary values use the selected site's currency unless identified as supply prices.
                        goodsNum:
                          type:
                          - number
                          - 'null'
                          description: Provider goodsNum; monetary values use the selected site's currency unless identified as supply prices.
                        followerNum:
                          type:
                          - number
                          - 'null'
                          description: Provider followerNum; monetary values use the selected site's currency unless identified as supply prices.
                        mallSold:
                          type:
                          - number
                          - 'null'
                          description: Provider mallSold; monetary values use the selected site's currency unless identified as supply prices.
                        mallSales:
                          type:
                          - number
                          - 'null'
                          description: Provider mallSales; monetary values use the selected site's currency unless identified as supply prices.
                        avgPrice:
                          type:
                          - number
                          - 'null'
                          description: Provider avgPrice; monetary values use the selected site's currency unless identified as supply prices.
                        hostingMode:
                          type:
                          - number
                          - 'null'
                          description: Provider hostingMode; monetary values use the selected site's currency unless identified as supply prices.
                        catIds:
                          type:
                          - array
                          - 'null'
                          description: Associated category identifiers.
                          items: {}
                        catItems:
                          type:
                          - array
                          - 'null'
                          description: 'Category paths: catId, catName, catLevel, parentCatId and isLeaf.'
                          items: {}
                        dayFollower:
                          type:
                          - number
                          - 'null'
                          description: Provider day Follower metric; sales revenue uses site currency.
                        dayFollowerRate:
                          type:
                          - number
                          - 'null'
                          description: Provider growth rate for day Follower.
                        dayItemCount:
                          type:
                          - number
                          - 'null'
                          description: Provider day ItemCount metric; sales revenue uses site currency.
                        dayItemCountRate:
                          type:
                          - number
                          - 'null'
                          description: Provider growth rate for day ItemCount.
                        daySales:
                          type:
                          - number
                          - 'null'
                          description: Provider day Sales metric; sales revenue uses site currency.
                        daySalesRate:
                          type:
                          - number
                          - 'null'
                          description: Provider growth rate for day Sales.
                        daySellthroughCount:
                          type:
                          - number
                          - 'null'
                          description: Provider day SellthroughCount metric; sales revenue uses site currency.
                        daySellthroughCountRate:
                          type:
                          - number
                          - 'null'
                          description: Provider growth rate for day SellthroughCount.
                        daySold:
                          type:
                          - number
                          - 'null'
                          description: Provider day Sold metric; sales revenue uses site currency.
                        daySoldRate:
                          type:
                          - number
                          - 'null'
                          description: Provider growth rate for day Sold.
                        weekFollower:
                          type:
                          - number
                          - 'null'
                          description: Provider week Follower metric; sales revenue uses site currency.
                        weekFollowerRate:
                          type:
                          - number
                          - 'null'
                          description: Provider growth rate for week Follower.
                        weekItemCount:
                          type:
                          - number
                          - 'null'
                          description: Provider week ItemCount metric; sales revenue uses site currency.
                        weekItemCountRate:
                          type:
                          - number
                          - 'null'
                          description: Provider growth rate for week ItemCount.
                        weekSales:
                          type:
                          - number
                          - 'null'
                          description: Provider week Sales metric; sales revenue uses site currency.
                        weekSalesRate:
                          type:
                          - number
                          - 'null'
                          description: Provider growth rate for week Sales.
                        weekSellthroughCount:
                          type:
                          - number
                          - 'null'
                          description: Provider week SellthroughCount metric; sales revenue uses site currency.
                        weekSellthroughCountRate:
                          type:
                          - number
                          - 'null'
                          description: Provider growth rate for week SellthroughCount.
                        weekSold:
                          type:
                          - number
                          - 'null'
                          description: Provider week Sold metric; sales revenue uses site currency.
                        weekSoldRate:
                          type:
                          - number
                          - 'null'
                          description: Provider growth rate for week Sold.
                        monthFollower:
                          type:
                          - number
                          - 'null'
                          description: Provider month Follower metric; sales revenue uses site currency.
                        monthFollowerRate:
                          type:
                          - number
                          - 'null'
                          description: Provider growth rate for month Follower.
                        monthItemCount:
                          type:
                          - number
                          - 'null'
                          description: Provider month ItemCount metric; sales revenue uses site currency.
                        monthItemCountRate:
                          type:
                          - number
                          - 'null'
                          description: Provider growth rate for month ItemCount.
                        monthSales:
                          type:
                          - number
                          - 'null'
                          description: Provider month Sales metric; sales revenue uses site currency.
                        monthSalesRate:
                          type:
                          - number
                          - 'null'
                          description: Provider growth rate for month Sales.
                        monthSellthroughCount:
                          type:
                          - number
                          - 'null'
                          description: Provider month SellthroughCount metric; sales revenue uses site currency.
                        monthSellthroughCountRate:
                          type:
                          - number
                          - 'null'
                          description: Provider growth rate for month SellthroughCount.
                        monthSold:
                          type:
                          - number
                          - 'null'
                          description: Provider month Sold metric; sales revenue uses site currency.
                        monthSoldRate:
                          type:
                          - number
                          - 'null'
                          description: Provider growth rate for month Sold.
                  total:
                    type:
                    - integer
                    - 'null'
                    description: Provider match count, possibly capped at 10000 for searches.
                  regionId:
                    type:
                    - integer
                    - 'null'
                    description: Region used for the query.
                  page:
                    type:
                    - integer
                    - 'null'
                    description: Current page.
                  size:
                    type:
                    - integer
                    - 'null'
                    description: Items per page.
                additionalProperties: true
                type: object
              example:
                errmsg: ok
                errcode: 200
                columns: []
                items: []
                total: 0
                regionId: 211
                page: 1
                size: 3
        '400':
          ? ''
          : '#/components/responses/BadRequest'
        '401':
          ? ''
          : '#/components/responses/Unauthorized'
        '403':
          ? ''
          : '#/components/responses/Forbidden'
        '429':
          ? ''
          : '#/components/responses/TooManyRequests'
        '500':
          ? ''
          : '#/components/responses/ServerError'
      x-nexscope-slug: geekbi-temu-mall-search
      x-nexscope-mcp-tool-name: nexscope_geekbi_temu_mall_search
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/geekbi-temu-goods-detail/run:
    post:
      tags:
      - Temu Marketplace Intelligence
      summary: GeekBI Temu Product Detail
      description: Execute the selected product detail operation and preserve provider business fields and extensions.
      operationId: runGeekbiTemuGoodsDetail
      externalDocs:
        description: GeekBI Temu Product Detail documentation
        url: https://www.nexscope.ai/api-docs/geekbi-temu-goods-detail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                goodsId:
                  type: string
                  description: Product ID returned by product search.
                  minLength: 1
                  maxLength: 100
                regionId:
                  type: integer
                  description: Temu region from sites[].regionId; never siteId.
                  minimum: 1
                  default: 211
              required:
              - goodsId
            example:
              goodsId: '601100240999226'
              regionId: 211
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                properties:
                  errcode:
                    type:
                    - integer
                    - 'null'
                    description: Provider business status; observed success is 200.
                  errmsg:
                    type:
                    - string
                    - 'null'
                    description: Provider business status message.
                  columns:
                    type:
                    - array
                    - 'null'
                    description: Render column definitions; business records are separate.
                    items: {}
                  title:
                    type:
                    - string
                    - 'null'
                    description: 'Provider render/source metadata: title.'
                  type:
                    type:
                    - string
                    - 'null'
                    description: 'Provider render/source metadata: type.'
                  sourceTool:
                    type:
                    - string
                    - 'null'
                    description: 'Provider render/source metadata: sourceTool.'
                  sourceType:
                    type:
                    - string
                    - 'null'
                    description: 'Provider render/source metadata: sourceType.'
                  goods:
                    type:
                    - object
                    - 'null'
                    description: Product object; nullable fields and extensions are preserved.
                    properties:
                      isAd:
                        type:
                        - boolean
                        - 'null'
                        description: 'Provider product flag: isAd.'
                      isCustom:
                        type:
                        - boolean
                        - 'null'
                        description: 'Provider product flag: isCustom.'
                      isPresale:
                        type:
                        - boolean
                        - 'null'
                        description: 'Provider product flag: isPresale.'
                      goodsId:
                        type:
                        - string
                        - 'null'
                        description: Provider goodsId; preserve identifier and timestamp strings.
                      mallId:
                        type:
                        - string
                        - 'null'
                        description: Provider mallId; preserve identifier and timestamp strings.
                      thumbnail:
                        type:
                        - string
                        - 'null'
                        description: Provider thumbnail; preserve identifier and timestamp strings.
                      goodsName:
                        type:
                        - string
                        - 'null'
                        description: Provider goodsName; preserve identifier and timestamp strings.
                      goodsNameCn:
                        type:
                        - string
                        - 'null'
                        description: Provider goodsNameCn; preserve identifier and timestamp strings.
                      goodsNameEn:
                        type:
                        - string
                        - 'null'
                        description: Provider goodsNameEn; preserve identifier and timestamp strings.
                      brand:
                        type:
                        - string
                        - 'null'
                        description: Provider brand; preserve identifier and timestamp strings.
                      sku:
                        type:
                        - string
                        - 'null'
                        description: Provider sku; preserve identifier and timestamp strings.
                      onSaleTime:
                        type:
                        - string
                        - 'null'
                        description: Provider onSaleTime; preserve identifier and timestamp strings.
                      mallOpenTime:
                        type:
                        - string
                        - 'null'
                        description: Provider mallOpenTime; preserve identifier and timestamp strings.
                      createTime:
                        type:
                        - string
                        - 'null'
                        description: Provider createTime; preserve identifier and timestamp strings.
                      updateTime:
                        type:
                        - string
                        - 'null'
                        description: Provider updateTime; preserve identifier and timestamp strings.
                      sold:
                        type:
                        - number
                        - 'null'
                        description: Provider sold; monetary values use the selected site's currency unless identified as supply prices.
                      quantity:
                        type:
                        - number
                        - 'null'
                        description: Provider quantity; monetary values use the selected site's currency unless identified as supply prices.
                      mallSold:
                        type:
                        - number
                        - 'null'
                        description: Provider mallSold; monetary values use the selected site's currency unless identified as supply prices.
                      sales:
                        type:
                        - number
                        - 'null'
                        description: Provider sales; monetary values use the selected site's currency unless identified as supply prices.
                      minPrice:
                        type:
                        - number
                        - 'null'
                        description: Provider minPrice; monetary values use the selected site's currency unless identified as supply prices.
                      maxPrice:
                        type:
                        - number
                        - 'null'
                        description: Provider maxPrice; monetary values use the selected site's currency unless identified as supply prices.
                      supplyPrice:
                        type:
                        - number
                        - 'null'
                        description: Provider supplyPrice; monetary values use the selected site's currency unless identified as supply prices.
                      minSupplyPrice:
                        type:
                        - number
                        - 'null'
                        description: Provider minSupplyPrice; monetary values use the selected site's currency unless identified as supply prices.
                      medianSupplyPrice:
                        type:
                        - number
                        - 'null'
                        description: Provider medianSupplyPrice; monetary values use the selected site's currency unless identified as supply prices.
                      maxSupplyPrice:
                        type:
                        - number
                        - 'null'
                        description: Provider maxSupplyPrice; monetary values use the selected site's currency unless identified as supply prices.
                      goodsScore:
                        type:
                        - number
                        - 'null'
                        description: Provider goodsScore; monetary values use the selected site's currency unless identified as supply prices.
                      reviewNum:
                        type:
                        - number
                        - 'null'
                        description: Provider reviewNum; monetary values use the selected site's currency unless identified as supply prices.
                      hostingMode:
                        type:
                        - number
                        - 'null'
                        description: Provider hostingMode; monetary values use the selected site's currency unless identified as supply prices.
                      status:
                        type:
                        - number
                        - 'null'
                        description: Provider status; monetary values use the selected site's currency unless identified as supply prices.
                      similarNum:
                        type:
                        - number
                        - 'null'
                        description: Provider similarNum; monetary values use the selected site's currency unless identified as supply prices.
                      catIds:
                        type:
                        - array
                        - 'null'
                        description: Associated category identifiers.
                        items: {}
                      catItems:
                        type:
                        - array
                        - 'null'
                        description: 'Category paths: catId, catName, catLevel, parentCatId and isLeaf.'
                        items: {}
                      daySold:
                        type:
                        - number
                        - 'null'
                        description: Provider day Sold metric; sales revenue uses site currency.
                      daySoldRate:
                        type:
                        - number
                        - 'null'
                        description: Provider growth rate for day Sold.
                      daySales:
                        type:
                        - number
                        - 'null'
                        description: Provider day Sales metric; sales revenue uses site currency.
                      daySalesRate:
                        type:
                        - number
                        - 'null'
                        description: Provider growth rate for day Sales.
                      weekSold:
                        type:
                        - number
                        - 'null'
                        description: Provider week Sold metric; sales revenue uses site currency.
                      weekSoldRate:
                        type:
                        - number
                        - 'null'
                        description: Provider growth rate for week Sold.
                      weekSales:
                        type:
                        - number
                        - 'null'
                        description: Provider week Sales metric; sales revenue uses site currency.
                      weekSalesRate:
                        type:
                        - number
                        - 'null'
                        description: Provider growth rate for week Sales.
                      monthSold:
                        type:
                        - number
                        - 'null'
                        description: Provider month Sold metric; sales revenue uses site currency.
                      monthSoldRate:
                        type:
                        - number
                        - 'null'
                        description: Provider growth rate for month Sold.
                      monthSales:
                        type:
                        - number
                        - 'null'
                        description: Provider month Sales metric; sales revenue uses site currency.
                      monthSalesRate:
                        type:
                        - number
                        - 'null'
                        description: Provider growth rate for month Sales.
                  history:
                    type:
                    - array
                    - 'null'
                    description: History records from the last 30 days; optional provider metrics and time strings.
                    items:
                      type: object
                      properties:
                        sold:
                          type:
                          - number
                          - 'null'
                          description: Historical sold; monetary values use site currency.
                        sales:
                          type:
                          - number
                          - 'null'
                          description: Historical sales; monetary values use site currency.
                        minPrice:
                          type:
                          - number
                          - 'null'
                          description: Historical minPrice; monetary values use site currency.
                        maxPrice:
                          type:
                          - number
                          - 'null'
                          description: Historical maxPrice; monetary values use site currency.
                        quantity:
                          type:
                          - number
                          - 'null'
                          description: Historical quantity; monetary values use site currency.
                        goodsScore:
                          type:
                          - number
                          - 'null'
                          description: Historical goodsScore; monetary values use site currency.
                        reviewNum:
                          type:
                          - number
                          - 'null'
                          description: Historical reviewNum; monetary values use site currency.
                        daySold:
                          type:
                          - number
                          - 'null'
                          description: Historical daySold; monetary values use site currency.
                        weekSold:
                          type:
                          - number
                          - 'null'
                          description: Historical weekSold; monetary values use site currency.
                        monthSold:
                          type:
                          - number
                          - 'null'
                          description: Historical monthSold; monetary values use site currency.
                        daySales:
                          type:
                          - number
                          - 'null'
                          description: Historical daySales; monetary values use site currency.
                        weekSales:
                          type:
                          - number
                          - 'null'
                          description: Historical weekSales; monetary values use site currency.
                        monthSales:
                          type:
                          - number
                          - 'null'
                          description: Historical monthSales; monetary values use site currency.
                        daySoldRate:
                          type:
                          - number
                          - 'null'
                          description: Historical daySoldRate; monetary values use site currency.
                        weekSoldRate:
                          type:
                          - number
                          - 'null'
                          description: Historical weekSoldRate; monetary values use site currency.
                        monthSoldRate:
                          type:
                          - number
                          - 'null'
                          description: Historical monthSoldRate; monetary values use site currency.
                        daySalesRate:
                          type:
                          - number
                          - 'null'
                          description: Historical daySalesRate; monetary values use site currency.
                        weekSalesRate:
                          type:
                          - number
                          - 'null'
                          description: Historical weekSalesRate; monetary values use site currency.
                        monthSalesRate:
                          type:
                          - number
                          - 'null'
                          description: Historical monthSalesRate; monetary values use site currency.
                        createTime:
                          type:
                          - string
                          - 'null'
                          description: Unmodified provider history timestamp.
                  regionId:
                    type:
                    - integer
                    - 'null'
                    description: Region used for the query.
                additionalProperties: true
                type: object
              example:
                errmsg: ok
                errcode: 200
                columns: []
                goods: {}
                history: []
                regionId: 211
        '400':
          ? ''
          : '#/components/responses/BadRequest'
        '401':
          ? ''
          : '#/components/responses/Unauthorized'
        '403':
          ? ''
          : '#/components/responses/Forbidden'
        '429':
          ? ''
          : '#/components/responses/TooManyRequests'
        '500':
          ? ''
          : '#/components/responses/ServerError'
      x-nexscope-slug: geekbi-temu-goods-detail
      x-nexscope-mcp-tool-name: nexscope_geekbi_temu_goods_detail
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/geekbi-temu-goods-search/run:
    post:
      tags:
      - Temu Marketplace Intelligence
      summary: GeekBI Temu Product Search
      description: Execute the selected product search operation and preserve provider business fields and extensions.
      operationId: runGeekbiTemuGoodsSearch
      externalDocs:
        description: GeekBI Temu Product Search documentation
        url: https://www.nexscope.ai/api-docs/geekbi-temu-goods-search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                regionId:
                  type: integer
                  description: Temu region from sites[].regionId; never siteId.
                  minimum: 1
                  default: 211
                page:
                  type: integer
                  description: Page number.
                  minimum: 1
                  default: 1
                size:
                  type: integer
                  description: Items per page; page times size must not exceed 10000.
                  minimum: 1
                  maximum: 200
                  default: 20
                keyword:
                  type: string
                  description: User keyword; preserve the supplied language.
                  maxLength: 300
                sort:
                  type: string
                  description: Confirmed provider sort field; omit when unnecessary.
                  maxLength: 100
                order:
                  type: string
                  description: Sort direction, case-insensitive.
                  pattern: ^([aA][sS][cC]|[dD][eE][sS][cC])$
                catIds:
                  type: array
                  description: Category identifiers obtained from category lookup.
                  items:
                    type: integer
                    minimum: 0
                matchMode:
                  type: integer
                  description: 1 strict matching, 2 fuzzy matching.
                  enum:
                  - 1
                  - 2
                  default: 2
                status:
                  type: array
                  description: 1 normal, 2 out of stock, 3 delisted.
                  items:
                    type: integer
                    enum:
                    - 1
                    - 2
                    - 3
                hostingMode:
                  type: integer
                  description: 1 fully managed, 2 semi-managed.
                  enum:
                  - 1
                  - 2
                soldMin:
                  type: integer
                  description: Lower bound for sold; minimum must not exceed maximum.
                  minimum: 0
                soldMax:
                  type: integer
                  description: Upper bound for sold; minimum must not exceed maximum.
                  minimum: 0
                daySoldMin:
                  type: integer
                  description: Lower bound for daySold; minimum must not exceed maximum.
                  minimum: 0
                daySoldMax:
                  type: integer
                  description: Upper bound for daySold; minimum must not exceed maximum.
                  minimum: 0
                weekSoldMin:
                  type: integer
                  description: Lower bound for weekSold; minimum must not exceed maximum.
                  minimum: 0
                weekSoldMax:
                  type: integer
                  description: Upper bound for weekSold; minimum must not exceed maximum.
                  minimum: 0
                monthSoldMin:
                  type: integer
                  description: Lower bound for monthSold; minimum must not exceed maximum.
                  minimum: 0
                monthSoldMax:
                  type: integer
                  description: Upper bound for monthSold; minimum must not exceed maximum.
                  minimum: 0
                quantityMin:
                  type: integer
                  description: Lower bound for quantity; minimum must not exceed maximum.
                  minimum: 0
                quantityMax:
                  type: integer
                  description: Upper bound for quantity; minimum must not exceed maximum.
                  minimum: 0
                mallSoldMin:
                  type: integer
                  description: Lower bound for mallSold; minimum must not exceed maximum.
                  minimum: 0
                mallSoldMax:
                  type: integer
                  description: Upper bound for mallSold; minimum must not exceed maximum.
                  minimum: 0
                reviewNumMin:
                  type: integer
                  description: Lower bound for reviewNum; minimum must not exceed maximum.
                  minimum: 0
                reviewNumMax:
                  type: integer
                  description: Upper bound for reviewNum; minimum must not exceed maximum.
                  minimum: 0
                salesMin:
                  type: number
                  description: Lower bound for sales; minimum must not exceed maximum.
                  minimum: 0
                salesMax:
                  type: number
                  description: Upper bound for sales; minimum must not exceed maximum.
                  minimum: 0
                daySalesMin:
                  type: number
                  description: Lower bound for daySales; minimum must not exceed maximum.
                  minimum: 0
                daySalesMax:
                  type: number
                  description: Upper bound for daySales; minimum must not exceed maximum.
                  minimum: 0
                weekSalesMin:
                  type: number
                  description: Lower bound for weekSales; minimum must not exceed maximum.
                  minimum: 0
                weekSalesMax:
                  type: number
                  description: Upper bound for weekSales; minimum must not exceed maximum.
                  minimum: 0
                monthSalesMin:
                  type: number
                  description: Lower bound for monthSales; minimum must not exceed maximum.
                  minimum: 0
                monthSalesMax:
                  type: number
                  description: Upper bound for monthSales; minimum must not exceed maximum.
                  minimum: 0
                priceMin:
                  type: number
                  description: Lower bound for price; minimum must not exceed maximum.
                  minimum: 0
                priceMax:
                  type: number
                  description: Upper bound for price; minimum must not exceed maximum.
                  minimum: 0
                supplyPriceMin:
                  type: number
                  description: Lower bound for supplyPrice; minimum must not exceed maximum.
                  minimum: 0
                supplyPriceMax:
                  type: number
                  description: Upper bound for supplyPrice; minimum must not exceed maximum.
                  minimum: 0
                daySoldRateMin:
                  type: number
                  description: Lower bound for daySoldRate; minimum must not exceed maximum.
                daySoldRateMax:
                  type: number
                  description: Upper bound for daySoldRate; minimum must not exceed maximum.
                weekSoldRateMin:
                  type: number
                  description: Lower bound for weekSoldRate; minimum must not exceed maximum.
                weekSoldRateMax:
                  type: number
                  description: Upper bound for weekSoldRate; minimum must not exceed maximum.
                monthSoldRateMin:
                  type: number
                  description: Lower bound for monthSoldRate; minimum must not exceed maximum.
                monthSoldRateMax:
                  type: number
                  description: Upper bound for monthSoldRate; minimum must not exceed maximum.
                daySalesRateMin:
                  type: number
                  description: Lower bound for daySalesRate; minimum must not exceed maximum.
                daySalesRateMax:
                  type: number
                  description: Upper bound for daySalesRate; minimum must not exceed maximum.
                weekSalesRateMin:
                  type: number
                  description: Lower bound for weekSalesRate; minimum must not exceed maximum.
                weekSalesRateMax:
                  type: number
                  description: Upper bound for weekSalesRate; minimum must not exceed maximum.
                monthSalesRateMin:
                  type: number
                  description: Lower bound for monthSalesRate; minimum must not exceed maximum.
                monthSalesRateMax:
                  type: number
                  description: Upper bound for monthSalesRate; minimum must not exceed maximum.
                goodsScoreMin:
                  type: number
                  description: Lower bound for goodsScore; minimum must not exceed maximum.
                  minimum: 0
                  maximum: 5
                goodsScoreMax:
                  type: number
                  description: Upper bound for goodsScore; minimum must not exceed maximum.
                  minimum: 0
                  maximum: 5
                onSaleTimeMin:
                  type: string
                  description: Earliest onSaleTime in ISO-8601 date-time; minimum must not exceed maximum.
                  maxLength: 40
                  format: date-time
                onSaleTimeMax:
                  type: string
                  description: Latest onSaleTime in ISO-8601 date-time; minimum must not exceed maximum.
                  maxLength: 40
                  format: date-time
                mallOpenTimeMin:
                  type: string
                  description: Earliest mallOpenTime in ISO-8601 date-time; minimum must not exceed maximum.
                  maxLength: 40
                  format: date-time
                mallOpenTimeMax:
                  type: string
                  description: Latest mallOpenTime in ISO-8601 date-time; minimum must not exceed maximum.
                  maxLength: 40
                  format: date-time
              required: []
            example:
              regionId: 211
              page: 1
              size: 3
              keyword: dress
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                properties:
                  errcode:
                    type:
                    - integer
                    - 'null'
                    description: Provider business status; observed success is 200.
                  errmsg:
                    type:
                    - string
                    - 'null'
                    description: Provider business status message.
                  columns:
                    type:
                    - array
                    - 'null'
                    description: Render column definitions; business records are separate.
                    items: {}
                  title:
                    type:
                    - string
                    - 'null'
                    description: 'Provider render/source metadata: title.'
                  type:
                    type:
                    - string
                    - 'null'
                    description: 'Provider render/source metadata: type.'
                  sourceTool:
                    type:
                    - string
                    - 'null'
                    description: 'Provider render/source metadata: sourceTool.'
                  sourceType:
                    type:
                    - string
                    - 'null'
                    description: 'Provider render/source metadata: sourceType.'
                  items:
                    type:
                    - array
                    - 'null'
                    description: Returned records, including valid empty results; preserve duplicate records and unknown fields.
                    items:
                      type: object
                      properties:
                        isAd:
                          type:
                          - boolean
                          - 'null'
                          description: 'Provider product flag: isAd.'
                        isCustom:
                          type:
                          - boolean
                          - 'null'
                          description: 'Provider product flag: isCustom.'
                        isPresale:
                          type:
                          - boolean
                          - 'null'
                          description: 'Provider product flag: isPresale.'
                        goodsId:
                          type:
                          - string
                          - 'null'
                          description: Provider goodsId; preserve identifier and timestamp strings.
                        mallId:
                          type:
                          - string
                          - 'null'
                          description: Provider mallId; preserve identifier and timestamp strings.
                        thumbnail:
                          type:
                          - string
                          - 'null'
                          description: Provider thumbnail; preserve identifier and timestamp strings.
                        goodsName:
                          type:
                          - string
                          - 'null'
                          description: Provider goodsName; preserve identifier and timestamp strings.
                        goodsNameCn:
                          type:
                          - string
                          - 'null'
                          description: Provider goodsNameCn; preserve identifier and timestamp strings.
                        goodsNameEn:
                          type:
                          - string
                          - 'null'
                          description: Provider goodsNameEn; preserve identifier and timestamp strings.
                        brand:
                          type:
                          - string
                          - 'null'
                          description: Provider brand; preserve identifier and timestamp strings.
                        sku:
                          type:
                          - string
                          - 'null'
                          description: Provider sku; preserve identifier and timestamp strings.
                        onSaleTime:
                          type:
                          - string
                          - 'null'
                          description: Provider onSaleTime; preserve identifier and timestamp strings.
                        mallOpenTime:
                          type:
                          - string
                          - 'null'
                          description: Provider mallOpenTime; preserve identifier and timestamp strings.
                        createTime:
                          type:
                          - string
                          - 'null'
                          description: Provider createTime; preserve identifier and timestamp strings.
                        updateTime:
                          type:
                          - string
                          - 'null'
                          description: Provider updateTime; preserve identifier and timestamp strings.
                        sold:
                          type:
                          - number
                          - 'null'
                          description: Provider sold; monetary values use the selected site's currency unless identified as supply prices.
                        quantity:
                          type:
                          - number
                          - 'null'
                          description: Provider quantity; monetary values use the selected site's currency unless identified as supply prices.
                        mallSold:
                          type:
                          - number
                          - 'null'
                          description: Provider mallSold; monetary values use the selected site's currency unless identified as supply prices.
                        sales:
                          type:
                          - number
                          - 'null'
                          description: Provider sales; monetary values use the selected site's currency unless identified as supply prices.
                        minPrice:
                          type:
                          - number
                          - 'null'
                          description: Provider minPrice; monetary values use the selected site's currency unless identified as supply prices.
                        maxPrice:
                          type:
                          - number
                          - 'null'
                          description: Provider maxPrice; monetary values use the selected site's currency unless identified as supply prices.
                        supplyPrice:
                          type:
                          - number
                          - 'null'
                          description: Provider supplyPrice; monetary values use the selected site's currency unless identified as supply prices.
                        minSupplyPrice:
                          type:
                          - number
                          - 'null'
                          description: Provider minSupplyPrice; monetary values use the selected site's currency unless identified as supply prices.
                        medianSupplyPrice:
                          type:
                          - number
                          - 'null'
                          description: Provider medianSupplyPrice; monetary values use the selected site's currency unless identified as supply prices.
                        maxSupplyPrice:
                          type:
                          - number
                          - 'null'
                          description: Provider maxSupplyPrice; monetary values use the selected site's currency unless identified as supply prices.
                        goodsScore:
                          type:
                          - number
                          - 'null'
                          description: Provider goodsScore; monetary values use the selected site's currency unless identified as supply prices.
                        reviewNum:
                          type:
                          - number
                          - 'null'
                          description: Provider reviewNum; monetary values use the selected site's currency unless identified as supply prices.
                        hostingMode:
                          type:
                          - number
                          - 'null'
                          description: Provider hostingMode; monetary values use the selected site's currency unless identified as supply prices.
                        status:
                          type:
                          - number
                          - 'null'
                          description: Provider status; monetary values use the selected site's currency unless identified as supply prices.
                        similarNum:
                          type:
                          - number
                          - 'null'
                          description: Provider similarNum; monetary values use the selected site's currency unless identified as supply prices.
                        catIds:
                          type:
                          - array
                          - 'null'
                          description: Associated category identifiers.
                          items: {}
                        catItems:
                          type:
                          - array
                          - 'null'
                          description: 'Category paths: catId, catName, catLevel, parentCatId and isLeaf.'
                          items: {}
                        daySold:
                          type:
                          - number
                          - 'null'
                          description: Provider day Sold metric; sales revenue uses site currency.
                        daySoldRate:
                          type:
                          - number
                          - 'null'
                          description: Provider growth rate for day Sold.
                        daySales:
                          type:
                          - number
                          - 'null'
                          description: Provider day Sales metric; sales revenue uses site currency.
                        daySalesRate:
                          type:
                          - number
                          - 'null'
                          description: Provider growth rate for day Sales.
                        weekSold:
                          type:
                          - number
                          - 'null'
                          description: Provider week Sold metric; sales revenue uses site currency.
                        weekSoldRate:
                          type:
                          - number
                          - 'null'
                          description: Provider growth rate for week Sold.
                        weekSales:
                          type:
                          - number
                          - 'null'
                          description: Provider week Sales metric; sales revenue uses site currency.
                        weekSalesRate:
                          type:
                          - number
                          - 'null'
                          description: Provider growth rate for week Sales.
                        monthSold:
                          type:
                          - number
                          - 'null'
                          description: Provider month Sold metric; sales revenue uses site currency.
                        monthSoldRate:
                          type:
                          - number
                          - 'null'
                          description: Provider growth rate for month Sold.
                        monthSales:
                          type:
                          - number
                          - 'null'
                          description: Provider month Sales metric; sales revenue uses site currency.
                        monthSalesRate:
                          type:
                          - number
                          - 'null'
                          description: Provider growth rate for month Sales.
                  total:
                    type:
                    - integer
                    - 'null'
                    description: Provider match count, possibly capped at 10000 for searches.
                  regionId:
                    type:
                    - integer
                    - 'null'
                    description: Region used for the query.
                  page:
                    type:
                    - integer
                    - 'null'
                    description: Current page.
                  size:
                    type:
                    - integer
                    - 'null'
                    description: Items per page.
                additionalProperties: true
                type: object
              example:
                errmsg: ok
                errcode: 200
                columns: []
                items: []
                total: 0
                regionId: 211
                page: 1
                size: 3
        '400':
          ? ''
          : '#/components/responses/BadRequest'
        '401':
          ? ''
          : '#/components/responses/Unauthorized'
        '403':
          ? ''
          : '#/components/responses/Forbidden'
        '429':
          ? ''
          : '#/components/responses/TooManyRequests'
        '500':
          ? ''
          : '#/components/responses/ServerError'
      x-nexscope-slug: geekbi-temu-goods-search
      x-nexscope-mcp-tool-name: nexscope_geekbi_temu_goods_search
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/geekbi-temu-keyword-search/run:
    post:
      tags:
      - Temu Marketplace Intelligence
      summary: GeekBI Temu Keyword Research
      description: Execute the selected keyword research operation and preserve provider business fields and extensions.
      operationId: runGeekbiTemuKeywordSearch
      externalDocs:
        description: GeekBI Temu Keyword Research documentation
        url: https://www.nexscope.ai/api-docs/geekbi-temu-keyword-search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                regionId:
                  type: integer
                  description: Temu region from sites[].regionId; never siteId.
                  minimum: 1
                  default: 211
                page:
                  type: integer
                  description: Page number.
                  minimum: 1
                  default: 1
                size:
                  type: integer
                  description: Items per page; page times size must not exceed 10000.
                  minimum: 1
                  maximum: 200
                  default: 20
                keyword:
                  type: string
                  description: User keyword; preserve the supplied language.
                  maxLength: 300
                sort:
                  type: string
                  description: Confirmed provider sort field; omit when unnecessary.
                  maxLength: 100
                order:
                  type: string
                  description: Sort direction, case-insensitive.
                  pattern: ^([aA][sS][cC]|[dD][eE][sS][cC])$
                dsrMin:
                  type: number
                  description: Lower bound for dsr; minimum must not exceed maximum.
                dsrMax:
                  type: number
                  description: Upper bound for dsr; minimum must not exceed maximum.
                totalSoldMin:
                  type: integer
                  description: Lower bound for totalSold; minimum must not exceed maximum.
                  minimum: 0
                totalSoldMax:
                  type: integer
                  description: Upper bound for totalSold; minimum must not exceed maximum.
                  minimum: 0
                itemCountMin:
                  type: integer
                  description: Lower bound for itemCount; minimum must not exceed maximum.
                  minimum: 0
                itemCountMax:
                  type: integer
                  description: Upper bound for itemCount; minimum must not exceed maximum.
                  minimum: 0
                mallCountMin:
                  type: integer
                  description: Lower bound for mallCount; minimum must not exceed maximum.
                  minimum: 0
                mallCountMax:
                  type: integer
                  description: Upper bound for mallCount; minimum must not exceed maximum.
                  minimum: 0
                avgPriceMin:
                  type: number
                  description: Lower bound for avgPrice; minimum must not exceed maximum.
                  minimum: 0
                avgPriceMax:
                  type: number
                  description: Upper bound for avgPrice; minimum must not exceed maximum.
                  minimum: 0
                totalSalesMin:
                  type: number
                  description: Lower bound for totalSales; minimum must not exceed maximum.
                  minimum: 0
                totalSalesMax:
                  type: number
                  description: Upper bound for totalSales; minimum must not exceed maximum.
                  minimum: 0
                catIds:
                  type: array
                  description: Category identifiers obtained from category lookup.
                  items:
                    type: integer
                    minimum: 0
                firstOnSaleTimeMin:
                  type: string
                  description: Earliest firstOnSaleTime in ISO-8601 date-time; minimum must not exceed maximum.
                  maxLength: 40
                  format: date-time
                firstOnSaleTimeMax:
                  type: string
                  description: Latest firstOnSaleTime in ISO-8601 date-time; minimum must not exceed maximum.
                  maxLength: 40
                  format: date-time
              required: []
            example:
              regionId: 211
              page: 1
              size: 3
              keyword: dress
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                properties:
                  errcode:
                    type:
                    - integer
                    - 'null'
                    description: Provider business status; observed success is 200.
                  errmsg:
                    type:
                    - string
                    - 'null'
                    description: Provider business status message.
                  columns:
                    type:
                    - array
                    - 'null'
                    description: Render column definitions; business records are separate.
                    items: {}
                  title:
                    type:
                    - string
                    - 'null'
                    description: 'Provider render/source metadata: title.'
                  type:
                    type:
                    - string
                    - 'null'
                    description: 'Provider render/source metadata: type.'
                  sourceTool:
                    type:
                    - string
                    - 'null'
                    description: 'Provider render/source metadata: sourceTool.'
                  sourceType:
                    type:
                    - string
                    - 'null'
                    description: 'Provider render/source metadata: sourceType.'
                  items:
                    type:
                    - array
                    - 'null'
                    description: Returned records, including valid empty results; preserve duplicate records and unknown fields.
                    items:
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          description: Provider id; preserve identifier and timestamp strings.
                        keyword:
                          type:
                          - string
                          - 'null'
                          description: Provider keyword; preserve identifier and timestamp strings.
                        cnKeyword:
                          type:
                          - string
                          - 'null'
                          description: Provider cnKeyword; preserve identifier and timestamp strings.
                        thumbnail:
                          type:
                          - string
                          - 'null'
                          description: Provider thumbnail; preserve identifier and timestamp strings.
                        firstOnSaleTime:
                          type:
                          - string
                          - 'null'
                          description: Provider firstOnSaleTime; preserve identifier and timestamp strings.
                        createTime:
                          type:
                          - string
                          - 'null'
                          description: Provider createTime; preserve identifier and timestamp strings.
                        updateTime:
                          type:
                          - string
                          - 'null'
                          description: Provider updateTime; preserve identifier and timestamp strings.
                        regionId:
                          type:
                          - number
                          - 'null'
                          description: Provider regionId; monetary values use the selected site's currency unless identified as supply prices.
                        dsr:
                          type:
                          - number
                          - 'null'
                          description: Provider dsr; monetary values use the selected site's currency unless identified as supply prices.
                        totalSold:
                          type:
                          - number
                          - 'null'
                          description: Provider totalSold; monetary values use the selected site's currency unless identified as supply prices.
                        totalSales:
                          type:
                          - number
                          - 'null'
                          description: Provider totalSales; monetary values use the selected site's currency unless identified as supply prices.
                        avgPrice:
                          type:
                          - number
                          - 'null'
                          description: Provider avgPrice; monetary values use the selected site's currency unless identified as supply prices.
                        itemCount:
                          type:
                          - number
                          - 'null'
                          description: Provider itemCount; monetary values use the selected site's currency unless identified as supply prices.
                        mallCount:
                          type:
                          - number
                          - 'null'
                          description: Provider mallCount; monetary values use the selected site's currency unless identified as supply prices.
                        semiManagedItemCount:
                          type:
                          - number
                          - 'null'
                          description: Provider semiManagedItemCount; monetary values use the selected site's currency unless identified as supply prices.
                        semiManagedMallCount:
                          type:
                          - number
                          - 'null'
                          description: Provider semiManagedMallCount; monetary values use the selected site's currency unless identified as supply prices.
                        catIds:
                          type:
                          - array
                          - 'null'
                          description: Associated category identifiers.
                          items: {}
                        catItems:
                          type:
                          - array
                          - 'null'
                          description: 'Category paths: catId, catName, catLevel, parentCatId and isLeaf.'
                          items: {}
                        daySold:
                          type:
                          - number
                          - 'null'
                          description: Provider day Sold metric; sales revenue uses site currency.
                        daySoldRate:
                          type:
                          - number
                          - 'null'
                          description: Provider growth rate for day Sold.
                        daySales:
                          type:
                          - number
                          - 'null'
                          description: Provider day Sales metric; sales revenue uses site currency.
                        daySalesRate:
                          type:
                          - number
                          - 'null'
                          description: Provider growth rate for day Sales.
                        dayItemCount:
                          type:
                          - number
                          - 'null'
                          description: Provider day ItemCount metric; sales revenue uses site currency.
                        dayItemCountRate:
                          type:
                          - number
                          - 'null'
                          description: Provider growth rate for day ItemCount.
                        dayMallCount:
                          type:
                          - number
                          - 'null'
                          description: Provider day MallCount metric; sales revenue uses site currency.
                        dayMallCountRate:
                          type:
                          - number
                          - 'null'
                          description: Provider growth rate for day MallCount.
                        weekSold:
                          type:
                          - number
                          - 'null'
                          description: Provider week Sold metric; sales revenue uses site currency.
                        weekSoldRate:
                          type:
                          - number
                          - 'null'
                          description: Provider growth rate for week Sold.
                        weekSales:
                          type:
                          - number
                          - 'null'
                          description: Provider week Sales metric; sales revenue uses site currency.
                        weekSalesRate:
                          type:
                          - number
                          - 'null'
                          description: Provider growth rate for week Sales.
                        weekItemCount:
                          type:
                          - number
                          - 'null'
                          description: Provider week ItemCount metric; sales revenue uses site currency.
                        weekItemCountRate:
                          type:
                          - number
                          - 'null'
                          description: Provider growth rate for week ItemCount.
                        weekMallCount:
                          type:
                          - number
                          - 'null'
                          description: Provider week MallCount metric; sales revenue uses site currency.
                        weekMallCountRate:
                          type:
                          - number
                          - 'null'
                          description: Provider growth rate for week MallCount.
                        monthSold:
                          type:
                          - number
                          - 'null'
                          description: Provider month Sold metric; sales revenue uses site currency.
                        monthSoldRate:
                          type:
                          - number
                          - 'null'
                          description: Provider growth rate for month Sold.
                        monthSales:
                          type:
                          - number
                          - 'null'
                          description: Provider month Sales metric; sales revenue uses site currency.
                        monthSalesRate:
                          type:
                          - number
                          - 'null'
                          description: Provider growth rate for month Sales.
                        monthItemCount:
                          type:
                          - number
                          - 'null'
                          description: Provider month ItemCount metric; sales revenue uses site currency.
                        monthItemCountRate:
                          type:
                          - number
                          - 'null'
                          description: Provider growth rate for month ItemCount.
                        monthMallCount:
                          type:
                          - number
                          - 'null'
                          description: Provider month MallCount metric; sales revenue uses site currency.
                        monthMallCountRate:
                          type:
                          - number
                          - 'null'
                          description: Provider growth rate for month MallCount.
                  total:
                    type:
                    - integer
                    - 'null'
                    description: Provider match count, possibly capped at 10000 for searches.
                  regionId:
                    type:
                    - integer
                    - 'null'
                    description: Region used for the query.
                  page:
                    type:
                    - integer
                    - 'null'
                    description: Current page.
                  size:
                    type:
                    - integer
                    - 'null'
                    description: Items per page.
                additionalProperties: true
                type: object
              example:
                errmsg: ok
                errcode: 200
                columns: []
                items: []
                total: 0
                regionId: 211
                page: 1
                size: 3
[...]
