openapi: 3.2.0
info:
  title: Nexscope Ecommerce Data and Creative Amazon Marketplace…
  version: 2026-08-28-public-catalog-v1
  description: Nexscope APIs provide ecommerce marketplace intelligence and creative generation capabilities through REST and MCP. Authentication uses a Nexscope API key. Pricing is credit-based and actual usage varies by endpoint and workload; current estimates are shown in the Nexscope account.
  termsOfService: https://www.nexscope.ai/terms
  contact:
    name: Nexscope Support
    email: service@nexscope.ai
    url: https://www.nexscope.ai/api-docs
  license:
    name: Proprietary API; use subject to Nexscope Terms
    url: https://www.nexscope.ai/terms
servers:
- url: https://api.nexscope.ai
  description: Production
security:
- bearerAuth: []
tags:
- name: Amazon Marketplace Intelligence
  description: Amazon product, search, market, review, traffic and policy APIs.
  x-category-slug: amazon-marketplace-intelligence
paths:
  /api/skill-api/v1/skills/amazon-asin-traffic-summary/run:
    post:
      tags:
      - Amazon Marketplace Intelligence
      summary: Amazon Asin Traffic Summary
      description: Use SIF (Search Intelligence Framework) data to analyze ASIN traffic source composition and exposure distribution, covering current period/previous period/newly entered/exited period comparisons.
      operationId: runAmazonAsinTrafficSummary
      externalDocs:
        description: Amazon Asin Traffic Summary documentation
        url: https://www.nexscope.ai/api-docs/amazon-asin-traffic-summary
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request parameters documented by ecommerce.amazon-asin-traffic-summary.
              properties:
                searchValue:
                  type: string
                  description: Search value, ASIN codes, comma-separated, max 10 ASINs, max length 1000 characters
                  example: B072MQ5BRX
                country:
                  type: string
                  description: 'Country site, default US. Options (13 total): US, UK, DE, CA, JP, FR, ES, IT, MX, AU, AE, BR, SA'
                last7d:
                  type: boolean
                  description: Whether to get last 7 days data, default true. When false, use startDate/endDate range
                  example: false
                startDate:
                  type: string
                  description: Start date yyyy-MM-dd (effective when last7d=false; if omitted, the latest system week is used)
                  example: '2025-03-01'
                endDate:
                  type: string
                  description: End date yyyy-MM-dd (paired with startDate)
                  example: '2025-03-31'
                conditions:
                  type: string
                  description: 'Condition filters, comma-separated. Options: nf (natural traffic), sp (SP ads), sb (SB regular), sbv (video ads), ad (ad traffic), acAd (SP recommendation), totalPeriod.in (new incoming traffic keywords)'
                sortBy:
                  type: string
                  description: 'Sort field. Options: totalKeywordNum (all traffic keywords), naturalKeywordNum (natural traffic keywords), brandKeywordNum (brand ad keywords), vedioKeywordNum (video ad keywords), acKeywordNum (AC recommended keywords), erKeywordNum (ER recommended keywords), trKeywordNum (TR recommended keywords), sumScore (total keyword exposure score), totalNfScore (total natural rank exposure score), totalSpSocre (total SP ad exposure score, note spelling), totalBrandScore (total brand ad exposure score), totalVedioScore (total video ad exposure score), totalAcScore (total AC recommendation exposure score), totalTrScore (total TR recommendation exposure score), totalErScore (total ER recommendation exposure score)'
                pageNum:
                  type: integer
                  description: Page number, default 1
                  example: 1
                pageSize:
                  type: integer
                  description: Results per page, min 10, max 10000, default 10000
                  example: 10
                desc:
                  type: boolean
                  description: Whether to sort descending, default true
                  example: false
              required:
              - searchValue
              example:
                last7d: true
                pageSize: 10
                desc: true
                pageNum: 1
                country: US
                searchValue: B072MQ5BRX
              additionalProperties: true
            example:
              last7d: true
              pageSize: 10
              desc: true
              pageNum: 1
              country: US
              searchValue: B072MQ5BRX
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Returns the documented upstream API response directly without an additional wrapper.
                properties:
                  code:
                    type: string
                    description: Response code
                  msg:
                    type: string
                    description: Message
                  total:
                    type: integer
                    description: Number of data records actually returned
                    example: 1
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        asin:
                          type: string
                          description: ASIN code. Amazon Standard Identification Number
                          example: B072MQ5BRX
                        productTitle:
                          type: string
                          description: Product title
                        productCategory:
                          type: string
                          description: Product category
                        productPrice:
                          type: number
                          description: Product price
                          example: 1
                        productImageUrl:
                          type: string
                          description: Product main image URL
                          example: https://example.com/image.jpg
                        productFeatures:
                          type: array
                          items: {}
                          description: Product feature list
                          example: []
                        customerRatingCount:
                          type: integer
                          description: Total customer rating count
                          example: 1
                        productStarRating:
                          type: number
                          description: Product star rating (0-5 stars)
                          example: 1
                        productRatingScore:
                          type: number
                          description: Product rating score value (0-5, as displayed on Amazon page)
                          example: 1
                        isVariantProduct:
                          type: boolean
                          description: Whether it is a variant
                          example: false
                        recentMonthlySalesBucket:
                          type: string
                          description: Recent month sales bucket (only has value in keywordSummary path, e.g. "300+" or "1,000+")
                        isMonitored:
                          type: boolean
                          description: Whether it is being monitored
                          example: false
                        monitoringStartTime:
                          type: string
                          description: Product monitoring start time
                        dataPeriodStartDate:
                          type: string
                          description: Data period start date (yyyy-MM-dd)
                          example: '2026-01-01'
                        totalExposureScore:
                          type: number
                          description: Total exposure score. Composite exposure score of this product across all keywords
                          example: 1
                        totalExposureScorePrev:
                          type: number
                          description: Previous period total exposure score
                          example: 1
                        totalTrafficKeywordCount:
                          type: integer
                          description: Total traffic keyword count
                          example: 1
                        totalTrafficKeywordCountIn:
                          type: integer
                          description: New incoming traffic keyword count for this period
                          example: 1
                        totalTrafficKeywordCountOut:
                          type: integer
                          description: Outgoing traffic keyword count for this period
                          example: 1
                        totalTrafficKeywordCountPrev:
                          type: integer
                          description: Previous period total traffic keyword count
                          example: 1
                        naturalSearchExposureScore:
                          type: number
                          description: Natural search exposure total score
                          example: 1
                        naturalSearchExposureRatio:
                          type: number
                          description: Natural search exposure ratio
                          example: 1
                        naturalSearchExposureScorePrev:
                          type: number
                          description: Previous period natural search exposure score
                          example: 1
                        naturalSearchKeywordCount:
                          type: integer
                          description: Natural search keyword count
                          example: 1
                        naturalSearchKeywordCountIn:
                          type: integer
                          description: New incoming natural search keyword count for this period
                          example: 1
                        naturalSearchKeywordCountOut:
                          type: integer
                          description: Outgoing natural search keyword count for this period
                          example: 1
                        naturalSearchKeywordCountPrev:
                          type: integer
                          description: Previous period natural search keyword count
                          example: 1
                        sponsoredProductsExposureScore:
                          type: number
                          description: SP ad exposure total score
                          example: 1
                        sponsoredProductsExposureRatio:
                          type: number
                          description: SP ad exposure ratio
                          example: 1
                        sponsoredProductsExposureScorePrev:
                          type: number
                          description: Previous period SP ad exposure score
                          example: 1
                        sponsoredProductsKeywordCount:
                          type: integer
                          description: SP ad keyword count
                          example: 1
                        brandAdExposureScore:
                          type: number
                          description: Brand ad exposure total score
                          example: 1
                        brandAdExposureRatio:
                          type: number
                          description: Brand ad exposure ratio
                          example: 1
                        brandAdExposureScorePrev:
                          type: number
                          description: Previous period brand ad exposure score
                          example: 1
                        brandAdKeywordCount:
                          type: integer
                          description: Total brand ad keyword count
                          example: 1
                        topBrandAdKeywordCount:
                          type: integer
                          description: Top-of-page brand ad keyword count
                          example: 1
                        bottomBrandAdKeywordCount:
                          type: integer
                          description: Bottom-of-page brand ad keyword count
                          example: 1
                        videoAdExposureScore:
                          type: number
                          description: Video ad exposure total score
                          example: 1
                        videoAdExposureRatio:
                          type: number
                          description: Video ad exposure ratio
                          example: 1
                        videoAdExposureScorePrev:
                          type: number
                          description: Previous period video ad exposure score
                          example: 1
                        videoAdKeywordCount:
                          type: integer
                          description: Video ad keyword count
                          example: 1
                        amazonsChoiceExposureScore:
                          type: number
                          description: Amazon's Choice exposure total score
                          example: 1
                        amazonsChoiceExposureRatio:
                          type: number
                          description: Amazon's Choice exposure ratio
                          example: 1
                        amazonsChoiceExposureScorePrev:
                          type: number
                          description: Previous period AC exposure score
                          example: 1
                        amazonsChoiceKeywordCount:
                          type: integer
                          description: Amazon's Choice keyword count
                          example: 1
                        amazonsChoiceKeywordCountIn:
                          type: integer
                          description: New incoming AC keyword count for this period
                          example: 1
                        amazonsChoiceKeywordCountOut:
                          type: integer
                          description: Outgoing AC keyword count for this period
                          example: 1
                        editorialRecommendationsExposureScore:
                          type: number
                          description: Editorial Recommendations exposure total score
                          example: 1
                        editorialRecommendationsExposureRatio:
                          type: number
                          description: Editorial Recommendations exposure ratio
                          example: 1
                        editorialRecommendationsKeywordCount:
                          type: integer
                          description: Editorial Recommendations keyword count
                          example: 1
                        topRatedExposureScore:
                          type: number
                          description: Top Rated recommendation exposure total score
                          example: 1
                        topRatedExposureRatio:
                          type: number
                          description: Top Rated recommendation exposure ratio
                          example: 1
                        topRatedKeywordCount:
                          type: integer
                          description: Top Rated recommendation keyword count
                          example: 1
                        frequentlyBoughtKeywordCount:
                          type: integer
                          description: Frequently Bought recommendation keyword count (Top Rated Frequently Bought)
                          example: 1
                        recommendPositionExposureScore:
                          type: number
                          description: Recommendation position exposure total score
                          example: 1
                        recommendAdExposureScore:
                          type: number
                          description: Recommendation position ad exposure score
                          example: 1
                        recommendNonadExposureScore:
                          type: number
                          description: Recommendation position non-ad exposure score
                          example: 1
                        nonAcRecommendExposureScore:
                          type: number
                          description: Non-AC recommendation position exposure score
                          example: 1
                        recommendKeywordCount:
                          type: integer
                          description: Total recommendation position keyword count
                          example: 1
                        recommendAdKeywordCount:
                          type: integer
                          description: Recommendation position ad keyword count
                          example: 1
                        recommendNonadKeywordCount:
                          type: integer
                          description: Recommendation position non-ad keyword count
                          example: 1
                        ppcTrafficSources:
                          type: array
                          items: {}
                          description: 'PPC paid ad traffic source markers. Contains: SP ads, top brand ads, bottom brand ads, video ads'
                          example: []
                        naturalSearchTrafficSources:
                          type: array
                          items: {}
                          description: Natural search traffic source markers
                          example: []
                        amazonRecommendationSources:
                          type: array
                          items: {}
                          description: 'Amazon recommendation traffic source markers. Contains: Best Seller, AC, ER, TR, TRFOB, etc.'
                          example: []
                        promotionalDealSources:
                          type: array
                          items: {}
                          description: 'Promotional deal traffic source markers. Contains: Coupon, Limited Time Deal, Lowest Price in 30 Days, etc.'
                          example: []
                      additionalProperties: true
                    description: Return data, ASIN summary object array (see below)
                    example: []
                  columns:
                    type: array
                    items: {}
                    description: Render columns
                    example: []
                  type:
                    type: string
                    description: Render style
                  title:
                    type: string
                    description: Title
                  isParentAsin:
                    type: boolean
                    description: Whether the search value is a parent ASIN
                    example: false
                  variantsNum:
                    type: integer
                    description: Number of variant products with keywords
                    example: 1
                  noKeywordVariantsNum:
                    type: integer
                    description: Number of variant products without keywords
                    example: 1
                  costTime:
                    type: integer
                    description: Latency (ms)
                    example: 1
                  costToken:
                    type: integer
                    description: Tokens consumed
                    example: 1
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  message:
                    type: string
                    description: Provider-specific message.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                example:
                  total: 1
                  data:
                  - asin: B072MQ5BRX
                    productPrice: 1
                    productImageUrl: https://example.com/image.jpg
                    productFeatures: []
                    customerRatingCount: 1
                    productStarRating: 1
                    productRatingScore: 1
                    isVariantProduct: false
                    isMonitored: false
                    dataPeriodStartDate: '2026-01-01'
                    totalExposureScore: 1
                    totalExposureScorePrev: 1
                    totalTrafficKeywordCount: 1
                    totalTrafficKeywordCountIn: 1
                    totalTrafficKeywordCountOut: 1
                    totalTrafficKeywordCountPrev: 1
                    naturalSearchExposureScore: 1
                    naturalSearchExposureRatio: 1
                    naturalSearchExposureScorePrev: 1
                    naturalSearchKeywordCount: 1
                    naturalSearchKeywordCountIn: 1
                    naturalSearchKeywordCountOut: 1
                    naturalSearchKeywordCountPrev: 1
                    sponsoredProductsExposureScore: 1
                    sponsoredProductsExposureRatio: 1
                    sponsoredProductsExposureScorePrev: 1
                    sponsoredProductsKeywordCount: 1
                    brandAdExposureScore: 1
                    brandAdExposureRatio: 1
                    brandAdExposureScorePrev: 1
                    brandAdKeywordCount: 1
                    topBrandAdKeywordCount: 1
                    bottomBrandAdKeywordCount: 1
                    videoAdExposureScore: 1
                    videoAdExposureRatio: 1
                    videoAdExposureScorePrev: 1
                    videoAdKeywordCount: 1
                    amazonsChoiceExposureScore: 1
                    amazonsChoiceExposureRatio: 1
                    amazonsChoiceExposureScorePrev: 1
                    amazonsChoiceKeywordCount: 1
                    amazonsChoiceKeywordCountIn: 1
                    amazonsChoiceKeywordCountOut: 1
                    editorialRecommendationsExposureScore: 1
                    editorialRecommendationsExposureRatio: 1
                    editorialRecommendationsKeywordCount: 1
                    topRatedExposureScore: 1
                    topRatedExposureRatio: 1
                    topRatedKeywordCount: 1
                    frequentlyBoughtKeywordCount: 1
                    recommendPositionExposureScore: 1
                    recommendAdExposureScore: 1
                    recommendNonadExposureScore: 1
                    nonAcRecommendExposureScore: 1
                    recommendKeywordCount: 1
                    recommendAdKeywordCount: 1
                    recommendNonadKeywordCount: 1
                    ppcTrafficSources: []
                    naturalSearchTrafficSources: []
                    amazonRecommendationSources: []
                    promotionalDealSources: []
                  columns: []
                  isParentAsin: false
                  variantsNum: 1
                  noKeywordVariantsNum: 1
                  costTime: 1
                  costToken: 1
                additionalProperties: true
              example:
                total: 1
                data:
                - asin: B072MQ5BRX
                  productPrice: 1
                  productImageUrl: https://example.com/image.jpg
                  productFeatures: []
                  customerRatingCount: 1
                  productStarRating: 1
                  productRatingScore: 1
                  isVariantProduct: false
                  isMonitored: false
                  dataPeriodStartDate: '2026-01-01'
                  totalExposureScore: 1
                  totalExposureScorePrev: 1
                  totalTrafficKeywordCount: 1
                  totalTrafficKeywordCountIn: 1
                  totalTrafficKeywordCountOut: 1
                  totalTrafficKeywordCountPrev: 1
                  naturalSearchExposureScore: 1
                  naturalSearchExposureRatio: 1
                  naturalSearchExposureScorePrev: 1
                  naturalSearchKeywordCount: 1
                  naturalSearchKeywordCountIn: 1
                  naturalSearchKeywordCountOut: 1
                  naturalSearchKeywordCountPrev: 1
                  sponsoredProductsExposureScore: 1
                  sponsoredProductsExposureRatio: 1
                  sponsoredProductsExposureScorePrev: 1
                  sponsoredProductsKeywordCount: 1
                  brandAdExposureScore: 1
                  brandAdExposureRatio: 1
                  brandAdExposureScorePrev: 1
                  brandAdKeywordCount: 1
                  topBrandAdKeywordCount: 1
                  bottomBrandAdKeywordCount: 1
                  videoAdExposureScore: 1
                  videoAdExposureRatio: 1
                  videoAdExposureScorePrev: 1
                  videoAdKeywordCount: 1
                  amazonsChoiceExposureScore: 1
                  amazonsChoiceExposureRatio: 1
                  amazonsChoiceExposureScorePrev: 1
                  amazonsChoiceKeywordCount: 1
                  amazonsChoiceKeywordCountIn: 1
                  amazonsChoiceKeywordCountOut: 1
                  editorialRecommendationsExposureScore: 1
                  editorialRecommendationsExposureRatio: 1
                  editorialRecommendationsKeywordCount: 1
                  topRatedExposureScore: 1
                  topRatedExposureRatio: 1
                  topRatedKeywordCount: 1
                  frequentlyBoughtKeywordCount: 1
                  recommendPositionExposureScore: 1
                  recommendAdExposureScore: 1
                  recommendNonadExposureScore: 1
                  nonAcRecommendExposureScore: 1
                  recommendKeywordCount: 1
                  recommendAdKeywordCount: 1
                  recommendNonadKeywordCount: 1
                  ppcTrafficSources: []
                  naturalSearchTrafficSources: []
                  amazonRecommendationSources: []
                  promotionalDealSources: []
                columns: []
                isParentAsin: false
                variantsNum: 1
                noKeywordVariantsNum: 1
                costTime: 1
                costToken: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: amazon-asin-traffic-summary
      x-nexscope-mcp-tool-name: nexscope_amazon_asin_traffic_summary
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/amazon-broad-product-search/run:
    post:
      tags:
      - Amazon Marketplace Intelligence
      summary: Amazon Broad Product Search
      description: Use SellerSprite data to search and filter Amazon products, supporting multi-dimensional criteria including price, monthly sales, BSR ranking, gross margin, ratings, fulfillment method, badges, seller origin, and more across multiple Amazon marketplaces.
      operationId: runAmazonBroadProductSearch
      externalDocs:
        description: Amazon Broad Product Search documentation
        url: https://www.nexscope.ai/api-docs/amazon-broad-product-search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request parameters documented by ecommerce.amazon-broad-product-search.
              properties:
                chatId:
                  type: string
                  description: Chat ID, maxLength 1000
                  example: example-id
                uid:
                  type: string
                  description: User ID, maxLength 1000
                  example: example-id
                requestId:
                  type: string
                  description: Push ID, maxLength 1000
                  example: example-id
                teamId:
                  type: string
                  description: Team ID, maxLength 1000
                  example: example-id
                keyword:
                  type: string
                  description: Search keyword; translate to the corresponding country's language whenever possible, e.g. use English keywords for the US, German keywords for Germany, etc.; maxLength 10240
                  example: phone case
                matchType:
                  type: integer
                  description: 'Match type: 1 = phrase match (default), 2 = fuzzy match, 3 = exact match'
                  example: 1
                excludeKeywords:
                  type: string
                  description: Exclude keywords; maxLength 10240
                  example: phone case
                marketplace:
                  type: string
                  description: Marketplace site code, default US. Only US, UK, DE, FR, JP, CA, IT, ES, MX, IN are allowed (must match this enum; AU, TR, and other unlisted sites are not supported)
                  example: US
                nodeLabel:
                  type: string
                  description: Amazon category name; maxLength 1000
                nodeIdPath:
                  type: string
                  description: Amazon category node ID; maxLength 1000
                filterSubNode:
                  type: boolean
                  description: Whether to filter subcategory nodes; only effective when nodeLabel or nodeIdPath has a value; pass JSON boolean true / false
                  example: false
                dataSnapshotMonth:
                  type: string
                  description: 'Product data snapshot month, format yyyyMM (e.g. 202412 for December 2024 data snapshot), or nearly for last 30 days real-time data. Default: nearly. Used for historical analysis and period comparison; only supports existing historical snapshots, future dates are not supported; maxLength 1000'
                minPrice:
                  type: number
                  description: Minimum price (>= 0)
                  example: 1
                maxPrice:
                  type: number
                  description: Maximum price (>= 0)
                  example: 1
                minProfit:
                  type: number
                  description: Minimum gross margin, unit % (1-100)
                  example: 1
                maxProfit:
                  type: number
                  description: Maximum gross margin, unit % (1-100)
                  example: 1
                minRevenue:
                  type: number
                  description: Minimum monthly sales revenue (>= 0)
                  example: 1
                maxRevenue:
                  type: number
                  description: Maximum monthly sales revenue (>= 0)
                  example: 1
                minFba:
                  type: number
                  description: Minimum FBA shipping fee (>= 0)
                  example: 1
                maxFba:
                  type: number
                  description: Maximum FBA shipping fee (>= 0)
                  example: 1
                minUnits:
                  type: integer
                  description: Minimum monthly sales volume (>= 0)
                  example: 1
                maxUnits:
                  type: integer
                  description: Maximum monthly sales volume (>= 0)
                  example: 1
                minAmzUnit:
                  type: integer
                  description: Minimum variant last-30-day sales volume (only supported when dataSnapshotMonth is a "last 30 days" type query); minimum 0
                  example: 1
                maxAmzUnit:
                  type: integer
                  description: Maximum variant last-30-day sales volume (only supported for last 30 days queries); minimum 0
                  example: 1
                minUnitsGrowthRate:
                  type: number
                  description: Minimum monthly sales volume growth rate, unit %
                  example: 1
                maxUnitsGrowthRate:
                  type: number
                  description: Maximum monthly sales volume growth rate, unit %
                  example: 1
                minBsr:
                  type: integer
                  description: Lowest main category BSR rank
                  example: 1
                maxBsr:
                  type: integer
                  description: Highest main category BSR rank
                  example: 1
                minBsrGrowthRate:
                  type: number
                  description: Minimum BSR growth rate, unit %
                  example: 1
                maxBsrGrowthRate:
                  type: number
                  description: Maximum BSR growth rate, unit %
                  example: 1
                minBsrGrowthCount:
                  type: integer
                  description: Minimum BSR growth count
                  example: 1
                maxBsrGrowthCount:
                  type: integer
                  description: Maximum main category BSR growth count
                  example: 1
                minSubNodeBsrRank:
                  type: integer
                  description: Lowest subcategory BSR rank (requires filterSubNode = true)
                  example: 1
                maxSubNodeBsrRank:
                  type: integer
                  description: Highest subcategory BSR rank (requires filterSubNode = true)
                  example: 1
                minRating:
                  type: number
                  description: Minimum rating value (0-5)
                  example: 1
                maxRating:
                  type: number
                  description: Maximum rating value (0-5), 3.8-4.3 is the product improvement opportunity range
                  example: 1
                minRatings:
                  type: integer
                  description: Minimum review count (0-10000)
                  example: 1
                maxRatings:
                  type: integer
                  description: Maximum review count (0-10000)
                  example: 1
                minRatingsGrowthCount:
                  type: integer
                  description: Minimum monthly new review count (>= 0)
                  example: 1
                maxRatingsGrowthCount:
                  type: integer
                  description: Maximum monthly new review count (>= 0)
                  example: 1
                minListingQualityScore:
                  type: number
                  description: Minimum Listing page quality score (>= 0)
                  example: 1
                maxListingQualityScore:
                  type: number
                  description: Maximum Listing page quality score (>= 0)
                  example: 1
                minVariations:
                  type: integer
                  description: Minimum number of variations
                  example: 1
                maxVariations:
                  type: integer
                  description: Maximum number of variations
                  example: 1
                minWeights:
                  type: number
                  description: Minimum weight (>= 0)
                  example: 1
                maxWeights:
                  type: number
                  description: Maximum weight (>= 0)
                  example: 1
                weightUnit:
                  type: string
                  description: 'Weight unit: g, kg, oz, lb. This field must be specified if the parameters include weight filtering'
                dimensionType:
                  type: string
                  description: Package dimension type (codes vary by site, see below)
                minSellers:
                  type: integer
                  description: Minimum number of sellers
                  example: 1
                maxSellers:
                  type: integer
                  description: Maximum number of sellers
                  example: 1
                badgeBestSeller:
                  type: string
                  description: 'Best Seller badge filter: Y, N, or empty (all)'
                badgeAmazonsChoice:
                  type: string
                  description: 'Amazon''s Choice badge filter: Y, N, or empty (all)'
                badgeNewRelease:
                  type: string
                  description: 'New Release badge filter: Y, N, or empty (all)'
                fulfillment:
                  type: string
                  description: 'Fulfillment method: single select AMZ / FBA / FBM, or multi-select such as AMZ,FBA, FBA,FBM, AMZ,FBA,FBM, etc.; multiple conditions use comma separation; empty means no limit'
                showVariation:
                  type: string
                  description: 'Whether to query variants: Y or N, default N'
                hideUnlistedProduct:
                  type: boolean
                  description: Whether to hide delisted products, default true
                  example: false
                listedWithinLastMonths:
                  type: integer
                  description: 'Time since listing (months), only allowed: 1, 3, 6, 12, 24 (must match these enum values; do not pass other integers)'
                  example: 1
                sellerNation:
                  type: string
                  description: Seller location code (e.g. US, CN, HK), multiple conditions comma-separated, default no limit
                includeSellers:
                  type: string
                  description: Include sellers; maxLength 10240
                excludeSellers:
                  type: string
                  description: Exclude sellers; maxLength 10240
                includeBrands:
                  type: string
                  description: Include brands; maxLength 10240
                excludeBrands:
                  type: string
                  description: Exclude brands; maxLength 10240
                order:
                  type: object
                  description: Sort configuration; if passed, it is recommended to provide both field and desc (both are required in the sub-schema)
                  example: {}
                  properties:
                    field:
                      type: string
                      description: 'Sort field: total_units (monthly sales), total_amount (monthly revenue), bsr_rank, price, rating, reviews, profit, reviews_rate, available_date, questions, total_units_growth, total_amount_growth, reviews_increasement, bsr_rank_cv, bsr_rank_cr, amz_unit (variant sales). Default total_units. Pass an empty string "" to not sort by the above business fields (full query sort semantics are handled by the server)'
                    desc:
                      type: string
                      description: '"true" descending, "false" ascending; default "true"; maxLength 1000'
                  additionalProperties: true
                page:
                  type: integer
                  description: Page number, starting from 1, default 1
                  example: 1
                size:
                  type: integer
                  description: Results per page (10-100), default 20
                  example: 20
              example:
                marketplace: US
                matchType: 1
                keyword: phone case
                size: 20
                page: 1
              additionalProperties: true
            example:
              marketplace: US
              matchType: 1
              keyword: phone case
              size: 20
              page: 1
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Returns the documented upstream API response directly without an additional wrapper.
                properties:
                  total:
                    type: integer
                    description: Total matching product count
                    example: 1
                  products:
                    type: array
                    items:
                      type: object
                      properties:
                        nodeIdPath:
                          type: string
                          description: Node ID path
                        nodeLabel:
                          type: string
                          description: Amazon category name
                        asin:
                          type: string
                          description: Amazon ASIN
                          example: B072MQ5BRX
                        title:
                          type: string
                          description: Product title
                        asinUrl:
                          type: string
                          description: Amazon product detail page URL
                          example: B072MQ5BRX
                        imageUrl:
                          type: string
                          description: Product image URL
                          example: https://example.com/image.jpg
                        price:
                          type: number
                          description: Current price
                          example: 1
                        averagePrice:
                          type: number
                          description: Average price
                          example: 1
                        primePrice:
                          type: number
                          description: Prime price, -1 means not available
                          example: 1
                        currency:
                          type: string
                          description: Currency
                        monthlySalesUnits:
                          type: integer
                          description: Monthly sales volume
                          example: 1
                        monthlySalesRevenue:
                          type: number
                          description: Monthly sales revenue
                          example: 1
                        monthlySalesUnitsGrowthRate:
                          type: number
                          description: Monthly sales volume growth rate
                          example: 1
                        bsr:
                          type: integer
                          description: BSR rank
                          example: 1
                        bsrGrowthRate:
                          type: number
                          description: BSR growth rate
                          example: 1
                        rating:
                          type: number
                          description: Rating
                          example: 1
                        ratings:
                          type: integer
                          description: Review count
                          example: 1
                        ratingsRate:
                          type: number
                          description: Review rate
                          example: 1
                        profit:
                          type: number
                          description: Gross margin (%)
                          example: 1
                        fba:
                          type: number
                          description: FBA shipping fee
                          example: 1
                        sellerNum:
                          type: integer
                          description: Number of sellers
                          example: 1
                        sellerId:
                          type: string
                          description: BuyBox seller ID
                          example: example-id
                        sellerName:
                          type: string
                          description: BuyBox seller name
                        sellerNation:
                          type: string
                          description: BuyBox seller nationality
                        brand:
                          type: string
                          description: Brand
                        brandUrl:
                          type: string
                          description: Brand page URL
                          example: https://example.com/image.jpg
                        fulfillment:
                          type: string
                          description: Fulfillment method (AMZ / FBA / FBM)
                        availableDate:
                          type: string
                          description: Listing time (timestamp)
                          example: '2026-01-01'
                        availableDateString:
                          type: string
                          description: Listing date (formatted string)
                          example: '2026-01-01'
                        variationNum:
                          type: integer
                          description: Number of variations
                          example: 1
                        variant30DayUnits:
                          type: integer
                          description: Variant monthly sales (units)
                          example: 1
                        variant30DayRevenue:
                          type: number
                          description: Variant monthly sales revenue (amount)
                          example: 1
                        variant30DayUpdatedAt:
                          type: string
                          description: Variant data update time
                          example: '2026-01-01'
                        weight:
                          type: string
                          description: Weight
                        packageWeight:
                          type: string
                          description: Package weight
                        dimension:
                          type: string
                          description: Dimensions
                        packageDimensions:
                          type: string
                          description: Package dimensions
                        dimensionsType:
                          type: string
                          description: Dimension type
                        packageDimensionType:
                          type: string
                          description: Package dimension type
                        listingQualityScore:
                          type: number
                          description: Listing quality score
                          example: 1
                        deliveryPrice:
                          type: number
                          description: Seller shipping fee, -1 means not available
                          example: 1
                        nodeLabelPath:
                          type: string
                          description: Category path
                        nodeId:
                          type: integer
                          description: Node ID
                          example: 1
                        dataSnapshotMonth:
                          type: string
                          description: Data query month
                        badgeBestSeller:
                          type: string
                          description: Best Seller badge (Y/N)
                        badgeAmazonChoice:
                          type: string
                          description: Amazon's Choice badge (Y/N)
                        badgeNewRelease:
                          type: string
                          description: New Release badge (Y/N)
                        badgeVideo:
                          type: string
                          description: Video introduction (Y/N)
                        badgeEbc:
                          type: string
                          description: A+ page (Y/N)
                        badge:
                          type: object
                          description: 'Badge summary object, containing: bestSeller, amazonChoice, newRelease, video, ebc'
                          example: {}
                          properties: {}
                          additionalProperties: true
                        subcategories:
                          type: array
                          items: {}
                          description: Subcategory list, each entry containing code (category code), rank (rank), label (name)
                          example: []
                        sku:
                          type: string
                          description: SKU
                        keyword:
                          type: string
                          description: Matching keyword
                          example: phone case
                        sourceType:
                          type: string
                          description: Source type
                        sourceTool:
                          type: string
                          description: Source tool identifier
                      additionalProperties: true
                    description: Product list (see product object fields below)
                    example: []
                  columns:
                    type: array
                    items: {}
                    description: Render column definitions
                    example: []
                  keyword:
                    type: string
                    description: Search keyword used (if any)
                    example: phone case
                  dataSnapshotMonth:
                    type: string
                    description: Data query month
                  sourceType:
                    type: string
                    description: Source type (e.g. "amazon")
                  type:
                    type: string
                    description: Render style
                  message:
                    type: string
                    description: Additional message or error info
                  costToken:
                    type: integer
                    description: Tokens consumed
                    example: 1
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  code:
                    type: string
                    description: Provider-specific status code.
                  msg:
                    type: string
                    description: Provider-specific status message.
                  title:
                    type: string
                    description: Provider-specific response title.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  costTime:
                    type: integer
                    description: Execution time reported by the upstream provider.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                example:
                  total: 1
                  products:
                  - asin: B072MQ5BRX
                    asinUrl: B072MQ5BRX
                    imageUrl: https://example.com/image.jpg
                    price: 1
                    averagePrice: 1
                    primePrice: 1
                    monthlySalesUnits: 1
                    monthlySalesRevenue: 1
                    monthlySalesUnitsGrowthRate: 1
                    bsr: 1
                    bsrGrowthRate: 1
                    rating: 1
                    ratings: 1
                    ratingsRate: 1
                    profit: 1
                    fba: 1
                    sellerNum: 1
                    sellerId: example-id
                    brandUrl: https://example.com/image.jpg
                    availableDate: '2026-01-01'
                    availableDateString: '2026-01-01'
                    variationNum: 1
                    variant30DayUnits: 1
                    variant30DayRevenue: 1
                    variant30DayUpdatedAt: '2026-01-01'
                    listingQualityScore: 1
                    deliveryPrice: 1
                    nodeId: 1
                    badge: {}
                    subcategories: []
                    keyword: phone case
                  columns: []
                  keyword: phone case
                  costToken: 1
                additionalProperties: true
              example:
                total: 1
                products:
                - asin: B072MQ5BRX
                  asinUrl: B072MQ5BRX
                  imageUrl: https://example.com/image.jpg
                  price: 1
                  averagePrice: 1
                  primePrice: 1
                  monthlySalesUnits: 1
                  monthlySalesRevenue: 1
                  monthlySalesUnitsGrowthRate: 1
                  bsr: 1
                  bsrGrowthRate: 1
                  rating: 1
                  ratings: 1
                  ratingsRate: 1
                  profit: 1
                  fba: 1
                  sellerNum: 1
                  sellerId: example-id
                  brandUrl: https://example.com/image.jpg
                  availableDate: '2026-01-01'
                  availableDateString: '2026-01-01'
                  variationNum: 1
                  variant30DayUnits: 1
                  variant30DayRevenue: 1
                  variant30DayUpdatedAt: '2026-01-01'
                  listingQualityScore: 1
                  deliveryPrice: 1
                  nodeId: 1
                  badge: {}
                  subcategories: []
                  keyword: phone case
                columns: []
                keyword: phone case
                costToken: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: amazon-broad-product-search
      x-nexscope-mcp-tool-name: nexscope_amazon_broad_product_search
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/amazon-category-lookup/run:
    post:
      tags:
      - Amazon Marketplace Intelligence
      summary: Amazon Category Lookup
      description: Supports exact parent-node browsing and label-based category search.
      operationId: runAmazonCategoryLookup
      externalDocs:
        description: Amazon Category Lookup documentation
        url: https://www.nexscope.ai/api-docs/amazon-category-lookup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Use lookup to browse nodes. Use like with nodeLabel to search category names.
              properties:
                operation:
                  type: string
                  description: lookup (default) or like.
                  example: lookup
                marketId:
                  type: string
                  description: Amazon marketplace or site identifier.
                  example: '1'
                nodeId:
                  type: string
                  description: Parent category node identifier.
                  example: '0'
                table:
                  type: string
                  description: Optional upstream category table selector.
                  example: nodes
                nodeLabel:
                  type: string
                  description: Category label required by operation=like.
                  example: Electronics
              example:
                marketId: '1'
                operation: lookup
                nodeId: '0'
              additionalProperties: true
            example:
              marketId: '1'
              operation: lookup
              nodeId: '0'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Returns the category gateway payload directly.
                properties:
                  total:
                    type: integer
                    description: Number of returned category nodes.
                    example: 1
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        nodeId:
                          type: string
                          description: Category node identifier.
                          example: '172282'
                        nodeLabel:
                          type: string
                          description: Category label.
                          example: Electronics
                        parentNodeId:
                          type: string
                          description: Parent node identifier.
                          example: '0'
                      additionalProperties: true
                    description: Amazon category node records.
                    example: []
                  costToken:
                    type: integer
                    description: Provider-reported token cost.
                    example: 150
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  code:
                    type: string
                    description: Provider-specific status code.
                  msg:
                    type: string
                    description: Provider-specific status message.
                  message:
                    type: string
                    description: Provider-specific message.
                  type:
                    type: string
                    description: Provider-specific render or payload type.
                  title:
                    type: string
                    description: Provider-specific response title.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  costTime:
                    type: integer
                    description: Execution time reported by the upstream provider.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                example:
                  total: 1
                  data:
                  - nodeId: '172282'
                    nodeLabel: Electronics
                    parentNodeId: '0'
                  costToken: 150
                additionalProperties: true
              example:
                total: 1
                data:
                - nodeId: '172282'
                  nodeLabel: Electronics
                  parentNodeId: '0'
                costToken: 150
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: amazon-category-lookup
      x-nexscope-mcp-tool-name: nexscope_amazon_category_lookup
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/amazon-competitor-lookup/run:
    post:
      tags:
      - Amazon Marketplace Intelligence
      summary: Amazon Competitor Lookup
      description: Use SellerSprite data to find and analyze competitors on Amazon, covering 12 marketplaces, with product metrics including sales, BSR, pricing, ratings, and growth trends.
      operationId: runAmazonCompetitorLookup
      externalDocs:
        description: Amazon Competitor Lookup documentation
        url: https://www.nexscope.ai/api-docs/amazon-competitor-lookup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request parameters documented by ecommerce.amazon-competitor-lookup.
              properties:
                marketplace:
                  type: string
                  description: 'Amazon site code, default US. Options: US, UK, DE, FR, JP, CA, IT, ES, MX, AU, TR, IN'
                  example: US
                keyword:
                  type: string
                  description: Search keyword. Translate to the corresponding country's language whenever possible, e.g. use English keywords for the US, German keywords for Germany, etc.
                  example: phone case
                asinList:
                  type: string
                  description: 'ASINs, multiple ASINs comma-separated, max 40. Format: ^[A-Z0-9]+(,[A-Z0-9]+){0,39}$'
                  example: B072MQ5BRX
                sellerName:
                  type: string
                  description: Seller name filter
                brand:
                  type: string
                  description: Brand name filter
                nodeLabel:
                  type: string
                  description: Amazon category name, supports multi-level category names, levels separated by colon :, e.g. Electronics:Headphones
                nodeIdPath:
                  type: string
                  description: Amazon category ID path
                matchType:
                  type: integer
                  description: Match type. 1 = phrase match (default), 2 = fuzzy match, 3 = exact match
                  example: 1
                showVariation:
                  type: string
                  description: Whether to query variants. Y = yes, N = no (default)
                dataSnapshotMonth:
                  type: string
                  description: Amazon product data snapshot month. Default nearly (queries last 30 days real-time data). Use yyyyMM format to query historical snapshots (e.g. 202412 for December 2024). Only supports existing historical snapshots, future dates are not supported. Recommended for seasonal analysis to query the same period last year's snapshot for comparison
                page:
                  type: integer
                  description: Page number, starting from 1 (default 1)
                  example: 1
                size:
                  type: integer
                  description: Results per page, returns 10-100 records (default 50)
                  example: 10
                order:
                  type: object
                  description: Sort configuration (see below)
                  example: {}
                  properties: {}
                  additionalProperties: true
              example:
                page: 1
                keyword: phone case
                marketplace: US
                size: 10
                matchType: 1
                asinList: B072MQ5BRX
              additionalProperties: true
            example:
              page: 1
              keyword: phone case
              marketplace: US
              size: 10
              matchType: 1
              asinList: B072MQ5BRX
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Returns the documented upstream API response directly without an additional wrapper.
                properties:
                  total:
                    type: integer
                    description: Total matching result count
                    example: 1
                  sourceType:
                    type: string
                    description: Source type (e.g. amazon)
                  message:
                    type: string
                    description: Execution message or error description
                  type:
                    type: string
                    description: Render style
                  products:
                    type: array
                    items:
                      type: object
                      properties:
                        asin:
                          type: string
                          description: Product ASIN
                          example: B072MQ5BRX
                        title:
                          type: string
                          description: Product title
                        price:
                          type: number
                          description: Current price
                          example: 1
                        primePrice:
                          type: number
                          description: Prime price
                          example: 1
                        averagePrice:
                          type: number
                          description: Average price
                          example: 1
                        currency:
                          type: string
                          description: Currency
                        monthlySalesUnits:
                          type: integer
                          description: Monthly sales volume (units)
                          example: 1
                        monthlySalesRevenue:
                          type: number
                          description: Monthly sales revenue
                          example: 1
                        monthlySalesUnitsGrowthRate:
                          type: number
                          description: Monthly sales volume growth rate
                          example: 1
                        bsr:
                          type: integer
                          description: BSR rank
                          example: 1
                        bsrGrowthRate:
                          type: number
                          description: BSR growth rate
                          example: 1
                        bsrGrowthCount:
                          type: integer
                          description: BSR growth count
                          example: 1
                        rating:
                          type: number
                          description: Rating
                          example: 1
                        ratings:
                          type: integer
                          description: Review count
                          example: 1
                        ratingsGrowth:
                          type: integer
                          description: Monthly new review count
                          example: 1
                        ratingsRate:
                          type: number
                          description: Review rate
                          example: 1
                        brand:
                          type: string
                          description: Brand
                        brandUrl:
                          type: string
                          description: Brand URL
                          example: https://example.com/image.jpg
                        sellerName:
                          type: string
                          description: BuyBox seller name
                        sellerId:
                          type: string
                          description: BuyBox seller ID
                          example: example-id
                        sellerNation:
                          type: string
                          description: BuyBox seller nationality
                        sellerNum:
                          type: integer
                          description: Number of sellers
                          example: 1
                        fulfillment:
                          type: string
                          description: 'Fulfillment method: AMZ, FBA, FBM'
                        availableDate:
                          type: string
                          description: Listing time (date format)
                          example: '2026-01-01'
                        availableDateString:
                          type: string
                          description: Listing date (string format)
                          example: '2026-01-01'
                        profit:
                          type: number
                          description: Gross margin
                          example: 1
                        fba:
                          type: number
                          description: FBA shipping fee
                          example: 1
                        deliveryPrice:
                          type: number
                          description: Seller shipping fee
                          example: 1
                        imageUrl:
                          type: string
                          description: Product image URL
                          example: https://example.com/image.jpg
                        parent:
                          type: string
                          description: Parent ASIN
                        variationNum:
                          type: integer
                          description: Number of variations
                          example: 1
                        variant30DayUnits:
                          type: integer
                          description: Variant monthly sales (units)
                          example: 1
                        variant30DayRevenue:
                          type: number
                          description: Variant monthly sales revenue
                          example: 1
                        variant30DayUpdatedAt:
                          type: string
                          description: Variant data update time (timestamp)
                          example: '2026-01-01'
                        amzUnitDateString:
                          type: string
                          description: Variant sales update date
                          example: '2026-01-01'
                        listingQualityScore:
                          type: number
                          description: Listing quality score
                          example: 1
                        nodeLabelPath:
                          type: string
                          description: Category path
                        nodeIdPath:
                          type: string
                          description: Node ID path
                        nodeId:
                          type: integer
                          description: Node ID
                          example: 1
                        dimension:
                          type: string
                          description: Product dimensions
                        dimensionsType:
                          type: string
                          description: Dimension type
                        weight:
                          type: string
                          description: Product weight
                        packageDimensions:
                          type: string
                          description: Package dimensions
                        packageDimensionType:
                          type: string
                          description: Package dimension type
                        packageWeight:
                          type: string
                          description: Package weight
                        sku:
                          type: string
                          description: SKU
                        keyword:
                          type: string
                          description: Matching keyword (if searched by keyword, displays the corresponding keyword)
                          example: phone case
                        dataSnapshotMonth:
                          type: string
                          description: Data query month
                        sourceTool:
                          type: string
                          description: Source tool
                        sourceType:
                          type: string
                          description: Source type
                        badgeBestSeller:
                          type: string
                          description: Best Seller badge (Y/N)
                        badgeAmazonChoice:
                          type: string
                          description: Amazon's Choice badge (Y/N)
                        badgeNewRelease:
                          type: string
                          description: New Release badge (Y/N)
                        badgeEbc:
                          type: string
                          description: A+ page (Y/N)
                        badgeVideo:
                          type: string
                          description: Video introduction (Y/N)
                        badge:
                          type: object
                          description: 'Badge detail object, containing: bestSeller, amazonChoice, newRelease, ebc, video (all Y/N strings)'
                          example: {}
                          properties: {}
                          additionalProperties: true
                        subcategories:
                          type: array
                          items: {}
                          description: Subcategory rankings, each entry containing code (category code), rank (rank), label (name)
                          example: []
                      additionalProperties: true
                    description: Competitor list (see below)
                    example: []
                  columns:
                    type: array
                    items: {}
                    description: Render column definitions
                    example: []
                  costToken:
                    type: integer
                    description: Tokens consumed
                    example: 1
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  code:
                    type: string
                    description: Provider-specific status code.
                  msg:
                    type: string
                    description: Provider-specific status message.
                  title:
                    type: string
                    description: Provider-specific response title.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  costTime:
                    type: integer
                    description: Execution time reported by the upstream provider.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                example:
                  total: 1
                  columns: []
                  products:
                  - asin: B072MQ5BRX
                    price: 1
                    primePrice: 1
                    averagePrice: 1
                    monthlySalesUnits: 1
                    monthlySalesRevenue: 1
                    monthlySalesUnitsGrowthRate: 1
                    bsr: 1
                    bsrGrowthRate: 1
                    bsrGrowthCount: 1
                    rating: 1
                    ratings: 1
                    ratingsGrowth: 1
                    ratingsRate: 1
                    brandUrl: https://example.com/image.jpg
                    sellerId: example-id
                    sellerNum: 1
                    availableDate: '2026-01-01'
                    availableDateString: '2026-01-01'
                    profit: 1
                    fba: 1
                    deliveryPrice: 1
                    imageUrl: https://example.com/image.jpg
                    variationNum: 1
                    variant30DayUnits: 1
                    variant30DayRevenue: 1
                    variant30DayUpdatedAt: '2026-01-01'
                    amzUnitDateString: '2026-01-01'
                    listingQualityScore: 1
                    nodeId: 1
                    keyword: phone case
                    badge: {}
                    subcategories: []
                  costToken: 1
                additionalProperties: true
              example:
                total: 1
                columns: []
                products:
                - asin: B072MQ5BRX
                  price: 1
                  primePrice: 1
                  averagePrice: 1
                  monthlySalesUnits: 1
                  monthlySalesRevenue: 1
                  monthlySalesUnitsGrowthRate: 1
                  bsr: 1
                  bsrGrowthRate: 1
                  bsrGrowthCount: 1
                  rating: 1
                  ratings: 1
                  ratingsGrowth: 1
                  ratingsRate: 1
                  brandUrl: https://example.com/image.jpg
                  sellerId: example-id
                  sellerNum: 1
                  availableDate: '2026-01-01'
                  availableDateString: '2026-01-01'
                  profit: 1
                  fba: 1
                  deliveryPrice: 1
                  imageUrl: https://example.com/image.jpg
                  variationNum: 1
                  variant30DayUnits: 1
                  variant30DayRevenue: 1
                  variant30DayUpdatedAt: '2026-01-01'
                  amzUnitDateString: '2026-01-01'
                  listingQualityScore: 1
                  nodeId: 1
                  keyword: phone case
                  badge: {}
                  subcategories: []
                costToken: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: amazon-competitor-lookup
      x-nexscope-mcp-tool-name: nexscope_amazon_competitor_lookup
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/amazon-market-product-detail/run:
    post:
      tags:
      - Amazon Marketplace Intelligence
      summary: Amazon Market Product Detail
      description: Query Amazon product detail and historical trends by ASIN using Sorftime data, covering 14 marketplaces.
      operationId: runAmazonMarketProductDetail
      externalDocs:
        description: Amazon Market Product Detail documentation
        url: https://www.nexscope.ai/api-docs/amazon-market-product-detail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request parameters documented by ecommerce.amazon-market-product-detail.
              properties:
                asin:
                  type: string
                  description: 'Amazon Standard Identification Number (ASIN), supports multiple (max 10), comma-separated. Example: B0088PUEPK or B0088PUEPK,B00U26V4VQ'
                  example: B072MQ5BRX
                marketplace:
                  type: string
                  description: 'Amazon site code: us, gb, de, fr, in, ca, jp, es, it, mx, ae, au, br, sa'
                  example: us
                includeTrend:
                  type: integer
                  description: 'Whether to include trend data. 1: include (default); 2: exclude'
                  example: 1
                queryTrendStartDate:
                  type: string
                  description: Trend start date, format yyyy-MM-dd. Default returns only the last 15 days; querying more than 15 days doubles the cost
                  example: '2026-01-01'
                queryTrendEndDate:
                  type: string
                  description: Trend end date, format yyyy-MM-dd
                  example: '2026-01-15'
              required:
              - asin
              - marketplace
              example:
                queryTrendEndDate: '2026-01-15'
                marketplace: us
                asin: B072MQ5BRX
                includeTrend: 1
                queryTrendStartDate: '2026-01-01'
              additionalProperties: true
            example:
              queryTrendEndDate: '2026-01-15'
              marketplace: us
              asin: B072MQ5BRX
              includeTrend: 1
              queryTrendStartDate: '2026-01-01'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Returns the documented upstream API response directly without an additional wrapper.
                properties:
                  code:
                    type: integer
                    description: Response code (200 indicates success)
                    example: 1
                  msg:
                    type: string
                    description: Response message
                  total:
                    type: integer
                    description: Total result count
                    example: 1
                  costTime:
                    type: integer
                    description: Latency (ms)
                    example: 1
                  costToken:
                    type: integer
                    description: Tokens consumed
                    example: 1
                  requestConsumed:
                    type: integer
                    description: Requests consumed
                    example: 1
                  sourceType:
                    type: string
                    description: 'Source type: sorftime'
                  type:
                    type: string
                    description: Render style
                  columns:
                    type: array
                    items: {}
                    description: Render columns
                    example: []
                  products:
                    type: array
                    items:
                      type: object
                      properties:
                        asin:
                          type: string
                          description: ASIN
                          example: B072MQ5BRX
                        title:
                          type: string
                          description: Product title
                        brand:
                          type: string
                          description: Brand
                        asinUrl:
                          type: string
                          description: Product link, Amazon Listing detail page URL
                          example: B072MQ5BRX
                        imageUrl:
                          type: string
                          description: Main image URL
                          example: https://example.com/image.jpg
                        productImageUrls:
                          type: array
                          items: {}
                          description: Main image list (all product image URLs)
                          example: []
                        ebcPhoto:
                          type: array
                          items: {}
                          description: A+ image list
                          example: []
                        storeName:
                          type: string
                          description: Store name
                        description:
                          type: string
                          description: Five bullet points
                        productBadge:
                          type: array
                          items: {}
                          description: Product badges, e.g. Amazon Choice, Best Seller, New Release, etc.
                          example: []
                        lastUpdate:
                          type: string
                          description: Update time, most recent ASIN data collection time (format yyyy-MM-dd)
                          example: '2026-01-01'
                        offSale:
                          type: boolean
                          description: Whether delisted. true = unavailable, false = available
                          example: false
                        productType:
                          type: string
                          description: Category, Amazon product category node name
                        weight:
                          type: string
                          description: Weight, unit g
                        size:
                          type: array
                          items: {}
                          description: Dimensions, outer packaging [longest side, second longest side, shortest side], unit cm
                          example: []
                        parentAsin:
                          type: string
                          description: Parent ASIN, the parent ASIN if variants exist, null if no variants
                          example: B072MQ5BRX
                        variationNum:
                          type: integer
                          description: Number of variations
                          example: 1
                        variationASIN:
                          type: array
                          items: {}
                          description: Child ASIN list, empty if no variants
                          example: []
                        attribute:
                          type: array
                          items: {}
                          description: Product attributes, variant attributes if variants exist. Each entry contains asin (child ASIN), name (attribute name), value (attribute value)
                          example: []
                        price:
                          type: number
                          description: Selling price, actual price after coupon deduction, in local currency (e.g. USD)
                          example: 1
                        coupon:
                          type: integer
                          description: Coupon policy. Value >= 0 = deduction amount (e.g. 500 = $5), value < 0 = discount percentage (e.g. -10 = 10% discount)
                          example: 1
                        platformFee:
                          type: number
                          description: Platform commission, in local currency (e.g. USD)
                          example: 1
                        fbaFees:
                          type: number
                          description: FBA fees, in local currency (e.g. USD)
                          example: 1
                        fbaDetail:
                          type: array
                          items: {}
                          description: FBA detail. First item is delivery fee, subsequent items are month:storage fee, e.g. [475,"1-9:5","10-12:15"]
                          example: []
                        shipCost:
                          type: number
                          description: FBM shipping cost, in local currency (e.g. USD)
                          example: 1
                        shipsFrom:
                          type: string
                          description: Ship-from location
                        profitAmount:
                          type: number
                          description: Profit, final price - FBA fee - commission, in local currency (e.g. USD)
                          example: 1
                        profitRate:
                          type: number
                          description: Profit margin, e.g. 25.83 means 25.83%
                          example: 1
                        monthlySalesUnits:
                          type: integer
                          description: Official monthly sales volume, Amazon published ASIN monthly sales, latest value from the last 7 calendar days, 0 if unavailable
                          example: 1
                        salesRank:
                          type: integer
                          description: BSR rank, main category rank
                          example: 1
                        category:
                          type: array
                          items: {}
                          description: Main category, [category name, NodeId]
                          example: []
                        bsrCategory:
                          type: array
                          items: {}
                          description: Subcategory rank list, each entry containing nodeId (node ID), name (category name), rank (rank), date (date, format yyyyMMdd)
                          example: []
                        availableDate:
                          type: string
                          description: Listing time, format yyyy-MM-dd
                          example: '2026-01-01'
                        onlineDays:
                          type: integer
                          description: Days since listing
                          example: 1
                        rating:
                          type: number
                          description: Current rating (0.0-5.0, e.g. 4.70)
                          example: 1
                        ratings:
                          type: integer
                          description: Number of ratings
                          example: 1
                        fiveStarRatings:
                          type: number
                          description: 5-star percentage, e.g. 57.7 means 57.7%
                          example: 1
                        fourStarRatings:
                          type: number
                          description: 4-star percentage
                          example: 1
                        threeStarRatings:
                          type: number
                          description: 3-star percentage
                          example: 1
                        twoStarRatings:
                          type: number
                          description: 2-star percentage
                          example: 1
                        oneStarRatings:
                          type: number
                          description: 1-star percentage
                          example: 1
                        buyboxSeller:
                          type: string
                          description: Buybox seller name
                        buyBoxSellerId:
                          type: string
                          description: Buybox seller ID
                          example: example-id
                        buyboxSellerAddress:
                          type: string
                          description: Seller location, Buybox seller nationality (two-letter code e.g. CN, US), null if Amazon's own
                        isFBA:
                          type: boolean
                          description: Whether FBA, whether Buybox seller uses FBA logistics
                          example: false
                        sellerNum:
                          type: integer
                          description: Number of sellers
                          example: 1
                        aPlus:
                          type: boolean
                          description: Has A+
                          example: false
                        hasVideo:
                          type: boolean
                          description: Has video
                          example: false
                        hasBrandStore:
                          type: boolean
                          description: Has brand store
                          example: false
                        feature:
                          type: object
                          description: Product feature ratings, features and star ratings collected by Amazon for this product, e.g. {"Battery life":4.0}
                          example: {}
                          properties: {}
                          additionalProperties: true
                        productInfo:
                          type: object
                          description: Product information, structured data from the Product Information section in the Listing
                          example: {}
                          properties: {}
                          additionalProperties: true
                        property:
                          type: object
                          description: Attribute list, including variant attributes and Bullet Points header descriptions
                          example: {}
                          properties: {}
                          additionalProperties: true
                        brandPromotion:
                          type: string
                          description: Brand promotion
                        dealType:
                          type: string
                          description: Deal label
                        extraSavings:
                          type: array
                          items: {}
                          description: Associated promotions, e.g. [{Asin:xxx, Text:"Save 5%..."}]
                          example: []
                        rankTrend:
                          type: array
                          items: {}
                          description: BSR trend, main category rank change history, interleaved format [date, rank, ...]
                          example: []
                        bsrRankTrend:
                          type: array
                          items: {}
                          description: Subcategory rank trend, JSON format [{NodeId:xxx, Rank:[date, rank, ...]}]
                          example: []
                        listingSalesVolumeOfDailyTrend:
                          type: array
                          items: {}
                          description: Daily sales volume trend, value -1 means unable to estimate
                          example: []
                        listingSalesOfDailyTrend:
                          type: array
                          items: {}
                          description: Daily sales revenue trend, in local currency smallest unit (e.g. cents), value -1 means unable to estimate
                          example: []
                        listingSalesVolumeOfMonthTrend:
                          type: array
                          items: {}
[...]
