openapi: 3.2.0
info:
  title: Nexscope Ecommerce Data and Creative Keyword & Search…
  version: 2026-08-28-public-catalog-v1
  description: Nexscope APIs provide ecommerce marketplace intelligence and creative generation capabilities through REST and MCP. Authentication uses a Nexscope API key. Pricing is credit-based and actual usage varies by endpoint and workload; current estimates are shown in the Nexscope account.
  termsOfService: https://www.nexscope.ai/terms
  contact:
    name: Nexscope Support
    email: service@nexscope.ai
    url: https://www.nexscope.ai/api-docs
  license:
    name: Proprietary API; use subject to Nexscope Terms
    url: https://www.nexscope.ai/terms
servers:
- url: https://api.nexscope.ai
  description: Production
security:
- bearerAuth: []
tags:
- name: Keyword & Search Demand
  description: Keyword expansion, search volume, share of voice and ranking intelligence.
  x-category-slug: keyword-search-demand
paths:
  /api/skill-api/v1/skills/amazon-asin-keywords/run:
    post:
      tags:
      - Keyword & Search Demand
      summary: Amazon Asin Keywords
      description: Use SIF data to reverse-lookup traffic keywords for any Amazon ASIN, including organic ranking, ad ranking, search volume, traffic share, organic/paid scores, ABA TOP3 click concentration, click conversion rate, year-over-year search volume changes, and weekly/monthly time windows.
      operationId: runAmazonAsinKeywords
      externalDocs:
        description: Amazon Asin Keywords documentation
        url: https://www.nexscope.ai/api-docs/amazon-asin-keywords
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request parameters documented by ecommerce.amazon-asin-keywords.
              properties:
                asin:
                  type: string
                  description: ASIN code, max length 1000 characters. This tool can only query one ASIN at a time
                  example: B072MQ5BRX
                country:
                  type: string
                  description: 'Country site, default US. Options (13 total): US, UK, DE, CA, JP, FR, ES, IT, MX, AU, AE, BR, SA'
                keyword:
                  type: string
                  description: Keyword, max length 1000. Translate to the corresponding country's language whenever possible
                  example: phone case
                timePieceType:
                  type: string
                  description: 'Time slice type, default latelyDay. Options: latelyDay (last N days), month (a specific month), week (a specific week)'
                timePieceValue:
                  type: string
                  description: Time slice value, default 7, max length 1000. For latelyDay only 7 or 30; for month format YYYY-MM (e.g. 2026-04); for week format week start date YYYY-MM-DD (e.g. 2026-04-13)
                conditions:
                  type: string
                  description: 'Condition filters, comma-separated. Options:<br>Flag type: nfPosition (natural traffic keyword), isSpAd (SP ad keyword), isBrandAd (brand ad keyword), isVedioAd (video ad keyword), isAC (AC recommended keyword), isAccurateKw (precise traffic keyword), isAccurateTailKw (precise long-tail keyword), isPurchaseKw (converting keyword), isQualityKw (high-quality conversion keyword), isStableKw (stable conversion keyword), isLossKw (lost conversion keyword), isInvalidKw (invalid impression keyword), isMultiVariantKw (multi-variant natural rank keyword), isSearchVolUpKw (search volume YoY growth keyword), isSearchVolDownKw (search volume YoY decline keyword)<br>Period count type (.total all / .in new): totalPeriod.in, nfKeywordCnt.total, nfKeywordCnt.in, adKeywordCnt.total, adKeywordCnt.in, allSpKeywordCnt.total, allSpKeywordCnt.in, spKeywordCnt.total, spKeywordCnt.in, recSpKeywordCnt.total, recSpKeywordCnt.in, allSbKeywordCnt.total, allSbKeywordCnt.in, sbKeywordCnt.total, sbKeywordCnt.in, sbvKeywordCnt.total, sbvKeywordCnt.in'
                sortBy:
                  type: string
                  description: 'Sort field. Options: lastRank (natural rank), adLastRank (ad rank), updateTime (keyword crawl time), searchesRank (search rank), estSearchesNum (monthly search volume). Empty string means default system sort'
                desc:
                  type: boolean
                  description: Whether to sort descending, default true
                  example: false
                pageNum:
                  type: integer
                  description: Page number, default 1
                  example: 1
                pageSize:
                  type: integer
                  description: Results per page, min 10, max 100, default 100
                  example: 10
              required:
              - asin
              example:
                asin: B072MQ5BRX
                pageSize: 10
                desc: true
                pageNum: 1
                country: US
              additionalProperties: true
            example:
              asin: B072MQ5BRX
              pageSize: 10
              desc: true
              pageNum: 1
              country: US
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Returns the documented upstream API response directly without an additional wrapper.
                properties:
                  code:
                    type: string
                    description: Response code
                  msg:
                    type: string
                    description: Message
                  total:
                    type: integer
                    description: Number of data records actually returned
                    example: 1
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        keyword:
                          type: string
                          description: Keyword
                          example: phone case
                        translateKeyword:
                          type: string
                          description: Keyword translation, localized translation for the site
                          example: phone case
                        asin:
                          type: string
                          description: Product ASIN
                          example: B072MQ5BRX
                        productNaturalRank:
                          type: integer
                          description: Product natural search rank. The position ranking of this product in natural search results for this keyword, e.g. 1 means ranked 1st (top position) in search results
                          example: 1
                        naturalRankDisplay:
                          type: string
                          description: Natural rank display text. String representation of natural search rank
                        productAdRank:
                          type: integer
                          description: Product SP ad rank. The ranking position of this product in Sponsored Products ad placements for this keyword, e.g. 3 means ranked 3rd in ad placement
                          example: 1
                        adRankDisplay:
                          type: string
                          description: Ad rank display text. String representation of SP ad rank
                        weeklySearchVolume:
                          type: integer
                          description: Weekly search volume. Estimated weekly search count for this keyword on Amazon
                          example: 1
                        keywordPopularityRank:
                          type: integer
                          description: Keyword search popularity rank. This keyword's monthly search volume ranking among all Amazon keywords; lower values indicate higher search volume
                          example: 1
                        totalSearchResultProductCount:
                          type: integer
                          description: Total search result product count for this keyword (active listings)
                          example: 1
                        trafficShare:
                          type: number
                          description: Traffic share. Proportion of traffic this keyword brings to the product out of all keywords' total traffic, where 1 = 100%
                          example: 1
                        naturalTrafficShare:
                          type: number
                          description: Natural traffic score share. Natural search traffic score / total score
                          example: 1
                        paidTrafficShare:
                          type: number
                          description: Paid ad traffic score share. Ad traffic score / total score; ad total = sp + sb + sbv + recAd
                          example: 1
                        naturalTrafficScore:
                          type: number
                          description: Natural traffic score. Natural search exposure score this keyword brings to this ASIN; 0 = no natural traffic exposure
                          example: 1
                        sponsoredProductsScore:
                          type: number
                          description: SP ad regular score. Traffic score for Sponsored Products regular placements (excluding SP recommendation placements)
                          example: 1
                        brandAdScore:
                          type: number
                          description: SB brand ad score. Traffic score for Sponsored Brands brand ads (regular + video, combined)
                          example: 1
                        videoAdScore:
                          type: number
                          description: SBV video ad score. Traffic score for Sponsored Brands Video video ads
                          example: 1
                        sponsoredRecommendationScore:
                          type: number
                          description: SP recommendation placement score. Combined score for Trending now / Seen on social media / Customers frequently viewed / 4 stars and above, etc.
                          example: 1
                        sponsoredRecommendationBreakdown:
                          type: array
                          items: {}
                          description: SP recommendation placement score breakdown. Each entry {title, score, scoreRatio}
                          example: []
                        clickConcentrationShare:
                          type: number
                          description: ABA TOP3 click concentration. Measures whether clicks are concentrated on top ASINs; note this is not conversion rate
                          example: 1
                        clickToPurchaseConversionRate:
                          type: number
                          description: Click-to-purchase conversion rate (purchaseQty / clickQty)
                          example: 1
                        displayPositionTypes:
                          type: array
                          items: {}
                          description: 'Product display position type array. May contain: natural=natural search result position; ac=Amazon''s Choice recommendation position; sp=Sponsored Products ad position; top=top-of-page brand ad position; bottom=bottom-of-page brand ad position; er=Editorial Recommendations position; vedio=video ad position; tr=Top Rated recommendation position; trfob=Top Rated Frequently Bought recommendation position'
                          example: []
                        trafficCharacteristicMarkers:
                          type: array
                          items: {}
                          description: 'Keyword traffic characteristic marker array. May contain: isMainKw=main traffic keyword; isAccurateKw=precise traffic keyword; isAccurateAboveKw=precise broad keyword; isAccurateTailKw=precise long-tail keyword'
                          example: []
                        conversionPerformanceMarkers:
                          type: array
                          items: {}
                          description: 'Conversion performance marker array. May contain: isPurchaseKw=converting keyword; isQualityKw=high-quality conversion keyword; isStableKw=stable conversion keyword; isLossKw=lost conversion keyword; isInvalidKw=invalid impression keyword'
                          example: []
                        lastNaturalRankTime:
                          type: string
                          description: Time of the most recent valid natural rank
                        lastAdRankTime:
                          type: string
                          description: Time of the most recent valid SP ad rank
                        periodEndDate:
                          type: string
                          description: Current period (weekly granularity) end date = start week + 7 days (site time)
                          example: '2026-01-01'
                        updateTime:
                          type: string
                          description: Keyword data update time
                          example: '2026-01-01'
                      additionalProperties: true
                    description: Data array (see below)
                    example: []
                  columns:
                    type: array
                    items: {}
                    description: Render columns
                    example: []
                  type:
                    type: string
                    description: Render style
                  title:
                    type: string
                    description: Title
                  isParentAsin:
                    type: boolean
                    description: Whether it is a parent ASIN (pasin)
                    example: false
                  hasVaiants:
                    type: boolean
                    description: Whether it has variants
                    example: false
                  abaCreateDateWeek:
                    type: string
                    description: Week date corresponding to the latest weekly ABA data
                    example: '2026-01-01'
                  costTime:
                    type: integer
                    description: Latency (ms)
                    example: 1
                  costToken:
                    type: integer
                    description: Tokens consumed
                    example: 1
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  message:
                    type: string
                    description: Provider-specific message.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                example:
                  total: 1
                  data:
                  - keyword: phone case
                    translateKeyword: phone case
                    asin: B072MQ5BRX
                    productNaturalRank: 1
                    productAdRank: 1
                    weeklySearchVolume: 1
                    keywordPopularityRank: 1
                    totalSearchResultProductCount: 1
                    trafficShare: 1
                    naturalTrafficShare: 1
                    paidTrafficShare: 1
                    naturalTrafficScore: 1
                    sponsoredProductsScore: 1
                    brandAdScore: 1
                    videoAdScore: 1
                    sponsoredRecommendationScore: 1
                    sponsoredRecommendationBreakdown: []
                    clickConcentrationShare: 1
                    clickToPurchaseConversionRate: 1
                    displayPositionTypes: []
                    trafficCharacteristicMarkers: []
                    conversionPerformanceMarkers: []
                    periodEndDate: '2026-01-01'
                    updateTime: '2026-01-01'
                  columns: []
                  isParentAsin: false
                  hasVaiants: false
                  abaCreateDateWeek: '2026-01-01'
                  costTime: 1
                  costToken: 1
                additionalProperties: true
              example:
                total: 1
                data:
                - keyword: phone case
                  translateKeyword: phone case
                  asin: B072MQ5BRX
                  productNaturalRank: 1
                  productAdRank: 1
                  weeklySearchVolume: 1
                  keywordPopularityRank: 1
                  totalSearchResultProductCount: 1
                  trafficShare: 1
                  naturalTrafficShare: 1
                  paidTrafficShare: 1
                  naturalTrafficScore: 1
                  sponsoredProductsScore: 1
                  brandAdScore: 1
                  videoAdScore: 1
                  sponsoredRecommendationScore: 1
                  sponsoredRecommendationBreakdown: []
                  clickConcentrationShare: 1
                  clickToPurchaseConversionRate: 1
                  displayPositionTypes: []
                  trafficCharacteristicMarkers: []
                  conversionPerformanceMarkers: []
                  periodEndDate: '2026-01-01'
                  updateTime: '2026-01-01'
                columns: []
                isParentAsin: false
                hasVaiants: false
                abaCreateDateWeek: '2026-01-01'
                costTime: 1
                costToken: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: amazon-asin-keywords
      x-nexscope-mcp-tool-name: nexscope_amazon_asin_keywords
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/amazon-keyword-expansion/run:
    post:
      tags:
      - Keyword & Search Demand
      summary: Amazon Keyword Expansion
      description: Jungle Scout keyword expansion tool that expands a seed keyword into a list of related keywords with search volume, trends, PPC bids, ranking difficulty, and other metrics, covering 10 Amazon marketplaces including US, UK, DE, JP, etc.
      operationId: runAmazonKeywordExpansion
      externalDocs:
        description: Amazon Keyword Expansion documentation
        url: https://www.nexscope.ai/api-docs/amazon-keyword-expansion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request parameters documented by ecommerce.amazon-keyword-expansion.
              properties:
                marketplace:
                  type: string
                  description: 'Target marketplace code. Options: us, uk, de, in, ca, fr, it, es, mx, jp. Default us'
                  example: us
                searchTerms:
                  type: string
                  description: Seed keyword (single keyword string)
                  example: phone case
                needCount:
                  type: integer
                  description: Total number of results returned
                  example: 10
                sort:
                  type: string
                  description: Sort field, default -monthly_search_volume_exact (exact search volume descending)
                minMonthlySearchVolumeExact:
                  type: integer
                  description: Minimum exact search volume
                  example: 1
                maxMonthlySearchVolumeExact:
                  type: integer
                  description: Maximum exact search volume
                  example: 1
                minMonthlySearchVolumeBroad:
                  type: integer
                  description: Minimum broad search volume
                  example: 1
                maxMonthlySearchVolumeBroad:
                  type: integer
                  description: Maximum broad search volume
                  example: 1
                minWordCount:
                  type: integer
                  description: Minimum word count for keywords (for filtering long-tail keywords)
                  example: 1
                maxWordCount:
                  type: integer
                  description: Maximum word count for keywords
                  example: 1
                minOrganicProductCount:
                  type: integer
                  description: Minimum organic product count
                  example: 1
                maxOrganicProductCount:
                  type: integer
                  description: Maximum organic product count
                  example: 1
              required:
              - marketplace
              - searchTerms
              example:
                needCount: 10
                searchTerms: phone case
                marketplace: us
              additionalProperties: true
            example:
              needCount: 10
              searchTerms: phone case
              marketplace: us
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Returns the documented upstream API response directly without an additional wrapper.
                properties:
                  costToken:
                    type: integer
                    description: Tokens consumed
                    example: 1
                  keywordInfoList:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Keyword name
                        country:
                          type: string
                          description: Marketplace code
                        monthlySearchVolumeExact:
                          type: integer
                          description: Monthly average exact match search volume
                          example: 1
                        monthlySearchVolumeBroad:
                          type: integer
                          description: Monthly average broad match search volume
                          example: 1
                        monthlyTrend:
                          type: number
                          description: Monthly search volume change percentage
                          example: 1
                        quarterlyTrend:
                          type: number
                          description: Quarterly search volume change percentage
                          example: 1
                        dominantCategory:
                          type: string
                          description: Category with the highest share in search results
                        relevancyScore:
                          type: integer
                          description: Relevance score to the seed keyword
                          example: 1
                        easeOfRankingScore:
                          type: integer
                          description: Ease of ranking score (higher means easier to rank)
                          example: 1
                        organicProductCount:
                          type: integer
                          description: Number of organic ranking products
                          example: 1
                        sponsoredProductCount:
                          type: integer
                          description: Number of sponsored products
                          example: 1
                        ppcBidExact:
                          type: number
                          description: Exact match PPC suggested bid (USD)
                          example: 1
                        ppcBidBroad:
                          type: number
                          description: Broad match PPC suggested bid (USD)
                          example: 1
                        spBrandAdBid:
                          type: number
                          description: Sponsored Brand ad suggested bid (USD)
                          example: 1
                        recommendedPromotions:
                          type: integer
                          description: Number of recommended promotion giveaways
                          example: 1
                      additionalProperties: true
                    description: Keyword information list
                    example: []
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  code:
                    type: string
                    description: Provider-specific status code.
                  msg:
                    type: string
                    description: Provider-specific status message.
                  message:
                    type: string
                    description: Provider-specific message.
                  type:
                    type: string
                    description: Provider-specific render or payload type.
                  title:
                    type: string
                    description: Provider-specific response title.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  costTime:
                    type: integer
                    description: Execution time reported by the upstream provider.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                example:
                  costToken: 1
                  keywordInfoList:
                  - monthlySearchVolumeExact: 1
                    monthlySearchVolumeBroad: 1
                    monthlyTrend: 1
                    quarterlyTrend: 1
                    relevancyScore: 1
                    easeOfRankingScore: 1
                    organicProductCount: 1
                    sponsoredProductCount: 1
                    ppcBidExact: 1
                    ppcBidBroad: 1
                    spBrandAdBid: 1
                    recommendedPromotions: 1
                additionalProperties: true
              example:
                costToken: 1
                keywordInfoList:
                - monthlySearchVolumeExact: 1
                  monthlySearchVolumeBroad: 1
                  monthlyTrend: 1
                  quarterlyTrend: 1
                  relevancyScore: 1
                  easeOfRankingScore: 1
                  organicProductCount: 1
                  sponsoredProductCount: 1
                  ppcBidExact: 1
                  ppcBidBroad: 1
                  spBrandAdBid: 1
                  recommendedPromotions: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: amazon-keyword-expansion
      x-nexscope-mcp-tool-name: nexscope_amazon_keyword_expansion
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/amazon-keyword-intelligence/run:
    post:
      tags:
      - Keyword & Search Demand
      summary: Amazon Keyword Intelligence
      description: Query and analyze Amazon ABA (Brand Analytics) search term data, covering 15 marketplaces with nearly 3 years of weekly data.
      operationId: runAmazonKeywordIntelligence
      externalDocs:
        description: Amazon Keyword Intelligence documentation
        url: https://www.nexscope.ai/api-docs/amazon-keyword-intelligence
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request parameters documented by ecommerce.amazon-keyword-intelligence.
              properties:
                analysisDescription:
                  type: string
                  description: Natural language description that precisely expresses the query intent
                  example: Analyze Amazon Brand Analytics search demand for phone case in the US marketplace
                region:
                  type: string
                  description: 'Site code, default US. Options: US, DE, BR, CA, AU, JP, AE, ES, FR, IT, SA, TR, MX, SE, NL'
                  example: US
                createDownloadUrl:
                  type: boolean
                  description: Whether to generate a CSV download link, default false
                  example: false
              required:
              - analysisDescription
              example:
                region: US
                createDownloadUrl: false
                analysisDescription: Find Amazon Brand Analytics search demand for phone case in the US marketplace
              additionalProperties: true
            example:
              region: US
              createDownloadUrl: false
              analysisDescription: Find Amazon Brand Analytics search demand for phone case in the US marketplace
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Returns the documented upstream API response directly without an additional wrapper.
                properties:
                  success:
                    type: boolean
                    description: Whether the query succeeded
                    example: false
                  tables:
                    type: array
                    items: {}
                    description: Result data array, each element containing data (data rows), columns (column definitions), name (Sheet name)
                    example: []
                  total:
                    type: integer
                    description: Total result count
                    example: 1
                  downloadUrl:
                    type: string
                    description: When createDownloadUrl is true, returns the CSV file URL
                    example: https://example.com/image.jpg
                  msg:
                    type: string
                    description: Additional message
                  downloadNote:
                    type: string
                    description: Download-related note
                  code:
                    type: string
                    description: Response code
                  costTime:
                    type: integer
                    description: Latency (ms)
                    example: 1
                  costToken:
                    type: integer
                    description: Tokens consumed
                    example: 1
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  message:
                    type: string
                    description: Provider-specific message.
                  type:
                    type: string
                    description: Provider-specific render or payload type.
                  title:
                    type: string
                    description: Provider-specific response title.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                example:
                  success: false
                  tables: []
                  total: 1
                  downloadUrl: https://example.com/image.jpg
                  costTime: 1
                  costToken: 1
                additionalProperties: true
              example:
                success: false
                tables: []
                total: 1
                downloadUrl: https://example.com/image.jpg
                costTime: 1
                costToken: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: amazon-keyword-intelligence
      x-nexscope-mcp-tool-name: nexscope_amazon_keyword_intelligence
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/amazon-keyword-overview/run:
    post:
      tags:
      - Keyword & Search Demand
      summary: Amazon Keyword Overview
      description: SIF overview analysis of Amazon keyword market competition.
      operationId: runAmazonKeywordOverview
      externalDocs:
        description: Amazon Keyword Overview documentation
        url: https://www.nexscope.ai/api-docs/amazon-keyword-overview
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request parameters documented by ecommerce.amazon-keyword-overview.
              properties:
                keyword:
                  type: string
                  description: 'Keyword, translate to the corresponding country''s language whenever possible. Max length: 1000 characters'
                  example: phone case
                country:
                  type: string
                  description: 'Country site, default US. Options (13 total): US, UK, DE, CA, JP, FR, ES, IT, MX, AU, AE, BR, SA'
                last7d:
                  type: boolean
                  description: Whether to get last 7 days data, default true. When false, use startDate/endDate range
                  example: true
                startDate:
                  type: string
                  description: Start date yyyy-MM-dd (effective when last7d=false)
                  example: '2026-01-01'
                endDate:
                  type: string
                  description: End date yyyy-MM-dd (paired with startDate)
                  example: '2026-01-01'
              required:
              - keyword
              example:
                last7d: true
                keyword: phone case
                country: US
              additionalProperties: true
            example:
              last7d: true
              keyword: phone case
              country: US
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Returns the documented upstream API response directly without an additional wrapper.
                properties:
                  msg:
                    type: string
                    description: Message
                  total:
                    type: integer
                    description: 'Total data count. Note: this endpoint typically returns only a single record, total is usually 1'
                    example: 1
                  code:
                    type: string
                    description: Response code
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        keyword:
                          type: string
                          description: Keyword. The keyword text of the search query
                          example: phone case
                        keywordPopularityRank:
                          type: integer
                          description: Keyword popularity rank. This keyword's monthly search volume ranking among all Amazon keywords; lower values indicate higher search volume
                          example: 1
                        estimatedWeeklySearchVolume:
                          type: integer
                          description: Estimated weekly search volume. Estimated weekly search count for this keyword on Amazon, reflecting its search popularity
                          example: 1
                        supplyDemandRatio:
                          type: number
                          description: 'Supply-demand ratio. Ratio of supply to demand, formula: search result product count / monthly search volume; lower values indicate less competition and greater opportunity'
                          example: 1
                        totalSearchResultProductCount:
                          type: integer
                          description: Total search result product count. Total number of products displayed for this keyword (including natural search, ad placements, recommendation placements, etc.)
                          example: 1
                        naturalSearchProductCount:
                          type: integer
                          description: Natural search product count. Number of products displayed in natural search results for this keyword (excluding ad placements)
                          example: 1
                        sponsoredProductsCount:
                          type: integer
                          description: SP ad product count. Number of products running Sponsored Products ads for this keyword
                          example: 1
                        brandAdProductCount:
                          type: integer
                          description: Brand ad product count. Number of products running brand ads for this keyword
                          example: 1
                        videoAdProductCount:
                          type: integer
                          description: Video ad product count. Number of products running video ads for this keyword
                          example: 1
                        paidAdvertisingProductCount:
                          type: integer
                          description: Total PPC ad product count. Total number of products running any PPC paid ads for this keyword (including SP, brand ads, video ads, etc.)
                          example: 1
                        amazonChoiceProductCount:
                          type: integer
                          description: Amazon's Choice product count. Number of products with the Amazon's Choice badge for this keyword
                          example: 1
                        topRatedProductCount:
                          type: integer
                          description: Top Rated recommended product count. Number of products appearing in the Top Rated (high rating) recommendation placement for this keyword
                          example: 1
                        searchRecommendationProductCount:
                          type: integer
                          description: Search recommendation product count. Number of products recommended by Amazon when searching this keyword
                          example: 1
                        editorialRecommendationsProductCount:
                          type: integer
                          description: Editorial Recommendations product count. Number of products appearing in the editorial recommendation placement for this keyword
                          example: 1
                        recNonadProductCount:
                          type: integer
                          description: Recommendation placement non-ad product count. Number of non-ad (organic) products in recommendation placements for this keyword
                          example: 1
                        recAdProductCount:
                          type: integer
                          description: Recommendation placement ad product count. Number of ad products in recommendation placements for this keyword
                          example: 1
                        trackedAsinTotalCount:
                          type: integer
                          description: 'SIF tracked ASIN deduplicated total count. Deduplicated count of ASINs that SIF has tracked with exposure scores across all positions (natural/ad/recommendation) for this keyword (upstream field: totalAsinNum)'
                          example: 1
                        totalMarketplaceKeywordCount:
                          type: integer
                          description: Total marketplace keyword count. Total number of keywords for this site, used to understand overall market size
                          example: 1
                        dataPeriodStartDate:
                          type: string
                          description: Data period start date. ABA week start date corresponding to the returned data (yyyy-MM-dd)
                          example: '2026-01-01'
                        dataPeriodEndDate:
                          type: string
                          description: Data period end date. ABA week end date corresponding to the returned data (yyyy-MM-dd)
                          example: '2026-01-01'
                        keywordDataUpdateTime:
                          type: string
                          description: Keyword data update time
                          example: phone case
                      additionalProperties: true
                    description: Return data (see data fields below)
                    example: []
                  costTime:
                    type: integer
                    description: Latency (ms)
                    example: 1
                  costToken:
                    type: integer
                    description: Tokens consumed
                    example: 1
                  columns:
                    type: array
                    items: {}
                    description: Render columns
                    example: []
                  type:
                    type: string
                    description: Render style
                  title:
                    type: string
                    description: Title
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  message:
                    type: string
                    description: Provider-specific message.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                example:
                  total: 1
                  data:
                  - keyword: phone case
                    keywordPopularityRank: 1
                    estimatedWeeklySearchVolume: 1
                    supplyDemandRatio: 1
                    totalSearchResultProductCount: 1
                    naturalSearchProductCount: 1
                    sponsoredProductsCount: 1
                    brandAdProductCount: 1
                    videoAdProductCount: 1
                    paidAdvertisingProductCount: 1
                    amazonChoiceProductCount: 1
                    topRatedProductCount: 1
                    searchRecommendationProductCount: 1
                    editorialRecommendationsProductCount: 1
                    recNonadProductCount: 1
                    recAdProductCount: 1
                    trackedAsinTotalCount: 1
                    totalMarketplaceKeywordCount: 1
                    dataPeriodStartDate: '2026-01-01'
                    dataPeriodEndDate: '2026-01-01'
                    keywordDataUpdateTime: phone case
                  costTime: 1
                  costToken: 1
                  columns: []
                additionalProperties: true
              example:
                total: 1
                data:
                - keyword: phone case
                  keywordPopularityRank: 1
                  estimatedWeeklySearchVolume: 1
                  supplyDemandRatio: 1
                  totalSearchResultProductCount: 1
                  naturalSearchProductCount: 1
                  sponsoredProductsCount: 1
                  brandAdProductCount: 1
                  videoAdProductCount: 1
                  paidAdvertisingProductCount: 1
                  amazonChoiceProductCount: 1
                  topRatedProductCount: 1
                  searchRecommendationProductCount: 1
                  editorialRecommendationsProductCount: 1
                  recNonadProductCount: 1
                  recAdProductCount: 1
                  trackedAsinTotalCount: 1
                  totalMarketplaceKeywordCount: 1
                  dataPeriodStartDate: '2026-01-01'
                  dataPeriodEndDate: '2026-01-01'
                  keywordDataUpdateTime: phone case
                costTime: 1
                costToken: 1
                columns: []
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: amazon-keyword-overview
      x-nexscope-mcp-tool-name: nexscope_amazon_keyword_overview
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/amazon-keyword-search-history/run:
    post:
      tags:
      - Keyword & Search Demand
      summary: Amazon Keyword Search History
      description: Jungle Scout keyword historical search volume query, returning Amazon keyword exact search volume trends in 7-day periods, covering 10 marketplaces including US, UK, DE, JP, etc.
      operationId: runAmazonKeywordSearchHistory
      externalDocs:
        description: Amazon Keyword Search History documentation
        url: https://www.nexscope.ai/api-docs/amazon-keyword-search-history
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request parameters documented by ecommerce.amazon-keyword-search-history.
              properties:
                marketplace:
                  type: string
                  description: 'Target marketplace code. Options: us, uk, de, in, ca, fr, it, es, mx, jp'
                  example: us
                keyword:
                  type: string
                  description: Keyword to query
                  example: phone case
                startDate:
                  type: string
                  description: 'Start date (format: YYYY-MM-DD)'
                  example: '2026-01-01'
                endDate:
                  type: string
                  description: 'End date (format: YYYY-MM-DD); max interval from startDate is 366 days'
                  example: '2026-01-01'
              required:
              - marketplace
              - keyword
              - startDate
              - endDate
              example:
                marketplace: us
                endDate: '2025-03-31'
                keyword: phone case
                startDate: '2026-01-01'
              additionalProperties: true
            example:
              marketplace: us
              endDate: '2026-01-31'
              keyword: phone case
              startDate: '2026-01-01'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Returns the documented upstream API response directly without an additional wrapper.
                properties:
                  costToken:
                    type: integer
                    description: Tokens consumed
                    example: 1
                  historicalSearchVolumeList:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Data period identifier (market/keyword/date range)
                          example: example-id
                        estimateStartDate:
                          type: string
                          description: Period start date (YYYY-MM-DD, 7-day statistical period start)
                          example: '2026-01-01'
                        estimateEndDate:
                          type: string
                          description: Period end date (YYYY-MM-DD, 7-day statistical period end)
                          example: '2026-01-01'
                        estimatedExactSearchVolume:
                          type: integer
                          description: Exact match search volume for this period (searches/week)
                          example: 1
                        type:
                          type: string
                          description: Resource type, fixed value historical_keyword_search_volume
                      additionalProperties: true
                    description: Historical search volume period list
                    example: []
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  code:
                    type: string
                    description: Provider-specific status code.
                  msg:
                    type: string
                    description: Provider-specific status message.
                  message:
                    type: string
                    description: Provider-specific message.
                  type:
                    type: string
                    description: Provider-specific render or payload type.
                  title:
                    type: string
                    description: Provider-specific response title.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  costTime:
                    type: integer
                    description: Execution time reported by the upstream provider.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                example:
                  costToken: 1
                  historicalSearchVolumeList:
                  - id: example-id
                    estimateStartDate: '2026-01-01'
                    estimateEndDate: '2026-01-01'
                    estimatedExactSearchVolume: 1
                additionalProperties: true
              example:
                costToken: 1
                historicalSearchVolumeList:
                - id: example-id
                  estimateStartDate: '2026-01-01'
                  estimateEndDate: '2026-01-01'
                  estimatedExactSearchVolume: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: amazon-keyword-search-history
      x-nexscope-mcp-tool-name: nexscope_amazon_keyword_search_history
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/amazon-keyword-share-of-voice/run:
    post:
      tags:
      - Keyword & Search Demand
      summary: Amazon Keyword Share Of Voice
      description: Jungle Scout keyword Share of Voice analysis, returning brand visibility share across the first 3 pages of Amazon search results (organic/ad/combined), 30-day exact search volume, median PPC bid, and TOP3 ASIN click and conversion data, covering 10 marketplaces.
      operationId: runAmazonKeywordShareOfVoice
      externalDocs:
        description: Amazon Keyword Share Of Voice documentation
        url: https://www.nexscope.ai/api-docs/amazon-keyword-share-of-voice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request parameters documented by ecommerce.amazon-keyword-share-of-voice.
              properties:
                marketplace:
                  type: string
                  description: 'Target marketplace code. Options: us, uk, de, in, ca, fr, it, es, mx, jp'
                  example: us
                keyword:
                  type: string
                  description: Keyword to query
                  example: phone case
              required:
              - marketplace
              - keyword
              example:
                marketplace: us
                keyword: phone case
              additionalProperties: true
            example:
              marketplace: us
              keyword: phone case
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Returns the documented upstream API response directly without an additional wrapper.
                properties:
                  costToken:
                    type: integer
                    description: Tokens consumed
                    example: 1
                  shareOfVoice:
                    type: object
                    description: Share of Voice data body
                    example: {}
                    properties: {}
                    additionalProperties: true
                  id:
                    type: string
                    description: Resource identifier
                    example: example-id
                  type:
                    type: string
                    description: Fixed value share_of_voice
                  estimated30DaySearchVolume:
                    type: integer
                    description: Exact match search volume over the past 30 days
                    example: 1
                  exactSuggestedBidMedian:
                    type: number
                    description: PPC bid median (USD)
                    example: 1
                  productCount:
                    type: integer
                    description: Total product count in the first 3 pages of search results
                    example: 1
                  updatedAt:
                    type: string
                    description: Data update time
                    example: '2026-01-01'
                  topAsinsModelStartDate:
                    type: string
                    description: TOP ASIN click/conversion data window start date
                    example: B072MQ5BRX
                  topAsinsModelEndDate:
                    type: string
                    description: TOP ASIN click/conversion data window end date
                    example: B072MQ5BRX
                  brands:
                    type: array
                    items:
                      type: object
                      properties:
                        brand:
                          type: string
                          description: Brand name
                        organicProducts:
                          type: integer
                          description: Number of products in organic search results
                          example: 1
                        sponsoredProducts:
                          type: integer
                          description: Number of products in ad placements
                          example: 1
                        combinedProducts:
                          type: integer
                          description: Combined product count
                          example: 1
                        organicBasicSov:
                          type: number
                          description: Organic basic SOV (0-1)
                          example: 1
                        organicWeightedSov:
                          type: number
                          description: Organic weighted SOV (0-1)
                          example: 1
                        sponsoredBasicSov:
                          type: number
                          description: Sponsored basic SOV (0-1)
                          example: 1
                        sponsoredWeightedSov:
                          type: number
                          description: Sponsored weighted SOV (0-1)
                          example: 1
                        combinedBasicSov:
                          type: number
                          description: Combined basic SOV (0-1)
                          example: 1
                        combinedWeightedSov:
                          type: number
                          description: Combined weighted SOV (0-1)
                          example: 1
                        organicAveragePosition:
                          type: number
                          description: Average organic search rank position
                          example: 1
                        sponsoredAveragePosition:
                          type: number
                          description: Average sponsored search rank position
                          example: 1
                        combinedAveragePosition:
                          type: number
                          description: Combined average rank position
                          example: 1
                        organicAveragePrice:
                          type: number
                          description: Average organic search product price
                          example: 1
                        sponsoredAveragePrice:
                          type: number
                          description: Average sponsored search product price
                          example: 1
                        combinedAveragePrice:
                          type: number
                          description: Combined average product price
                          example: 1
                      additionalProperties: true
                    description: Brand SOV detail list
                    example: []
                  topAsins:
                    type: array
                    items:
                      type: object
                      properties:
                        asin:
                          type: string
                          description: ASIN number
                          example: B072MQ5BRX
                        name:
                          type: string
                          description: Product name
                        brand:
                          type: string
                          description: Brand name
                        clicks:
                          type: integer
                          description: Click volume (30-day window)
                          example: 1
                        conversions:
                          type: integer
                          description: Conversion volume (30-day window)
                          example: 1
                        conversionRate:
                          type: number
                          description: Conversion rate (0-1)
                          example: 1
                      additionalProperties: true
                    description: TOP 3 ASIN click and conversion list
                    example: []
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  code:
                    type: string
                    description: Provider-specific status code.
                  msg:
                    type: string
                    description: Provider-specific status message.
                  message:
                    type: string
                    description: Provider-specific message.
                  title:
                    type: string
                    description: Provider-specific response title.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  costTime:
                    type: integer
                    description: Execution time reported by the upstream provider.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                example:
                  costToken: 1
                  shareOfVoice: {}
                  id: example-id
                  estimated30DaySearchVolume: 1
                  exactSuggestedBidMedian: 1
                  productCount: 1
                  updatedAt: '2026-01-01'
                  topAsinsModelStartDate: B072MQ5BRX
                  topAsinsModelEndDate: B072MQ5BRX
                  brands:
                  - organicProducts: 1
                    sponsoredProducts: 1
                    combinedProducts: 1
                    organicBasicSov: 1
                    organicWeightedSov: 1
                    sponsoredBasicSov: 1
                    sponsoredWeightedSov: 1
                    combinedBasicSov: 1
                    combinedWeightedSov: 1
                    organicAveragePosition: 1
                    sponsoredAveragePosition: 1
                    combinedAveragePosition: 1
                    organicAveragePrice: 1
                    sponsoredAveragePrice: 1
                    combinedAveragePrice: 1
                  topAsins:
                  - asin: B072MQ5BRX
                    clicks: 1
                    conversions: 1
                    conversionRate: 1
                additionalProperties: true
              example:
                costToken: 1
                shareOfVoice: {}
                id: example-id
                estimated30DaySearchVolume: 1
                exactSuggestedBidMedian: 1
                productCount: 1
                updatedAt: '2026-01-01'
                topAsinsModelStartDate: B072MQ5BRX
                topAsinsModelEndDate: B072MQ5BRX
                brands:
                - organicProducts: 1
                  sponsoredProducts: 1
                  combinedProducts: 1
                  organicBasicSov: 1
                  organicWeightedSov: 1
                  sponsoredBasicSov: 1
                  sponsoredWeightedSov: 1
                  combinedBasicSov: 1
                  combinedWeightedSov: 1
                  organicAveragePosition: 1
                  sponsoredAveragePosition: 1
                  combinedAveragePosition: 1
                  organicAveragePrice: 1
                  sponsoredAveragePrice: 1
                  combinedAveragePrice: 1
                topAsins:
                - asin: B072MQ5BRX
                  clicks: 1
                  conversions: 1
                  conversionRate: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: amazon-keyword-share-of-voice
      x-nexscope-mcp-tool-name: nexscope_amazon_keyword_share_of_voice
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/amazon-keyword-summary/run:
    post:
      tags:
      - Keyword & Search Demand
      summary: Amazon Keyword Summary
      description: Break down all competitor ASIN traffic sources under a given keyword -- organic search, SP ads, SB brand ads, SBV video ads, SP recommendations, AC/ER/TR recommendation slots, with support for ASIN filtering, custom date ranges, and new traffic keyword filters.
      operationId: runAmazonKeywordSummary
      externalDocs:
        description: Amazon Keyword Summary documentation
        url: https://www.nexscope.ai/api-docs/amazon-keyword-summary
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request parameters documented by ecommerce.amazon-keyword-summary.
              properties:
                searchKeyword:
                  type: string
                  description: Search keyword, translate to the corresponding country's language whenever possible. Max length 1000 characters
                  example: phone case
                country:
                  type: string
                  description: 'Country site, default US. Options (13 total): US, UK, DE, CA, JP, FR, ES, IT, MX, AU, AE, BR, SA'
                asins:
                  type: string
                  description: ASIN filter list, comma-separated; if not provided, returns all ASINs for this keyword. Max length 1000 characters
                  example: B072MQ5BRX
                condition:
                  type: string
                  description: 'Condition filter, only one at a time.<br>Flag type: nfPosition (natural traffic keyword), isSpAd (SP ad keyword), isVedioAd (video ad keyword), isBrandAd (brand ad keyword), isPPCAd (PPC ad keyword), isSearchRecommend (search recommendation keyword), acAd (SP recommendation)<br>Period count type: totalPeriod.in (new incoming traffic keywords), nfKeywordCnt.total / .in, adKeywordCnt.total / .in, allSpKeywordCnt.total / .in, spKeywordCnt.total / .in, recSpKeywordCnt.total / .in, allSbKeywordCnt.total / .in, sbKeywordCnt.total / .in, sbvKeywordCnt.total / .in'
                last7d:
                  type: boolean
                  description: Whether to get last 7 days data, default true. When false, use startDate/endDate range
                  example: true
                startDate:
                  type: string
                  description: Start date yyyy-MM-dd (effective when last7d=false; if omitted, the latest system full week is used)
                  example: '2026-01-01'
                endDate:
                  type: string
                  description: End date yyyy-MM-dd (paired with startDate)
                  example: '2026-01-01'
                sortBy:
                  type: string
                  description: 'Sort field. Options: totalKeywordNum (all traffic keywords), naturalKeywordNum (natural traffic keywords), brandKeywordNum (brand ad keywords), vedioKeywordNum (video ad keywords), acKeywordNum (AC recommended keywords), erKeywordNum (ER recommended keywords), trKeywordNum (TR recommended keywords), sumScore (total keyword exposure score), totalNfScore, totalSpSocre (note spelling), totalBrandScore, totalVedioScore, totalAcScore, totalTrScore, totalErScore'
                pageNum:
                  type: integer
                  description: Page number, default 1
                  example: 1
                pageSize:
                  type: integer
                  description: Results per page, min 10, max 100, default 100
                  example: 10
                desc:
                  type: boolean
                  description: Whether to sort descending, default true
                  example: true
              required:
              - searchKeyword
              example:
                searchKeyword: phone case
                pageSize: 10
                last7d: true
                pageNum: 1
                country: US
              additionalProperties: true
            example:
              searchKeyword: phone case
              pageSize: 10
              last7d: true
              pageNum: 1
              country: US
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Returns the documented upstream API response directly without an additional wrapper.
                properties:
                  code:
                    type: string
                    description: Response code
                  msg:
                    type: string
                    description: Message
                  total:
                    type: integer
                    description: Number of data records actually returned
                    example: 1
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        asin:
                          type: string
                          description: ASIN code
                          example: B072MQ5BRX
                        productTitle:
                          type: string
                          description: Product title
                        productImageUrl:
                          type: string
                          description: Product main image URL
                          example: https://example.com/image.jpg
                        productPrice:
                          type: number
                          description: Product price
                          example: 1
                        customerRatingCount:
                          type: integer
                          description: Total customer rating count
                          example: 1
                        productStarRating:
                          type: number
                          description: Product star rating (0-5 stars)
                          example: 1
                        productRatingScore:
                          type: number
                          description: Product rating score value
                          example: 1
                        productUpdateTime:
                          type: string
                          description: Product update time (yyyy-MM-dd HH:mm:ss)
                          example: '2026-01-01'
                        dataPeriodStartDate:
                          type: string
                          description: Data period start date (yyyy-MM-dd)
                          example: '2026-01-01'
                        totalExposureScore:
                          type: number
                          description: Total exposure score
                          example: 1
                        totalExposureRatio:
                          type: number
                          description: Total traffic share
                          example: 1
                        naturalSearchExposureScore:
                          type: number
                          description: Natural search exposure total score
                          example: 1
                        naturalSearchExposureRatio:
                          type: number
                          description: Natural search exposure ratio
                          example: 1
                        sponsoredProductsExposureScore:
                          type: number
                          description: SP ad exposure total score
                          example: 1
                        sponsoredProductsExposureRatio:
                          type: number
                          description: SP ad exposure ratio
                          example: 1
                        brandAdExposureScore:
                          type: number
                          description: Brand ad exposure total score
                          example: 1
                        brandAdExposureRatio:
                          type: number
                          description: Brand ad exposure ratio
                          example: 1
                        videoAdExposureScore:
                          type: number
                          description: Video ad exposure total score
                          example: 1
                        videoAdExposureRatio:
                          type: number
                          description: Video ad exposure ratio
                          example: 1
                        amazonsChoiceExposureScore:
                          type: number
                          description: AC exposure total score
                          example: 1
                        amazonsChoiceExposureRatio:
                          type: number
                          description: AC exposure ratio
                          example: 1
                        editorialRecommendationsExposureScore:
                          type: number
                          description: ER exposure total score
                          example: 1
                        editorialRecommendationsExposureRatio:
                          type: number
                          description: ER exposure ratio
                          example: 1
                        topRatedExposureScore:
                          type: number
                          description: TR exposure total score
                          example: 1
                        topRatedExposureRatio:
                          type: number
                          description: TR exposure ratio
                          example: 1
                        recommendPositionExposureScore:
                          type: number
                          description: Recommendation position exposure total score
                          example: 1
                        recommendAdExposureScore:
                          type: number
                          description: Recommendation position ad exposure score
                          example: 1
                        recommendAdExposureRatio:
                          type: number
                          description: Recommendation position ad traffic share
                          example: 1
                        recommendNonadExposureScore:
                          type: number
                          description: Recommendation position non-ad exposure score
                          example: 1
                        recommendNonadExposureRatio:
                          type: number
                          description: Recommendation position non-ad traffic share
                          example: 1
                        comprehensiveNaturalExposureScore:
                          type: number
                          description: Comprehensive natural traffic score (natural search + recommendation non-ad)
                          example: 1
                        comprehensiveNaturalExposureRatio:
                          type: number
                          description: Comprehensive natural traffic share
                          example: 1
                        keywordTotalExposureScore:
                          type: number
                          description: Keyword total score
                          example: 1
                        keywordNaturalExposureScore:
                          type: number
                          description: Keyword natural score
                          example: 1
                        keywordSponsoredProductsExposureScore:
                          type: number
                          description: Keyword SP ad score
                          example: 1
                        keywordBrandAdExposureScore:
                          type: number
                          description: Keyword brand ad score
                          example: 1
                        keywordVideoAdExposureScore:
                          type: number
                          description: Keyword video ad score
                          example: 1
                        keywordAmazonsChoiceExposureScore:
                          type: number
                          description: Keyword AC score
                          example: 1
                        keywordRecommendExposureScore:
                          type: number
                          description: Keyword recommendation position score
                          example: 1
                        keywordRecommendAdExposureScore:
                          type: number
                          description: Keyword recommendation position ad score
                          example: 1
                        keywordRecommendNonadExposureScore:
                          type: number
                          description: Keyword recommendation position non-ad score
                          example: 1
                        keywordComprehensiveNaturalExposureScore:
                          type: number
                          description: Keyword comprehensive natural score (natural + recommendation non-ad)
                          example: 1
                        ppcTrafficSources:
                          type: array
                          items: {}
                          description: 'PPC paid ad traffic source markers. Contains: SP ads, top brand ads, bottom brand ads, video ads'
                          example: []
                        naturalSearchTrafficSources:
                          type: array
                          items: {}
                          description: Natural search traffic source markers
                          example: []
                        amazonRecommendationSources:
                          type: array
                          items: {}
                          description: 'Amazon recommendation traffic source markers. Contains: Best Seller, AC, ER, TR, TRFOB, etc.'
                          example: []
                        promotionalDealSources:
                          type: array
                          items: {}
                          description: 'Promotional deal traffic source markers. Contains: Coupon, Limited Time Deal, Lowest Price in 30 Days, etc.'
                          example: []
                      additionalProperties: true
                    description: Return data, array of product keyword traffic data objects
                    example: []
                  columns:
                    type: array
                    items: {}
                    description: Render columns
                    example: []
                  type:
                    type: string
                    description: Render style
                  title:
                    type: string
                    description: Title
                  costTime:
                    type: integer
                    description: Latency (ms)
                    example: 1
                  costToken:
                    type: integer
                    description: Tokens consumed
                    example: 1
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  message:
                    type: string
                    description: Provider-specific message.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                example:
                  total: 1
                  data:
                  - asin: B072MQ5BRX
                    productImageUrl: https://example.com/image.jpg
                    productPrice: 1
                    customerRatingCount: 1
                    productStarRating: 1
                    productRatingScore: 1
                    productUpdateTime: '2026-01-01'
                    dataPeriodStartDate: '2026-01-01'
                    totalExposureScore: 1
                    totalExposureRatio: 1
                    naturalSearchExposureScore: 1
                    naturalSearchExposureRatio: 1
                    sponsoredProductsExposureScore: 1
                    sponsoredProductsExposureRatio: 1
                    brandAdExposureScore: 1
                    brandAdExposureRatio: 1
                    videoAdExposureScore: 1
                    videoAdExposureRatio: 1
                    amazonsChoiceExposureScore: 1
                    amazonsChoiceExposureRatio: 1
                    editorialRecommendationsExposureScore: 1
                    editorialRecommendationsExposureRatio: 1
                    topRatedExposureScore: 1
                    topRatedExposureRatio: 1
                    recommendPositionExposureScore: 1
                    recommendAdExposureScore: 1
                    recommendAdExposureRatio: 1
                    recommendNonadExposureScore: 1
                    recommendNonadExposureRatio: 1
                    comprehensiveNaturalExposureScore: 1
                    comprehensiveNaturalExposureRatio: 1
                    keywordTotalExposureScore: 1
                    keywordNaturalExposureScore: 1
                    keywordSponsoredProductsExposureScore: 1
                    keywordBrandAdExposureScore: 1
                    keywordVideoAdExposureScore: 1
                    keywordAmazonsChoiceExposureScore: 1
                    keywordRecommendExposureScore: 1
                    keywordRecommendAdExposureScore: 1
                    keywordRecommendNonadExposureScore: 1
                    keywordComprehensiveNaturalExposureScore: 1
                    ppcTrafficSources: []
                    naturalSearchTrafficSources: []
                    amazonRecommendationSources: []
                    promotionalDealSources: []
                  columns: []
                  costTime: 1
                  costToken: 1
                additionalProperties: true
              example:
                total: 1
                data:
                - asin: B072MQ5BRX
                  productImageUrl: https://example.com/image.jpg
                  productPrice: 1
                  customerRatingCount: 1
                  productStarRating: 1
                  productRatingScore: 1
                  productUpdateTime: '2026-01-01'
                  dataPeriodStartDate: '2026-01-01'
                  totalExposureScore: 1
                  totalExposureRatio: 1
                  naturalSearchExposureScore: 1
                  naturalSearchExposureRatio: 1
                  sponsoredProductsExposureScore: 1
                  sponsoredProductsExposureRatio: 1
                  brandAdExposureScore: 1
                  brandAdExposureRatio: 1
                  videoAdExposureScore: 1
                  videoAdExposureRatio: 1
                  amazonsChoiceExposureScore: 1
                  amazonsChoiceExposureRatio: 1
                  editorialRecommendationsExposureScore: 1
                  editorialRecommendationsExposureRatio: 1
                  topRatedExposureScore: 1
                  topRatedExposureRatio: 1
                  recommendPositionExposureScore: 1
                  recommendAdExposureScore: 1
                  recommendAdExposureRatio: 1
                  recommendNonadExposureScore: 1
                  recommendNonadExposureRatio: 1
                  comprehensiveNaturalExposureScore: 1
                  comprehensiveNaturalExposureRatio: 1
                  keywordTotalExposureScore: 1
                  keywordNaturalExposureScore: 1
                  keywordSponsoredProductsExposureScore: 1
                  keywordBrandAdExposureScore: 1
                  keywordVideoAdExposureScore: 1
                  keywordAmazonsChoiceExposureScore: 1
                  keywordRecommendExposureScore: 1
                  keywordRecommendAdExposureScore: 1
                  keywordRecommendNonadExposureScore: 1
                  keywordComprehensiveNaturalExposureScore: 1
                  ppcTrafficSources: []
                  naturalSearchTrafficSources: []
                  amazonRecommendationSources: []
                  promotionalDealSources: []
                columns: []
                costTime: 1
                costToken: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: amazon-keyword-summary
      x-nexscope-mcp-tool-name: nexscope_amazon_keyword_summary
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/amazon-niche-info-by-keyword/run:
    post:
      tags:
      - Keyword & Search Demand
      summary: Amazon Niche Info By Keyword
      description: Deep analysis of Amazon niche markets by keyword, covering monopoly level, brand concentration, new product success rate, and market opportunity score.
      operationId: runAmazonNicheInfoByKeyword
      externalDocs:
        description: Amazon Niche Info By Keyword documentation
        url: https://www.nexscope.ai/api-docs/amazon-niche-info-by-keyword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request parameters documented by ecommerce.amazon-niche-info-by-keyword.
              properties:
                keyword:
                  type: string
                  description: Keyword (required, translate the keyword to the corresponding country's language based on the selected country), max length 1000 characters
                  example: phone case
                countryCode:
                  type: string
                  description: 'Country code, options: US (United States), JP (Japan), DE (Germany)'
                page:
                  type: integer
                  description: Page number (starting from 1)
                  example: 1
                pageSize:
                  type: integer
                  description: Results per page (10-100)
                  example: 10
                sortField:
                  type: string
                  description: Sort field (see sort options below)
                sortType:
                  type: string
                  description: 'Sort direction: desc (descending) or asc (ascending)'
                productCountMin:
                  type: integer
                  description: Minimum product count (current)
                  example: 1
                productCountMax:
                  type: integer
                  description: Maximum product count (current)
                  example: 1
                avgPriceMin:
                  type: number
                  description: Minimum average price (current)
                  example: 1
                avgPriceMax:
                  type: number
                  description: Maximum average price (current)
                  example: 1
                searchVolumeT7Min:
                  type: integer
                  description: Minimum search volume (7-day stats)
                  example: 1
                searchVolumeT7Max:
                  type: integer
                  description: Maximum search volume (7-day stats)
                  example: 1
                unitsSoldT7Min:
                  type: integer
                  description: Minimum sales volume (7-day stats)
                  example: 1
                unitsSoldT7Max:
                  type: integer
                  description: Maximum sales volume (7-day stats)
                  example: 1
                clickCountT7Min:
                  type: integer
                  description: Minimum click volume (7-day stats)
                  example: 1
                clickCountT7Max:
                  type: integer
                  description: Maximum click volume (7-day stats)
                  example: 1
                clickConversionRateT7Min:
                  type: number
                  description: Minimum click conversion rate (7-day stats), range 0-1, representing 0%-100%
                  example: 1
                clickConversionRateT7Max:
                  type: number
                  description: Maximum click conversion rate (7-day stats), range 0-1, representing 0%-100%
                  example: 1
                brandCountMin:
                  type: integer
                  description: Minimum brand count
                  example: 1
                brandCountMax:
                  type: integer
                  description: Maximum brand count
                  example: 1
                top5BrandsClickShareMin:
                  type: number
                  description: Minimum top 5 brands' click share in the niche market, range 0-1, representing 0%-100%
                  example: 1
                top5BrandsClickShareMax:
                  type: number
                  description: Maximum top 5 brands' click share in the niche market, range 0-1, representing 0%-100%
                  example: 1
                avgBrandAgeMin:
                  type: number
                  description: Minimum average brand age (current)
                  example: 1
                avgBrandAgeMax:
                  type: number
                  description: Maximum average brand age (current)
                  example: 1
                avgBrandAgeQoqMin:
                  type: number
                  description: Minimum average brand age (90-day stats)
                  example: 1
                avgBrandAgeQoqMax:
                  type: number
                  description: Maximum average brand age (90-day stats)
                  example: 1
                avgBrandAgeYoyMin:
                  type: number
                  description: Minimum average brand age (360-day stats)
                  example: 1
                avgBrandAgeYoyMax:
                  type: number
                  description: Maximum average brand age (360-day stats)
                  example: 1
                avgSellingPartnerAgeMin:
                  type: number
                  description: Minimum average selling partner age
                  example: 1
                avgSellingPartnerAgeMax:
                  type: number
                  description: Maximum average selling partner age
                  example: 1
                avgSellingPartnerAgeQoqMin:
                  type: number
                  description: Minimum average selling partner age (90-day stats)
                  example: 1
                avgSellingPartnerAgeQoqMax:
                  type: number
                  description: Maximum average selling partner age (90-day stats)
                  example: 1
                avgSellingPartnerAgeYoyMin:
                  type: number
                  description: Minimum average selling partner age (360-day stats)
                  example: 1
                avgSellingPartnerAgeYoyMax:
                  type: number
                  description: Maximum average selling partner age (360-day stats)
                  example: 1
                top5ProductsClickShareMin:
                  type: number
                  description: Minimum top 5 products click share (current), range 0-1, representing 0%-100%
                  example: 1
                top5ProductsClickShareMax:
                  type: number
                  description: Maximum top 5 products click share (current), range 0-1, representing 0%-100%
                  example: 1
                sponsoredProductsPercentageMin:
                  type: number
                  description: Minimum SP ad share, range 0-1, representing 0%-100%
                  example: 1
                sponsoredProductsPercentageMax:
                  type: number
                  description: Maximum SP ad share, range 0-1, representing 0%-100%
                  example: 1
                cpcMediumMin:
[...]
