openapi: 3.2.0
info:
  title: Nexscope Ecommerce Data and Creative Video Generation…
  version: 2026-08-28-public-catalog-v1
  description: Nexscope APIs provide ecommerce marketplace intelligence and creative generation capabilities through REST and MCP. Authentication uses a Nexscope API key. Pricing is credit-based and actual usage varies by endpoint and workload; current estimates are shown in the Nexscope account.
  termsOfService: https://www.nexscope.ai/terms
  contact:
    name: Nexscope Support
    email: service@nexscope.ai
    url: https://www.nexscope.ai/api-docs
  license:
    name: Proprietary API; use subject to Nexscope Terms
    url: https://www.nexscope.ai/terms
servers:
- url: https://api.nexscope.ai
  description: Production
security:
- bearerAuth: []
tags:
- name: Video Generation Models
  description: Dedicated video generation APIs with one fixed model per endpoint.
  x-category-slug: video-generation-models
paths:
  /api/skill-api/v1/skills/seedance-2-0-video-generation/run:
    post:
      tags:
      - Video Generation Models
      summary: Seedance 2.0 Video Generation
      description: Generate a video with Seedance 2.0 using a primary image, up to 9 reference images, or a reference video. The model is fixed by this API, so videoType must not be supplied in the request.
      operationId: runSeedance20VideoGeneration
      externalDocs:
        description: Seedance 2.0 Video Generation documentation
        url: https://www.nexscope.ai/api-docs/seedance-2-0-video-generation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Generate a video with Seedance 2.0 using a primary image, up to 9 reference images, or a reference video.
              properties:
                videoTime:
                  type: integer
                  description: 'Video duration in seconds. Supported values: 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15.'
                  example: 10
                prompt:
                  type: string
                  description: Video generation prompt describing motion, subject consistency, camera movement, and the ecommerce scene. Maximum 2000 characters.
                  example: Keep the product consistent while the camera slowly orbits and highlights material details.
                  maxLength: 2000
                promptOptimizer:
                  type: boolean
                  description: Whether Nexscope should optimize the video prompt before generation. Defaults to false.
                  example: false
                isPro:
                  type: boolean
                  description: Whether to use the model's professional generation mode when supported. Defaults to false.
                  example: false
                resolution:
                  type: string
                  description: 'Output resolution. Supported values: 480p, 720p, 1080p.'
                  example: 720p
                imageUrl:
                  type: string
                  description: Public URL of a first-frame or primary reference image. Each image must be between 300 and 6000 pixels in both width and height.
                  example: https://example.com/source-image.jpg
                imageList:
                  type: array
                  items:
                    type: string
                  description: Public reference image URLs. Provide 1 to 9 images. Each image must be between 300 and 6000 pixels in both width and height.
                  example:
                  - https://example.com/product.jpg
                  - https://example.com/ref-2.jpg
                  minItems: 1
                  maxItems: 9
                video:
                  type: array
                  items:
                    type: string
                  description: Optional public reference-video URL list. Reference-video mode cannot be combined with image references or a final-frame image.
                  example:
                  - https://example.com/reference-video.mp4
                  minItems: 1
                aspectRatio:
                  type: string
                  description: 'Target video aspect ratio supported by this model. Supported values: 16:9, 4:3, 1:1, 3:4, 9:16, 21:9, adaptive.'
                  example: '16:9'
              required:
              - videoTime
              - prompt
              example:
                videoTime: 10
                prompt: Keep the product consistent while the camera slowly orbits and highlights material details.
                imageUrl: https://example.com/source-image.jpg
                resolution: 720p
              additionalProperties: true
            example:
              videoTime: 10
              prompt: Keep the product consistent while the camera slowly orbits and highlights material details.
              imageUrl: https://example.com/source-image.jpg
              resolution: 720p
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Creates a Nexscope asynchronous generation task. Use taskId with the task result endpoint to retrieve the completed output. The completed result replaces generated resource URLs with Nexscope-hosted URLs and replaces provider count with actual Nexscope credits charged.
                properties:
                  taskId:
                    type: string
                    description: Nexscope asynchronous task id used to query the generation result.
                    example: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status:
                    type: string
                    description: Task status. Initial run returns PENDING; the query endpoint may return PENDING, RUNNING, SUCCESS, FAILED, or TIMEOUT.
                    example: PENDING
                  message:
                    type: string
                    description: User-facing task state message.
                    example: The task has been created. Use taskId to query the result.
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  code:
                    type: string
                    description: Provider-specific status code.
                  msg:
                    type: string
                    description: Provider-specific status message.
                  type:
                    type: string
                    description: Provider-specific render or payload type.
                  title:
                    type: string
                    description: Provider-specific response title.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  costToken:
                    type: integer
                    description: Token cost reported by the upstream provider.
                  costTime:
                    type: integer
                    description: Execution time reported by the upstream provider.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                required:
                - taskId
                - status
                example:
                  taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status: PENDING
                  message: The task has been created. Use taskId to query the result.
                additionalProperties: true
              example:
                taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                status: PENDING
                message: The task has been created. Use taskId to query the result.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: seedance-2-0-video-generation
      x-nexscope-mcp-tool-name: nexscope_seedance_2_0_video_generation
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/seedance-2-0-fast-video-generation/run:
    post:
      tags:
      - Video Generation Models
      summary: Seedance 2.0 Fast Video Generation
      description: Generate a faster Seedance 2.0 video using a primary image, up to 9 reference images, or a reference video. The model is fixed by this API, so videoType must not be supplied in the request.
      operationId: runSeedance20FastVideoGeneration
      externalDocs:
        description: Seedance 2.0 Fast Video Generation documentation
        url: https://www.nexscope.ai/api-docs/seedance-2-0-fast-video-generation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Generate a faster Seedance 2.0 video using a primary image, up to 9 reference images, or a reference video.
              properties:
                videoTime:
                  type: integer
                  description: 'Video duration in seconds. Supported values: 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15.'
                  example: 10
                prompt:
                  type: string
                  description: Video generation prompt describing motion, subject consistency, camera movement, and the ecommerce scene. Maximum 2000 characters.
                  example: Keep the product consistent while the camera slowly orbits and highlights material details.
                  maxLength: 2000
                promptOptimizer:
                  type: boolean
                  description: Whether Nexscope should optimize the video prompt before generation. Defaults to false.
                  example: false
                isPro:
                  type: boolean
                  description: Whether to use the model's professional generation mode when supported. Defaults to false.
                  example: false
                resolution:
                  type: string
                  description: 'Output resolution. Supported values: 480p, 720p.'
                  example: 720p
                imageUrl:
                  type: string
                  description: Public URL of a first-frame or primary reference image. Each image must be between 300 and 6000 pixels in both width and height.
                  example: https://example.com/source-image.jpg
                imageList:
                  type: array
                  items:
                    type: string
                  description: Public reference image URLs. Provide 1 to 9 images. Each image must be between 300 and 6000 pixels in both width and height.
                  example:
                  - https://example.com/product.jpg
                  - https://example.com/ref-2.jpg
                  minItems: 1
                  maxItems: 9
                video:
                  type: array
                  items:
                    type: string
                  description: Optional public reference-video URL list. Reference-video mode cannot be combined with image references or a final-frame image.
                  example:
                  - https://example.com/reference-video.mp4
                  minItems: 1
                aspectRatio:
                  type: string
                  description: 'Target video aspect ratio supported by this model. Supported values: 16:9, 4:3, 1:1, 3:4, 9:16, 21:9, adaptive.'
                  example: '16:9'
              required:
              - videoTime
              - prompt
              example:
                videoTime: 10
                prompt: Keep the product consistent while the camera slowly orbits and highlights material details.
                imageUrl: https://example.com/source-image.jpg
                resolution: 720p
              additionalProperties: true
            example:
              videoTime: 10
              prompt: Keep the product consistent while the camera slowly orbits and highlights material details.
              imageUrl: https://example.com/source-image.jpg
              resolution: 720p
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Creates a Nexscope asynchronous generation task. Use taskId with the task result endpoint to retrieve the completed output. The completed result replaces generated resource URLs with Nexscope-hosted URLs and replaces provider count with actual Nexscope credits charged.
                properties:
                  taskId:
                    type: string
                    description: Nexscope asynchronous task id used to query the generation result.
                    example: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status:
                    type: string
                    description: Task status. Initial run returns PENDING; the query endpoint may return PENDING, RUNNING, SUCCESS, FAILED, or TIMEOUT.
                    example: PENDING
                  message:
                    type: string
                    description: User-facing task state message.
                    example: The task has been created. Use taskId to query the result.
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  code:
                    type: string
                    description: Provider-specific status code.
                  msg:
                    type: string
                    description: Provider-specific status message.
                  type:
                    type: string
                    description: Provider-specific render or payload type.
                  title:
                    type: string
                    description: Provider-specific response title.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  costToken:
                    type: integer
                    description: Token cost reported by the upstream provider.
                  costTime:
                    type: integer
                    description: Execution time reported by the upstream provider.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                required:
                - taskId
                - status
                example:
                  taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status: PENDING
                  message: The task has been created. Use taskId to query the result.
                additionalProperties: true
              example:
                taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                status: PENDING
                message: The task has been created. Use taskId to query the result.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: seedance-2-0-fast-video-generation
      x-nexscope-mcp-tool-name: nexscope_seedance_2_0_fast_video_generation
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/seedance-2-0-mini-video-generation/run:
    post:
      tags:
      - Video Generation Models
      summary: Seedance 2.0 Mini Video Generation
      description: Generate a compact Seedance 2.0 video using a primary image, up to 9 reference images, or a reference video. The model is fixed by this API, so videoType must not be supplied in the request.
      operationId: runSeedance20MiniVideoGeneration
      externalDocs:
        description: Seedance 2.0 Mini Video Generation documentation
        url: https://www.nexscope.ai/api-docs/seedance-2-0-mini-video-generation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Generate a compact Seedance 2.0 video using a primary image, up to 9 reference images, or a reference video.
              properties:
                videoTime:
                  type: integer
                  description: 'Video duration in seconds. Supported values: 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15.'
                  example: 10
                prompt:
                  type: string
                  description: Video generation prompt describing motion, subject consistency, camera movement, and the ecommerce scene. Maximum 2000 characters.
                  example: Keep the product consistent while the camera slowly orbits and highlights material details.
                  maxLength: 2000
                promptOptimizer:
                  type: boolean
                  description: Whether Nexscope should optimize the video prompt before generation. Defaults to false.
                  example: false
                isPro:
                  type: boolean
                  description: Whether to use the model's professional generation mode when supported. Defaults to false.
                  example: false
                resolution:
                  type: string
                  description: 'Output resolution. Supported values: 480p, 720p.'
                  example: 720p
                imageUrl:
                  type: string
                  description: Public URL of a first-frame or primary reference image. Each image must be between 300 and 6000 pixels in both width and height.
                  example: https://example.com/source-image.jpg
                imageList:
                  type: array
                  items:
                    type: string
                  description: Public reference image URLs. Provide 1 to 9 images. Each image must be between 300 and 6000 pixels in both width and height.
                  example:
                  - https://example.com/product.jpg
                  - https://example.com/ref-2.jpg
                  minItems: 1
                  maxItems: 9
                video:
                  type: array
                  items:
                    type: string
                  description: Optional public reference-video URL list. Reference-video mode cannot be combined with image references or a final-frame image.
                  example:
                  - https://example.com/reference-video.mp4
                  minItems: 1
                aspectRatio:
                  type: string
                  description: 'Target video aspect ratio supported by this model. Supported values: 16:9, 4:3, 1:1, 3:4, 9:16, 21:9, adaptive.'
                  example: '16:9'
              required:
              - videoTime
              - prompt
              example:
                videoTime: 10
                prompt: Keep the product consistent while the camera slowly orbits and highlights material details.
                imageUrl: https://example.com/source-image.jpg
                resolution: 720p
              additionalProperties: true
            example:
              videoTime: 10
              prompt: Keep the product consistent while the camera slowly orbits and highlights material details.
              imageUrl: https://example.com/source-image.jpg
              resolution: 720p
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Creates a Nexscope asynchronous generation task. Use taskId with the task result endpoint to retrieve the completed output. The completed result replaces generated resource URLs with Nexscope-hosted URLs and replaces provider count with actual Nexscope credits charged.
                properties:
                  taskId:
                    type: string
                    description: Nexscope asynchronous task id used to query the generation result.
                    example: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status:
                    type: string
                    description: Task status. Initial run returns PENDING; the query endpoint may return PENDING, RUNNING, SUCCESS, FAILED, or TIMEOUT.
                    example: PENDING
                  message:
                    type: string
                    description: User-facing task state message.
                    example: The task has been created. Use taskId to query the result.
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  code:
                    type: string
                    description: Provider-specific status code.
                  msg:
                    type: string
                    description: Provider-specific status message.
                  type:
                    type: string
                    description: Provider-specific render or payload type.
                  title:
                    type: string
                    description: Provider-specific response title.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  costToken:
                    type: integer
                    description: Token cost reported by the upstream provider.
                  costTime:
                    type: integer
                    description: Execution time reported by the upstream provider.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                required:
                - taskId
                - status
                example:
                  taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status: PENDING
                  message: The task has been created. Use taskId to query the result.
                additionalProperties: true
              example:
                taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                status: PENDING
                message: The task has been created. Use taskId to query the result.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: seedance-2-0-mini-video-generation
      x-nexscope-mcp-tool-name: nexscope_seedance_2_0_mini_video_generation
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/seedance-2-5-video-generation/run:
    post:
      tags:
      - Video Generation Models
      summary: Seedance 2.5 Video Generation
      description: Generate a Seedance 2.5 video using a primary image, up to 30 reference images, or a reference video. The model is fixed by this API, so videoType must not be supplied in the request.
      operationId: runSeedance25VideoGeneration
      externalDocs:
        description: Seedance 2.5 Video Generation documentation
        url: https://www.nexscope.ai/api-docs/seedance-2-5-video-generation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Generate a Seedance 2.5 video using a primary image, up to 30 reference images, or a reference video.
              properties:
                videoTime:
                  type: integer
                  description: 'Video duration in seconds. Supported values: any integer from 4 through 30.'
                  example: 5
                prompt:
                  type: string
                  description: Video generation prompt describing motion, subject consistency, camera movement, and the ecommerce scene. Maximum 2000 characters.
                  example: Keep the product consistent while the camera slowly orbits and highlights material details.
                  maxLength: 2000
                promptOptimizer:
                  type: boolean
                  description: Whether Nexscope should optimize the video prompt before generation. Defaults to false.
                  example: false
                isPro:
                  type: boolean
                  description: Whether to use the model's professional generation mode when supported. Defaults to false.
                  example: false
                resolution:
                  type: string
                  description: 'Output resolution. Supported values: 480p, 720p, 1080p.'
                  example: 480p
                imageUrl:
                  type: string
                  description: Public URL of a first-frame or primary reference image. Each image must be between 300 and 6000 pixels in both width and height.
                  example: https://example.com/source-image.jpg
                imageList:
                  type: array
                  items:
                    type: string
                  description: Public reference image URLs. Provide 1 to 30 images. Each image must be between 300 and 6000 pixels in both width and height.
                  example:
                  - https://example.com/product.jpg
                  - https://example.com/ref-2.jpg
                  minItems: 1
                  maxItems: 30
                video:
                  type: array
                  items:
                    type: string
                  description: Optional public reference-video URL list. Reference-video mode cannot be combined with image references or a final-frame image.
                  example:
                  - https://example.com/reference-video.mp4
                  minItems: 1
                aspectRatio:
                  type: string
                  description: 'Target video aspect ratio supported by this model. Supported values: 16:9, 4:3, 1:1, 3:4, 9:16, 21:9.'
                  example: '16:9'
              required:
              - videoTime
              - prompt
              example:
                videoTime: 5
                prompt: Keep the product consistent while the camera slowly orbits and highlights material details.
                imageUrl: https://example.com/source-image.jpg
                resolution: 480p
              additionalProperties: true
            example:
              videoTime: 5
              prompt: Keep the product consistent while the camera slowly orbits and highlights material details.
              imageUrl: https://example.com/source-image.jpg
              resolution: 480p
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Creates a Nexscope asynchronous generation task. Use taskId with the task result endpoint to retrieve the completed output. The completed result replaces generated resource URLs with Nexscope-hosted URLs and replaces provider count with actual Nexscope credits charged.
                properties:
                  taskId:
                    type: string
                    description: Nexscope asynchronous task id used to query the generation result.
                    example: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status:
                    type: string
                    description: Task status. Initial run returns PENDING; the query endpoint may return PENDING, RUNNING, SUCCESS, FAILED, or TIMEOUT.
                    example: PENDING
                  message:
                    type: string
                    description: User-facing task state message.
                    example: The task has been created. Use taskId to query the result.
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  code:
                    type: string
                    description: Provider-specific status code.
                  msg:
                    type: string
                    description: Provider-specific status message.
                  type:
                    type: string
                    description: Provider-specific render or payload type.
                  title:
                    type: string
                    description: Provider-specific response title.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  costToken:
                    type: integer
                    description: Token cost reported by the upstream provider.
                  costTime:
                    type: integer
                    description: Execution time reported by the upstream provider.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                required:
                - taskId
                - status
                example:
                  taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status: PENDING
                  message: The task has been created. Use taskId to query the result.
                additionalProperties: true
              example:
                taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                status: PENDING
                message: The task has been created. Use taskId to query the result.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: seedance-2-5-video-generation
      x-nexscope-mcp-tool-name: nexscope_seedance_2_5_video_generation
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/kling-2-6-video-generation/run:
    post:
      tags:
      - Video Generation Models
      summary: Kling 2.6 Video Generation
      description: Generate a Kling 2.6 video using a first frame, first/last frames, or up to 2 reference images. The model is fixed by this API, so videoType must not be supplied in the request.
      operationId: runKling26VideoGeneration
      externalDocs:
        description: Kling 2.6 Video Generation documentation
        url: https://www.nexscope.ai/api-docs/kling-2-6-video-generation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Generate a Kling 2.6 video using a first frame, first/last frames, or up to 2 reference images.
              properties:
                videoTime:
                  type: integer
                  description: 'Video duration in seconds. Supported values: 5, 10.'
                  example: 10
                prompt:
                  type: string
                  description: Video generation prompt describing motion, subject consistency, camera movement, and the ecommerce scene. Maximum 2000 characters.
                  example: Keep the product consistent while the camera slowly orbits and highlights material details.
                  maxLength: 2000
                promptOptimizer:
                  type: boolean
                  description: Whether Nexscope should optimize the video prompt before generation. Defaults to false.
                  example: false
                isPro:
                  type: boolean
                  description: Whether to use the model's professional generation mode when supported. Defaults to false.
                  example: false
                resolution:
                  type: string
                  description: 'Output resolution. Supported values: 720p, 1080p.'
                  example: 1080p
                imageUrl:
                  type: string
                  description: Public URL of a first-frame or primary reference image.
                  example: https://example.com/source-image.jpg
                imageList:
                  type: array
                  items:
                    type: string
                  description: Public reference image URLs. Provide 1 to 2 images.
                  example:
                  - https://example.com/product.jpg
                  - https://example.com/ref-2.jpg
                  minItems: 1
                  maxItems: 2
                aspectRatio:
                  type: string
                  description: 'Target video aspect ratio supported by this model. Supported values: 16:9, 4:3, 1:1, 3:4, 9:16, 21:9.'
                  example: '16:9'
                lastFrameImageUrl:
                  type: string
                  description: Optional public URL of the final-frame image. Requires 1080p.
                  example: https://example.com/last-frame.jpg
              required:
              - videoTime
              - prompt
              example:
                videoTime: 10
                prompt: Keep the product consistent while the camera slowly orbits and highlights material details.
                imageUrl: https://example.com/source-image.jpg
                resolution: 1080p
              additionalProperties: true
            example:
              videoTime: 10
              prompt: Keep the product consistent while the camera slowly orbits and highlights material details.
              imageUrl: https://example.com/source-image.jpg
              resolution: 1080p
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Creates a Nexscope asynchronous generation task. Use taskId with the task result endpoint to retrieve the completed output. The completed result replaces generated resource URLs with Nexscope-hosted URLs and replaces provider count with actual Nexscope credits charged.
                properties:
                  taskId:
                    type: string
                    description: Nexscope asynchronous task id used to query the generation result.
                    example: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status:
                    type: string
                    description: Task status. Initial run returns PENDING; the query endpoint may return PENDING, RUNNING, SUCCESS, FAILED, or TIMEOUT.
                    example: PENDING
                  message:
                    type: string
                    description: User-facing task state message.
                    example: The task has been created. Use taskId to query the result.
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  code:
                    type: string
                    description: Provider-specific status code.
                  msg:
                    type: string
                    description: Provider-specific status message.
                  type:
                    type: string
                    description: Provider-specific render or payload type.
                  title:
                    type: string
                    description: Provider-specific response title.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  costToken:
                    type: integer
                    description: Token cost reported by the upstream provider.
                  costTime:
                    type: integer
                    description: Execution time reported by the upstream provider.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                required:
                - taskId
                - status
                example:
                  taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status: PENDING
                  message: The task has been created. Use taskId to query the result.
                additionalProperties: true
              example:
                taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                status: PENDING
                message: The task has been created. Use taskId to query the result.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: kling-2-6-video-generation
      x-nexscope-mcp-tool-name: nexscope_kling_2_6_video_generation
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/kling-3-omni-video-generation/run:
    post:
      tags:
      - Video Generation Models
      summary: Kling 3 Omni Video Generation
      description: Generate a Kling 3 Omni video using first/last frames or up to 7 reference images. The model is fixed by this API, so videoType must not be supplied in the request.
      operationId: runKling3OmniVideoGeneration
      externalDocs:
        description: Kling 3 Omni Video Generation documentation
        url: https://www.nexscope.ai/api-docs/kling-3-omni-video-generation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Generate a Kling 3 Omni video using first/last frames or up to 7 reference images.
              properties:
                videoTime:
                  type: integer
                  description: 'Video duration in seconds. Supported values: 5, 10, 15.'
                  example: 10
                prompt:
                  type: string
                  description: Video generation prompt describing motion, subject consistency, camera movement, and the ecommerce scene. Maximum 2000 characters.
                  example: Keep the product consistent while the camera slowly orbits and highlights material details.
                  maxLength: 2000
                promptOptimizer:
                  type: boolean
                  description: Whether Nexscope should optimize the video prompt before generation. Defaults to false.
                  example: false
                isPro:
                  type: boolean
                  description: Whether to use the model's professional generation mode when supported. Defaults to false.
                  example: false
                resolution:
                  type: string
                  description: 'Output resolution. Supported values: 720p, 1080p.'
                  example: 1080p
                imageUrl:
                  type: string
                  description: Public URL of a first-frame or primary reference image.
                  example: https://example.com/source-image.jpg
                imageList:
                  type: array
                  items:
                    type: string
                  description: Public reference image URLs. Provide 1 to 7 images.
                  example:
                  - https://example.com/product.jpg
                  - https://example.com/ref-2.jpg
                  minItems: 1
                  maxItems: 7
                aspectRatio:
                  type: string
                  description: 'Target video aspect ratio supported by this model. Supported values: 1:1, 9:16, 16:9.'
                  example: '1:1'
                lastFrameImageUrl:
                  type: string
                  description: Optional public URL of the final-frame image. Requires 1080p and cannot be combined with voice=true.
                  example: https://example.com/last-frame.jpg
              required:
              - videoTime
              - prompt
              example:
                videoTime: 10
                prompt: Keep the product consistent while the camera slowly orbits and highlights material details.
                imageUrl: https://example.com/source-image.jpg
                resolution: 1080p
              additionalProperties: true
            example:
              videoTime: 10
              prompt: Keep the product consistent while the camera slowly orbits and highlights material details.
              imageUrl: https://example.com/source-image.jpg
              resolution: 1080p
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Creates a Nexscope asynchronous generation task. Use taskId with the task result endpoint to retrieve the completed output. The completed result replaces generated resource URLs with Nexscope-hosted URLs and replaces provider count with actual Nexscope credits charged.
                properties:
                  taskId:
                    type: string
                    description: Nexscope asynchronous task id used to query the generation result.
                    example: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status:
                    type: string
                    description: Task status. Initial run returns PENDING; the query endpoint may return PENDING, RUNNING, SUCCESS, FAILED, or TIMEOUT.
                    example: PENDING
                  message:
                    type: string
                    description: User-facing task state message.
                    example: The task has been created. Use taskId to query the result.
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  code:
                    type: string
                    description: Provider-specific status code.
                  msg:
                    type: string
                    description: Provider-specific status message.
                  type:
                    type: string
                    description: Provider-specific render or payload type.
                  title:
                    type: string
                    description: Provider-specific response title.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  costToken:
                    type: integer
                    description: Token cost reported by the upstream provider.
                  costTime:
                    type: integer
                    description: Execution time reported by the upstream provider.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                required:
                - taskId
                - status
                example:
                  taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status: PENDING
                  message: The task has been created. Use taskId to query the result.
                additionalProperties: true
              example:
                taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                status: PENDING
                message: The task has been created. Use taskId to query the result.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: kling-3-omni-video-generation
      x-nexscope-mcp-tool-name: nexscope_kling_3_omni_video_generation
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/wan-2-6-video-generation/run:
    post:
      tags:
      - Video Generation Models
      summary: Wan 2.6 Video Generation
      description: Generate a Wan 2.6 video from a required primary image with optional camera control. The model is fixed by this API, so videoType must not be supplied in the request.
      operationId: runWan26VideoGeneration
      externalDocs:
        description: Wan 2.6 Video Generation documentation
        url: https://www.nexscope.ai/api-docs/wan-2-6-video-generation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Generate a Wan 2.6 video from a required primary image with optional camera control.
              properties:
                videoTime:
                  type: integer
                  description: 'Video duration in seconds. Supported values: 5, 10, 15.'
                  example: 10
                prompt:
                  type: string
                  description: Video generation prompt describing motion, subject consistency, camera movement, and the ecommerce scene. Maximum 2000 characters.
                  example: Keep the product consistent while the camera slowly orbits and highlights material details.
                  maxLength: 2000
                promptOptimizer:
                  type: boolean
                  description: Whether Nexscope should optimize the video prompt before generation. Defaults to false.
                  example: false
                isPro:
                  type: boolean
                  description: Whether to use the model's professional generation mode when supported. Defaults to false.
                  example: false
                resolution:
                  type: string
                  description: 'Output resolution. Supported values: 720p, 1080p.'
                  example: 1080p
                imageUrl:
                  type: string
                  description: Public URL of the required first-frame or primary reference image.
                  example: https://example.com/source-image.jpg
                camera:
                  type: string
                  description: 'Camera mode. Supported values: single or multi.'
                  example: single
              required:
              - videoTime
              - prompt
              - imageUrl
              example:
                videoTime: 10
                prompt: Keep the product consistent while the camera slowly orbits and highlights material details.
                imageUrl: https://example.com/source-image.jpg
                resolution: 1080p
              additionalProperties: true
            example:
              videoTime: 10
              prompt: Keep the product consistent while the camera slowly orbits and highlights material details.
              imageUrl: https://example.com/source-image.jpg
              resolution: 1080p
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Creates a Nexscope asynchronous generation task. Use taskId with the task result endpoint to retrieve the completed output. The completed result replaces generated resource URLs with Nexscope-hosted URLs and replaces provider count with actual Nexscope credits charged.
                properties:
                  taskId:
                    type: string
                    description: Nexscope asynchronous task id used to query the generation result.
                    example: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status:
                    type: string
                    description: Task status. Initial run returns PENDING; the query endpoint may return PENDING, RUNNING, SUCCESS, FAILED, or TIMEOUT.
                    example: PENDING
                  message:
                    type: string
                    description: User-facing task state message.
                    example: The task has been created. Use taskId to query the result.
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  code:
                    type: string
                    description: Provider-specific status code.
                  msg:
                    type: string
                    description: Provider-specific status message.
                  type:
                    type: string
                    description: Provider-specific render or payload type.
                  title:
                    type: string
                    description: Provider-specific response title.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  costToken:
                    type: integer
                    description: Token cost reported by the upstream provider.
                  costTime:
                    type: integer
                    description: Execution time reported by the upstream provider.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                required:
                - taskId
                - status
                example:
                  taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status: PENDING
                  message: The task has been created. Use taskId to query the result.
                additionalProperties: true
              example:
                taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                status: PENDING
                message: The task has been created. Use taskId to query the result.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: wan-2-6-video-generation
      x-nexscope-mcp-tool-name: nexscope_wan_2_6_video_generation
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/hailuo-2-3-video-generation/run:
    post:
      tags:
      - Video Generation Models
      summary: Hailuo 2.3 Video Generation
      description: Generate a Hailuo 2.3 video from a required primary image; the aspect ratio is adaptive. The model is fixed by this API, so videoType must not be supplied in the request.
      operationId: runHailuo23VideoGeneration
      externalDocs:
        description: Hailuo 2.3 Video Generation documentation
        url: https://www.nexscope.ai/api-docs/hailuo-2-3-video-generation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Generate a Hailuo 2.3 video from a required primary image; the aspect ratio is adaptive.
              properties:
                videoTime:
                  type: integer
                  description: 'Video duration in seconds. Supported values: 6, 10.'
                  example: 6
                prompt:
                  type: string
                  description: Video generation prompt describing motion, subject consistency, camera movement, and the ecommerce scene. Maximum 2000 characters.
                  example: Keep the product consistent while the camera slowly orbits and highlights material details.
                  maxLength: 2000
                promptOptimizer:
                  type: boolean
                  description: Whether Nexscope should optimize the video prompt before generation. Defaults to false.
                  example: false
                isPro:
                  type: boolean
                  description: Whether to use the model's professional generation mode when supported. Defaults to false.
                  example: false
                resolution:
                  type: string
                  description: 'Output resolution. Supported values: 768p, 1080p.'
                  example: 1080p
                imageUrl:
                  type: string
                  description: Public URL of the required first-frame or primary reference image.
                  example: https://example.com/source-image.jpg
              required:
              - videoTime
              - prompt
              - resolution
              - imageUrl
              example:
                videoTime: 6
                prompt: Keep the product consistent while the camera slowly orbits and highlights material details.
                imageUrl: https://example.com/source-image.jpg
                resolution: 1080p
              additionalProperties: true
            example:
              videoTime: 6
              prompt: Keep the product consistent while the camera slowly orbits and highlights material details.
              imageUrl: https://example.com/source-image.jpg
              resolution: 1080p
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Creates a Nexscope asynchronous generation task. Use taskId with the task result endpoint to retrieve the completed output. The completed result replaces generated resource URLs with Nexscope-hosted URLs and replaces provider count with actual Nexscope credits charged.
                properties:
                  taskId:
                    type: string
                    description: Nexscope asynchronous task id used to query the generation result.
                    example: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status:
                    type: string
                    description: Task status. Initial run returns PENDING; the query endpoint may return PENDING, RUNNING, SUCCESS, FAILED, or TIMEOUT.
                    example: PENDING
                  message:
                    type: string
                    description: User-facing task state message.
                    example: The task has been created. Use taskId to query the result.
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  code:
                    type: string
                    description: Provider-specific status code.
                  msg:
                    type: string
                    description: Provider-specific status message.
                  type:
                    type: string
                    description: Provider-specific render or payload type.
                  title:
                    type: string
                    description: Provider-specific response title.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  costToken:
                    type: integer
                    description: Token cost reported by the upstream provider.
                  costTime:
                    type: integer
                    description: Execution time reported by the upstream provider.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                required:
                - taskId
                - status
                example:
                  taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status: PENDING
                  message: The task has been created. Use taskId to query the result.
                additionalProperties: true
              example:
                taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                status: PENDING
                message: The task has been created. Use taskId to query the result.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: hailuo-2-3-video-generation
      x-nexscope-mcp-tool-name: nexscope_hailuo_2_3_video_generation
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/happy-horse-2-video-generation/run:
    post:
      tags:
      - Video Generation Models
      summary: Happy Horse 2 Video Generation
      description: Generate a Happy Horse 2 video from 1 to 9 required reference images. The model is fixed by this API, so videoType must not be supplied in the request.
      operationId: runHappyHorse2VideoGeneration
      externalDocs:
        description: Happy Horse 2 Video Generation documentation
        url: https://www.nexscope.ai/api-docs/happy-horse-2-video-generation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Generate a Happy Horse 2 video from 1 to 9 required reference images.
              properties:
                videoTime:
                  type: integer
                  description: 'Video duration in seconds. Supported values: 5, 10, 15.'
                  example: 10
                prompt:
                  type: string
                  description: Video generation prompt describing motion, subject consistency, camera movement, and the ecommerce scene. Maximum 2000 characters.
                  example: Keep the product consistent while the camera slowly orbits and highlights material details.
                  maxLength: 2000
                promptOptimizer:
                  type: boolean
                  description: Whether Nexscope should optimize the video prompt before generation. Defaults to false.
                  example: false
                isPro:
                  type: boolean
                  description: Whether to use the model's professional generation mode when supported. Defaults to false.
                  example: false
                resolution:
                  type: string
                  description: 'Output resolution. Supported values: 720p, 1080p.'
                  example: 1080p
                imageList:
                  type: array
                  items:
                    type: string
                  description: Public reference image URLs. Provide 1 to 9 images.
                  example:
                  - https://example.com/product.jpg
                  - https://example.com/ref-2.jpg
                  minItems: 1
                  maxItems: 9
                aspectRatio:
                  type: string
                  description: 'Target video aspect ratio supported by this model. Supported values: 9:16, 16:9.'
                  example: '9:16'
              required:
              - videoTime
              - prompt
              - resolution
              - imageList
              example:
                videoTime: 10
                prompt: Keep the product consistent while the camera slowly orbits and highlights material details.
                imageList:
                - https://example.com/product.jpg
                - https://example.com/ref-2.jpg
                resolution: 1080p
              additionalProperties: true
            example:
              videoTime: 10
              prompt: Keep the product consistent while the camera slowly orbits and highlights material details.
              imageList:
              - https://example.com/product.jpg
              - https://example.com/ref-2.jpg
              resolution: 1080p
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Creates a Nexscope asynchronous generation task. Use taskId with the task result endpoint to retrieve the completed output. The completed result replaces generated resource URLs with Nexscope-hosted URLs and replaces provider count with actual Nexscope credits charged.
                properties:
                  taskId:
                    type: string
                    description: Nexscope asynchronous task id used to query the generation result.
                    example: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status:
                    type: string
                    description: Task status. Initial run returns PENDING; the query endpoint may return PENDING, RUNNING, SUCCESS, FAILED, or TIMEOUT.
                    example: PENDING
                  message:
                    type: string
                    description: User-facing task state message.
                    example: The task has been created. Use taskId to query the result.
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  code:
                    type: string
                    description: Provider-specific status code.
                  msg:
                    type: string
                    description: Provider-specific status message.
                  type:
                    type: string
                    description: Provider-specific render or payload type.
                  title:
                    type: string
                    description: Provider-specific response title.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  costToken:
                    type: integer
                    description: Token cost reported by the upstream provider.
                  costTime:
                    type: integer
                    description: Execution time reported by the upstream provider.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                required:
                - taskId
                - status
                example:
                  taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status: PENDING
                  message: The task has been created. Use taskId to query the result.
                additionalProperties: true
              example:
                taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                status: PENDING
                message: The task has been created. Use taskId to query the result.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: happy-horse-2-video-generation
      x-nexscope-mcp-tool-name: nexscope_happy_horse_2_video_generation
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/minimax-h3-video-generation/run:
    post:
      tags:
      - Video Generation Models
      summary: MiniMax H3 Video Generation
      description: Generate a MiniMax H3 video from 1 to 9 required reference images. The model is fixed by this API, so videoType must not be supplied in the request.
      operationId: runMinimaxH3VideoGeneration
      externalDocs:
        description: MiniMax H3 Video Generation documentation
        url: https://www.nexscope.ai/api-docs/minimax-h3-video-generation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Generate a MiniMax H3 video from 1 to 9 required reference images.
              properties:
                videoTime:
                  type: integer
                  description: 'Video duration in seconds. Supported values: 5, 10, 15.'
                  example: 5
                prompt:
                  type: string
                  description: Video generation prompt describing motion, subject consistency, camera movement, and the ecommerce scene. Maximum 2000 characters.
                  example: Keep the product consistent while the camera slowly orbits and highlights material details.
                  maxLength: 2000
                promptOptimizer:
                  type: boolean
                  description: Whether Nexscope should optimize the video prompt before generation. Defaults to false.
                  example: false
                isPro:
                  type: boolean
                  description: Whether to use the model's professional generation mode when supported. Defaults to false.
                  example: false
                resolution:
                  type: string
                  description: 'Output resolution. Supported values: 768p, 2k.'
                  example: 768p
                imageList:
                  type: array
                  items:
                    type: string
                  description: Public reference image URLs. Provide 1 to 9 images.
                  example:
                  - https://example.com/product.jpg
                  - https://example.com/ref-2.jpg
                  minItems: 1
                  maxItems: 9
                aspectRatio:
                  type: string
                  description: 'Target video aspect ratio supported by this model. Supported values: adaptive, 9:16, 16:9, 1:1, 4:3, 3:4, 21:9.'
                  example: adaptive
              required:
              - videoTime
              - prompt
              - resolution
              - imageList
              example:
                videoTime: 5
                prompt: Keep the product consistent while the camera slowly orbits and highlights material details.
                imageList:
                - https://example.com/product.jpg
                - https://example.com/ref-2.jpg
                resolution: 768p
              additionalProperties: true
            example:
              videoTime: 5
              prompt: Keep the product consistent while the camera slowly orbits and highlights material details.
              imageList:
              - https://example.com/product.jpg
              - https://example.com/ref-2.jpg
              resolution: 768p
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Creates a Nexscope asynchronous generation task. Use taskId with the task result endpoint to retrieve the completed output. The completed result replaces generated resource URLs with Nexscope-hosted URLs and replaces provider count with actual Nexscope credits charged.
                properties:
                  taskId:
                    type: string
                    description: Nexscope asynchronous task id used to query the generation result.
                    example: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status:
                    type: string
                    description: Task status. Initial run returns PENDING; the query endpoint may return PENDING, RUNNING, SUCCESS, FAILED, or TIMEOUT.
                    example: PENDING
                  message:
                    type: string
                    description: User-facing task state message.
                    example: The task has been created. Use taskId to query the result.
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  code:
                    type: string
                    description: Provider-specific status code.
                  msg:
                    type: string
                    description: Provider-specific status message.
                  type:
                    type: string
                    description: Provider-specific render or payload type.
                  title:
                    type: string
                    description: Provider-specific response title.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  costToken:
                    type: integer
                    description: Token cost reported by the upstream provider.
                  costTime:
                    type: integer
                    description: Execution time reported by the upstream provider.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                required:
                - taskId
                - status
                example:
                  taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status: PENDING
                  message: The task has been created. Use taskId to query the result.
                additionalProperties: true
              example:
                taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                status: PENDING
                message: The task has been created. Use taskId to query the result.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: minimax-h3-video-generation
      x-nexscope-mcp-tool-name: nexscope_minimax_h3_video_generation
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/minimax-h3-lite-video-generation/run:
    post:
      tags:
      - Video Generation Models
      summary: MiniMax H3 Lite Video Generation
      description: Generate a MiniMax H3 Lite video from 1 to 9 required reference images. The model is fixed by this API, so videoType must not be supplied in the request.
      operationId: runMinimaxH3LiteVideoGeneration
      externalDocs:
        description: MiniMax H3 Lite Video Generation documentation
        url: https://www.nexscope.ai/api-docs/minimax-h3-lite-video-generation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Generate a MiniMax H3 Lite video from 1 to 9 required reference images.
              properties:
                videoTime:
                  type: integer
                  description: 'Video duration in seconds. Supported values: 5, 10, 15.'
                  example: 5
                prompt:
                  type: string
                  description: Video generation prompt describing motion, subject consistency, camera movement, and the ecommerce scene. Maximum 2000 characters.
                  example: Keep the product consistent while the camera slowly orbits and highlights material details.
                  maxLength: 2000
                promptOptimizer:
                  type: boolean
                  description: Whether Nexscope should optimize the video prompt before generation. Defaults to false.
                  example: false
                isPro:
                  type: boolean
                  description: Whether to use the model's professional generation mode when supported. Defaults to false.
                  example: false
                resolution:
                  type: string
                  description: 'Output resolution. Supported values: 768p.'
                  example: 768p
                imageList:
                  type: array
                  items:
                    type: string
                  description: Public reference image URLs. Provide 1 to 9 images.
                  example:
                  - https://example.com/product.jpg
                  - https://example.com/ref-2.jpg
                  minItems: 1
                  maxItems: 9
                aspectRatio:
                  type: string
                  description: 'Target video aspect ratio supported by this model. Supported values: adaptive, 9:16, 16:9, 1:1, 4:3, 3:4, 21:9.'
                  example: adaptive
              required:
              - videoTime
              - prompt
              - resolution
              - imageList
              example:
                videoTime: 5
                prompt: Keep the product consistent while the camera slowly orbits and highlights material details.
                imageList:
                - https://example.com/product.jpg
                - https://example.com/ref-2.jpg
                resolution: 768p
              additionalProperties: true
            example:
              videoTime: 5
              prompt: Keep the product consistent while the camera slowly orbits and highlights material details.
              imageList:
              - https://example.com/product.jpg
              - https://example.com/ref-2.jpg
              resolution: 768p
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Creates a Nexscope asynchronous generation task. Use taskId with the task result endpoint to retrieve the completed output. The completed result replaces generated resource URLs with Nexscope-hosted URLs and replaces provider count with actual Nexscope credits charged.
                properties:
                  taskId:
                    type: string
                    description: Nexscope asynchronous task id used to query the generation result.
                    example: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status:
                    type: string
                    description: Task status. Initial run returns PENDING; the query endpoint may return PENDING, RUNNING, SUCCESS, FAILED, or TIMEOUT.
                    example: PENDING
                  message:
                    type: string
                    description: User-facing task state message.
                    example: The task has been created. Use taskId to query the result.
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  code:
                    type: string
                    description: Provider-specific status code.
                  msg:
                    type: string
                    description: Provider-specific status message.
                  type:
                    type: string
                    description: Provider-specific render or payload type.
                  title:
                    type: string
                    description: Provider-specific response title.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  costToken:
                    type: integer
                    description: Token cost reported by the upstream provider.
                  costTime:
                    type: integer
                    description: Execution time reported by the upstream provider.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                required:
                - taskId
                - status
                example:
                  taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status: PENDING
                  message: The task has been created. Use taskId to query the result.
                additionalProperties: true
              example:
                taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                status: PENDING
                message: The task has been created. Use taskId to query the result.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: minimax-h3-lite-video-generation
      x-nexscope-mcp-tool-name: nexscope_minimax_h3_lite_video_generation
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/wan-3-video-generation/run:
    post:
      tags:
      - Video Generation Models
      summary: Wan 3 Video Generation
      description: Generate a Wan 3 video from up to 10 image references, first and final frames, or a reference video. The model is fixed by this API, so videoType must not be supplied in the request.
      operationId: runWan3VideoGeneration
      externalDocs:
        description: Wan 3 Video Generation documentation
        url: https://www.nexscope.ai/api-docs/wan-3-video-generation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Generate a Wan 3 video from up to 10 image references, first and final frames, or a reference video.
              properties:
                videoTime:
                  type: integer
                  description: 'Video duration in seconds. Supported values: 5, 10, 15, 20, 25, 30.'
                  example: 5
                prompt:
                  type: string
                  description: Video generation prompt describing motion, subject consistency, camera movement, and the ecommerce scene. Maximum 2000 characters.
                  example: Keep the product consistent while the camera slowly orbits and highlights material details.
                  maxLength: 2000
                promptOptimizer:
                  type: boolean
                  description: Whether Nexscope should optimize the video prompt before generation. Defaults to false.
                  example: false
                isPro:
                  type: boolean
                  description: Whether to use the model's professional generation mode when supported. Defaults to false.
                  example: false
                resolution:
                  type: string
                  description: 'Output resolution. Supported values: 480p, 720p, 1080p.'
                  example: 480p
                imageUrl:
                  type: string
                  description: Public URL of a first-frame or primary reference image.
                  example: https://example.com/source-image.jpg
                imageList:
                  type: array
                  items:
                    type: string
                  description: Public reference image URLs. Provide 1 to 10 images.
                  example:
                  - https://example.com/product.jpg
                  - https://example.com/ref-2.jpg
                  minItems: 1
                  maxItems: 10
                aspectRatio:
                  type: string
                  description: 'Target video aspect ratio supported by this model. Supported values: 16:9, 4:3, 1:1, 3:4, 9:16.'
                  example: '16:9'
                lastFrameImageUrl:
                  type: string
                  description: Optional public URL of the final-frame image. Use imageUrl for the first frame; do not combine first-and-last-frame mode with imageList or video.
                  example: https://example.com/last-frame.jpg
                video:
                  type: array
                  items:
                    type: string
                  description: Optional public reference-video URL list. Reference-video mode cannot be combined with image references or a final-frame image.
                  example:
                  - https://example.com/reference-video.mp4
                  minItems: 1
              required:
              - videoTime
              - prompt
              - resolution
              example:
                videoTime: 5
                prompt: Keep the product consistent while the camera slowly orbits and highlights material details.
                imageUrl: https://example.com/source-image.jpg
                resolution: 480p
              additionalProperties: true
            example:
              videoTime: 5
              prompt: Keep the product consistent while the camera slowly orbits and highlights material details.
              imageUrl: https://example.com/source-image.jpg
              resolution: 480p
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Creates a Nexscope asynchronous generation task. Use taskId with the task result endpoint to retrieve the completed output. The completed result replaces generated resource URLs with Nexscope-hosted URLs and replaces provider count with actual Nexscope credits charged.
                properties:
                  taskId:
                    type: string
                    description: Nexscope asynchronous task id used to query the generation result.
                    example: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status:
                    type: string
                    description: Task status. Initial run returns PENDING; the query endpoint may return PENDING, RUNNING, SUCCESS, FAILED, or TIMEOUT.
                    example: PENDING
                  message:
                    type: string
                    description: User-facing task state message.
                    example: The task has been created. Use taskId to query the result.
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  code:
                    type: string
                    description: Provider-specific status code.
                  msg:
                    type: string
                    description: Provider-specific status message.
                  type:
                    type: string
                    description: Provider-specific render or payload type.
                  title:
                    type: string
                    description: Provider-specific response title.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  costToken:
                    type: integer
                    description: Token cost reported by the upstream provider.
                  costTime:
                    type: integer
                    description: Execution time reported by the upstream provider.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                required:
                - taskId
                - status
                example:
                  taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status: PENDING
                  message: The task has been created. Use taskId to query the result.
                additionalProperties: true
              example:
                taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                status: PENDING
                message: The task has been created. Use taskId to query the result.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: wan-3-video-generation
      x-nexscope-mcp-tool-name: nexscope_wan_3_video_generation
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
components:
  responses:
    TooManyRequests:
      description: Rate limit or account usage limit reached.
      headers:
        Retry-After:
          description: Retry delay when returned by the service.
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CommonError'
    BadRequest:
      description: Invalid request parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CommonError'
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CommonError'
    Forbidden:
      description: The account or API key is not allowed to use this capability.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CommonError'
    ServerError:
      description: Server or upstream provider error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CommonError'
  schemas:
    CommonError:
      type: object
      description: Common API error envelope. Exact fields may vary by endpoint and upstream provider.
      properties:
        code:
          oneOf:
          - type: integer
          - type: string
          description: Application or provider error code.
        msg:
          type: string
          description: Error message.
        message:
          type: string
          description: Alternative error message field.
        traceId:
          type: string
          description: Support trace identifier when available.
      additionalProperties: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Nexscope API Key
externalDocs:
  description: Nexscope API Documentation
  url: https://www.nexscope.ai/api-docs
x-nexscope-source: https://api.nexscope.ai/api/skill-api/v1/api-docs
x-nexscope-pricing-mode: dynamic-credits
x-nexscope-mcp-endpoint: https://api.nexscope.ai/api/skill-api/v1/mcp
