openapi: 3.2.0
info:
  title: Nexscope Ecommerce Data and Creative Multimodal AI API
  version: 2026-08-28-public-catalog-v1
  description: Nexscope APIs provide ecommerce marketplace intelligence and creative generation capabilities through REST and MCP. Authentication uses a Nexscope API key. Pricing is credit-based and actual usage varies by endpoint and workload; current estimates are shown in the Nexscope account.
  termsOfService: https://www.nexscope.ai/terms
  contact:
    name: Nexscope Support
    email: service@nexscope.ai
    url: https://www.nexscope.ai/api-docs
  license:
    name: Proprietary API; use subject to Nexscope Terms
    url: https://www.nexscope.ai/terms
servers:
- url: https://api.nexscope.ai
  description: Production
security:
- bearerAuth: []
tags:
- name: Multimodal AI
  description: Image recognition, image editing, image generation, and ecommerce creative APIs.
  x-category-slug: multimodal-ai
paths:
  /api/skill-api/v1/skills/ai-model-swap/run:
    post:
      tags:
      - Multimodal AI
      summary: AI Model Swap API
      description: Generate model images by combining a source product image with a model head image, optional masks, scene references, and prompt guidance.
      operationId: runAiModelSwap
      externalDocs:
        description: AI Model Swap API documentation
        url: https://www.nexscope.ai/api-docs/ai-model-swap
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Generate model images by combining a source product image with a model head image, optional masks, scene references, and prompt guidance.
              properties:
                imageUrl:
                  type: string
                  description: Public URL of the source product or outfit image. The image must be up to 20 MB and between 385 and 8192 pixels in both width and height.
                  example: https://example.com/source-image.jpg
                modelHeadImageUrl:
                  type: string
                  description: Public URL of the target model head image. The image must be up to 5 MB and between 512 and 2048 pixels in both width and height.
                  example: https://example.com/model-reference.jpg
                imageSegUrl:
                  type: string
                  description: Optional segmentation mask URL for the source image.
                  example: https://example.com/mask.png
                sceneImgUrl:
                  type: string
                  description: Optional scene reference image URL. The image must be up to 10 MB and between 768 and 4096 pixels in both width and height.
                  example: https://example.com/scene.jpg
                sceneStrength:
                  type: number
                  description: Scene reference strength from 0 to 1. Defaults to 0.7.
                  example: 0.7
                modelPrompt:
                  type: string
                  description: Comma-separated model appearance terms, such as smile, laugh, sitting, lying, fat, plump, slim, sideways, profile, back, or bald.
                  example: smile, slim
                customPrompt:
                  type: string
                  description: Positive generation prompt, up to 600 characters.
                  example: clean ecommerce catalog photo
                customNegPrompt:
                  type: string
                  description: Negative prompt to avoid unwanted artifacts.
                  example: blur, distorted hands
                genOriRes:
                  type: boolean
                  description: Whether to generate the original resolution. Defaults to false.
                  example: false
                realModel:
                  type: boolean
                  description: Whether to prefer a realistic model style.
                  example: true
                outputNum:
                  type: integer
                  description: Number of images to generate, from 1 to 4. Defaults to 1.
                  example: 1
              required:
              - imageUrl
              - modelHeadImageUrl
              example:
                imageUrl: https://example.com/source-image.jpg
                modelHeadImageUrl: https://example.com/model-reference.jpg
                imageSegUrl: https://example.com/mask.png
                sceneImgUrl: https://example.com/scene.jpg
                sceneStrength: 0.7
                modelPrompt: smile, slim
                customPrompt: clean ecommerce catalog photo
                customNegPrompt: blur, distorted hands
                genOriRes: false
                realModel: true
                outputNum: 1
              additionalProperties: true
            example:
              imageUrl: https://example.com/source-image.jpg
              modelHeadImageUrl: https://example.com/model-reference.jpg
              imageSegUrl: https://example.com/mask.png
              sceneImgUrl: https://example.com/scene.jpg
              sceneStrength: 0.7
              modelPrompt: smile, slim
              customPrompt: clean ecommerce catalog photo
              customNegPrompt: blur, distorted hands
              genOriRes: false
              realModel: true
              outputNum: 1
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Creates a Nexscope asynchronous generation task. Use taskId with the task result endpoint to retrieve the completed output. The completed result replaces generated resource URLs with Nexscope-hosted URLs and replaces provider count with actual Nexscope credits charged.
                properties:
                  taskId:
                    type: string
                    description: Nexscope asynchronous task id used to query the generation result.
                    example: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status:
                    type: string
                    description: Task status. Initial run returns PENDING; the query endpoint may return PENDING, RUNNING, SUCCESS, FAILED, or TIMEOUT.
                    example: PENDING
                  message:
                    type: string
                    description: User-facing task state message.
                    example: The task has been created. Use taskId to query the result.
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  code:
                    type: string
                    description: Provider-specific status code.
                  msg:
                    type: string
                    description: Provider-specific status message.
                  type:
                    type: string
                    description: Provider-specific render or payload type.
                  title:
                    type: string
                    description: Provider-specific response title.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  costToken:
                    type: integer
                    description: Token cost reported by the upstream provider.
                  costTime:
                    type: integer
                    description: Execution time reported by the upstream provider.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                required:
                - taskId
                - status
                example:
                  taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status: PENDING
                  message: The task has been created. Use taskId to query the result.
                additionalProperties: true
              example:
                taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                status: PENDING
                message: The task has been created. Use taskId to query the result.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: ai-model-swap
      x-nexscope-mcp-tool-name: nexscope_ai_model_swap
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/ai-model-swap-2-0/run:
    post:
      tags:
      - Multimodal AI
      summary: AI Model Swap API 2.0
      description: Generate model images from a product image and a full model reference image with optional segmentation and scene controls.
      operationId: runAiModelSwap20
      externalDocs:
        description: AI Model Swap API 2.0 documentation
        url: https://www.nexscope.ai/api-docs/ai-model-swap-2-0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Generate model images from a product image and a full model reference image with optional segmentation and scene controls.
              properties:
                imageUrl:
                  type: string
                  description: Public URL of the source product or outfit image. The image must be up to 20 MB and between 385 and 8192 pixels in both width and height.
                  example: https://example.com/source-image.jpg
                modelImageUrl:
                  type: string
                  description: Public URL of the full model reference image.
                  example: https://example.com/model-reference.jpg
                outputNum:
                  type: integer
                  description: Number of images to generate, from 1 to 4. Defaults to 1.
                  example: 1
                imageSegUrl:
                  type: string
                  description: Optional segmentation mask URL for the source image.
                  example: https://example.com/mask.png
                sceneImgUrl:
                  type: string
                  description: Optional scene reference image URL.
                  example: https://example.com/scene.jpg
                sceneStrength:
                  type: number
                  description: Scene reference strength from 0 to 1. Defaults to 0.7.
                  example: 0.7
                genOriRes:
                  type: boolean
                  description: Whether to generate the original resolution. Defaults to false.
                  example: false
                realModel:
                  type: boolean
                  description: Whether to prefer a realistic model style.
                  example: true
              required:
              - imageUrl
              - modelImageUrl
              example:
                imageUrl: https://example.com/source-image.jpg
                modelImageUrl: https://example.com/model-reference.jpg
                outputNum: 1
                imageSegUrl: https://example.com/mask.png
                sceneImgUrl: https://example.com/scene.jpg
                sceneStrength: 0.7
                genOriRes: false
                realModel: true
              additionalProperties: true
            example:
              imageUrl: https://example.com/source-image.jpg
              modelImageUrl: https://example.com/model-reference.jpg
              outputNum: 1
              imageSegUrl: https://example.com/mask.png
              sceneImgUrl: https://example.com/scene.jpg
              sceneStrength: 0.7
              genOriRes: false
              realModel: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Creates a Nexscope asynchronous generation task. Use taskId with the task result endpoint to retrieve the completed output. The completed result replaces generated resource URLs with Nexscope-hosted URLs and replaces provider count with actual Nexscope credits charged.
                properties:
                  taskId:
                    type: string
                    description: Nexscope asynchronous task id used to query the generation result.
                    example: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status:
                    type: string
                    description: Task status. Initial run returns PENDING; the query endpoint may return PENDING, RUNNING, SUCCESS, FAILED, or TIMEOUT.
                    example: PENDING
                  message:
                    type: string
                    description: User-facing task state message.
                    example: The task has been created. Use taskId to query the result.
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  code:
                    type: string
                    description: Provider-specific status code.
                  msg:
                    type: string
                    description: Provider-specific status message.
                  type:
                    type: string
                    description: Provider-specific render or payload type.
                  title:
                    type: string
                    description: Provider-specific response title.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  costToken:
                    type: integer
                    description: Token cost reported by the upstream provider.
                  costTime:
                    type: integer
                    description: Execution time reported by the upstream provider.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                required:
                - taskId
                - status
                example:
                  taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status: PENDING
                  message: The task has been created. Use taskId to query the result.
                additionalProperties: true
              example:
                taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                status: PENDING
                message: The task has been created. Use taskId to query the result.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: ai-model-swap-2-0
      x-nexscope-mcp-tool-name: nexscope_ai_model_swap_2_0
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/ai-model-scene-background-replacement/run:
    post:
      tags:
      - Multimodal AI
      summary: AI Model Scene & Background Replacement API
      description: Generate scene variants for a model image using either a scene reference image or a text scene prompt.
      operationId: runAiModelSceneBackgroundReplacement
      externalDocs:
        description: AI Model Scene & Background Replacement API documentation
        url: https://www.nexscope.ai/api-docs/ai-model-scene-background-replacement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Generate scene variants for a model image using either a scene reference image or a text scene prompt.
              properties:
                imageUrl:
                  type: string
                  description: Public URL of the model image. The image must be up to 20 MB and between 385 and 8192 pixels in both width and height.
                  example: https://example.com/model-reference.jpg
                sceneImgUrl:
                  type: string
                  description: Optional public URL of the target scene reference.
                  example: https://example.com/scene.jpg
                scenePrompt:
                  type: string
                  description: Optional text prompt describing the target scene.
                  example: bright studio showroom
                imageSegUrl:
                  type: string
                  description: Optional model segmentation mask URL.
                  example: https://example.com/mask.png
                sceneStrength:
                  type: number
                  description: Scene reference strength from 0 to 1. Defaults to 0.7.
                  example: 0.7
                genOriRes:
                  type: boolean
                  description: Whether to generate the original resolution. Defaults to false.
                  example: false
                realModel:
                  type: boolean
                  description: Whether to prefer realistic model rendering.
                  example: true
                outputNum:
                  type: integer
                  description: Number of images to generate, from 1 to 4. Defaults to 1.
                  example: 1
              required:
              - imageUrl
              example:
                imageUrl: https://example.com/model-reference.jpg
                scenePrompt: bright studio showroom
                sceneStrength: 0.7
                genOriRes: false
                realModel: true
                outputNum: 1
              additionalProperties: true
            example:
              imageUrl: https://example.com/model-reference.jpg
              scenePrompt: bright studio showroom
              sceneStrength: 0.7
              genOriRes: false
              realModel: true
              outputNum: 1
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Creates a Nexscope asynchronous generation task. Use taskId with the task result endpoint to retrieve the completed output. The completed result replaces generated resource URLs with Nexscope-hosted URLs and replaces provider count with actual Nexscope credits charged.
                properties:
                  taskId:
                    type: string
                    description: Nexscope asynchronous task id used to query the generation result.
                    example: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status:
                    type: string
                    description: Task status. Initial run returns PENDING; the query endpoint may return PENDING, RUNNING, SUCCESS, FAILED, or TIMEOUT.
                    example: PENDING
                  message:
                    type: string
                    description: User-facing task state message.
                    example: The task has been created. Use taskId to query the result.
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  code:
                    type: string
                    description: Provider-specific status code.
                  msg:
                    type: string
                    description: Provider-specific status message.
                  type:
                    type: string
                    description: Provider-specific render or payload type.
                  title:
                    type: string
                    description: Provider-specific response title.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  costToken:
                    type: integer
                    description: Token cost reported by the upstream provider.
                  costTime:
                    type: integer
                    description: Execution time reported by the upstream provider.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                required:
                - taskId
                - status
                example:
                  taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status: PENDING
                  message: The task has been created. Use taskId to query the result.
                additionalProperties: true
              example:
                taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                status: PENDING
                message: The task has been created. Use taskId to query the result.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: ai-model-scene-background-replacement
      x-nexscope-mcp-tool-name: nexscope_ai_model_scene_background_replacement
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/ai-clothes-changer-for-tops-bottoms/run:
    post:
      tags:
      - Multimodal AI
      summary: AI Clothes Changer API for Tops & Bottoms
      description: Dress a model image with upper and/or lower garment assets, supporting optional masks and original garment references.
      operationId: runAiClothesChangerForTopsBottoms
      externalDocs:
        description: AI Clothes Changer API for Tops & Bottoms documentation
        url: https://www.nexscope.ai/api-docs/ai-clothes-changer-for-tops-bottoms
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Dress a model image with upper and/or lower garment assets, supporting optional masks and original garment references.
              properties:
                modelImageUrl:
                  type: string
                  description: Public URL of the model image.
                  example: https://example.com/model-reference.jpg
                upperOriginUrl:
                  type: string
                  description: Public URL of the original upper garment image. The image must be up to 20 MB and between 385 and 4096 pixels in both width and height.
                  example: https://example.com/top.jpg
                downOriginUrl:
                  type: string
                  description: Public URL of the original lower garment image. The image must be up to 20 MB and between 385 and 4096 pixels in both width and height.
                  example: https://example.com/bottom.jpg
                upperImageUrl:
                  type: string
                  description: Optional processed upper garment mask or crop URL.
                  example: https://example.com/top-mask.png
                downImageUrl:
                  type: string
                  description: Optional processed lower garment mask or crop URL.
                  example: https://example.com/bottom-mask.png
                modelMaskImageUrl:
                  type: string
                  description: Optional mask URL for the model body area.
                  example: https://example.com/mask.png
                outputNum:
                  type: integer
                  description: Number of images to generate, from 1 to 4. Defaults to 1.
                  example: 1
              required:
              - modelImageUrl
              example:
                modelImageUrl: https://example.com/model-reference.jpg
                upperOriginUrl: https://example.com/top.jpg
                downOriginUrl: https://example.com/bottom.jpg
                upperImageUrl: https://example.com/top-mask.png
                downImageUrl: https://example.com/bottom-mask.png
                modelMaskImageUrl: https://example.com/mask.png
                outputNum: 1
              additionalProperties: true
            example:
              modelImageUrl: https://example.com/model-reference.jpg
              upperOriginUrl: https://example.com/top.jpg
              downOriginUrl: https://example.com/bottom.jpg
              upperImageUrl: https://example.com/top-mask.png
              downImageUrl: https://example.com/bottom-mask.png
              modelMaskImageUrl: https://example.com/mask.png
              outputNum: 1
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Creates a Nexscope asynchronous generation task. Use taskId with the task result endpoint to retrieve the completed output. The completed result replaces generated resource URLs with Nexscope-hosted URLs and replaces provider count with actual Nexscope credits charged.
                properties:
                  taskId:
                    type: string
                    description: Nexscope asynchronous task id used to query the generation result.
                    example: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status:
                    type: string
                    description: Task status. Initial run returns PENDING; the query endpoint may return PENDING, RUNNING, SUCCESS, FAILED, or TIMEOUT.
                    example: PENDING
                  message:
                    type: string
                    description: User-facing task state message.
                    example: The task has been created. Use taskId to query the result.
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  code:
                    type: string
                    description: Provider-specific status code.
                  msg:
                    type: string
                    description: Provider-specific status message.
                  type:
                    type: string
                    description: Provider-specific render or payload type.
                  title:
                    type: string
                    description: Provider-specific response title.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  costToken:
                    type: integer
                    description: Token cost reported by the upstream provider.
                  costTime:
                    type: integer
                    description: Execution time reported by the upstream provider.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                required:
                - taskId
                - status
                example:
                  taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status: PENDING
                  message: The task has been created. Use taskId to query the result.
                additionalProperties: true
              example:
                taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                status: PENDING
                message: The task has been created. Use taskId to query the result.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: ai-clothes-changer-for-tops-bottoms
      x-nexscope-mcp-tool-name: nexscope_ai_clothes_changer_for_tops_bottoms
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/ai-suit-virtual-try-on/run:
    post:
      tags:
      - Multimodal AI
      summary: AI Suit Virtual Try-On API
      description: Dress a model image with a one-piece outfit or suit image, supporting optional garment and model masks.
      operationId: runAiSuitVirtualTryOn
      externalDocs:
        description: AI Suit Virtual Try-On API documentation
        url: https://www.nexscope.ai/api-docs/ai-suit-virtual-try-on
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Dress a model image with a one-piece outfit or suit image, supporting optional garment and model masks.
              properties:
                suitOriginUrl:
                  type: string
                  description: Public URL of the original one-piece garment image. The image must be up to 20 MB and between 385 and 4096 pixels in both width and height.
                  example: https://example.com/suit.jpg
                modelImageUrl:
                  type: string
                  description: Public URL of the model image.
                  example: https://example.com/model-reference.jpg
                suitImageUrl:
                  type: string
                  description: Optional processed suit mask or crop URL.
                  example: https://example.com/suit-mask.png
                modelMaskImageUrl:
                  type: string
                  description: Optional mask URL for the model body area.
                  example: https://example.com/mask.png
                outputNum:
                  type: integer
                  description: Number of images to generate, from 1 to 4. Defaults to 1.
                  example: 1
              required:
              - suitOriginUrl
              - modelImageUrl
              example:
                suitOriginUrl: https://example.com/suit.jpg
                modelImageUrl: https://example.com/model-reference.jpg
                suitImageUrl: https://example.com/suit-mask.png
                modelMaskImageUrl: https://example.com/mask.png
                outputNum: 1
              additionalProperties: true
            example:
              suitOriginUrl: https://example.com/suit.jpg
              modelImageUrl: https://example.com/model-reference.jpg
              suitImageUrl: https://example.com/suit-mask.png
              modelMaskImageUrl: https://example.com/mask.png
              outputNum: 1
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Creates a Nexscope asynchronous generation task. Use taskId with the task result endpoint to retrieve the completed output. The completed result replaces generated resource URLs with Nexscope-hosted URLs and replaces provider count with actual Nexscope credits charged.
                properties:
                  taskId:
                    type: string
                    description: Nexscope asynchronous task id used to query the generation result.
                    example: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status:
                    type: string
                    description: Task status. Initial run returns PENDING; the query endpoint may return PENDING, RUNNING, SUCCESS, FAILED, or TIMEOUT.
                    example: PENDING
                  message:
                    type: string
                    description: User-facing task state message.
                    example: The task has been created. Use taskId to query the result.
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  code:
                    type: string
                    description: Provider-specific status code.
                  msg:
                    type: string
                    description: Provider-specific status message.
                  type:
                    type: string
                    description: Provider-specific render or payload type.
                  title:
                    type: string
                    description: Provider-specific response title.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  costToken:
                    type: integer
                    description: Token cost reported by the upstream provider.
                  costTime:
                    type: integer
                    description: Execution time reported by the upstream provider.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                required:
                - taskId
                - status
                example:
                  taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status: PENDING
                  message: The task has been created. Use taskId to query the result.
                additionalProperties: true
              example:
                taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                status: PENDING
                message: The task has been created. Use taskId to query the result.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: ai-suit-virtual-try-on
      x-nexscope-mcp-tool-name: nexscope_ai_suit_virtual_try_on
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/virtual-try-on/run:
    post:
      tags:
      - Multimodal AI
      summary: Virtual Try-On API
      description: Generate wearable-product imagery from a source person image and target product image.
      operationId: runVirtualTryOn
      externalDocs:
        description: Virtual Try-On API documentation
        url: https://www.nexscope.ai/api-docs/virtual-try-on
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Generate wearable-product imagery from a source person image and target product image.
              properties:
                imageUrl:
                  type: string
                  description: Public URL of the wearable product image. The image must be between 300 and 4096 pixels in both width and height. The width-to-height ratio must be between 0.4 and 2.5.
                  example: https://example.com/product.jpg
                targetOriginUrl:
                  type: string
                  description: Public URL of the person or model image.
                  example: https://example.com/model-reference.jpg
                targetMaskUrl:
                  type: string
                  description: Public URL of the black-and-white target wear-area mask. Required because this API accepts custom target images rather than saved upstream materials.
                  example: https://example.com/mask.png
                productCategory:
                  type: string
                  description: 'Product category. Supported values: footwear (shoes), luggage (bags), eyewear (glasses), necklace, hat, earring, ring, wristband, watch, headwear, belt, other.'
                  example: hat
                outputNum:
                  type: integer
                  description: Number of images to generate, from 1 to 4. Defaults to 1.
                  example: 1
              required:
              - imageUrl
              - targetOriginUrl
              - targetMaskUrl
              example:
                imageUrl: https://example.com/product.jpg
                targetOriginUrl: https://example.com/model-reference.jpg
                targetMaskUrl: https://example.com/mask.png
                productCategory: hat
                outputNum: 1
              additionalProperties: true
            example:
              imageUrl: https://example.com/product.jpg
              targetOriginUrl: https://example.com/model-reference.jpg
              targetMaskUrl: https://example.com/mask.png
              productCategory: hat
              outputNum: 1
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Creates a Nexscope asynchronous generation task. Use taskId with the task result endpoint to retrieve the completed output. The completed result replaces generated resource URLs with Nexscope-hosted URLs and replaces provider count with actual Nexscope credits charged.
                properties:
                  taskId:
                    type: string
                    description: Nexscope asynchronous task id used to query the generation result.
                    example: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status:
                    type: string
                    description: Task status. Initial run returns PENDING; the query endpoint may return PENDING, RUNNING, SUCCESS, FAILED, or TIMEOUT.
                    example: PENDING
                  message:
                    type: string
                    description: User-facing task state message.
                    example: The task has been created. Use taskId to query the result.
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  code:
                    type: string
                    description: Provider-specific status code.
                  msg:
                    type: string
                    description: Provider-specific status message.
                  type:
                    type: string
                    description: Provider-specific render or payload type.
                  title:
                    type: string
                    description: Provider-specific response title.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  costToken:
                    type: integer
                    description: Token cost reported by the upstream provider.
                  costTime:
                    type: integer
                    description: Execution time reported by the upstream provider.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                required:
                - taskId
                - status
                example:
                  taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status: PENDING
                  message: The task has been created. Use taskId to query the result.
                additionalProperties: true
              example:
                taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                status: PENDING
                message: The task has been created. Use taskId to query the result.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: virtual-try-on
      x-nexscope-mcp-tool-name: nexscope_virtual_try_on
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/product-replacement/run:
    post:
      tags:
      - Multimodal AI
      summary: Product Replacement API
      description: Use source and target product references to replace product content while preserving scene consistency.
      operationId: runProductReplacement
      externalDocs:
        description: Product Replacement API documentation
        url: https://www.nexscope.ai/api-docs/product-replacement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Use source and target product references to replace product content while preserving scene consistency.
              properties:
                imageUrl:
                  type: string
                  description: Public URL of the base image. The image must be up to 20 MB and between 384 and 8192 pixels in both width and height.
                  example: https://example.com/source-image.jpg
                targetOriginUrl:
                  type: string
                  description: Public URL of the replacement product image.
                  example: https://example.com/product.jpg
                sourceImageUrl:
                  type: string
                  description: Optional source product crop URL.
                  example: https://example.com/source-product.jpg
                targetImageUrl:
                  type: string
                  description: Optional processed replacement product URL.
                  example: https://example.com/target-product.png
                denoiseStrength:
                  type: number
                  description: Generation denoise strength from 0 to 1. Defaults to 0.5.
                  example: 0.5
                imageOutputWidth:
                  type: integer
                  description: Desired output width in pixels, from 32 to 4096.
                  example: 1024
                imageOutputHeight:
                  type: integer
                  description: Desired output height in pixels, from 32 to 4096.
                  example: 1024
                outputNum:
                  type: integer
                  description: Number of images to generate, from 1 to 4. Defaults to 1.
                  example: 1
              required:
              - imageUrl
              - targetOriginUrl
              example:
                imageUrl: https://example.com/source-image.jpg
                targetOriginUrl: https://example.com/product.jpg
                sourceImageUrl: https://example.com/source-product.jpg
                targetImageUrl: https://example.com/target-product.png
                denoiseStrength: 0.5
                imageOutputWidth: 1024
                imageOutputHeight: 1024
                outputNum: 1
              additionalProperties: true
            example:
              imageUrl: https://example.com/source-image.jpg
              targetOriginUrl: https://example.com/product.jpg
              sourceImageUrl: https://example.com/source-product.jpg
              targetImageUrl: https://example.com/target-product.png
              denoiseStrength: 0.5
              imageOutputWidth: 1024
              imageOutputHeight: 1024
              outputNum: 1
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Creates a Nexscope asynchronous generation task. Use taskId with the task result endpoint to retrieve the completed output. The completed result replaces generated resource URLs with Nexscope-hosted URLs and replaces provider count with actual Nexscope credits charged.
                properties:
                  taskId:
                    type: string
                    description: Nexscope asynchronous task id used to query the generation result.
                    example: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status:
                    type: string
                    description: Task status. Initial run returns PENDING; the query endpoint may return PENDING, RUNNING, SUCCESS, FAILED, or TIMEOUT.
                    example: PENDING
                  message:
                    type: string
                    description: User-facing task state message.
                    example: The task has been created. Use taskId to query the result.
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  code:
                    type: string
                    description: Provider-specific status code.
                  msg:
                    type: string
                    description: Provider-specific status message.
                  type:
                    type: string
                    description: Provider-specific render or payload type.
                  title:
                    type: string
                    description: Provider-specific response title.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  costToken:
                    type: integer
                    description: Token cost reported by the upstream provider.
                  costTime:
                    type: integer
                    description: Execution time reported by the upstream provider.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                required:
                - taskId
                - status
                example:
                  taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status: PENDING
                  message: The task has been created. Use taskId to query the result.
                additionalProperties: true
              example:
                taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                status: PENDING
                message: The task has been created. Use taskId to query the result.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: product-replacement
      x-nexscope-mcp-tool-name: nexscope_product_replacement
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/product-scene-variations/run:
    post:
      tags:
      - Multimodal AI
      summary: Product Scene Variations API
      description: Generate multiple ecommerce scene variants from a product image, optional segmentation, and prompt guidance.
      operationId: runProductSceneVariations
      externalDocs:
        description: Product Scene Variations API documentation
        url: https://www.nexscope.ai/api-docs/product-scene-variations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Generate multiple ecommerce scene variants from a product image, optional segmentation, and prompt guidance.
              properties:
                imageUrl:
                  type: string
                  description: Public URL of the product image. The image must be up to 20 MB and between 385 and 8192 pixels in both width and height.
                  example: https://example.com/product.jpg
                segImageUrl:
                  type: string
                  description: Optional segmentation mask URL.
                  example: https://example.com/mask.png
                strength:
                  type: number
                  description: Variation strength from 0.1 to 1. Defaults to 0.5.
                  example: 0.5
                prompt:
                  type: string
                  description: Scene generation prompt, up to 600 characters.
                  example: modern kitchen countertop
                imageOutputWidth:
                  type: integer
                  description: Desired output width in pixels, from 32 to 2048.
                  example: 1024
                imageOutputHeight:
                  type: integer
                  description: Desired output height in pixels, from 32 to 2048.
                  example: 1024
                outputNum:
                  type: integer
                  description: Number of images to generate, from 1 to 4.
                  example: 1
              required:
              - imageUrl
              example:
                imageUrl: https://example.com/product.jpg
                segImageUrl: https://example.com/mask.png
                strength: 0.5
                prompt: modern kitchen countertop
                imageOutputWidth: 1024
                imageOutputHeight: 1024
                outputNum: 1
              additionalProperties: true
            example:
              imageUrl: https://example.com/product.jpg
              segImageUrl: https://example.com/mask.png
              strength: 0.5
              prompt: modern kitchen countertop
              imageOutputWidth: 1024
              imageOutputHeight: 1024
              outputNum: 1
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Creates a Nexscope asynchronous generation task. Use taskId with the task result endpoint to retrieve the completed output. The completed result replaces generated resource URLs with Nexscope-hosted URLs and replaces provider count with actual Nexscope credits charged.
                properties:
                  taskId:
                    type: string
                    description: Nexscope asynchronous task id used to query the generation result.
                    example: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status:
                    type: string
                    description: Task status. Initial run returns PENDING; the query endpoint may return PENDING, RUNNING, SUCCESS, FAILED, or TIMEOUT.
                    example: PENDING
                  message:
                    type: string
                    description: User-facing task state message.
                    example: The task has been created. Use taskId to query the result.
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  code:
                    type: string
                    description: Provider-specific status code.
                  msg:
                    type: string
                    description: Provider-specific status message.
                  type:
                    type: string
                    description: Provider-specific render or payload type.
                  title:
                    type: string
                    description: Provider-specific response title.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  costToken:
                    type: integer
                    description: Token cost reported by the upstream provider.
                  costTime:
                    type: integer
                    description: Execution time reported by the upstream provider.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                required:
                - taskId
                - status
                example:
                  taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status: PENDING
                  message: The task has been created. Use taskId to query the result.
                additionalProperties: true
              example:
                taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                status: PENDING
                message: The task has been created. Use taskId to query the result.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: product-scene-variations
      x-nexscope-mcp-tool-name: nexscope_product_scene_variations
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/ai-background-generator/run:
    post:
      tags:
      - Multimodal AI
      summary: AI Background Generator API
      description: Create product or lifestyle scene images from text prompts and optional reference images.
      operationId: runAiBackgroundGenerator
      externalDocs:
        description: AI Background Generator API documentation
        url: https://www.nexscope.ai/api-docs/ai-background-generator
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Create product or lifestyle scene images from text prompts and optional reference images.
              properties:
                prompt:
                  type: string
                  description: Text prompt describing the desired scene.
                  example: a premium phone case on a clean marble desk
                imageUrl:
                  type: string
                  description: Optional reference image URL.
                  example: https://example.com/product.jpg
                style:
                  type: string
                  description: 'Style preset. Supported values: scene-material, portrait-material, ancient-chinese, expressive-sketch, cyberpunk, pixel-illustration, tranquil-ink, anime-line-art, makoto-shinkai, hayao-miyazaki, cg, monochrome-illustration, retro-anime, chibi-character, realistic-oil-painting, c4d-paper-cut, expressive-watercolor, fresh-anime.'
                  example: scene-material
                scale:
                  type: string
                  description: 'Output aspect ratio. Supported values: 1:1, 16:9, 9:16. Defaults to 1:1.'
                  example: '1:1'
                outputNum:
                  type: integer
                  description: Number of images to generate, from 1 to 4. Defaults to 4.
                  example: 4
              required:
              - prompt
              example:
                prompt: a premium phone case on a clean marble desk
                imageUrl: https://example.com/product.jpg
                style: scene-material
                scale: '1:1'
                outputNum: 4
              additionalProperties: true
            example:
              prompt: a premium phone case on a clean marble desk
              imageUrl: https://example.com/product.jpg
              style: scene-material
              scale: '1:1'
              outputNum: 4
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Creates a Nexscope asynchronous generation task. Use taskId with the task result endpoint to retrieve the completed output. The completed result replaces generated resource URLs with Nexscope-hosted URLs and replaces provider count with actual Nexscope credits charged.
                properties:
                  taskId:
                    type: string
                    description: Nexscope asynchronous task id used to query the generation result.
                    example: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status:
                    type: string
                    description: Task status. Initial run returns PENDING; the query endpoint may return PENDING, RUNNING, SUCCESS, FAILED, or TIMEOUT.
                    example: PENDING
                  message:
                    type: string
                    description: User-facing task state message.
                    example: The task has been created. Use taskId to query the result.
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  code:
                    type: string
                    description: Provider-specific status code.
                  msg:
                    type: string
                    description: Provider-specific status message.
                  type:
                    type: string
                    description: Provider-specific render or payload type.
                  title:
                    type: string
                    description: Provider-specific response title.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  costToken:
                    type: integer
                    description: Token cost reported by the upstream provider.
                  costTime:
                    type: integer
                    description: Execution time reported by the upstream provider.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                required:
                - taskId
                - status
                example:
                  taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status: PENDING
                  message: The task has been created. Use taskId to query the result.
                additionalProperties: true
              example:
                taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                status: PENDING
                message: The task has been created. Use taskId to query the result.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: ai-background-generator
      x-nexscope-mcp-tool-name: nexscope_ai_background_generator
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/similar-image-variations/run:
    post:
      tags:
      - Multimodal AI
      summary: Similar Image Variations API
      description: Generate similar ecommerce images from a reference image with optional prompt and strength controls.
      operationId: runSimilarImageVariations
      externalDocs:
        description: Similar Image Variations API documentation
        url: https://www.nexscope.ai/api-docs/similar-image-variations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Generate similar ecommerce images from a reference image with optional prompt and strength controls.
              properties:
                imageUrl:
                  type: string
                  description: Public URL of a JPG, PNG, or WEBP reference image up to 10 MB and at most 4096 pixels in both width and height.
                  example: https://example.com/product.jpg
                prompt:
                  type: string
                  description: Optional prompt for the desired variation, up to 600 characters.
                  example: same product, brighter background
                weight:
                  type: integer
                  description: Reference image weight from 0 to 2. Defaults to 2.
                  example: 2
                width:
                  type: integer
                  description: Desired output width in pixels, from 384 to 4096.
                  example: 1024
                  minimum: 384
                  maximum: 4096
                height:
                  type: integer
                  description: Desired output height in pixels, from 384 to 4096.
                  example: 1024
                  minimum: 384
                  maximum: 4096
                scale:
                  type: string
                  description: Optional aspect ratio. Provide scale or both width and height.
                  example: '1:1'
                outputNum:
                  type: integer
                  description: Number of images to generate, from 1 to 4. Defaults to 4.
                  example: 4
              required:
              - imageUrl
              example:
                imageUrl: https://example.com/product.jpg
                prompt: same product, brighter background
                weight: 2
                width: 1024
                height: 1024
                outputNum: 4
              additionalProperties: true
            example:
              imageUrl: https://example.com/product.jpg
              prompt: same product, brighter background
              weight: 2
              width: 1024
              height: 1024
              outputNum: 4
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Creates a Nexscope asynchronous generation task. Use taskId with the task result endpoint to retrieve the completed output. The completed result replaces generated resource URLs with Nexscope-hosted URLs and replaces provider count with actual Nexscope credits charged.
                properties:
                  taskId:
                    type: string
                    description: Nexscope asynchronous task id used to query the generation result.
                    example: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status:
                    type: string
                    description: Task status. Initial run returns PENDING; the query endpoint may return PENDING, RUNNING, SUCCESS, FAILED, or TIMEOUT.
                    example: PENDING
                  message:
                    type: string
                    description: User-facing task state message.
                    example: The task has been created. Use taskId to query the result.
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  code:
                    type: string
                    description: Provider-specific status code.
                  msg:
                    type: string
                    description: Provider-specific status message.
                  type:
                    type: string
                    description: Provider-specific render or payload type.
                  title:
                    type: string
                    description: Provider-specific response title.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  costToken:
                    type: integer
                    description: Token cost reported by the upstream provider.
                  costTime:
                    type: integer
                    description: Execution time reported by the upstream provider.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                required:
                - taskId
                - status
                example:
                  taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status: PENDING
                  message: The task has been created. Use taskId to query the result.
                additionalProperties: true
              example:
                taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                status: PENDING
                message: The task has been created. Use taskId to query the result.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: similar-image-variations
      x-nexscope-mcp-tool-name: nexscope_similar_image_variations
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/background-remover/run:
    post:
      tags:
      - Multimodal AI
      summary: Background Remover API
      description: Cut out products, people, or clothing from a source image using an upstream background-removal model.
      operationId: runBackgroundRemover
      externalDocs:
        description: Background Remover API documentation
        url: https://www.nexscope.ai/api-docs/background-remover
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Cut out products, people, or clothing from a source image using an upstream background-removal model.
              properties:
                imageUrl:
                  type: string
                  description: Public URL of the image to cut out. The image must be up to 20 MB and between 385 and 8192 pixels in both width and height.
                  example: https://example.com/product.jpg
                subType:
                  type: integer
                  description: 'Cutout type. Supported values: 1 (general), 2 (portrait), 3 (product), 9 (apparel), 12 (hair), 13 (face).'
                  example: 1
                clothClass:
                  type: string
                  description: 'Apparel classes used only when subType is 9. Multiple values may be comma-separated. Supported values: tops, coat, skirt, pants, bag, shoes, hat.'
                  example: tops
              required:
              - imageUrl
              - subType
              example:
                imageUrl: https://example.com/product.jpg
                subType: 1
              additionalProperties: true
            example:
              imageUrl: https://example.com/product.jpg
              subType: 1
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Creates a Nexscope asynchronous generation task. Use taskId with the task result endpoint to retrieve the completed output. The completed result replaces generated resource URLs with Nexscope-hosted URLs and replaces provider count with actual Nexscope credits charged.
                properties:
                  taskId:
                    type: string
                    description: Nexscope asynchronous task id used to query the generation result.
                    example: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status:
                    type: string
                    description: Task status. Initial run returns PENDING; the query endpoint may return PENDING, RUNNING, SUCCESS, FAILED, or TIMEOUT.
                    example: PENDING
                  message:
                    type: string
                    description: User-facing task state message.
                    example: The task has been created. Use taskId to query the result.
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  code:
                    type: string
                    description: Provider-specific status code.
                  msg:
                    type: string
                    description: Provider-specific status message.
                  type:
                    type: string
                    description: Provider-specific render or payload type.
                  title:
                    type: string
                    description: Provider-specific response title.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  costToken:
                    type: integer
                    description: Token cost reported by the upstream provider.
                  costTime:
                    type: integer
                    description: Execution time reported by the upstream provider.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                required:
                - taskId
                - status
                example:
                  taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status: PENDING
                  message: The task has been created. Use taskId to query the result.
                additionalProperties: true
              example:
                taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                status: PENDING
                message: The task has been created. Use taskId to query the result.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: background-remover
      x-nexscope-mcp-tool-name: nexscope_background_remover
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/fine-cutout-image-segmentation/run:
    post:
      tags:
      - Multimodal AI
      summary: Fine Cutout Image Segmentation API
      description: Run the Nexscope interactive cutout create/info flow as one Skill API call. The point list marks foreground/background guidance points.
      operationId: runFineCutoutImageSegmentation
      externalDocs:
        description: Fine Cutout Image Segmentation API documentation
        url: https://www.nexscope.ai/api-docs/fine-cutout-image-segmentation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Run the Nexscope interactive cutout create/info flow as one Skill API call. The point list marks foreground/background guidance points.
              properties:
                imageUrl:
                  type: string
                  description: Public URL of the image to cut out.
                  example: https://example.com/product.jpg
                pointList:
                  type: array
                  items:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                      isSelect:
                        type: boolean
                    additionalProperties: true
                  description: Selection points. Each item should include x, y, and isSelect.
                  example:
                  - x: 120
                    y: 180
                    isSelect: true
                scoreUrl:
                  type: string
                  description: Optional score map URL returned by a previous step.
                  example: https://example.com/score.png
                featureUrl:
                  type: string
                  description: Optional feature map URL returned by a previous step.
                  example: https://example.com/feature.bin
              required:
              - imageUrl
              - pointList
              example:
                imageUrl: https://example.com/product.jpg
                pointList:
                - x: 120
                  y: 180
                  isSelect: true
                scoreUrl: https://example.com/score.png
                featureUrl: https://example.com/feature.bin
              additionalProperties: true
            example:
              imageUrl: https://example.com/product.jpg
              pointList:
              - x: 120
                y: 180
                isSelect: true
              scoreUrl: https://example.com/score.png
              featureUrl: https://example.com/feature.bin
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Creates a Nexscope asynchronous generation task. Use taskId with the task result endpoint to retrieve the completed output. The completed result replaces generated resource URLs with Nexscope-hosted URLs and replaces provider count with actual Nexscope credits charged.
                properties:
                  taskId:
                    type: string
                    description: Nexscope asynchronous task id used to query the generation result.
                    example: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status:
                    type: string
                    description: Task status. Initial run returns PENDING; the query endpoint may return PENDING, RUNNING, SUCCESS, FAILED, or TIMEOUT.
                    example: PENDING
                  message:
                    type: string
                    description: User-facing task state message.
                    example: The task has been created. Use taskId to query the result.
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  code:
                    type: string
                    description: Provider-specific status code.
                  msg:
                    type: string
                    description: Provider-specific status message.
                  type:
                    type: string
                    description: Provider-specific render or payload type.
                  title:
                    type: string
                    description: Provider-specific response title.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  costToken:
                    type: integer
                    description: Token cost reported by the upstream provider.
                  costTime:
                    type: integer
                    description: Execution time reported by the upstream provider.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                required:
                - taskId
                - status
                example:
                  taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status: PENDING
                  message: The task has been created. Use taskId to query the result.
                additionalProperties: true
              example:
                taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                status: PENDING
                message: The task has been created. Use taskId to query the result.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: fine-cutout-image-segmentation
      x-nexscope-mcp-tool-name: nexscope_fine_cutout_image_segmentation
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/image-upscale/run:
    post:
      tags:
      - Multimodal AI
      summary: Image Upscale API
      description: Increase image resolution and optionally enhance visual quality.
      operationId: runImageUpscale
      externalDocs:
        description: Image Upscale API documentation
        url: https://www.nexscope.ai/api-docs/image-upscale
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Increase image resolution and optionally enhance visual quality.
              properties:
                imageUrl:
                  type: string
                  description: Public URL of the image to upscale. Width and height must each be at most 4096 pixels.
                  example: https://example.com/product.jpg
                magnification:
                  type: number
                  description: Upscaling magnification factor from 1 to 4. Decimal values are supported.
                  example: 2
                enhanceQuality:
                  type: boolean
                  description: Whether to enhance image quality during upscaling.
                  example: true
              required:
              - imageUrl
              - magnification
              example:
                imageUrl: https://example.com/product.jpg
                magnification: 2
                enhanceQuality: true
              additionalProperties: true
            example:
              imageUrl: https://example.com/product.jpg
              magnification: 2
              enhanceQuality: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Creates a Nexscope asynchronous generation task. Use taskId with the task result endpoint to retrieve the completed output. The completed result replaces generated resource URLs with Nexscope-hosted URLs and replaces provider count with actual Nexscope credits charged.
                properties:
                  taskId:
                    type: string
                    description: Nexscope asynchronous task id used to query the generation result.
                    example: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status:
                    type: string
                    description: Task status. Initial run returns PENDING; the query endpoint may return PENDING, RUNNING, SUCCESS, FAILED, or TIMEOUT.
                    example: PENDING
                  message:
                    type: string
                    description: User-facing task state message.
                    example: The task has been created. Use taskId to query the result.
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  code:
                    type: string
                    description: Provider-specific status code.
                  msg:
                    type: string
                    description: Provider-specific status message.
                  type:
                    type: string
                    description: Provider-specific render or payload type.
                  title:
                    type: string
                    description: Provider-specific response title.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  costToken:
                    type: integer
                    description: Token cost reported by the upstream provider.
                  costTime:
                    type: integer
                    description: Execution time reported by the upstream provider.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                required:
                - taskId
                - status
                example:
                  taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status: PENDING
                  message: The task has been created. Use taskId to query the result.
                additionalProperties: true
              example:
                taskId: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                status: PENDING
                message: The task has been created. Use taskId to query the result.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: image-upscale
      x-nexscope-mcp-tool-name: nexscope_image_upscale
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/smart-image-outpainting/run:
    post:
      tags:
      - Multimodal AI
      summary: Smart Image Outpainting API
      description: Generate an expanded image around the original content using target width, height, and optional prompt.
      operationId: runSmartImageOutpainting
      externalDocs:
        description: Smart Image Outpainting API documentation
        url: https://www.nexscope.ai/api-docs/smart-image-outpainting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Generate an expanded image around the original content using target width, height, and optional prompt.
              properties:
                imageUrl:
                  type: string
                  description: Public URL of the image to expand. The image must be between 300 and 4096 pixels in both width and height, and its width-to-height ratio must be between 0.4 and 2.5.
                  example: https://example.com/product.jpg
                width:
                  type: integer
                  description: Target output width in pixels.
                  example: 1200
                height:
                  type: integer
                  description: Target output height in pixels.
                  example: 900
                prompt:
                  type: string
                  description: Optional prompt describing the extended scene.
                  example: extend the clean studio background
                outputNum:
                  type: integer
                  description: Number of images to generate, from 1 to 4. Defaults to 1.
                  example: 1
              required:
              - imageUrl
              - width
              - height
              example:
                imageUrl: https://example.com/product.jpg
                width: 1200
                height: 900
                prompt: extend the clean studio background
                outputNum: 1
              additionalProperties: true
            example:
              imageUrl: https://example.com/product.jpg
              width: 1200
              height: 900
              prompt: extend the clean studio background
              outputNum: 1
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Creates a Nexscope asynchronous generation task. Use taskId with the task result endpoint to retrieve the completed output. The completed result replaces generated resource URLs with Nexscope-hosted URLs and replaces provider count with actual Nexscope credits charged.
                properties:
                  taskId:
                    type: string
                    description: Nexscope asynchronous task id used to query the generation result.
                    example: 6b3f1c61-1b7d-4a59-8a7d-3b23e4b0c9e2
                  status:
                    type: string
                    description: Task status. Initial run returns PENDING; the query endpoint may return PENDING, RUNNING, SUCCESS, FAILED, or TIMEOUT.
                    example: PENDING
                  message:
                    type: string
                    description: User-facing task state message.
                    example: The task has been created. Use taskId to query the result.
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  code:
                    type: string
                    description: Provider-specific status code.
                  msg:
                    type: string
                    description: Provider-specific status message.
                  type:
                    type: string
                    description: Provider-specific render or payload type.
                  title:
                    type: string
                    description: Provider-specific response title.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  costToken:
                    type: integer
                    description: Token cost reported by the upstream provider.
                  costTime:
                    type: integer
                    description: Execution time reported by the upstream provider.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                required:
                - taskId
                - status
                example:
[...]
