openapi: 3.2.0
info:
  title: Nexscope Ecommerce Data and Creative Patent & IP Risk API
  version: 2026-08-28-public-catalog-v1
  description: Nexscope APIs provide ecommerce marketplace intelligence and creative generation capabilities through REST and MCP. Authentication uses a Nexscope API key. Pricing is credit-based and actual usage varies by endpoint and workload; current estimates are shown in the Nexscope account.
  termsOfService: https://www.nexscope.ai/terms
  contact:
    name: Nexscope Support
    email: service@nexscope.ai
    url: https://www.nexscope.ai/api-docs
  license:
    name: Proprietary API; use subject to Nexscope Terms
    url: https://www.nexscope.ai/terms
servers:
- url: https://api.nexscope.ai
  description: Production
security:
- bearerAuth: []
tags:
- name: Patent & IP Risk
  description: Patent, trademark, copyright and IP risk APIs.
  x-category-slug: patent-ip-risk
paths:
  /api/skill-api/v1/skills/patent-abstract-image-data/run:
    post:
      tags:
      - Patent & IP Risk
      summary: Patent Abstract Image Data
      description: Retrieves patent abstract images (drawings) from the Zhihuiya (PatSnap) patent database by patent ID or publication number.
      operationId: runPatentAbstractImageData
      externalDocs:
        description: Patent Abstract Image Data documentation
        url: https://www.nexscope.ai/api-docs/patent-abstract-image-data
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request parameters documented by ecommerce.patent-abstract-image-data.
              properties:
                patentId:
                  type: string
                  description: Patent ID. At least one of patentId and patentNumber must be provided. If both are present, patentId takes precedence. Only a single value is supported; multiple values separated by commas are not allowed. Max length 60000 characters.
                patentNumber:
                  type: string
                  description: Publication/announcement number. At least one of patentId and patentNumber must be provided. If both are present, patentId takes precedence. Only a single value is supported; multiple values separated by commas are not allowed. Max length 60000 characters.
                  example: US11299876B2
              example:
                patentNumber: US11299876B2
              additionalProperties: true
            example:
              patentNumber: US11299876B2
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Returns the documented upstream API response directly without an additional wrapper.
                properties:
                  total:
                    type: integer
                    description: Record count
                    example: 1
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        patentId:
                          type: string
                          description: Patent ID
                          example: example-id
                        pn:
                          type: string
                          description: Publication (announcement) number
                        abstractDrawingPath:
                          type: string
                          description: Abstract image download path
                      additionalProperties: true
                    description: List of patent abstract image results
                    example: []
                  columns:
                    type: array
                    items: {}
                    description: Rendered column definitions
                    example: []
                  costToken:
                    type: integer
                    description: Tokens consumed
                    example: 1
                  type:
                    type: string
                    description: Rendered style
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  code:
                    type: string
                    description: Provider-specific status code.
                  msg:
                    type: string
                    description: Provider-specific status message.
                  message:
                    type: string
                    description: Provider-specific message.
                  title:
                    type: string
                    description: Provider-specific response title.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  costTime:
                    type: integer
                    description: Execution time reported by the upstream provider.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                example:
                  total: 1
                  data:
                  - patentId: example-id
                  columns: []
                  costToken: 1
                additionalProperties: true
              example:
                total: 1
                data:
                - patentId: example-id
                columns: []
                costToken: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: patent-abstract-image-data
      x-nexscope-mcp-tool-name: nexscope_patent_abstract_image_data
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/patent-claims/run:
    post:
      tags:
      - Patent & IP Risk
      summary: Patent Claims
      description: Retrieves patent claims data from Zhihuiya (PatSnap).
      operationId: runPatentClaims
      externalDocs:
        description: Patent Claims documentation
        url: https://www.nexscope.ai/api-docs/patent-claims
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request parameters documented by ecommerce.patent-claims.
              properties:
                patentId:
                  type: string
                  description: PatSnap internal patent ID. Only a single value is supported; multiple values separated by commas are not allowed. Max length 60000 characters
                patentNumber:
                  type: string
                  description: Publication/announcement number. Only a single value is supported; multiple values separated by commas are not allowed. Max length 60000 characters
                  example: US11299876B2
                replaceByRelated:
                  type: string
                  description: 'Whether to substitute with a family patent''s claims when the current patent''s claims are unavailable: 1 yes, 0 no. Max length 1000 characters'
              example:
                patentNumber: US11299876B2
              additionalProperties: true
            example:
              patentNumber: US11299876B2
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Returns the documented upstream API response directly without an additional wrapper.
                properties:
                  total:
                    type: integer
                    description: Record count
                    example: 1
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        patentId:
                          type: string
                          description: Patent ID
                          example: example-id
                        pn:
                          type: string
                          description: Publication (announcement) number
                        pnRelated:
                          type: string
                          description: Publication number of the substitute patent (only provided when a family patent substitute is used)
                        claims:
                          type: array
                          items: {}
                          description: Claims array, containing claim text and metadata
                          example: []
                        claimCount:
                          type: integer
                          description: Number of claims
                          example: 1
                      additionalProperties: true
                    description: Patent list (see below)
                    example: []
                  columns:
                    type: array
                    items: {}
                    description: Rendered column definitions
                    example: []
                  costToken:
                    type: integer
                    description: Tokens consumed
                    example: 1
                  type:
                    type: string
                    description: Rendered style
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  code:
                    type: string
                    description: Provider-specific status code.
                  msg:
                    type: string
                    description: Provider-specific status message.
                  message:
                    type: string
                    description: Provider-specific message.
                  title:
                    type: string
                    description: Provider-specific response title.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  costTime:
                    type: integer
                    description: Execution time reported by the upstream provider.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                example:
                  total: 1
                  data:
                  - patentId: example-id
                    claims: []
                    claimCount: 1
                  columns: []
                  costToken: 1
                additionalProperties: true
              example:
                total: 1
                data:
                - patentId: example-id
                  claims: []
                  claimCount: 1
                columns: []
                costToken: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: patent-claims
      x-nexscope-mcp-tool-name: nexscope_patent_claims
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/patent-cited-by/run:
    post:
      tags:
      - Patent & IP Risk
      summary: Patent Cited By
      description: Returns cited-by counts and citing patent records for up to 100 patents.
      operationId: runPatentCitedBy
      externalDocs:
        description: Patent Cited By documentation
        url: https://www.nexscope.ai/api-docs/patent-cited-by
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Provide patentId or patentNumber. A request may contain at most 100 comma-separated patents.
              properties:
                patentId:
                  type: string
                  description: One or up to 100 comma-separated PatSnap patent IDs. Takes precedence when both identifiers are provided.
                  example: patent-id
                patentNumber:
                  type: string
                  description: One or up to 100 comma-separated publication or grant numbers.
                  example: US10123456B2
              example:
                patentNumber: US10123456B2
              additionalProperties: true
            example:
              patentNumber: US10123456B2
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Returns the PatSnap cited-by payload directly.
                properties:
                  total:
                    type: integer
                    description: Number of returned patent records.
                    example: 1
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        patentId:
                          type: string
                          description: Queried patent ID.
                          example: patent-id
                        pn:
                          type: string
                          description: Queried publication number.
                          example: US10123456B2
                        citedBy3y:
                          type: integer
                          description: Citations received within three years.
                          example: 1
                        citedBy5y:
                          type: integer
                          description: Citations received within five years.
                          example: 1
                        citedByPatents:
                          type: array
                          items: {}
                          description: Patents that cite the queried patent.
                          example: []
                      additionalProperties: true
                    description: Cited-by results.
                    example: []
                  columns:
                    type: array
                    items: {}
                    description: Provider rendering columns.
                    example: []
                  costToken:
                    type: integer
                    description: Provider-reported token cost.
                    example: 6000
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  code:
                    type: string
                    description: Provider-specific status code.
                  msg:
                    type: string
                    description: Provider-specific status message.
                  message:
                    type: string
                    description: Provider-specific message.
                  type:
                    type: string
                    description: Provider-specific render or payload type.
                  title:
                    type: string
                    description: Provider-specific response title.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  costTime:
                    type: integer
                    description: Execution time reported by the upstream provider.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                example:
                  total: 1
                  data:
                  - patentId: patent-id
                    pn: US10123456B2
                    citedBy3y: 1
                    citedBy5y: 1
                    citedByPatents: []
                  columns: []
                  costToken: 6000
                additionalProperties: true
              example:
                total: 1
                data:
                - patentId: patent-id
                  pn: US10123456B2
                  citedBy3y: 1
                  citedBy5y: 1
                  citedByPatents: []
                columns: []
                costToken: 6000
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: patent-cited-by
      x-nexscope-mcp-tool-name: nexscope_patent_cited_by
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/patent-claims-translation/run:
    post:
      tags:
      - Patent & IP Risk
      summary: Patent Claims Translation
      description: Retrieves translated patent claims from the Zhihuiya (PatSnap) patent database.
      operationId: runPatentClaimsTranslation
      externalDocs:
        description: Patent Claims Translation documentation
        url: https://www.nexscope.ai/api-docs/patent-claims-translation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request parameters documented by ecommerce.patent-claims-translation.
              properties:
                patentId:
                  type: string
                  description: 'Patent ID. Only a single value is supported; multiple values separated by commas are not allowed. When both patentNumber and this are present, the patent ID takes precedence. Max length: 60000 characters'
                patentNumber:
                  type: string
                  description: 'Publication (announcement) number. Only a single value is supported; multiple values separated by commas are not allowed. Max length: 60000 characters'
                  example: CN115000000A
                lang:
                  type: string
                  description: 'Translation language. Supports en (English, default), cn (Chinese), jp (Japanese). Max length: 1000 characters'
                  example: en
                replaceByRelated:
                  type: integer
                  description: 'Whether to substitute with a family patent when claims are unavailable: 1 yes, 0 no (default)'
                  example: 1
              example:
                patentNumber: CN115000000A
                lang: en
                replaceByRelated: 1
              additionalProperties: true
            example:
              patentNumber: CN115000000A
              lang: en
              replaceByRelated: 1
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Returns the documented upstream API response directly without an additional wrapper.
                properties:
                  total:
                    type: integer
                    description: Record count
                    example: 1
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        patentId:
                          type: string
                          description: Patent ID
                          example: example-id
                        pn:
                          type: string
                          description: Publication (announcement) number
                        pnRelated:
                          type: string
                          description: Publication number of the substitute patent (only provided when a family patent substitute is used)
                        claims:
                          type: string
                          description: Claims translation text
                      additionalProperties: true
                    description: Patent list (see below)
                    example: []
                  columns:
                    type: array
                    items: {}
                    description: Rendered column definitions
                    example: []
                  costToken:
                    type: integer
                    description: Tokens consumed
                    example: 1
                  type:
                    type: string
                    description: Rendered style
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  code:
                    type: string
                    description: Provider-specific status code.
                  msg:
                    type: string
                    description: Provider-specific status message.
                  message:
                    type: string
                    description: Provider-specific message.
                  title:
                    type: string
                    description: Provider-specific response title.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  costTime:
                    type: integer
                    description: Execution time reported by the upstream provider.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                example:
                  total: 1
                  data:
                  - patentId: example-id
                  columns: []
                  costToken: 1
                additionalProperties: true
              example:
                total: 1
                data:
                - patentId: example-id
                columns: []
                costToken: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: patent-claims-translation
      x-nexscope-mcp-tool-name: nexscope_patent_claims_translation
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/patent-description-data/run:
    post:
      tags:
      - Patent & IP Risk
      summary: Patent Description Data
      description: Retrieve patent description (specification) data from the Zhihuiya patent database by patent ID or publication number. Triggered when users mention patent specification, patent full text, patent technical description, patent embodiment details, Zhihuiya specification data, patent specification, patent full text, technical description, embodiment details, PatSnap, or patent detailed description. Even if the user does not explicitly say "Zhihuiya," this skill should be triggered whenever they need to view the complete specification/description content of one or more patents.
      operationId: runPatentDescriptionData
      externalDocs:
        description: Patent Description Data documentation
        url: https://www.nexscope.ai/api-docs/patent-description-data
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request parameters documented by ecommerce.patent-description-data.
              properties:
                patentId:
                  type: string
                  description: 'Patent ID (at least one of patentId and patentNumber must be provided; if both are present, patentId takes priority). Only a single value is supported; multiple values separated by commas are not allowed. Max length: 60000 characters.'
                patentNumber:
                  type: string
                  description: 'Publication/grant number (at least one of patentId and patentNumber must be provided; if both are present, patentId takes priority). Only a single value is supported; multiple values separated by commas are not allowed. Max length: 60000 characters.'
                  example: US11299876B2
                replaceByRelated:
                  type: string
                  description: 'Whether to substitute with a family patent''s description when the current patent''s description is unavailable: 1 Yes, 0 No. Max length: 1000 characters.'
              example:
                patentNumber: US11299876B2
              additionalProperties: true
            example:
              patentNumber: US11299876B2
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Returns the documented upstream API response directly without an additional wrapper.
                properties:
                  total:
                    type: integer
                    description: Number of patent records returned
                    example: 1
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        patentId:
                          type: string
                          description: Patent ID
                          example: example-id
                        pn:
                          type: string
                          description: Publication (grant) number
                        pnRelated:
                          type: string
                          description: Publication number of the substitute patent (only provided when family patent substitution is used)
                        description:
                          type: array
                          items: {}
                          description: Description content sections
                          example: []
                      additionalProperties: true
                    description: Patent list, each element contains description data
                    example: []
                  columns:
                    type: array
                    items: {}
                    description: Column definitions for rendering
                    example: []
                  costToken:
                    type: integer
                    description: Tokens consumed
                    example: 1
                  type:
                    type: string
                    description: Render style
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  code:
                    type: string
                    description: Provider-specific status code.
                  msg:
                    type: string
                    description: Provider-specific status message.
                  message:
                    type: string
                    description: Provider-specific message.
                  title:
                    type: string
                    description: Provider-specific response title.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  costTime:
                    type: integer
                    description: Execution time reported by the upstream provider.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                example:
                  total: 1
                  data:
                  - patentId: example-id
                    description: []
                  columns: []
                  costToken: 1
                additionalProperties: true
              example:
                total: 1
                data:
                - patentId: example-id
                  description: []
                columns: []
                costToken: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: patent-description-data
      x-nexscope-mcp-tool-name: nexscope_patent_description_data
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/patent-core-bibliography/run:
    post:
      tags:
      - Patent & IP Risk
      summary: Patent Core Bibliography
      description: Returns titles, abstracts, identifiers, dates, applicants, inventors, assignees, and classifications.
      operationId: runPatentCoreBibliography
      externalDocs:
        description: Patent Core Bibliography documentation
        url: https://www.nexscope.ai/api-docs/patent-core-bibliography
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Provide patentId or patentNumber. A request may contain at most 100 comma-separated patents.
              properties:
                patentId:
                  type: string
                  description: One or up to 100 comma-separated PatSnap patent IDs. Takes precedence when both identifiers are provided.
                  example: patent-id
                patentNumber:
                  type: string
                  description: One or up to 100 comma-separated publication or grant numbers.
                  example: US10123456B2
              example:
                patentNumber: US10123456B2
              additionalProperties: true
            example:
              patentNumber: US10123456B2
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Returns the PatSnap bibliography payload directly.
                properties:
                  total:
                    type: integer
                    description: Number of returned records.
                    example: 1
                  allRecordsCount:
                    type: integer
                    description: Total matching record count.
                    example: 1
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        patentId:
                          type: string
                          description: Patent ID.
                          example: patent-id
                        title:
                          type: string
                          description: Patent title.
                          example: Wireless speaker system
                        abstractContent:
                          type: string
                          description: Patent abstract.
                          example: A wireless speaker system...
                        publicationNumber:
                          type: string
                          description: Publication number.
                          example: US10123456B2
                        applicationNo:
                          type: string
                          description: Application number.
                          example: US15/123456
                        applicants:
                          type: array
                          items: {}
                          description: Applicants.
                          example: []
                        inventors:
                          type: array
                          items: {}
                          description: Inventors.
                          example: []
                        assignees:
                          type: array
                          items: {}
                          description: Assignees.
                          example: []
                        ipcFurther:
                          type: array
                          items: {}
                          description: IPC classifications.
                          example: []
                      additionalProperties: true
                    description: Bibliographic patent records.
                    example: []
                  columns:
                    type: array
                    items: {}
                    description: Provider rendering columns.
                    example: []
                  costToken:
                    type: integer
                    description: Provider-reported token cost.
                    example: 6000
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  code:
                    type: string
                    description: Provider-specific status code.
                  msg:
                    type: string
                    description: Provider-specific status message.
                  message:
                    type: string
                    description: Provider-specific message.
                  type:
                    type: string
                    description: Provider-specific render or payload type.
                  title:
                    type: string
                    description: Provider-specific response title.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  costTime:
                    type: integer
                    description: Execution time reported by the upstream provider.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                example:
                  total: 1
                  allRecordsCount: 1
                  data:
                  - patentId: patent-id
                    title: Wireless speaker system
                    abstractContent: A wireless speaker system...
                    publicationNumber: US10123456B2
                    applicationNo: US15/123456
                    applicants: []
                    inventors: []
                    assignees: []
                    ipcFurther: []
                  columns: []
                  costToken: 6000
                additionalProperties: true
              example:
                total: 1
                allRecordsCount: 1
                data:
                - patentId: patent-id
                  title: Wireless speaker system
                  abstractContent: A wireless speaker system...
                  publicationNumber: US10123456B2
                  applicationNo: US15/123456
                  applicants: []
                  inventors: []
                  assignees: []
                  ipcFurther: []
                columns: []
                costToken: 6000
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: patent-core-bibliography
      x-nexscope-mcp-tool-name: nexscope_patent_core_bibliography
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/patent-description-data-translation/run:
    post:
      tags:
      - Patent & IP Risk
      summary: Patent Description Data Translation
      description: Retrieve translated patent description (specification) text from Zhihuiya. Triggered when users request patent specification translation, patent full text in other languages, translated patent full text, or want to view patent specifications in Chinese, English, or Japanese, patent specification translation, patent description translation, PatSnap, or patent translation. Also triggered when users provide a patent ID or publication number and request specification/description content in another language, or mention "patent specification translation," "description translation," "translated full text," or similar intent.
      operationId: runPatentDescriptionDataTranslation
      externalDocs:
        description: Patent Description Data Translation documentation
        url: https://www.nexscope.ai/api-docs/patent-description-data-translation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request parameters documented by ecommerce.patent-description-data-translation.
              properties:
                patentId:
                  type: string
                  description: 'Patent ID. At least one of patentId and patentNumber must be provided; if both are present, patentId takes priority. Only a single value is supported; multiple values separated by commas are not allowed. Max length: 60000 characters'
                patentNumber:
                  type: string
                  description: 'Publication (grant) number. At least one of patentId and patentNumber must be provided; if both are present, patentId takes priority. Only a single value is supported; multiple values separated by commas are not allowed. Max length: 60000 characters'
                  example: CN115000000A
                lang:
                  type: string
                  description: 'Translation language, supports en (English, default), cn (Chinese), jp (Japanese). Max length: 1000 characters'
                  example: en
                replaceByRelated:
                  type: integer
                  description: 'Whether to substitute with a family patent''s description when the description is unavailable: 1 Yes, 0 No (default 0)'
                  example: 1
              example:
                patentNumber: CN115000000A
                lang: en
                replaceByRelated: 1
              additionalProperties: true
            example:
              patentNumber: CN115000000A
              lang: en
              replaceByRelated: 1
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Returns the documented upstream API response directly without an additional wrapper.
                properties:
                  total:
                    type: integer
                    description: Number of records
                    example: 1
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        patentId:
                          type: string
                          description: Patent ID
                          example: example-id
                        pn:
                          type: string
                          description: Publication (grant) number
                        description:
                          type: string
                          description: Translated description text
                        pnRelated:
                          type: string
                          description: Publication number of the substitute patent (only provided when family patent substitution is used)
                      additionalProperties: true
                    description: Patent list (see below)
                    example: []
                  columns:
                    type: array
                    items: {}
                    description: Column definitions for rendering
                    example: []
                  costToken:
                    type: integer
                    description: Tokens consumed
                    example: 1
                  type:
                    type: string
                    description: Render style
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  code:
                    type: string
                    description: Provider-specific status code.
                  msg:
                    type: string
                    description: Provider-specific status message.
                  message:
                    type: string
                    description: Provider-specific message.
                  title:
                    type: string
                    description: Provider-specific response title.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  costTime:
                    type: integer
                    description: Execution time reported by the upstream provider.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                example:
                  total: 1
                  data:
                  - patentId: example-id
                  columns: []
                  costToken: 1
                additionalProperties: true
              example:
                total: 1
                data:
                - patentId: example-id
                columns: []
                costToken: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: patent-description-data-translation
      x-nexscope-mcp-tool-name: nexscope_patent_description_data_translation
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/patent-detailed-bibliography/run:
    post:
      tags:
      - Patent & IP Risk
      summary: Patent Detailed Bibliography
      description: Query patent bibliographic (catalog) information from the Zhihuiya patent database by patent ID or publication number. Triggered when users mention patent bibliographic info queries, patent catalog information, patent applicant queries, patent inventor queries, patent classification codes, patent abstract retrieval, patent citation analysis, patent priority claims, patent application citations, patent examiner information, patent bibliographic data, inventor lookup, applicant lookup, patent classification, patent metadata, PatSnap, or patent citations. Even if the user does not explicitly mention "bibliographic info," this skill should be triggered whenever their need involves querying detailed metadata for a specific patent by patent ID or publication number.
      operationId: runPatentDetailedBibliography
      externalDocs:
        description: Patent Detailed Bibliography documentation
        url: https://www.nexscope.ai/api-docs/patent-detailed-bibliography
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request parameters documented by ecommerce.patent-detailed-bibliography.
              properties:
                patentId:
                  type: string
                  description: 'Patent ID (at least one of patentId and patentNumber must be provided; if both are present, patentId takes priority). Only a single value is supported; multiple values separated by commas are not allowed. Max length: 60,000 characters'
                patentNumber:
                  type: string
                  description: 'Publication/grant number (at least one of patentId and patentNumber must be provided; if both are present, patentId takes priority). Only a single value is supported; multiple values separated by commas are not allowed. Max length: 60,000 characters'
                  example: US11299876B2
              example:
                patentNumber: US11299876B2
              additionalProperties: true
            example:
              patentNumber: US11299876B2
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Returns the documented upstream API response directly without an additional wrapper.
                properties:
                  total:
                    type: integer
                    description: Number of records
                    example: 1
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        patentId:
                          type: string
                          description: Patent ID
                          example: example-id
                        pn:
                          type: string
                          description: Publication/grant number
                        inventionTitle:
                          type: array
                          items: {}
                          description: Patent title language and name
                          example: []
                        abstracts:
                          type: array
                          items: {}
                          description: Patent abstract
                          example: []
                        patentType:
                          type: string
                          description: 'Patent type. APPLICATION: invention application, PATENT: granted invention, UTILITY: utility model, DESIGN: design'
                        applicants:
                          type: array
                          items: {}
                          description: Original applicants
                          example: []
                        assignees:
                          type: array
                          items: {}
                          description: Current applicants (patentees)
                          example: []
                        inventors:
                          type: array
                          items: {}
                          description: Inventors
                          example: []
                        agents:
                          type: array
                          items: {}
                          description: Patent applicants
                          example: []
                        agency:
                          type: array
                          items: {}
                          description: Application agency
                          example: []
                        examiners:
                          type: array
                          items: {}
                          description: Examiner information
                          example: []
                        priorityClaims:
                          type: array
                          items: {}
                          description: Priority claims
                          example: []
                        applicationReference:
                          type: object
                          description: Application filing reference data
                          example: {}
                          properties: {}
                          additionalProperties: true
                        publicationReference:
                          type: object
                          description: Publication reference data
                          example: {}
                          properties: {}
                          additionalProperties: true
                        datesOfPublicAvailability:
                          type: object
                          description: Public availability dates
                          example: {}
                          properties: {}
                          additionalProperties: true
                        classificationIpcr:
                          type: object
                          description: IPC classification
                          example: {}
                          properties: {}
                          additionalProperties: true
                        classificationCpc:
                          type: object
                          description: CPC classification
                          example: {}
                          properties: {}
                          additionalProperties: true
                        classificationUpc:
                          type: object
                          description: US patent classification
                          example: {}
                          properties: {}
                          additionalProperties: true
                        classificationLoc:
                          type: array
                          items: {}
                          description: LOC classification
                          example: []
                        classificationFi:
                          type: array
                          items: {}
                          description: FI classification
                          example: []
                        classificationFterm:
                          type: array
                          items: {}
                          description: F-term classification
                          example: []
                        classificationGbc:
                          type: object
                          description: GBC classification
                          example: {}
                          properties: {}
                          additionalProperties: true
                        referenceCitedPatents:
                          type: array
                          items: {}
                          description: Cited patent documents
                          example: []
                        referenceCitedOthers:
                          type: array
                          items: {}
                          description: Cited non-patent literature
                          example: []
                        relatedDocuments:
                          type: array
                          items: {}
                          description: Divisional/continuation application information
                          example: []
                        pctOrRegionalFilingData:
                          type: object
                          description: PCT or regional phase filing data
                          example: {}
                          properties: {}
                          additionalProperties: true
                        pctOrRegionalPublishingData:
                          type: object
                          description: PCT or regional phase publication data
                          example: {}
                          properties: {}
                          additionalProperties: true
                        exdt:
                          type: integer
                          description: Zhihuiya estimated patent expiration date
                          example: 1
                      additionalProperties: true
                    description: Bibliography data list (see data fields below)
                    example: []
                  columns:
                    type: array
                    items: {}
                    description: Columns for rendering
                    example: []
                  type:
                    type: string
                    description: Render style
                  costToken:
                    type: integer
                    description: Tokens consumed
                    example: 1
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  code:
                    type: string
                    description: Provider-specific status code.
                  msg:
                    type: string
                    description: Provider-specific status message.
                  message:
                    type: string
                    description: Provider-specific message.
                  title:
                    type: string
                    description: Provider-specific response title.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  costTime:
                    type: integer
                    description: Execution time reported by the upstream provider.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                example:
                  total: 1
                  data:
                  - patentId: example-id
                    inventionTitle: []
                    abstracts: []
                    applicants: []
                    assignees: []
                    inventors: []
                    agents: []
                    agency: []
                    examiners: []
                    priorityClaims: []
                    applicationReference: {}
                    publicationReference: {}
                    datesOfPublicAvailability: {}
                    classificationIpcr: {}
                    classificationCpc: {}
                    classificationUpc: {}
                    classificationLoc: []
                    classificationFi: []
                    classificationFterm: []
                    classificationGbc: {}
                    referenceCitedPatents: []
                    referenceCitedOthers: []
                    relatedDocuments: []
                    pctOrRegionalFilingData: {}
                    pctOrRegionalPublishingData: {}
                    exdt: 1
                  columns: []
                  costToken: 1
                additionalProperties: true
              example:
                total: 1
                data:
                - patentId: example-id
                  inventionTitle: []
                  abstracts: []
                  applicants: []
                  assignees: []
                  inventors: []
                  agents: []
                  agency: []
                  examiners: []
                  priorityClaims: []
                  applicationReference: {}
                  publicationReference: {}
                  datesOfPublicAvailability: {}
                  classificationIpcr: {}
                  classificationCpc: {}
                  classificationUpc: {}
                  classificationLoc: []
                  classificationFi: []
                  classificationFterm: []
                  classificationGbc: {}
                  referenceCitedPatents: []
                  referenceCitedOthers: []
                  relatedDocuments: []
                  pctOrRegionalFilingData: {}
                  pctOrRegionalPublishingData: {}
                  exdt: 1
                columns: []
                costToken: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: patent-detailed-bibliography
      x-nexscope-mcp-tool-name: nexscope_patent_detailed_bibliography
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/patent-family-data/run:
    post:
      tags:
      - Patent & IP Risk
      summary: Patent Family Data
      description: Returns patent family identifiers and members for up to 100 patents.
      operationId: runPatentFamilyData
      externalDocs:
        description: Patent Family Data documentation
        url: https://www.nexscope.ai/api-docs/patent-family-data
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Provide patentId or patentNumber. A request may contain at most 100 comma-separated patents.
              properties:
                patentId:
                  type: string
                  description: One or up to 100 comma-separated PatSnap patent IDs. Takes precedence when both identifiers are provided.
                  example: patent-id
                patentNumber:
                  type: string
                  description: One or up to 100 comma-separated publication or grant numbers.
                  example: US10123456B2
              example:
                patentNumber: US10123456B2
              additionalProperties: true
            example:
              patentNumber: US10123456B2
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Returns the PatSnap patent-family payload directly.
                properties:
                  total:
                    type: integer
                    description: Number of returned records.
                    example: 1
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        patentId:
                          type: string
                          description: Queried patent ID.
                          example: patent-id
                        pn:
                          type: string
                          description: Publication number.
                          example: US10123456B2
                        simpleFamilyId:
                          type: integer
                          description: Simple family identifier.
                          example: 1
                        simpleFamily:
                          type: array
                          items: {}
                          description: Simple family members.
                          example: []
                        inpadocFamilyId:
                          type: integer
                          description: INPADOC family identifier.
                          example: 1
                        inpadocFamily:
                          type: array
                          items: {}
                          description: INPADOC family members.
                          example: []
                        patsnapFamilyId:
                          type: integer
                          description: PatSnap family identifier.
                          example: 1
                        patsnapFamily:
                          type: array
                          items: {}
                          description: PatSnap family members.
                          example: []
                      additionalProperties: true
                    description: Patent family records.
                    example: []
                  columns:
                    type: array
                    items: {}
                    description: Provider rendering columns.
                    example: []
                  costToken:
                    type: integer
                    description: Provider-reported token cost.
                    example: 6000
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  code:
                    type: string
                    description: Provider-specific status code.
                  msg:
                    type: string
                    description: Provider-specific status message.
                  message:
                    type: string
                    description: Provider-specific message.
                  type:
                    type: string
                    description: Provider-specific render or payload type.
                  title:
                    type: string
                    description: Provider-specific response title.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  costTime:
                    type: integer
                    description: Execution time reported by the upstream provider.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                example:
                  total: 1
                  data:
                  - patentId: patent-id
                    pn: US10123456B2
                    simpleFamilyId: 1
                    simpleFamily: []
                    inpadocFamilyId: 1
                    inpadocFamily: []
                    patsnapFamilyId: 1
                    patsnapFamily: []
                  columns: []
                  costToken: 6000
                additionalProperties: true
              example:
                total: 1
                data:
                - patentId: patent-id
                  pn: US10123456B2
                  simpleFamilyId: 1
                  simpleFamily: []
                  inpadocFamilyId: 1
                  inpadocFamily: []
                  patsnapFamilyId: 1
                  patsnapFamily: []
                columns: []
                costToken: 6000
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: patent-family-data
      x-nexscope-mcp-tool-name: nexscope_patent_family_data
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/patent-fulltext-images/run:
    post:
      tags:
      - Patent & IP Risk
      summary: Patent Fulltext Images
      description: Retrieve fulltext images (drawings, diagrams, charts) from patent documents by patent ID or publication number. Triggered when users ask about patent images, patent drawings, patent diagrams, patent illustrations, fulltext drawings, patent charts, patent technical drawings, or want to view/download embedded images in patent documents, patent fulltext drawings, patent diagrams, technical drawings, patent images, or PatSnap. Even if the user does not explicitly mention "fulltext drawings," this skill should be triggered whenever their need involves obtaining visual content (drawings, diagrams, charts) from specific patents.
      operationId: runPatentFulltextImages
      externalDocs:
        description: Patent Fulltext Images documentation
        url: https://www.nexscope.ai/api-docs/patent-fulltext-images
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request parameters documented by ecommerce.patent-fulltext-images.
              properties:
                patentId:
                  type: string
                  description: Patent ID
                patentNumber:
                  type: string
                  description: Publication (grant) number
                  example: US11299876B2
                limit:
                  type: string
                  description: Total number of images to return, max 100, default "100"
                  example: '10'
                offset:
                  type: string
                  description: Offset
                  example: '0'
              example:
                patentNumber: US11299876B2
                limit: '10'
                offset: '0'
              additionalProperties: true
            example:
              patentNumber: US11299876B2
              limit: '10'
              offset: '0'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Returns the documented upstream API response directly without an additional wrapper.
                properties:
                  total:
                    type: integer
                    description: Number of records
                    example: 1
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        patentId:
                          type: string
                          description: Patent ID
                          example: example-id
                        pn:
                          type: string
                          description: Publication (grant) number
                        fulltextImagePath:
                          type: string
                          description: Image path
                          example: https://example.com/image.jpg
                        imageType:
                          type: string
                          description: Image type
                          example: https://example.com/image.jpg
                      additionalProperties: true
                    description: Patent list
                    example: []
                  columns:
                    type: array
                    items: {}
                    description: Columns for rendering
                    example: []
                  costToken:
                    type: integer
                    description: Tokens consumed
                    example: 1
                  type:
                    type: string
                    description: Render style
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  code:
                    type: string
                    description: Provider-specific status code.
                  msg:
                    type: string
                    description: Provider-specific status message.
                  message:
                    type: string
                    description: Provider-specific message.
                  title:
                    type: string
                    description: Provider-specific response title.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  costTime:
                    type: integer
                    description: Execution time reported by the upstream provider.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                example:
                  total: 1
                  data:
                  - patentId: example-id
                    fulltextImagePath: https://example.com/image.jpg
                    imageType: https://example.com/image.jpg
                  columns: []
                  costToken: 1
                additionalProperties: true
              example:
                total: 1
                data:
                - patentId: example-id
                  fulltextImagePath: https://example.com/image.jpg
                  imageType: https://example.com/image.jpg
                columns: []
                costToken: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: patent-fulltext-images
      x-nexscope-mcp-tool-name: nexscope_patent_fulltext_images
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/patent-legal-status-data/run:
    post:
      tags:
      - Patent & IP Risk
      summary: Patent Legal Status Data
      description: Query patent legal status information from the Zhihuiya (PatSnap) database. Triggered when users mention patent legal status, patent validity check, patent status query, patent event history, simple legal status, legal events such as transfer, license, pledge, opposition, litigation, re-examination, patent legal status, patent validity, patent events, transfer/license/pledge, PatSnap, or patent status lookup. Also triggered when users ask whether a patent is active, inactive, pending, expired, granted, withdrawn, or revoked, or want to look up legal status by patent ID or publication number.
      operationId: runPatentLegalStatusData
      externalDocs:
        description: Patent Legal Status Data documentation
        url: https://www.nexscope.ai/api-docs/patent-legal-status-data
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request parameters documented by ecommerce.patent-legal-status-data.
              properties:
                patentId:
                  type: string
                  description: 'Patent ID. At least one of patentId and patentNumber must be provided; if both are present, patentId takes priority. Only a single value is supported; multiple values separated by commas are not allowed. Max length: 60000 characters.'
                patentNumber:
                  type: string
                  description: 'Publication (grant) number. At least one of patentId and patentNumber must be provided; if both are present, patentId takes priority. Only a single value is supported; multiple values separated by commas are not allowed. Max length: 60000 characters.'
                  example: US11299876B2
              example:
                patentNumber: US11299876B2
              additionalProperties: true
            example:
              patentNumber: US11299876B2
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Returns the documented upstream API response directly without an additional wrapper.
                properties:
                  total:
                    type: integer
                    description: Number of records
                    example: 1
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        patentId:
                          type: string
                          description: Patent ID
                          example: example-id
                        pn:
                          type: string
                          description: Publication (grant) number
                        simpleLegalStatus:
                          type: array
                          items: {}
                          description: 'Simple legal status. Options: Inactive, Active, Pending, Undetermined, PCT designated period, PCT designated expiration'
                          example: []
                        legalStatus:
                          type: array
                          items: {}
                          description: 'Legal status. Options: Published, Examining, Granted, Double, Abandoned-Undetermined, Abandoned-Voluntarily, Abandoned-Deemed, Withdrawn-Undetermined, Withdrawn-Voluntarily, Withdrawn-Deemed, Rejected, Revoked, Expired, Non-Payment, Restoration, Ceased, P-Revoked, Discontinuation, PCT published, PCT entering(designated period), PCT entering(designated expiration), PCT unentered'
                          example: []
                        eventStatus:
                          type: array
                          items: {}
                          description: 'Legal events. Options: Transfer, License, Pledge, Trust, Opposition, Re-examination, Customs, Litigation, Preservation, Invalid-procedure, Oral-procedure, Declassification, Double application'
                          example: []
                        legalDate:
                          type: integer
                          description: Legal status update date (timestamp)
                          example: 1
                      additionalProperties: true
                    description: Patent legal status list
                    example: []
                  columns:
                    type: array
                    items: {}
                    description: Column definitions for rendering
                    example: []
                  costToken:
                    type: integer
                    description: Tokens consumed
                    example: 1
                  type:
                    type: string
                    description: Render style
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  code:
                    type: string
                    description: Provider-specific status code.
                  msg:
                    type: string
                    description: Provider-specific status message.
                  message:
                    type: string
                    description: Provider-specific message.
                  title:
                    type: string
                    description: Provider-specific response title.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  costTime:
                    type: integer
                    description: Execution time reported by the upstream provider.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                example:
                  total: 1
                  data:
                  - patentId: example-id
                    simpleLegalStatus: []
                    legalStatus: []
                    eventStatus: []
                    legalDate: 1
                  columns: []
                  costToken: 1
                additionalProperties: true
              example:
                total: 1
                data:
                - patentId: example-id
                  simpleLegalStatus: []
                  legalStatus: []
                  eventStatus: []
                  legalDate: 1
                columns: []
                costToken: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: patent-legal-status-data
      x-nexscope-mcp-tool-name: nexscope_patent_legal_status_data
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/patent-references/run:
    post:
      tags:
      - Patent & IP Risk
      summary: Patent References
      description: Returns forward citation details for up to 100 patents.
      operationId: runPatentReferences
      externalDocs:
        description: Patent References documentation
        url: https://www.nexscope.ai/api-docs/patent-references
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Provide patentId or patentNumber. A request may contain at most 100 comma-separated patents.
              properties:
                patentId:
                  type: string
                  description: One or up to 100 comma-separated PatSnap patent IDs. Takes precedence when both identifiers are provided.
                  example: patent-id
                patentNumber:
                  type: string
                  description: One or up to 100 comma-separated publication or grant numbers.
                  example: US10123456B2
              example:
                patentNumber: US10123456B2
              additionalProperties: true
            example:
              patentNumber: US10123456B2
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Returns the PatSnap citation payload directly.
                properties:
                  total:
                    type: integer
                    description: Number of returned records.
                    example: 1
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        patentId:
                          type: string
                          description: Queried patent ID.
                          example: patent-id
                        pn:
                          type: string
                          description: Publication number.
                          example: US10123456B2
                        citedPatents:
                          type: array
                          items: {}
                          description: Cited patent references.
                          example: []
                        citedOthers:
                          type: array
                          items: {}
                          description: Cited non-patent literature.
                          example: []
                      additionalProperties: true
                    description: Patent reference records.
                    example: []
                  columns:
                    type: array
                    items: {}
                    description: Provider rendering columns.
                    example: []
                  costToken:
                    type: integer
                    description: Provider-reported token cost.
                    example: 6000
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  code:
                    type: string
                    description: Provider-specific status code.
                  msg:
                    type: string
                    description: Provider-specific status message.
                  message:
                    type: string
                    description: Provider-specific message.
                  type:
                    type: string
                    description: Provider-specific render or payload type.
                  title:
                    type: string
                    description: Provider-specific response title.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  costTime:
                    type: integer
                    description: Execution time reported by the upstream provider.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                example:
                  total: 1
                  data:
                  - patentId: patent-id
                    pn: US10123456B2
                    citedPatents: []
                    citedOthers: []
                  columns: []
                  costToken: 6000
                additionalProperties: true
              example:
                total: 1
                data:
                - patentId: patent-id
                  pn: US10123456B2
                  citedPatents: []
                  citedOthers: []
                columns: []
                costToken: 6000
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      x-nexscope-slug: patent-references
      x-nexscope-mcp-tool-name: nexscope_patent_references
      x-nexscope-pricing-mode: dynamic-credits
      x-nexscope-catalog-derived: true
  /api/skill-api/v1/skills/patent-title-abstract-translation/run:
    post:
      tags:
      - Patent & IP Risk
      summary: Patent Title Abstract Translation
      description: Retrieve translated patent titles and abstracts from the Zhihuiya (PatSnap) patent database. Triggered when users request patent abstract translation, patent title translation, translated patent abstracts, patent content in other languages, patent abstracts in Chinese/English/Japanese, or need to look up abstracts and titles of specific patents by patent ID or publication number, patent abstract translation, patent title translation, PatSnap, patent translation, or abstract lookup. Also triggered when users mention Zhihuiya, PatSnap, or patent abstract queries, even if "translation" is not explicitly mentioned.
      operationId: runPatentTitleAbstractTranslation
      externalDocs:
        description: Patent Title Abstract Translation documentation
        url: https://www.nexscope.ai/api-docs/patent-title-abstract-translation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request parameters documented by ecommerce.patent-title-abstract-translation.
              properties:
                patentId:
                  type: string
                  description: 'Zhihuiya internal patent ID. Only a single value is supported; multiple values separated by commas are not allowed. Max length: 60,000 characters'
                patentNumber:
                  type: string
                  description: 'Publication (grant) number. Only a single value is supported; multiple values separated by commas are not allowed. Max length: 60,000 characters'
                  example: CN115000000A
                replaceByRelated:
                  type: integer
                  description: 'Whether to substitute with a family patent''s abstract when the abstract is unavailable: 1 Yes, 0 No. Default 0'
                  example: 1
                lang:
                  type: string
                  description: 'Target translation language. Options: en (English, default), cn (Chinese), jp (Japanese). Max length: 1,000 characters'
                  example: en
              example:
                patentNumber: CN115000000A
                lang: en
                replaceByRelated: 1
              additionalProperties: true
            example:
              patentNumber: CN115000000A
              lang: en
              replaceByRelated: 1
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: Returns the documented upstream API response directly without an additional wrapper.
                properties:
                  total:
                    type: integer
                    description: Number of patent records returned
                    example: 1
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        patentId:
                          type: string
                          description: Zhihuiya internal patent ID
                          example: example-id
                        pn:
                          type: string
                          description: Publication (grant) number
                        title:
                          type: string
                          description: Title translation
                        abstractText:
                          type: string
                          description: Abstract translation
                        pnRelated:
                          type: string
                          description: Publication number of the substitute patent (only provided when family patent substitution is used)
                      additionalProperties: true
                    description: Patent list
                    example: []
                  columns:
                    type: array
                    items: {}
                    description: Column definitions for rendering
                    example: []
                  costToken:
                    type: integer
                    description: Tokens consumed
                    example: 1
                  type:
                    type: string
                    description: Render style
                  errcode:
                    type: integer
                    description: Upstream status code returned by the provider.
                  errmsg:
                    type: string
                    description: Upstream status message returned by the provider.
                  code:
                    type: string
                    description: Provider-specific status code.
                  msg:
                    type: string
                    description: Provider-specific status message.
                  message:
                    type: string
                    description: Provider-specific message.
                  title:
                    type: string
                    description: Provider-specific response title.
                  sourceType:
                    type: string
                    description: Provider-specific source platform type.
                  sourceTool:
                    type: string
                    description: Provider-specific source tool name.
                  costTime:
                    type: integer
                    description: Execution time reported by the upstream provider.
                  page:
                    type: integer
                    description: Current page returned by the upstream provider.
                  pageSize:
                    type: integer
                    description: Page size returned by the upstream provider.
                  pageItemCount:
                    type: integer
                    description: Item count on the current page returned by the upstream provider.
                  totalPage:
                    type: integer
                    description: Total page count returned by the upstream provider.
                  dataSnapshotMonth:
                    type: string
                    description: Data snapshot month returned by the upstream provider.
                example:
                  total: 1
                  data:
                  - patentId: example-id
                  columns: []
[...]
