{
  "openapi": "3.1.0",
  "info": {
    "title": "Nexscope Ecommerce Data and Creative APIs",
    "version": "2026-08-28-public-catalog-v1",
    "description": "Nexscope APIs provide ecommerce marketplace intelligence and creative generation capabilities through REST and MCP. Authentication uses a Nexscope API key. Pricing is credit-based and actual usage varies by endpoint and workload; current estimates are shown in the Nexscope account.",
    "termsOfService": "https://www.nexscope.ai/terms",
    "contact": {
      "name": "Nexscope Support",
      "email": "service@nexscope.ai",
      "url": "https://www.nexscope.ai/api-docs"
    },
    "license": {
      "name": "Proprietary API; use subject to Nexscope Terms",
      "url": "https://www.nexscope.ai/terms"
    }
  },
  "externalDocs": {
    "description": "Nexscope API Documentation",
    "url": "https://www.nexscope.ai/api-docs"
  },
  "servers": [
    {
      "url": "https://api.nexscope.ai",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Amazon Marketplace Intelligence",
      "description": "Amazon product, search, market, review, traffic and policy APIs.",
      "x-category-slug": "amazon-marketplace-intelligence"
    },
    {
      "name": "Keyword & Search Demand",
      "description": "Keyword expansion, search volume, share of voice and ranking intelligence.",
      "x-category-slug": "keyword-search-demand"
    },
    {
      "name": "TikTok / Social Commerce",
      "description": "TikTok Shop products, sellers, videos, creators, livestreams and rankings.",
      "x-category-slug": "tiktok-social-commerce"
    },
    {
      "name": "Temu Marketplace Intelligence",
      "description": "Temu product, category and store source APIs.",
      "x-category-slug": "temu-marketplace"
    },
    {
      "name": "1688 Sourcing",
      "description": "1688 product search, image search and billboard sourcing APIs.",
      "x-category-slug": "1688-sourcing"
    },
    {
      "name": "Shopify Commerce",
      "description": "Shopify product and store query APIs.",
      "x-category-slug": "shopify-commerce"
    },
    {
      "name": "Etsy Marketplace",
      "description": "Etsy product and category discovery APIs.",
      "x-category-slug": "etsy-marketplace"
    },
    {
      "name": "Ozon Marketplace",
      "description": "Ozon product, category, shop, seller and keyword APIs.",
      "x-category-slug": "ozon-marketplace"
    },
    {
      "name": "eBay Marketplace",
      "description": "eBay marketplace product search APIs.",
      "x-category-slug": "ebay-marketplace"
    },
    {
      "name": "Shopee Marketplace",
      "description": "Shopee product search APIs.",
      "x-category-slug": "shopee-marketplace"
    },
    {
      "name": "Search & Trend Intelligence",
      "description": "Google Trends, AI mode search and web search APIs.",
      "x-category-slug": "search-trend-intelligence"
    },
    {
      "name": "Image Generation Models",
      "description": "Dedicated image generation APIs with one fixed model per endpoint.",
      "x-category-slug": "image-generation-models"
    },
    {
      "name": "Video Generation Models",
      "description": "Dedicated video generation APIs with one fixed model per endpoint.",
      "x-category-slug": "video-generation-models"
    },
    {
      "name": "Multimodal AI",
      "description": "Image recognition, image editing, image generation, and ecommerce creative APIs.",
      "x-category-slug": "multimodal-ai"
    },
    {
      "name": "Patent & IP Risk",
      "description": "Patent, trademark, copyright and IP risk APIs.",
      "x-category-slug": "patent-ip-risk"
    },
    {
      "name": "Product & Market Research",
      "description": "General ecommerce product and market research APIs.",
      "x-category-slug": "product-market-research"
    },
    {
      "name": "Amazon Advertising",
      "description": "Amazon advertising access, reporting and campaign intelligence APIs.",
      "x-category-slug": "amazon-advertising"
    },
    {
      "name": "Patent Intelligence",
      "description": "Patent search and intellectual-property research APIs.",
      "x-category-slug": "patent-intelligence"
    },
    {
      "name": "Ecommerce Content Generation",
      "description": "Product description and product video generation APIs.",
      "x-category-slug": "ecommerce-content-generation"
    }
  ],
  "paths": {
    "/api/skill-api/v1/skills/amazon-ads-sp-insights-report-download/run": {
      "post": {
        "tags": [
          "Amazon Advertising"
        ],
        "summary": "Amazon Ads SP Insights Report Download",
        "description": "Uses existing Amazon Ads authorization and tokenized download handling. Create once, poll by reportId, then download using a documentToken.",
        "operationId": "runAmazonAdsSpInsightsReportDownload",
        "externalDocs": {
          "description": "Amazon Ads SP Insights Report Download documentation",
          "url": "https://www.nexscope.ai/api-docs/amazon-ads-sp-insights-report-download"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "connectionId",
                  "documentToken"
                ],
                "additionalProperties": false,
                "properties": {
                  "connectionId": {
                    "minimum": 1,
                    "type": "integer"
                  },
                  "documentToken": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "type": "object"
              },
              "example": {
                "connectionId": 123,
                "documentToken": "opaque-document-token"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Existing governed report download result; CSV content is returned inline.",
                  "fields": [
                    {
                      "name": "contentType",
                      "type": "string",
                      "required": false,
                      "description": "Downloaded media type",
                      "example": "text/csv",
                      "constraints": {}
                    },
                    {
                      "name": "content",
                      "type": "string",
                      "required": false,
                      "description": "UTF-8 CSV report content",
                      "example": "date.value,metric.impressions\n2026-08-01,10\n",
                      "constraints": {}
                    },
                    {
                      "name": "errcode",
                      "type": "integer",
                      "required": false,
                      "description": "Upstream status code returned by the provider.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "errmsg",
                      "type": "string",
                      "required": false,
                      "description": "Upstream status message returned by the provider.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "code",
                      "type": "string",
                      "required": false,
                      "description": "Provider-specific status code.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "msg",
                      "type": "string",
                      "required": false,
                      "description": "Provider-specific status message.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "message",
                      "type": "string",
                      "required": false,
                      "description": "Provider-specific message.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "type",
                      "type": "string",
                      "required": false,
                      "description": "Provider-specific render or payload type.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "title",
                      "type": "string",
                      "required": false,
                      "description": "Provider-specific response title.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "sourceType",
                      "type": "string",
                      "required": false,
                      "description": "Provider-specific source platform type.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "sourceTool",
                      "type": "string",
                      "required": false,
                      "description": "Provider-specific source tool name.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "costToken",
                      "type": "integer",
                      "required": false,
                      "description": "Token cost reported by the upstream provider.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "costTime",
                      "type": "integer",
                      "required": false,
                      "description": "Execution time reported by the upstream provider.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "page",
                      "type": "integer",
                      "required": false,
                      "description": "Current page returned by the upstream provider.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "pageSize",
                      "type": "integer",
                      "required": false,
                      "description": "Page size returned by the upstream provider.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "pageItemCount",
                      "type": "integer",
                      "required": false,
                      "description": "Item count on the current page returned by the upstream provider.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "totalPage",
                      "type": "integer",
                      "required": false,
                      "description": "Total page count returned by the upstream provider.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "dataSnapshotMonth",
                      "type": "string",
                      "required": false,
                      "description": "Data snapshot month returned by the upstream provider.",
                      "example": null,
                      "constraints": {}
                    }
                  ],
                  "example": {
                    "contentType": "text/csv",
                    "content": "date.value,metric.impressions\n2026-08-01,10\n"
                  },
                  "jsonSchema": null
                },
                "example": {
                  "contentType": "text/csv",
                  "content": "date.value,metric.impressions\n2026-08-01,10\n"
                }
              }
            }
          },
          "400": {
            "": "#/components/responses/BadRequest"
          },
          "401": {
            "": "#/components/responses/Unauthorized"
          },
          "403": {
            "": "#/components/responses/Forbidden"
          },
          "429": {
            "": "#/components/responses/TooManyRequests"
          },
          "500": {
            "": "#/components/responses/ServerError"
          }
        },
        "x-nexscope-slug": "amazon-ads-sp-insights-report-download",
        "x-nexscope-mcp-tool-name": "nexscope_amazon_ads_sp_insights_report_download",
        "x-nexscope-pricing-mode": "dynamic-credits",
        "x-nexscope-catalog-derived": true
      }
    },
    "/api/skill-api/v1/skills/amazon-ads-sp-insights-report-status/run": {
      "post": {
        "tags": [
          "Amazon Advertising"
        ],
        "summary": "Amazon Ads SP Insights Report Status",
        "description": "Uses existing Amazon Ads authorization and tokenized download handling. Create once, poll by reportId, then download using a documentToken.",
        "operationId": "runAmazonAdsSpInsightsReportStatus",
        "externalDocs": {
          "description": "Amazon Ads SP Insights Report Status documentation",
          "url": "https://www.nexscope.ai/api-docs/amazon-ads-sp-insights-report-status"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "connectionId",
                  "reportId"
                ],
                "additionalProperties": false,
                "properties": {
                  "connectionId": {
                    "minimum": 1,
                    "type": "integer"
                  },
                  "reportId": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "type": "object"
              },
              "example": {
                "connectionId": 123,
                "reportId": "report-id"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Normalized single Reporting v1 report. Signed URLs are replaced with owned, expiring documentToken values. No automatic recreation occurs.",
                  "fields": [
                    {
                      "name": "reportId",
                      "type": "string",
                      "required": true,
                      "description": "Created or queried report identifier.",
                      "example": "report-id",
                      "constraints": {}
                    },
                    {
                      "name": "status",
                      "type": "string",
                      "required": false,
                      "description": "Provider report state when present.",
                      "example": "PENDING",
                      "constraints": {}
                    },
                    {
                      "name": "completedReportParts",
                      "type": "array",
                      "required": false,
                      "description": "Completed CSV parts; each part contains a backend documentToken instead of a signed URL.",
                      "example": [],
                      "constraints": {}
                    },
                    {
                      "name": "reportParts",
                      "type": "array",
                      "required": false,
                      "description": "Provider alias for completed parts, when present.",
                      "example": [],
                      "constraints": {}
                    },
                    {
                      "name": "errcode",
                      "type": "integer",
                      "required": false,
                      "description": "Upstream status code returned by the provider.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "errmsg",
                      "type": "string",
                      "required": false,
                      "description": "Upstream status message returned by the provider.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "code",
                      "type": "string",
                      "required": false,
                      "description": "Provider-specific status code.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "msg",
                      "type": "string",
                      "required": false,
                      "description": "Provider-specific status message.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "message",
                      "type": "string",
                      "required": false,
                      "description": "Provider-specific message.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "type",
                      "type": "string",
                      "required": false,
                      "description": "Provider-specific render or payload type.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "title",
                      "type": "string",
                      "required": false,
                      "description": "Provider-specific response title.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "sourceType",
                      "type": "string",
                      "required": false,
                      "description": "Provider-specific source platform type.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "sourceTool",
                      "type": "string",
                      "required": false,
                      "description": "Provider-specific source tool name.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "costToken",
                      "type": "integer",
                      "required": false,
                      "description": "Token cost reported by the upstream provider.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "costTime",
                      "type": "integer",
                      "required": false,
                      "description": "Execution time reported by the upstream provider.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "page",
                      "type": "integer",
                      "required": false,
                      "description": "Current page returned by the upstream provider.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "pageSize",
                      "type": "integer",
                      "required": false,
                      "description": "Page size returned by the upstream provider.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "pageItemCount",
                      "type": "integer",
                      "required": false,
                      "description": "Item count on the current page returned by the upstream provider.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "totalPage",
                      "type": "integer",
                      "required": false,
                      "description": "Total page count returned by the upstream provider.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "dataSnapshotMonth",
                      "type": "string",
                      "required": false,
                      "description": "Data snapshot month returned by the upstream provider.",
                      "example": null,
                      "constraints": {}
                    }
                  ],
                  "example": {
                    "reportId": "report-id",
                    "status": "PENDING"
                  },
                  "jsonSchema": null
                },
                "example": {
                  "reportId": "report-id",
                  "status": "PENDING"
                }
              }
            }
          },
          "400": {
            "": "#/components/responses/BadRequest"
          },
          "401": {
            "": "#/components/responses/Unauthorized"
          },
          "403": {
            "": "#/components/responses/Forbidden"
          },
          "429": {
            "": "#/components/responses/TooManyRequests"
          },
          "500": {
            "": "#/components/responses/ServerError"
          }
        },
        "x-nexscope-slug": "amazon-ads-sp-insights-report-status",
        "x-nexscope-mcp-tool-name": "nexscope_amazon_ads_sp_insights_report_status",
        "x-nexscope-pricing-mode": "dynamic-credits",
        "x-nexscope-catalog-derived": true
      }
    },
    "/api/skill-api/v1/skills/amazon-ads-sp-search-impression-share-report/run": {
      "post": {
        "tags": [
          "Amazon Advertising"
        ],
        "summary": "Amazon Ads SP Search Impression Share Report",
        "description": "Uses existing Amazon Ads authorization and tokenized download handling. Create once, poll by reportId, then download using a documentToken.",
        "operationId": "runAmazonAdsSpSearchImpressionShareReport",
        "externalDocs": {
          "description": "Amazon Ads SP Search Impression Share Report documentation",
          "url": "https://www.nexscope.ai/api-docs/amazon-ads-sp-search-impression-share-report"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "connectionId",
                  "startDate",
                  "endDate"
                ],
                "additionalProperties": false,
                "properties": {
                  "connectionId": {
                    "minimum": 1,
                    "type": "integer"
                  },
                  "startDate": {
                    "format": "date",
                    "type": "string"
                  },
                  "endDate": {
                    "format": "date",
                    "type": "string"
                  },
                  "advertiserAccountId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "timeUnit": {
                    "enum": [
                      "DAILY",
                      "SUMMARY"
                    ],
                    "default": "DAILY",
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "example": {
                "connectionId": 123,
                "startDate": "2026-08-01",
                "endDate": "2026-08-07"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Normalized single Reporting v1 report. Signed URLs are replaced with owned, expiring documentToken values. No automatic recreation occurs.",
                  "fields": [
                    {
                      "name": "reportId",
                      "type": "string",
                      "required": true,
                      "description": "Created or queried report identifier.",
                      "example": "report-id",
                      "constraints": {}
                    },
                    {
                      "name": "status",
                      "type": "string",
                      "required": false,
                      "description": "Provider report state when present.",
                      "example": "PENDING",
                      "constraints": {}
                    },
                    {
                      "name": "completedReportParts",
                      "type": "array",
                      "required": false,
                      "description": "Completed CSV parts; each part contains a backend documentToken instead of a signed URL.",
                      "example": [],
                      "constraints": {}
                    },
                    {
                      "name": "reportParts",
                      "type": "array",
                      "required": false,
                      "description": "Provider alias for completed parts, when present.",
                      "example": [],
                      "constraints": {}
                    },
                    {
                      "name": "errcode",
                      "type": "integer",
                      "required": false,
                      "description": "Upstream status code returned by the provider.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "errmsg",
                      "type": "string",
                      "required": false,
                      "description": "Upstream status message returned by the provider.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "code",
                      "type": "string",
                      "required": false,
                      "description": "Provider-specific status code.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "msg",
                      "type": "string",
                      "required": false,
                      "description": "Provider-specific status message.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "message",
                      "type": "string",
                      "required": false,
                      "description": "Provider-specific message.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "type",
                      "type": "string",
                      "required": false,
                      "description": "Provider-specific render or payload type.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "title",
                      "type": "string",
                      "required": false,
                      "description": "Provider-specific response title.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "sourceType",
                      "type": "string",
                      "required": false,
                      "description": "Provider-specific source platform type.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "sourceTool",
                      "type": "string",
                      "required": false,
                      "description": "Provider-specific source tool name.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "costToken",
                      "type": "integer",
                      "required": false,
                      "description": "Token cost reported by the upstream provider.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "costTime",
                      "type": "integer",
                      "required": false,
                      "description": "Execution time reported by the upstream provider.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "page",
                      "type": "integer",
                      "required": false,
                      "description": "Current page returned by the upstream provider.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "pageSize",
                      "type": "integer",
                      "required": false,
                      "description": "Page size returned by the upstream provider.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "pageItemCount",
                      "type": "integer",
                      "required": false,
                      "description": "Item count on the current page returned by the upstream provider.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "totalPage",
                      "type": "integer",
                      "required": false,
                      "description": "Total page count returned by the upstream provider.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "dataSnapshotMonth",
                      "type": "string",
                      "required": false,
                      "description": "Data snapshot month returned by the upstream provider.",
                      "example": null,
                      "constraints": {}
                    }
                  ],
                  "example": {
                    "reportId": "report-id",
                    "status": "PENDING"
                  },
                  "jsonSchema": null
                },
                "example": {
                  "reportId": "report-id",
                  "status": "PENDING"
                }
              }
            }
          },
          "400": {
            "": "#/components/responses/BadRequest"
          },
          "401": {
            "": "#/components/responses/Unauthorized"
          },
          "403": {
            "": "#/components/responses/Forbidden"
          },
          "429": {
            "": "#/components/responses/TooManyRequests"
          },
          "500": {
            "": "#/components/responses/ServerError"
          }
        },
        "x-nexscope-slug": "amazon-ads-sp-search-impression-share-report",
        "x-nexscope-mcp-tool-name": "nexscope_amazon_ads_sp_search_impression_share_report",
        "x-nexscope-pricing-mode": "dynamic-credits",
        "x-nexscope-catalog-derived": true
      }
    },
    "/api/skill-api/v1/skills/amazon-ads-sp-audience-report/run": {
      "post": {
        "tags": [
          "Amazon Advertising"
        ],
        "summary": "Amazon Ads SP Audience Report",
        "description": "Uses existing Amazon Ads authorization and tokenized download handling. Create once, poll by reportId, then download using a documentToken.",
        "operationId": "runAmazonAdsSpAudienceReport",
        "externalDocs": {
          "description": "Amazon Ads SP Audience Report documentation",
          "url": "https://www.nexscope.ai/api-docs/amazon-ads-sp-audience-report"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "connectionId",
                  "startDate",
                  "endDate"
                ],
                "additionalProperties": false,
                "properties": {
                  "connectionId": {
                    "minimum": 1,
                    "type": "integer"
                  },
                  "startDate": {
                    "format": "date",
                    "type": "string"
                  },
                  "endDate": {
                    "format": "date",
                    "type": "string"
                  },
                  "advertiserAccountId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "timeUnit": {
                    "enum": [
                      "DAILY",
                      "SUMMARY"
                    ],
                    "default": "DAILY",
                    "type": "string"
                  },
                  "detailLevel": {
                    "enum": [
                      "ACCOUNT",
                      "CAMPAIGN",
                      "AD_GROUP"
                    ],
                    "default": "ACCOUNT",
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "example": {
                "connectionId": 123,
                "startDate": "2026-08-01",
                "endDate": "2026-08-07"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Normalized single Reporting v1 report. Signed URLs are replaced with owned, expiring documentToken values. No automatic recreation occurs.",
                  "fields": [
                    {
                      "name": "reportId",
                      "type": "string",
                      "required": true,
                      "description": "Created or queried report identifier.",
                      "example": "report-id",
                      "constraints": {}
                    },
                    {
                      "name": "status",
                      "type": "string",
                      "required": false,
                      "description": "Provider report state when present.",
                      "example": "PENDING",
                      "constraints": {}
                    },
                    {
                      "name": "completedReportParts",
                      "type": "array",
                      "required": false,
                      "description": "Completed CSV parts; each part contains a backend documentToken instead of a signed URL.",
                      "example": [],
                      "constraints": {}
                    },
                    {
                      "name": "reportParts",
                      "type": "array",
                      "required": false,
                      "description": "Provider alias for completed parts, when present.",
                      "example": [],
                      "constraints": {}
                    },
                    {
                      "name": "errcode",
                      "type": "integer",
                      "required": false,
                      "description": "Upstream status code returned by the provider.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "errmsg",
                      "type": "string",
                      "required": false,
                      "description": "Upstream status message returned by the provider.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "code",
                      "type": "string",
                      "required": false,
                      "description": "Provider-specific status code.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "msg",
                      "type": "string",
                      "required": false,
                      "description": "Provider-specific status message.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "message",
                      "type": "string",
                      "required": false,
                      "description": "Provider-specific message.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "type",
                      "type": "string",
                      "required": false,
                      "description": "Provider-specific render or payload type.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "title",
                      "type": "string",
                      "required": false,
                      "description": "Provider-specific response title.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "sourceType",
                      "type": "string",
                      "required": false,
                      "description": "Provider-specific source platform type.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "sourceTool",
                      "type": "string",
                      "required": false,
                      "description": "Provider-specific source tool name.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "costToken",
                      "type": "integer",
                      "required": false,
                      "description": "Token cost reported by the upstream provider.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "costTime",
                      "type": "integer",
                      "required": false,
                      "description": "Execution time reported by the upstream provider.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "page",
                      "type": "integer",
                      "required": false,
                      "description": "Current page returned by the upstream provider.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "pageSize",
                      "type": "integer",
                      "required": false,
                      "description": "Page size returned by the upstream provider.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "pageItemCount",
                      "type": "integer",
                      "required": false,
                      "description": "Item count on the current page returned by the upstream provider.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "totalPage",
                      "type": "integer",
                      "required": false,
                      "description": "Total page count returned by the upstream provider.",
                      "example": null,
                      "constraints": {}
                    },
                    {
                      "name": "dataSnapshotMonth",
                      "type": "string",
                      "required": false,
                      "description": "Data snapshot month returned by the upstream provider.",
                      "example": null,
                      "constraints": {}
                    }
                  ],
                  "example": {
                    "reportId": "report-id",
                    "status": "PENDING"
                  },
                  "jsonSchema": null
                },
                "example": {
                  "reportId": "report-id",
                  "status": "PENDING"
                }
              }
            }
          },
          "400": {
            "": "#/components/responses/BadRequest"
          },
          "401": {
            "": "#/components/responses/Unauthorized"
          },
          "403": {
            "": "#/components/responses/Forbidden"
          },
          "429": {
            "": "#/components/responses/TooManyRequests"
          },
          "500": {
            "": "#/components/responses/ServerError"
          }
        },
        "x-nexscope-slug": "amazon-ads-sp-audience-report",
        "x-nexscope-mcp-tool-name": "nexscope_amazon_ads_sp_audience_report",
        "x-nexscope-pricing-mode": "dynamic-credits",
        "x-nexscope-catalog-derived": true
      }
    },
    "/api/skill-api/v1/skills/chuhaijiang-tiktok-creative-detail/run": {
      "post": {
        "tags": [
          "TikTok / Social Commerce"
        ],
        "summary": "Chuhaijiang TikTok Creative Detail",
        "description": "Chuhaijiang TikTok Creative Detail. Execute only this operation; no automatic retries or pagination. Preserve provider fields and metric units.",
        "operationId": "runChuhaijiangTiktokCreativeDetail",
        "externalDocs": {
          "description": "Chuhaijiang TikTok Creative Detail documentation",
          "url": "https://www.nexscope.ai/api-docs/chuhaijiang-tiktok-creative-detail"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "country",
                  "id"
                ],
                "additionalProperties": false,
                "properties": {
                  "country": {
                    "enum": [
                      "br",
                      "de",
                      "es",
                      "fr",
                      "gb",
                      "id",
                      "it",
                      "jp",
                      "mx",
                      "my",
                      "ph",
                      "sg",
                      "th",
                      "us",
                      "vn"
                    ],
                    "type": "string",
                    "description": "Lowercase request market. Returned country_code may differ; preserve both."
                  },
                  "id": {
                    "minLength": 1,
                    "type": "string",
                    "description": "Creative ID returned by its search operation. Keep identifiers as strings to avoid precision loss."
                  },
                  "include": {
                    "pattern": "^(analysis|embedding)(,(analysis|embedding))*$",
                    "type": "string",
                    "description": "Comma-separated expansions: analysis, embedding. Request only needed expansions."
                  }
                },
                "type": "object"
              },
              "example": {
                "include": "analysis,embedding",
                "country": "us",
                "id": "7668708053428047118"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "items": {
                          "nullable": true,
                          "items": {
                            "properties": {
                              "id": {
                                "nullable": true,
                                "description": "Creative author and product identity: id.",
                                "type": "string"
                              },
                              "video_id": {
                                "nullable": true,
                                "description": "Creative author and product identity: video id.",
                                "type": "string"
                              },
                              "uid": {
                                "nullable": true,
                                "description": "Creative author and product identity: uid.",
                                "type": "string"
                              },
                              "unique_id": {
                                "nullable": true,
                                "description": "Creative author and product identity: unique id.",
                                "type": "string"
                              },
                              "nickname": {
                                "nullable": true,
                                "description": "Creative author and product identity: nickname.",
                                "type": "string"
                              },
                              "share_url": {
                                "nullable": true,
                                "description": "Creative author and product identity: share url.",
                                "type": "string"
                              },
                              "product_id": {
                                "nullable": true,
                                "description": "Creative author and product identity: product id.",
                                "type": "string"
                              },
                              "product_name": {
                                "nullable": true,
                                "description": "Creative author and product identity: product name.",
                                "type": "string"
                              },
                              "follower_count": {
                                "nullable": true,
                                "description": "Author follower count: follower count.",
                                "type": "integer"
                              },
                              "product_images": {
                                "description": "Provider product images. The source establishes this field name; preserve its runtime JSON type and missing values."
                              }
                            },
                            "additionalProperties": true,
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "embedding": {
                          "additionalProperties": true,
                          "properties": {
                            "items": {
                              "type": "array",
                              "items": {
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "nullable": true,
                                    "description": "Creative embedding identity: id."
                                  },
                                  "video_id": {
                                    "type": "string",
                                    "nullable": true,
                                    "description": "Creative embedding identity: video id."
                                  },
                                  "video_uri": {
                                    "type": "string",
                                    "nullable": true,
                                    "description": "Creative embedding identity: video uri."
                                  },
                                  "country_code": {
                                    "type": "string",
                                    "nullable": true,
                                    "description": "Creative embedding identity: country code."
                                  },
                                  "platform": {
                                    "type": "string",
                                    "nullable": true,
                                    "description": "Creative embedding identity: platform."
                                  },
                                  "embedding": {
                                    "type": "array",
                                    "nullable": true,
                                    "description": "Numeric embedding vector; returned only when requested. Avoid inlining the vector in summaries.",
                                    "items": {
                                      "type": "number"
                                    }
                                  },
                                  "matched_tags": {
                                    "description": "Tags matched during creative embedding analysis; preserve the provider representation."
                                  },
                                  "extracted_content": {
                                    "description": "Content extracted for creative similarity analysis; preserve the provider representation."
                                  },
                                  "video_cover": {
                                    "description": "Creative video cover media; preserve the provider representation."
                                  }
                                },
                                "additionalProperties": true,
                                "type": "object"
                              }
                            }
                          },
                          "type": "object",
                          "nullable": true
                        },
                        "analysis": {
                          "additionalProperties": true,
                          "properties": {
                            "items": {
                              "type": "array",
                              "items": {
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "nullable": true,
                                    "description": "Creative analysis identifier or classification: id."
                                  },
                                  "video_id": {
                                    "type": "string",
                                    "nullable": true,
                                    "description": "Creative analysis identifier or classification: video id."
                                  },
                                  "video_uri": {
                                    "type": "string",
                                    "nullable": true,
                                    "description": "Creative analysis identifier or classification: video uri."
                                  },
                                  "country_code": {
                                    "type": "string",
                                    "nullable": true,
                                    "description": "Creative analysis identifier or classification: country code."
                                  },
                                  "platform": {
                                    "type": "string",
                                    "nullable": true,
                                    "description": "Creative analysis identifier or classification: platform."
                                  },
                                  "hook_type": {
                                    "type": "string",
                                    "nullable": true,
                                    "description": "Creative analysis identifier or classification: hook type."
                                  },
                                  "hook_subtype": {
                                    "type": "string",
                                    "nullable": true,
                                    "description": "Creative analysis identifier or classification: hook subtype."
                                  },
                                  "formula_type": {
                                    "type": "string",
                                    "nullable": true,
                                    "description": "Creative analysis identifier or classification: formula type."
                                  },
                                  "formula_subtype": {
                                    "type": "string",
                                    "nullable": true,
                                    "description": "Creative analysis identifier or classification: formula subtype."
                                  },
                                  "angle_type": {
                                    "type": "string",
                                    "nullable": true,
                                    "description": "Creative analysis identifier or classification: angle type."
                                  },
                                  "angle_subtype": {
                                    "type": "string",
                                    "nullable": true,
                                    "description": "Creative analysis identifier or classification: angle subtype."
                                  },
                                  "is_aigc_video": {
                                    "type": "boolean",
                                    "nullable": true,
                                    "description": "Provider AIGC flag: is aigc video."
                                  },
                                  "transcription_with_structure": {
                                    "description": "Creative transcription with provider structural annotations; preserve its original JSON representation."
                                  },
                                  "video_cover": {
                                    "description": "Creative video cover media; preserve the provider representation."
                                  },
                                  "storyboards": {
                                    "description": "Creative storyboard and scene analysis; preserve the returned structure."
                                  }
                                },
                                "additionalProperties": true,
                                "type": "object"
                              }
                            }
                          },
                          "type": "object",
                          "nullable": true
                        }
                      },
                      "additionalProperties": true,
                      "type": "object"
                    },
                    "errmsg": {
                      "type": "string"
                    },
                    "request_id": {
                      "type": "string"
                    },
                    "errcode": {
                      "type": "integer"
                    }
                  },
                  "additionalProperties": true,
                  "type": "object"
                },
                "example": {
                  "errmsg": "ok",
                  "errcode": 200,
                  "data": {
                    "items": []
                  }
                }
              }
            }
          },
          "400": {
            "": "#/components/responses/BadRequest"
          },
          "401": {
            "": "#/components/responses/Unauthorized"
          },
          "403": {
            "": "#/components/responses/Forbidden"
          },
          "429": {
            "": "#/components/responses/TooManyRequests"
          },
          "500": {
            "": "#/components/responses/ServerError"
          }
        },
        "x-nexscope-slug": "chuhaijiang-tiktok-creative-detail",
        "x-nexscope-mcp-tool-name": "nexscope_chuhaijiang_tiktok_creative_detail",
        "x-nexscope-pricing-mode": "dynamic-credits",
        "x-nexscope-catalog-derived": true
      }
    },
    "/api/skill-api/v1/skills/chuhaijiang-tiktok-creative-search/run": {
      "post": {
        "tags": [
          "TikTok / Social Commerce"
        ],
        "summary": "Chuhaijiang TikTok Creative Search",
        "description": "Chuhaijiang TikTok Creative Search. Execute only this operation; no automatic retries or pagination. Preserve provider fields and metric units.",
        "operationId": "runChuhaijiangTiktokCreativeSearch",
        "externalDocs": {
          "description": "Chuhaijiang TikTok Creative Search documentation",
          "url": "https://www.nexscope.ai/api-docs/chuhaijiang-tiktok-creative-search"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "country"
                ],
                "additionalProperties": false,
                "properties": {
                  "country": {
                    "enum": [
                      "br",
                      "de",
                      "es",
                      "fr",
                      "gb",
                      "id",
                      "it",
                      "jp",
                      "mx",
                      "my",
                      "ph",
                      "sg",
                      "th",
                      "us",
                      "vn"
                    ],
                    "type": "string",
                    "description": "Lowercase request market. Returned country_code may differ; preserve both."
                  },
                  "page": {
                    "minimum": 1,
                    "default": 1,
                    "type": "integer",
                    "description": "Page number, starting at 1. No automatic pagination."
                  },
                  "pageSize": {
                    "minimum": 1,
                    "maximum": 10,
                    "type": "integer",
                    "description": "Items per page, from 1 to 10. Omission preserves the upstream default."
                  },
                  "keyword": {
                    "type": "string",
                    "description": "Creative search keyword."
                  },
                  "category": {
                    "type": "string",
                    "description": "Provider-approved creative category."
                  },
                  "hasProduct": {
                    "type": "boolean",
                    "description": "Whether products are associated."
                  },
                  "isSponsored": {
                    "type": "boolean",
                    "description": "Whether content is sponsored."
                  },
                  "isAigc": {
                    "type": "boolean",
                    "description": "Whether content is generated by AI."
                  },
                  "sort": {
                    "default": "gmv:desc",
                    "pattern": "^[^:]+:(asc|desc)$",
                    "type": "string",
                    "description": "Provider-approved field followed by :asc or :desc. No complete field enum is published."
                  }
                },
                "type": "object"
              },
              "example": {
                "page": 1,
                "pageSize": 3,
                "country": "us"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "items": {
                          "nullable": true,
                          "items": {
                            "properties": {
                              "id": {
                                "nullable": true,
                                "description": "Creative identity and copy: id.",
                                "type": "string"
                              },
                              "video_id": {
                                "nullable": true,
                                "description": "Creative identity and copy: video id.",
                                "type": "string"
                              },
                              "product_id": {
                                "nullable": true,
                                "description": "Creative identity and copy: product id.",
                                "type": "string"
                              },
                              "author_uid": {
                                "nullable": true,
                                "description": "Creative identity and copy: author uid.",
                                "type": "string"
                              },
                              "author_unique_id": {
                                "nullable": true,
                                "description": "Creative identity and copy: author unique id.",
                                "type": "string"
                              },
                              "author_nickname": {
                                "nullable": true,
                                "description": "Creative identity and copy: author nickname.",
                                "type": "string"
                              },
                              "video_desc": {
                                "nullable": true,
                                "description": "Creative identity and copy: video desc.",
                                "type": "string"
                              },
                              "country_code": {
                                "nullable": true,
                                "description": "Creative identity and copy: country code.",
                                "type": "string"
                              },
                              "platform": {
                                "nullable": true,
                                "description": "Creative identity and copy: platform.",
                                "type": "string"
                              },
                              "follower_cnt": {
                                "nullable": true,
                                "description": "Creative audience and engagement count: follower cnt.",
                                "type": "integer"
                              },
                              "video_play_count": {
                                "nullable": true,
                                "description": "Creative audience and engagement count: video play count.",
                                "type": "integer"
                              },
                              "video_like_count": {
                                "nullable": true,
                                "description": "Creative audience and engagement count: video like count.",
                                "type": "integer"
                              },
                              "video_comment_count": {
                                "nullable": true,
                                "description": "Creative audience and engagement count: video comment count.",
                                "type": "integer"
                              },
                              "video_share_count": {
                                "nullable": true,
                                "description": "Creative audience and engagement count: video share count.",
                                "type": "integer"
                              },
                              "video_collect_count": {
                                "nullable": true,
                                "description": "Creative audience and engagement count: video collect count.",
                                "type": "integer"
                              },
                              "video_engagement_rate": {
                                "nullable": true,
                                "description": "Provider engagement ratio: video engagement rate.",
                                "type": "number"
                              },
                              "video_30d_gmv": {
                                "nullable": true,
                                "description": "Monetary metric with original unit and value: video 30d gmv.",
                                "type": "object"
                              },
                              "video_total_gmv": {
                                "nullable": true,
                                "description": "Monetary metric with original unit and value: video total gmv.",
                                "type": "object"
                              },
                              "video_30d_gpm": {
                                "nullable": true,
                                "description": "Monetary metric with original unit and value: video 30d gpm.",
                                "type": "object"
                              },
                              "video_launch_time": {
                                "description": "Provider video launch time. The source establishes this field name; preserve its runtime JSON type and missing values."
                              },
                              "video_date": {
                                "description": "Provider video date. The source establishes this field name; preserve its runtime JSON type and missing values."
                              },
                              "video_duration": {
                                "description": "Provider video duration. The source establishes this field name; preserve its runtime JSON type and missing values."
                              },
                              "content_intent": {
                                "description": "Provider content intent. The source establishes this field name; preserve its runtime JSON type and missing values."
                              },
                              "user_avatar": {
                                "description": "Provider user avatar. The source establishes this field name; preserve its runtime JSON type and missing values."
                              },
                              "is_aigc_video": {
                                "description": "Provider is aigc video. The source establishes this field name; preserve its runtime JSON type and missing values."
                              },
                              "content_tag_v2": {
                                "description": "Provider content tag v2. The source establishes this field name; preserve its runtime JSON type and missing values."
                              }
                            },
                            "additionalProperties": true,
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "total_count": {
                          "type": "integer",
                          "nullable": true
                        }
                      },
                      "additionalProperties": true,
                      "type": "object"
                    },
                    "errmsg": {
                      "type": "string"
                    },
                    "request_id": {
                      "type": "string"
                    },
                    "errcode": {
                      "type": "integer"
                    }
                  },
                  "additionalProperties": true,
                  "type": "object"
                },
                "example": {
                  "errmsg": "ok",
                  "errcode": 200,
                  "data": {
                    "items": [],
                    "total_count": 0
                  }
                }
              }
            }
          },
          "400": {
            "": "#/components/responses/BadRequest"
          },
          "401": {
            "": "#/components/responses/Unauthorized"
          },
          "403": {
            "": "#/components/responses/Forbidden"
          },
          "429": {
            "": "#/components/responses/TooManyRequests"
          },
          "500": {
            "": "#/components/responses/ServerError"
          }
        },
        "x-nexscope-slug": "chuhaijiang-tiktok-creative-search",
        "x-nexscope-mcp-tool-name": "nexscope_chuhaijiang_tiktok_creative_search",
        "x-nexscope-pricing-mode": "dynamic-credits",
        "x-nexscope-catalog-derived": true
      }
    },
    "/api/skill-api/v1/skills/chuhaijiang-tiktok-ad-related-products/run": {
      "post": {
        "tags": [
          "TikTok / Social Commerce"
        ],
        "summary": "Chuhaijiang TikTok Ad Related Products",
        "description": "Chuhaijiang TikTok Ad Related Products. Execute only this operation; no automatic retries or pagination. Preserve provider fields and metric units.",
        "operationId": "runChuhaijiangTiktokAdRelatedProducts",
        "externalDocs": {
          "description": "Chuhaijiang TikTok Ad Related Products documentation",
          "url": "https://www.nexscope.ai/api-docs/chuhaijiang-tiktok-ad-related-products"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "country",
                  "id"
                ],
                "additionalProperties": false,
                "properties": {
                  "country": {
                    "enum": [
                      "br",
                      "de",
                      "es",
                      "fr",
                      "gb",
                      "id",
                      "it",
                      "jp",
                      "mx",
                      "my",
                      "ph",
                      "sg",
                      "th",
                      "us",
                      "vn"
                    ],
                    "type": "string",
                    "description": "Lowercase request market. Returned country_code may differ; preserve both."
                  },
                  "id": {
                    "minLength": 1,
                    "type": "string",
                    "description": "Ad ID returned by its search operation. Keep identifiers as strings to avoid precision loss."
                  },
                  "page": {
                    "minimum": 1,
                    "default": 1,
                    "type": "integer",
                    "description": "Page number, starting at 1. No automatic pagination."
                  },
                  "pageSize": {
                    "minimum": 1,
                    "maximum": 10,
                    "type": "integer",
                    "description": "Items per page, from 1 to 10. Omission preserves the upstream default."
                  }
                },
                "type": "object"
              },
              "example": {
                "pageSize": 3,
                "page": 1,
                "country": "us",
                "id": "7658119807128046879"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "items": {
                          "nullable": true,
                          "items": {
                            "properties": {
                              "id": {
                                "nullable": true,
                                "description": "Related product identity: id.",
                                "type": "string"
                              },
                              "tiktok_product_detail_product_name": {
                                "nullable": true,
                                "description": "Related product identity: tiktok product detail product name.",
                                "type": "string"
                              },
                              "tiktok_product_detail_floor_price": {
                                "nullable": true,
                                "description": "Price with original unit and value: tiktok product detail floor price.",
                                "type": "object"
                              },
                              "tiktok_product_detail_ceiling_price": {
                                "nullable": true,
                                "description": "Price with original unit and value: tiktok product detail ceiling price.",
                                "type": "object"
                              },
                              "tiktok_product_detail_product_rating": {
                                "nullable": true,
                                "description": "Provider product rating: tiktok product detail product rating.",
                                "type": "number"
                              },
                              "tiktok_ads_detail_product_id": {
                                "nullable": true,
                                "description": "Ad related product identity: tiktok ads detail product id.",
                                "type": "string"
                              },
                              "tiktok_ads_detail_video_id": {
                                "nullable": true,
                                "description": "Ad related product identity: tiktok ads detail video id.",
                                "type": "string"
                              },
                              "tiktok_ads_detail_product_country_code": {
                                "nullable": true,
                                "description": "Ad related product identity: tiktok ads detail product country code.",
                                "type": "string"
                              },
                              "tiktok_ads_detail_product_total_sold_count": {
                                "nullable": true,
                                "description": "Ad attributed sales count: tiktok ads detail product total sold count.",
                                "type": "integer"
                              },
                              "tiktok_ads_detail_video_30d_sold_count": {
                                "nullable": true,
                                "description": "Ad attributed sales count: tiktok ads detail video 30d sold count.",
                                "type": "integer"
                              },
                              "tiktok_ads_detail_product_total_gmv": {
                                "nullable": true,
                                "description": "GMV preserving original unit and value: tiktok ads detail product total gmv.",
                                "type": "object"
                              },
                              "tiktok_ads_detail_video_30d_gmv": {
                                "nullable": true,
                                "description": "GMV preserving original unit and value: tiktok ads detail video 30d gmv.",
                                "type": "object"
                              },
                              "tiktok_product_detail_commission_rate": {
                                "description": "Provider tiktok product detail commission rate. The source establishes this field name; preserve its runtime JSON type and missing values."
                              },
                              "tiktok_product_detail_l1_category": {
                                "description": "Provider tiktok product detail l1 category. The source establishes this field name; preserve its runtime JSON type and missing values."
                              },
                              "tiktok_product_detail_product_status": {
                                "description": "Provider tiktok product detail product status. The source establishes this field name; preserve its runtime JSON type and missing values."
                              },
                              "tiktok_product_detail_l2_category": {
                                "description": "Provider tiktok product detail l2 category. The source establishes this field name; preserve its runtime JSON type and missing values."
                              },
                              "tiktok_ads_detail_product_launch_time": {
                                "description": "Provider tiktok ads detail product launch time. The source establishes this field name; preserve its runtime JSON type and missing values."
                              },
                              "tiktok_product_detail_l3_category": {
                                "description": "Provider tiktok product detail l3 category. The source establishes this field name; preserve its runtime JSON type and missing values."
                              },
                              "tiktok_product_detail_product_images": {
                                "description": "Provider tiktok product detail product images. The source establishes this field name; preserve its runtime JSON type and missing values."
                              },
                              "tiktok_product_detail_product_sku_props": {
                                "description": "Provider tiktok product detail product sku props. The source establishes this field name; preserve its runtime JSON type and missing values."
                              },
                              "tiktok_product_detail_region": {
                                "description": "Provider tiktok product detail region. The source establishes this field name; preserve its runtime JSON type and missing values."
                              },
                              "tiktok_product_detail_product_skus": {
                                "description": "Provider tiktok product detail product skus. The source establishes this field name; preserve its runtime JSON type and missing values."
                              }
                            },
                            "additionalProperties": true,
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "total_count": {
                          "type": "integer",
                          "nullable": true
                        }
                      },
                      "additionalProperties": true,
                      "type": "object"
                    },
                    "errmsg": {
                      "type": "string"
                    },
                    "request_id": {
                      "type": "string"
                    },
                    "errcode": {
                      "type": "integer"
                    }
                  },
                  "additionalProperties": true,
                  "type": "object"
                },
                "example": {
                  "errmsg": "ok",
                  "errcode": 200,
                  "data": {
                    "items": [],
                    "total_count": 0
                  }
                }
              }
            }
          },
          "400": {
            "": "#/components/responses/BadRequest"
          },
          "401": {
            "": "#/components/responses/Unauthorized"
          },
          "403": {
            "": "#/components/responses/Forbidden"
          },
          "429": {
            "": "#/components/responses/TooManyRequests"
          },
          "500": {
            "": "#/components/responses/ServerError"
          }
        },
        "x-nexscope-slug": "chuhaijiang-tiktok-ad-related-products",
        "x-nexscope-mcp-tool-name": "nexscope_chuhaijiang_tiktok_ad_related_products",
        "x-nexscope-pricing-mode": "dynamic-credits",
        "x-nexscope-catalog-derived": true
      }
    },
    "/api/skill-api/v1/skills/chuhaijiang-tiktok-ad-detail/run": {
      "post": {
        "tags": [
          "TikTok / Social Commerce"
        ],
        "summary": "Chuhaijiang TikTok Ad Detail",
        "description": "Chuhaijiang TikTok Ad Detail. Execute only this operation; no automatic retries or pagination. Preserve provider fields and metric units.",
        "operationId": "runChuhaijiangTiktokAdDetail",
        "externalDocs": {
          "description": "Chuhaijiang TikTok Ad Detail documentation",
          "url": "https://www.nexscope.ai/api-docs/chuhaijiang-tiktok-ad-detail"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "country",
                  "id"
                ],
                "additionalProperties": false,
                "properties": {
                  "country": {
                    "enum": [
                      "br",
                      "de",
                      "es",
                      "fr",
                      "gb",
                      "id",
                      "it",
                      "jp",
                      "mx",
                      "my",
                      "ph",
                      "sg",
                      "th",
                      "us",
                      "vn"
                    ],
                    "type": "string",
                    "description": "Lowercase request market. Returned country_code may differ; preserve both."
                  },
                  "id": {
                    "minLength": 1,
                    "type": "string",
                    "description": "Ad ID returned by its search operation. Keep identifiers as strings to avoid precision loss."
                  },
                  "include": {
                    "pattern": "^(core)(,(core))*$",
                    "type": "string",
                    "description": "Comma-separated expansions: core. Request only needed expansions."
                  }
                },
                "type": "object"
              },
              "example": {
                "include": "core",
                "country": "us",
                "id": "7658119807128046879"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "items": {
                          "nullable": true,
                          "items": {
                            "properties": {
                              "id": {
                                "nullable": true,
                                "description": "Ad identity and copy: id.",
                                "type": "string"
                              },
                              "ad_title": {
                                "nullable": true,
                                "description": "Ad identity and copy: ad title.",
                                "type": "string"
                              },
                              "advertiser_id": {
                                "nullable": true,
                                "description": "Ad identity and copy: advertiser id.",
                                "type": "string"
                              },
                              "advertiser_name": {
                                "nullable": true,
                                "description": "Ad identity and copy: advertiser name.",
                                "type": "string"
                              },
                              "ad_url": {
                                "nullable": true,
                                "description": "Ad identity and copy: ad url.",
                                "type": "string"
                              },
                              "web_url": {
                                "nullable": true,
                                "description": "Ad identity and copy: web url.",
                                "type": "string"
                              },
                              "button_text": {
                                "nullable": true,
                                "description": "Ad identity and copy: button text.",
                                "type": "string"
                              },
                              "advertiser_avatar": {
                                "nullable": true,
                                "description": "Provider image object: advertiser avatar.",
                                "type": "object"
                              },
                              "ad_cover": {
                                "nullable": true,
                                "description": "Provider image object: ad cover.",
                                "type": "object"
                              },
                              "duration": {
                                "nullable": true,
                                "description": "Provider time or duration; preserve original units: duration.",
                                "type": "integer"
                              },
                              "ad_create_time": {
                                "nullable": true,
                                "description": "Provider time or duration; preserve original units: ad create time.",
                                "type": "integer"
                              },
                              "create_time": {
                                "nullable": true,
                                "description": "Provider time or duration; preserve original units: create time.",
                                "type": "integer"
                              },
                              "last_update_time": {
                                "nullable": true,
                                "description": "Provider time or duration; preserve original units: last update time.",
                                "type": "integer"
                              }
                            },
                            "additionalProperties": true,
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "core": {
                          "additionalProperties": true,
                          "properties": {
                            "items": {
                              "type": "array",
                              "items": {
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "nullable": true,
                                    "description": "Core ad identity or provider ad type: id."
                                  },
                                  "core_creative_id": {
                                    "type": "string",
                                    "nullable": true,
                                    "description": "Core ad identity or provider ad type: core creative id."
                                  },
                                  "core_ad_type": {
                                    "type": "string",
                                    "nullable": true,
                                    "description": "Core ad identity or provider ad type: core ad type."
                                  },
                                  "core_ad_day_count": {
                                    "type": "integer",
                                    "nullable": true,
                                    "description": "Core ad performance count: core ad day count."
                                  },
                                  "core_total_sc": {
                                    "type": "integer",
                                    "nullable": true,
                                    "description": "Core ad performance count: core total sc."
                                  },
                                  "core_video_play_count": {
                                    "type": "integer",
                                    "nullable": true,
                                    "description": "Core ad performance count: core video play count."
                                  },
                                  "core_video_like_count": {
                                    "type": "integer",
                                    "nullable": true,
                                    "description": "Core ad performance count: core video like count."
                                  },
                                  "core_video_comment_count": {
                                    "type": "integer",
                                    "nullable": true,
                                    "description": "Core ad performance count: core video comment count."
                                  },
                                  "core_video_share_count": {
                                    "type": "integer",
                                    "nullable": true,
                                    "description": "Core ad performance count: core video share count."
                                  },
                                  "core_video_collect_count": {
                                    "type": "integer",
                                    "nullable": true,
                                    "description": "Core ad performance count: core video collect count."
                                  },
                                  "core_ad_play_ratio": {
                                    "type": "number",
                                    "nullable": true,
                                    "description": "Provider ratio or score; preserve original metric definition: core ad play ratio."
                                  },
                                  "core_ad_gmv_ratio": {
                                    "type": "number",
                                    "nullable": true,
                                    "description": "Provider ratio or score; preserve original metric definition: core ad gmv ratio."
                                  },
                                  "core_ad_roas": {
                                    "type": "number",
                                    "nullable": true,
                                    "description": "Provider ratio or score; preserve original metric definition: core ad roas."
                                  },
                                  "core_video_popularity": {
                                    "type": "number",
                                    "nullable": true,
                                    "description": "Provider ratio or score; preserve original metric definition: core video popularity."
                                  },
                                  "core_ad_maximum_cost": {
                                    "type": "object",
                                    "nullable": true,
                                    "description": "Provider monetary metric; preserve original unit and value: core ad maximum cost."
                                  },
                                  "core_total_gmv": {
                                    "type": "object",
                                    "nullable": true,
                                    "description": "Provider monetary metric; preserve original unit and value: core total gmv."
                                  },
                                  "core_video_gpm_30d": {
                                    "type": "object",
                                    "nullable": true,
                                    "description": "Provider monetary metric; preserve original unit and value: core video gpm 30d."
                                  }
                                },
                                "additionalProperties": true,
                                "type": "object"
                              }
                            }
                          },
                          "type": "object",
                          "nullable": true
                        }
                      },
                      "additionalProperties": true,
                      "type": "object"
                    },
                    "errmsg": {
                      "type": "string"
                    },
                    "request_id": {
                      "type": "string"
                    },
                    "errcode": {
                      "type": "integer"
                    }
                  },
                  "additionalProperties": true,
                  "type": "object"
                },
                "example": {
                  "errmsg": "ok",
                  "errcode": 200,
                  "data": {
                    "items": []
                  }
                }
              }
            }
          },
          "400": {
            "": "#/components/responses/BadRequest"
          },
          "401": {
            "": "#/components/responses/Unauthorized"
          },
          "403": {
            "": "#/components/responses/Forbidden"
          },
          "429": {
            "": "#/components/responses/TooManyRequests"
          },
          "500": {
            "": "#/components/responses/ServerError"
          }
        },
        "x-nexscope-slug": "chuhaijiang-tiktok-ad-detail",
        "x-nexscope-mcp-tool-name": "nexscope_chuhaijiang_tiktok_ad_detail",
        "x-nexscope-pricing-mode": "dynamic-credits",
        "x-nexscope-catalog-derived": true
      }
    },
    "/api/skill-api/v1/skills/chuhaijiang-tiktok-ad-search/run": {
      "post": {
        "tags": [
          "TikTok / Social Commerce"
        ],
        "summary": "Chuhaijiang TikTok Ad Search",
        "description": "Chuhaijiang TikTok Ad Search. Execute only this operation; no automatic retries or pagination. Preserve provider fields and metric units.",
        "operationId": "runChuhaijiangTiktokAdSearch",
        "externalDocs": {
          "description": "Chuhaijiang TikTok Ad Search documentation",
          "url": "https://www.nexscope.ai/api-docs/chuhaijiang-tiktok-ad-search"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "country"
                ],
                "additionalProperties": false,
                "properties": {
                  "country": {
                    "enum": [
                      "br",
                      "de",
                      "es",
                      "fr",
                      "gb",
                      "id",
                      "it",
                      "jp",
                      "mx",
                      "my",
                      "ph",
                      "sg",
                      "th",
                      "us",
                      "vn"
                    ],
                    "type": "string",
                    "description": "Lowercase request market. Returned country_code may differ; preserve both."
                  },
                  "page": {
                    "minimum": 1,
                    "default": 1,
                    "type": "integer",
                    "description": "Page number, starting at 1. No automatic pagination."
                  },
                  "pageSize": {
[...]
